[2018-12-20 18:09] markmandel commented on #414
Since we are cutting the RC on the 1st/2nd of Jan (depending on how awake I am :smile: ) - should we apply the patch to our system now, and confirm that it solves our issue so that it is prepared for our next release?

I would suggest we then keep this image open to track the open PR (https://github.com/kubernetes/kubernetes/pull/70277) on K8s, and then merge that in when it's ready (which is on a

[2018-12-21 18:21] jkowalski opened #453 "Improve build speed by refactoring Makefile"
There are currently two issues with Makefile which prevent it from being parallelizable:

1. Some dependencies are missing in the Makefile which prevent it from working with -j N where N > 0.

For example if I do:

[code]
It will likely fail or be incorrect (because build and push will be running in parallel, it will either fail to push or push a previous version). A fix for this is to add a depen

[2018-12-21 18:55] jkowalski commented on #453
I can work on fixing that.

Also I discovered that we're not using any go build caching, which kills interactive (re)build performance. Will send a PR which fixes that...

[2018-12-21 18:58] markmandel commented on #453
YEESSSS - I've wanted this for a while, but never got around to it! :man_cartwheeling:

[2018-12-22 00:02] jkowalski opened #455 "Race condition in SDK.SetLabel and SDK.SetAnnotation"
I believe there's currently a race condition in SDK.SetLabel and SDK.SetAnnotation implementation which causes the labels to sometimes go back in time, because when SDK server performs read-modify-write on GameServer object, it does not read the fresh state of GameServer, but a cached one, thus it may overwrite labels/annotations back to old values.

Example: assuming game server sets the labels l

[2018-12-22 00:04] jkowalski commented on #455
(BTW. I have a failing test and can work on a fix, can sb assign this to me?)

[2018-12-22 00:15] markmandel commented on #455
Does setting the labels not increase the generation - and thereby force a retry if the data has been changed?

[2018-12-22 00:30] Kuqd commented on #414
The fix is small, I'm all in for a patch !

[2018-12-22 00:32] Kuqd commented on #450
Process can be found here : https://github.com/helm/hub/blob/master/Repositories.md

[2018-12-22 00:37] jkowalski commented on #455
I don't think there's any mechanism to force a retry automatically that would work here. In this case the problem is because we're relying on stale data and trusting it as fresh.

BTW. One possible fix is to use Getter (always fresh, strongly consistent) instead of Lister (eventually consistent).

Perhaps an even better fix is to support coalescing multiple labels/annotations into a single read-mo

[2018-12-22 00:42] markmandel commented on #455
Both SetLabel and SetAnnotation operations specifically go into a workerqueue, so they do retry of they fail. Or at least, they should!

[2018-12-22 00:44] jkowalski commented on #455
There is no failure anywhere here - all API server calls succeed. It's just a propagation delay.

[2018-12-24 11:43] Oleksii-Terekhov opened #456 "Controller logging consistency"
We use centralized k8s log collectors (try and fluentd, and filebeat) with store logs to Elasticsearh.

Agones controller send field **gs** sometimes as empty string (""), sometimes as dict ("gs":map[string]interface {}{"metadata":map[string]interface {}{"generateName":....)

Filebeat drop whole log string with wrong type, Fluentd drop only fileds with type conflicts.

Bug: wrong logging architect

[2018-12-24 21:55] markmandel commented on #456
We definitely have places where "gs" is the full gameserver, and I think we also have "patch" in admission controllers.

I feel like we should relegate full json dumps to `Debug()` level logging, and cleanup the "gs" logs to just output the name of the `GameServer` -- which is what we have in most(?) places.

[2018-12-26 03:36] Kuqd commented on #450
done here https://github.com/helm/hub/pull/32

We should make sure our logo is on the chart.

[2018-12-27 04:37] #448 closed

[2018-12-28 08:31] markmandel commented on #456
Looking into this more - we should likely be using the FluentdFormatter formatter:
https://github.com/joonix/log

Change to be made here:
https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/util/runtime/runtime.go#L37

[2018-12-28 16:38] dsazonoff commented on #134
I created a #464 pull request. It contain cmake scripts for cpp SDK.

[2018-12-28 23:21] markmandel commented on #414
I'm going to reopen this issue, so we can track the merged PR, until we can guarantee it has been merged into the k8s apimachinery, and we don't have to keep an eye out of for it every time we do a `dep ensure`.

[2018-12-31 21:01] Kuqd commented on #450
Merged

[2018-12-31 21:01] #450 closed

[2018-12-31 23:06] markmandel commented on #334
I'm going to close this ticket, as with #460 I think we've rounded this out. If we want to add more features, let's start some new tickets. Nice work everything! :cake:

[2018-12-31 23:06] #334 closed

[2019-01-01 02:18] markmandel commented on #410
Started pottering on this a bit:
https://github.com/markmandel/agones/tree/feature/website

![agones - google chrome_015](https://user-images.githubusercontent.com/298370/50569911-a4708000-0dc7-11e9-8dea-0e0867777e8f.png)

[2019-01-01 09:50] markmandel commented on #410
Here's the live demo I'm working with at the moment, so people can keep track.
https://agones-mark.appspot.com/site/

It needs some reorganising - but I'm going to try and get all the current documentation in it first, and then we can work on cleaning up the structure.

[2019-01-01 23:10] markmandel commented on #410
/cc @thisisnotapril - figure you might be interested :wave: - work in progress, and all that.

[2019-01-02 00:15] markmandel opened #467 "Release 0.7.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.7.0-rc`)
- [x] Ensur

[2019-01-02 02:01] markmandel opened #469 "Register GameServers with local IP addresses"
## Problem
For development/QA purposes, it is useful to be able to register a gameserver with Agones, but overwrite it with a specific local IP address, so that it can run through the same Agones system, but QA testers can connect to it, without having to do a full build + deploy pipeline.

## Design
We assume all port configuration should be `static`.
If the `GameServer` has an annotation of: `st

[2019-01-02 02:02] markmandel commented on #469
/cc @ReDucTor - we talked about this a while back, can you see if this design captures what we discussed?

[2019-01-02 02:47] ReDucTor commented on #469
Looks good, would simplify some of our alternative approaches to the problem.

[2019-01-03 09:44] markmandel commented on #467
Complete! :tada:

[2019-01-03 09:44] #467 closed

[2019-01-03 09:47] markmandel commented on #410
Website now has all the markdown content in it
https://agones-mark.appspot.com/site/

Next steps:
1. [ ] Remove all the broken links that currently exist
1. [ ] Bring in the golang redirect logic for the canonical path and charts
1. [ ] Give the landing page some kind of copy
1. [ ] Integrate the search
1. [ ] Integrate google analytics
1. [ ] Integrate the link checker into the cloudbuild.yaml
1.

[2019-01-03 19:16] Kuqd commented on #144
We should add metrics for ping service.

[2019-01-03 20:01] markmandel commented on #409
Another tool to try out: https://github.com/ahmetb/gen-knative-api-reference-docs

[2019-01-04 14:48] Kuqd commented on #302
@nikibobi Are we happy to close this one ? I also leaning toward metrics on logging to alert on gameserver failure as this will last longer than kubernetes state.

[2019-01-04 14:58] nikibobi commented on #302
@Kuqd yes, you are right that a more persistent solution is better.

[2019-01-04 14:58] #302 closed

[2019-01-05 22:39] markmandel opened #471 "e2e tests don't cleanup fleetautoscalers"
Since Fleet Autoscalers aren't tied to fleets anymore, they can get left behind.  We should add some code to the end of the testing suite to delete all remaining Fleet Autoscalers.

(/cc @Kuqd who found this)

[2019-01-08 17:53] markmandel opened #477 "Release 0.7.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-chang

[2019-01-08 22:24] markmandel commented on #477
Done!

[2019-01-08 22:24] #477 closed

[2019-01-09 01:15] #436 closed

[2019-01-09 01:42] markmandel commented on #297
Now that we have `GameServerAllocation` - I think we can close this?

[2019-01-09 10:27] Oleksii-Terekhov opened #481 "Docker images layers not optimal"
When I pull/push **gcr.io/agones-images/agones-sdk:0.7.0** and **gcr.io/agones-images/agones-controller:0.7.0** to private registry, I notice strange layers sizes. After digging in **docker history --no-trunc** i discover:
[code]
All binary layers doubled :(

Maybe use [COPY --chown=user:group src... dest](https://docs.docker.com/engine/reference/builder/#copy) and fix execution flag via Makefile?

[2019-01-09 13:03] Kuqd commented on #481
I'll have a look at this.

[2019-01-09 13:13] aLekSer commented on #481
Actually we can reduce the size of containers twice (same result for agones-controller image):
[code]
I have performed a test with COPY --chmod parameter in Dockerfile and without:
The resulting permissions are the same so it seems that chmod o+x is redundant.
With following lines in Ping Dockerfile:
[code]

I got such output:
[code]

I got same permissions to a file and directory as when I run cu

[2019-01-09 14:04] #407 closed

[2019-01-09 15:00] Kuqd commented on #481
yep getting the same result on macos, I'm pushing a PR.

[2019-01-09 15:47] #481 closed

[2019-01-09 20:50] jkowalski opened #483 "Improve fleet scaling performance"
Currently when spinning up a large test fleet (10K GameServers) the Game Servers and pods are created relatively slowly (about 1 per second, measured on regional GKE cluster with 150 nodes * (8 cores + 8 GB RAM each)).

I think we're unnecessarily serializing something - in principle there should be no reason why this would be significantly slower than a deployment (which creates all pods almost i

[2019-01-09 21:11] jkowalski opened #484 "Fleet scheduling: Packed not working correctly"
While spinning up a large fleet (10K GS) in a cluster with 150 nodes, each big enough to host about 100 pods, I've noticed that pods are spread across all nodes instead of being concentrated on a small number of them.

[code]

[2019-01-10 17:02] markmandel commented on #297
Closing!

[2019-01-10 17:02] #297 closed

[2019-01-11 01:31] Kuqd commented on #144
slack discussion: we should instrument go-client with opencensus

[2019-01-14 21:52] Kuqd opened #485 "FleetAllocation creation error lacks of information"
If your current fleet is full and you try to allocate a new GameServer via FleetAllocation as such

[code]

the error contains

[code]

I think we should improve this so that we can handle gracefully this kind of error currently the only way to differentiate from `InternalServerError` is to use a function like this

[code]

This is may be obsolete as FleetAllocation will deprecated ?

[2019-01-14 22:02] markmandel commented on #485
Yes - this exact problem is solved by `GameServerAllocation` - in that it only returns an error if something goes horribly wrong.

If an allocation fails, it returns with a status of `UnAllocated` for exactly this scenario.

[2019-01-14 22:31] Kuqd commented on #485
Ok let’s close this then

[2019-01-14 22:31] #485 closed

[2019-01-15 03:41] Kuqd commented on #453
YES !  building on macOS is slow.

[2019-01-17 03:13] jkowalski opened #489 "Assign higher priority to Agones system pods"
Currently when creating large cluster (say 10K GS), when agones controller dies for whatever reason, it will typically not be recreated immediately if lots of other pods are also pending.

Since we're on Kubernetes 1.11+, we should be able to leverage

https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#pod-priority

I tried that and it actually helped - as soon as I added p

[2019-01-17 03:43] jkowalski opened #490 "Investigate why we sometimes have multiple pods per gameserver"
During large cluster turnup I ran into this:

[code]
In a large turnup (10K GS) this reproes quite often - typically one or two of the GS get stuck in this state.

[2019-01-17 16:27] markmandel opened #491 "Write a guide for setting up Agones with taints and tolerations"
We should write a guide for setting up Agones with taints and toleration, so that Agones (and likely prom + grafana, if you are running them) are on their own machine(s), and gameservers run on their on machines -- and never the two shall meet.

This is how people should run it in production, so we should make it easy with a tool.

Stretch Goal: Make our `build` tooling do this by default on GKE.

[2019-01-18 11:47] aLekSer commented on #398
I was able to reproduce the issue on GKE. On the second attempt only. At first I switched from 4 nodes node-pool to 3 nodes new pool - all pods remains the same, after second attempt I switched to 3 nodes new pool and delete old and now the output of `kubectl get pods` and `kubectl get gs` differ.
[code]
No events in simple-udp3 fleet and 5 Current Replicas:
[code]
However in pods list there exist

[2019-01-18 19:13] jeremyje commented on #469
I'm looking into this.

[2019-01-18 19:56] markmandel opened #495 "If you modify the `Scheduling` on a Fleet, it does not flow down to the `GameServerSet`."
Bug is pretty much as described.

The logic should probably be, if you change the Fleet, it should update the GameServerSet.

But don't go update all the GameServers this is too much work, let's wait until it flows out to the rest of the `GameServers` as they shutdown and restart.

[2019-01-21 15:19] aLekSer commented on #398
As you can see above from the output of `kubectl get gs` the NODE field shows that pods belongs to different node pools: gke-test-cluster-default,  gke-test-cluster-pool-2, gke-test-cluster-pool-1. However only pool-2 was running at that moment.
Also I noticed that ADDRESS and PORT for some Pods was not changed after deleting the node pool.

[2019-01-22 15:57] markmandel commented on #398
So it seems if you delete a nodePool, then the Pods still exist inside Kubernetes?

I'm starting to think this might be a GKE bug!

[2019-01-23 15:01] aLekSer commented on #398
Found such errors messages on agones-controller:
2019-01-23 05:38:06.539 UTC-8 error creating gameserver for gameserverset fleet-example-x24zx: Internal error occurred: failed calling admission webhook "mutations.stable.agones.dev": Post https://agones-controller-service.agones-system.svc:443/mutate?timeout=30s: no endpoints available for service "agones-controller-service"
which appears on calls

[2019-01-23 17:08] markmandel commented on #398
ooh, I wonder if it's because the agones controller is being taken down -- and that means the webhook can't be fired - which may not be something we can actually fix? :confused:

[2019-01-23 20:36] jkowalski opened #499 "Investigate why increasing worker count/QPS causes E2E tests to fail"
Got some weird test failures in #497, mostly centered around allocations. Those could be due test flakes due to increased parallelism or a real issue. Lowering worker count back to 2 did not help.

Example failure:

[code]

See #497 for more failure logs.

[2019-01-24 03:50] #410 closed

[2019-01-24 16:47] Kuqd commented on #150
should we close this ? we're almost a year after !

[2019-01-24 18:13] pm7h commented on #412
Adding my notes on the design:

## Design
We will focus on two categories of tests, performance tests and load tests. These two categories have different requirements and goals which implies different test approaches.

### Performance Tests
The goal of performance tests is to provide metrics on various operations such as fleet scaling up/down. The existing Agones e2e test framework can be used for

[2019-01-24 18:15] jeremyje commented on #469
I'm still working through the bug, I have a test and the logic implemented here, https://github.com/jeremyje/agones/tree/local-ip.

I have a question though,
When you say don't create a pod. Does that mean the QA server isn't managed by Agones/Kubernetes and that the goal is to mainly register the existence of the QA server? Bypass all those liveness checks and all that.

[2019-01-24 18:18] markmandel commented on #150
Actually, I still want to do this!! :smile: might be a good starter issue for someone?

There's moving the sidecar to just using /status API , and then reviewing the rbac permissions on the Pod, and then working out how to revoke all the RBAC permissions, specifically for the gameserver sidecar (maybe with the option to turn this off?)

//cc @jkowalski

[2019-01-24 18:23] pooneh-m commented on #495
I'm working on this.

[2019-01-24 18:34] markmandel commented on #469
Exactly. The active game server likely sits on someone's machine at their desk, and this gives them a way to basically "fake" a Ready gameserver on an Agones cluster, that someone can then connect to within their corp-network.

Then all your other tooling (matchmaking, etc) can still work as per normal - you can even allocate this GameServer - but it makes life easier for development.

[2019-01-24 18:46] jeremyje commented on #469
Wouldn't you want this server to be marked as Allocated then?

[2019-01-24 21:18] ReDucTor commented on #469
Marking it as already allocated would be game specific

[2019-01-24 21:45] #453 closed

[2019-01-25 00:04] pm7h commented on #412
## Observations

### Testing Fleet scaling up/down with GKE Cluster Autoscaling enabled

#### Test Environment
GKE cluster with the following configurations:
- **Node version**: 1.11.6-gke.2
- **Node image**: Container-Optimized OS (cos)
- **Machine type**: n1-highmem-4 (4 vCPUs, 26 GB memory)
- **Automatic node upgrades**: Disabled
- **Automatic node repair**: Enabled
- **Autoscaling**: On
- **Mi

[2019-01-25 00:05] #489 closed

[2019-01-25 20:46] markmandel commented on #469
:+1: on what @ReDucTor said - I think in _most_ cases you would want it to be ready, so you can flow through from your matchmaker to your game server just like you would normally.

At the very least, we should start with `Ready` and see if people have a desire to have an option to move to `Allocated` as well - and we can do that as a separate PR.

WDYT?

[2019-01-25 21:58] Yingxin-Jiang commented on #455
I am working on the issue.

[2019-01-25 23:12] markmandel opened #511 "Speed up e2e tests"
Two things for speeding up end to end tests:

1) We can increase the `-parallel` setting on the e2e test command for our cloud build run, since it's mostly bound by the speed K8s processes our game servers, rather than cpu on the machine
2) Since we're using more resources, running more in parrallel, we can set lower than the default requests and limits on all the gameservers we are creating. [fle

[2019-01-25 23:16] jkowalski commented on #511
I can work on that. Parallelism can't really be increased too much, until #497 is merged, otherwise the test becomes quite slow.

[2019-01-28 13:56] aLekSer commented on #329
Started adding new Subresources into helm templates and it is working for Fleet for instance:
[code]
I followed the way which is documented under `Subresources` section here: https://v1-11.docs.kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#advanced-topics

[2019-01-28 16:04] markmandel commented on #310
@aLekSer , @victor-prodan I assume we can close this now, due to #498 ?

[2019-01-28 16:11] markmandel commented on #398
2 thoughts for next steps:

Add some logging here:
https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/gameservers/controller.go#L158

And see if the Pod deletion event gets fired when you switch the nodepools. I'm wondering if they don't, and that's what is causing the issue.

2) Setup the Agones controller to run on it's own nodepool, and then switch out the nodepool for the gameserver

[2019-01-28 17:22] markmandel opened #521 "Remove all the kubectl custom commands from the quickstarts"
Since we are now on Kubernetes 1.11, and we have better `kubectl` integration, we no longer need to do:

[code]

And all versions that have `custom-columns`. We should remove these from the quickstart docs, and replace with `kubectl get gs`, and also match up the output with our now current output.

[2019-01-29 16:28] markmandel commented on #511
Point No.1 is complete. Still need to implement No.2

[2019-01-29 16:28] markmandel commented on #499
Can we close this one now? Or are we still getting some flaky tests?

[2019-01-29 16:49] jkowalski commented on #499
Yes, can be closed.

[2019-01-29 16:55] jkowalski opened #526 "Approver access for @jkowalski"
### GitHub Username
@jkowalski

### Requirements
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have read the [contributor guide](../../CONTRIBUTING.md)
- [x] I am actively contributing to Agones
- [x] I have two sponsors that meet the sponsor requirements listed in the community membership guidelines
- [x] I have spoken to my sponsors ahead of this ap

[2019-01-29 16:59] markmandel commented on #526
:+1:

@Kuqd you good? :smile:

[2019-01-29 17:24] Kuqd commented on #526
I am

[2019-01-29 18:15] markmandel commented on #526
Making @jkowalski an approver right now...

[2019-01-29 18:18] markmandel commented on #526
And done. Congratulations to @jkowalski for becoming our newest approver!

![Excellent!](https://media.giphy.com/media/l46CDHTqbmnGZyxKo/giphy.gif)

[2019-01-29 18:18] #526 closed

[2019-01-29 20:42] jeremyje opened #530 "gameserver configurations have no validation on update."
Right now there's only validation on creation of a gameserver. If you push a configuration that's invalid like static port with no port numbers via update. Agones will let that through.

[2019-01-29 20:45] jeremyje commented on #530
I have a fix for this already. Discovered when working on #469

[2019-01-30 17:00] #310 closed

[2019-01-30 21:02] jkowalski opened #535 "Replace global allocation mutex with fine-grained concurrency controls."
Currently there's a global mutex shared between 4 controllers that prevents allocations from happening when there's a deletion of (any) game server going on, regardless of a fleet it's on, etc.

To get decent allocation throughput this mutex should be removed and we should start relying on conditional mutations of GameServer itself to ensure correctness.

[2019-01-30 21:03] markmandel commented on #535
The biggest issue here is - how to delete safely without accidentally deleting something that is being concurrently allocated.

Or "only delete this object if it's equal to this revision/generation"

[2019-01-30 21:06] jkowalski opened #536 "Use batching in GameServerAllocation controller to improve throughput."
To get better throughput in GSA controller we could do batching: group together N allocation requests, assign GS to each of them and individually commit in parallel.

[2019-01-30 21:07] markmandel commented on #536
As a first step, I'm going to look into moving `GameServerAllocation` into a Aggregate API so we can have ore control over what happens with the API.

In theory, there should be no/minimal change to how GSA's work -- at least that's the plan :smile:

[2019-01-30 21:09] markmandel commented on #535
Here's a possibly crazy idea - we could reject the deletion with a webhook! The webhook could check if the object is `allocated` (pretty sure this is 100% up to date), and if it is, reject the deletion.

I think this will work!

[2019-01-30 21:09] jkowalski commented on #535
This can be done by adding something like "Deleting" status and using regular Update:

Instead of deleting, callers would set "Deleting" status (via regular Update which resolves race conditions) and GS controller would be the only one to trigger actual deletion for GS in Deleting state.

[2019-01-30 23:54] markmandel commented on #535
You know what - we already have this functionality, because of the SDK. It's called `Shutdown` state.
https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/gameservers/controller.go#L619-L636

[2019-01-31 07:33] hpandeycodeit commented on #521
@markmandel I can work on this.

[2019-01-31 14:41] steven-supersolid opened #538 "Create Node.js library"
We are currently using the REST API which works well but it may simplify things for new users to have a library to use with Node.js. When deploying a new Agones version with an API change, a developer would only have to update their library version. Ideally this would be published as a node module as this is idiomatic for Node.js.

There has been some discussion before about creating a gRPC client

[2019-01-31 14:54] aLekSer commented on #329
Regarding adding Scale subresource: it makes Fleet able to be used with Horizontal Pod Autoscaling. And we can use metrics which was previously exported to stackdriver to control the scaling. This is just one of scale subresource gains.
https://cloud.google.com/blog/products/gcp/beyond-cpu-horizontal-pod-autoscaling-comes-to-google-kubernetes-engine
[code]
https://kubernetes.io/docs/concepts/exten

[2019-01-31 16:35] Kuqd opened #540 "Slow game servers deletion"
If you create a fleet using the tutorial command :

[code]

Then over provision (say 40 replica) the fleet using `kubectl edit` a lot of pods will get stuck in scheduling.

However if you delete the fleet, it disappears instantly, pods will be delete within seconds but gameservers can stay for up to 10min hanging before ultimately disappearing.

We should investigate what is the root cause of this

[2019-01-31 16:37] Kuqd commented on #538
for reference https://grpc.io/docs/tutorials/basic/node.html

[2019-01-31 16:40] markmandel commented on #540
Oh that's fun. I'm almost willing to bet that what happens is:

1. GameServer has a finaliser
1. The finaliser only gets removed when the `GamerServer`'s backing pod gets deleted
1. Since they are stuck in `Scheduling` there will be no pod until there is room
1. So it takes time to create the Pod and then have it removed

So we should look at if when you delete a GameServer, remove the finaliser i

[2019-01-31 16:43] markmandel commented on #538
Here are the docs on how to statically generate a grpc client in node:
https://github.com/grpc/grpc/tree/v1.18.0/examples/node/static_codegen

[2019-01-31 16:55] jkowalski commented on #540
I thought we have to release the port regardless?

[2019-01-31 16:58] Kuqd commented on #540
Something that I'd appreciate, we only delete the fleet only when replica is down to 0, WDYT ?

[2019-01-31 17:01] markmandel commented on #540
@jkowalski

So the port only physically gets released once the Pod is gone -- hence the finaliser.

At PortAllocated - we assign a port from our in memory registry of available ports - but we don't do anything to lock a specific port at that stage physically on the network.

So if we delete the GameServer before the Pod goes up, the PortAllocator will just free up the port in the registry, and mak

[2019-01-31 17:10] steven-supersolid commented on #538
Nice. This may be something I can do and manually test with our current setup. I can look at porting the client tests too. Unless there is any existing work done on this?

[2019-01-31 17:15] markmandel commented on #538
Not that i'm aware of!

[2019-01-31 19:39] Kuqd commented on #540
@markmandel I'll give a try to foregroundDeletion, it's for an API.

[2019-01-31 19:45] Kuqd opened #541 "Labels referencing resources name can be too long"
In Kubernetes you can create a resource with a 253 characters long name :

However labels and annotations values are restricted to 63 characters :

In Agones we're setting labels value for referencing parent resources, but if a parent resource has a long name this cause errors.

References:
https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
https://kubernetes.io/docs/concept

[2019-01-31 21:36] Kuqd commented on #540
I tried `foregroundDeletion` and it's worst, it's never ending, seems that there is a race between creating an deleting gs/pods.

[2019-01-31 23:14] ilkercelikyilmaz opened #543 "Gameserver's that are not assigned to a node are left behind even after the scale was lowered"
Autosclaing on the Kubernetes cluster was turned off.

- kubectl create -f ./fleet.yaml
- kubectl get fleet
NAME            SCHEDULING   DESIRED   CURRENT   ALLOCATED   READY   AGE
fleet-example   Packed       2         2         0           2       15s
- kubectl get pods
NAME                              READY   STATUS    RESTARTS   AGE
fleet-example-7x6k4-bn49h-wqbgl   2/2     Running   0

[2019-01-31 23:20] markmandel commented on #543
This feels very similar to #540 - or maybe even duplicate.

[2019-02-01 00:08] ilkercelikyilmaz commented on #543
I was talking to Jarek and he thinks that both problems might have surfaced from same activity/situation, each issue captures different problem. We probably should keep this open.

[2019-02-01 02:28] jkowalski opened #546 "Grafana: add basic API Server graphs"
QPS per resource type/verb:

`sum(rate(apiserver_request_count[5m])) by (resource,verb)`

Latency percentiles for key resource types:

`apiserver_request_latencies_summary{resource=~"gameservers|fleets|pods",verb!~"WATCH|LIST",quantile="0.5"}`

Error rates:

`sum(rate(apiserver_request_count{code!~"2.."}[5m])) by (code)`

Perhaps with a nice drop-down to allow narrowing it down by "resource" for c

[2019-02-01 02:34] jkowalski commented on #546
Perhaps also have a dedicated graph to update conflict rate (HTTP 409):

`sum(rate(apiserver_request_count{code="409"}[5m])) by (code,resource)`

[2019-02-01 02:43] jkowalski opened #547 "Grafana: add graph of nodes in cluster"
* total # of nodes in a cluster (to see when node autoscaler kicks in)
* total # of nodes that have any game servers in a cluster
* total # of empty nodes in a cluster

Perhaps more general:

* distribution of # of game servers per node - to be able to see min, max, avg, 50th, 90th and 99th, percentile

[2019-02-01 13:12] Kuqd commented on #546
There is already an API server graph do you want to improve it ?

[2019-02-01 20:04] ilkercelikyilmaz commented on #535
I think I can work on this.

[2019-02-04 14:53] aLekSer opened #553 "Use of HorizontalPodAutoscaler and PodDisruptionBudget for a Fleet"
Scale subresource was enabled in Kubernetes 1.11 as default in GKE.

Scale subresource also makes HPA and PDB available for a Fleet:
[code]

Also Custom metrics could be used for HPA:
 https://cloud.google.com/blog/products/gcp/beyond-cpu-horizontal-pod-autoscaling-comes-to-google-kubernetes-engine

We need to investigate how we can create HorizontalPodAutoscaler and use Agones Stackdriver metrics

[2019-02-04 14:55] aLekSer commented on #553
Relates to https://github.com/GoogleCloudPlatform/agones/issues/329

[2019-02-04 18:07] #547 closed

[2019-02-04 19:28] markmandel opened #555 "Document how to do upgrades of Agones"
Right now the upgrade experience is likely quite tricky -- and risky.

Best bet right now may be to advocate spinning up a new cluster, and moving to a new cluster at upgrade time, and if so, we should document this.

RBAC rule changes particularly frighten me for upgrades.

We should test out some scenarios and see where things fall over, and document them (likely also find some issues a long the

[2019-02-04 19:29] markmandel opened #557 "Document upgrading / managing Fleets"
Covering how to roll out new versions of a gameserver.

Strategies and topics could include:
- Standard rolling update within Fleet management
- Running multiple Fleets side by side (Allocating with a `GameServerAllocation`)
  - Manual scaling of multiple fleets
  - smoke testing of new builds

[2019-02-06 05:02] jkowalski commented on #546
We have a client view, this issue is about adding server-side view.

[2019-02-06 19:51] Yingxin-Jiang commented on #455
In my local test, I updated TestSDKSetLabel to set multiple labels on the game server, https://github.com/GoogleCloudPlatform/agones/blob/dcb7dfaf11266e5d39b6aaee297eb1a77603716b/test/e2e/gameserver_test.go#L56

I couldn't reproduce what jkowalski described.

I did see some SetLabel operations failed. Then they were added back into the workerqueue and retried. This confirms markmandel's comment, h

[2019-02-06 23:47] #490 closed

[2019-02-07 01:38] jkowalski commented on #455
The repro is here:

https://github.com/jkowalski/agones/commit/717e242916823d161507efdd8085bcc5248025b7

(you need to use latest udp-server:0.6, just sync to latest code).

The test creates 2 labels "foo" and "bar" going from from 'val-001' .. 'val-100' and an observer which gets the game server and looks at labels evey 100ms.

[code]

[2019-02-07 01:42] jkowalski commented on #455
I think the root cause is different than what I originally speculated, it's the fact that when we re-queue a work item after update failure it is scheduled to run in the future, after subsequent requests for the same key.

In this case looks like we lost an update race when trying to set "foo=val-013" so it was rescheduled and ran after "val-016"

[2019-02-07 01:44] Yingxin-Jiang commented on #455
@jkowalski - Yes, your latest comment matched what I saw in my local test.

[2019-02-07 15:09] steven-supersolid commented on #538
I started work on this and have created a project structure and generated the js files from .proto. Hope to spend more time on it this weekend

[2019-02-07 17:25] jkowalski opened #569 "GameServerSet sometimes creates more GameServers than necessary"
In particular under stress.

[code]

[2019-02-07 17:35] jkowalski opened #570 "Fleet status completely out-of-sync with GameServerSet status"
This is when running a test that scales fleets up and down. The numbers observed by fleet should be roughly in sync with corresponding GSS, but they are not:

[code]

Simple repro is in PR #571

[2019-02-07 23:50] jkowalski opened #573 "Infrastructure for Agones performance reporting"
We need a solution for gathering and publishing/analyzing Agones performance over time to identify trends and performance regressions.

We need to solve 4 aspects of it:

1. How to write performance tests and instrument them for performance data collection?
2. How to store the results long-term?
3. How to present the performance results (to be able to deep dive into a test run, have comparison of

[2019-02-08 05:30] ilkercelikyilmaz commented on #543
Recent performance improvements and bug fixes seems to fix this issue. I can't repro anymore.

[2019-02-08 05:30] #543 closed

[2019-02-08 05:32] ilkercelikyilmaz commented on #535
PR #572 fixes this partially. I will continue on the allocation improvements so we can get rid-off the Allocation Mutex

[2019-02-09 01:43] thisisnotapril opened #577 "Help us pick a new project logo!"
Hi all! We're thinking about getting a new logo for Agones, and we want your thoughts! The project founders have selected three options. We want you to vote and tell us which one you prefer!

Here's the options:

**Option 1:**
<p align="center">
<img width="463" alt="screen shot 2019-02-08 at 5 37 42 pm" src="https://user-images.githubusercontent.com/8482383/52514623-50c43400-2bc8-11e9-83ee-db097e

[2019-02-11 21:04] Yingxin-Jiang commented on #455
Sent out pull request to fix the issue of lost on update race, https://github.com/GoogleCloudPlatform/agones/pull/584

[2019-02-12 18:34] nikkisingh0204 commented on #577
looking more attractive than the other two

[2019-02-12 22:44] pooneh-m commented on #577
How about adding a little Kubernetes icon on the light blue controller of the first option to show that it is a controller for Kubernetes?

[2019-02-12 23:37] ilkercelikyilmaz opened #589 "agonessdk-0.8.0-*-runtime-linux-arch_64.tar.gz is growing unboundedly"
The `agonessdk-0.8.0-*-runtime-linux-arch_64.tar.gz` is growing unboundedly. I ran out of disk space on my desktop. I needed to delete files under `src/agones.dev/agones/sdks/cpp/bin`

[code]

[2019-02-13 00:16] pm7h commented on #573
Summarizing discussions on the design.

## Architecture
The test infrastructure has three main components: test framework, storage and visualization, and the system under test. The _test framework_ provides necessary modules for writing load and performance tests and is also responsible for generating test traffic. The _storage and visualization_ component stores test results and provides graphs f

[2019-02-13 01:21] jkowalski commented on #589
Yeah, 187GB seems excessive :)

[2019-02-13 03:54] #455 closed

[2019-02-13 04:41] markmandel opened #590 "Release 0.8.0-rc"
# Release 0.8.0-rc

- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x]

[2019-02-13 20:30] thisisnotapril commented on #577
@markmandel @Kuqd what do you think of this idea?

[2019-02-13 20:44] markmandel commented on #577
Honestly - nobody else does sub logos, so I'm personally not a fan. Better to be clean about it, and just have our own image.

That all being said - looks like we have a clear winner :+1:

[2019-02-13 20:51] thisisnotapril commented on #577
Yep, sounds good! Now to design a t-shirt.... :)

[2019-02-13 21:30] ahmetb commented on #409
Any interest? I can help you get this done in ~20 minutes.

[2019-02-14 03:07] markmandel commented on #590
Done!

[2019-02-14 03:07] #590 closed

[2019-02-14 03:42] markmandel commented on #409
Yep, definitely! Just haven't got to it yet!

Will need to integrate it into our build image,  and our Make targets so we can regenerate on model change though!

[2019-02-14 03:51] markmandel commented on #577
Since we've past the 12th, should we close this ticket? Winner winner is:

<p align="center">
<img width="463" alt="screen shot 2019-02-08 at 5 37 42 pm" src="https://user-images.githubusercontent.com/8482383/52514623-50c43400-2bc8-11e9-83ee-db097e59a6ca.png">
</p>

:fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks:

[2019-02-14 03:53] markmandel commented on #469
Implemented in #558

[2019-02-14 03:53] #469 closed

[2019-02-14 03:54] markmandel commented on #144
@Kuqd I had a memory of us talking about closing this ticket. Are we at a place where we want to do so, or not yet?

[2019-02-14 06:21] markmandel commented on #573
Some initial thoughts questions:
1. Some useful GCP products might be: Cloud Scheduler to set run schedules, Cloud Functions for some orchestration/glue (now we can do them in Go!), and I like the idea of running the tests in Cloud Build :+1: just might need a GCF to fire it off.
2. I was originally thinking different nodepools (rather than separate clusters), but the more I think about this, I do

[2019-02-14 18:51] ilkercelikyilmaz commented on #540
I believe this issue is also resolved (which was similar to issue #543) I tested and it seems fine (I tested by creating 4000 GS). Can someone else confirm it so we can close. I believe recent GSS and Delete improvements resolved the issue.

[2019-02-14 20:21] #577 closed

[2019-02-15 12:07] aLekSer commented on #589
I will produce a PR with a fix soon.

[2019-02-15 14:06] aLekSer commented on #541
This give an error here:
[code]
I am thinking of CreationValidationHandler on Create and Update the Fleet to check the Fleet Name length (and insist on no more than 63).

[2019-02-15 14:13] Kuqd commented on #573
I would definitively create a new cluster for each run. Cloud Scheduler is a smart idea we could definitively leverage that.

Now I don't think the e2e is enough to run the performance test, it's a good start but I think we want a test that apply load, probably using fortio or locust to create a lot of allocations concurrently.

I definitively need to investigate more on fortio. But from what I ca

[2019-02-15 14:19] Kuqd commented on #540
I'll investigate.

[2019-02-15 16:37] jkowalski opened #597 "Proposal: Multi-Cluster Allocation Policies"
Background
----

When operating multiple Agones clusters to support world-wide game launch it is often necessary to perform multi-cluster allocations (allocations from a set of clusters instead of just one) based on defined policies.

Examples of common policies include:

* **burst to cloud** - first allocate from a fleet in a cluster located on premises but when it's out of capacity, start alloca

[2019-02-15 16:38] #589 closed

[2019-02-16 00:53] pm7h commented on #573
@Kuqd We were discussing load generation today. From what we understand Fortio does not provide a load generation framework, but we can simulate that by creating multiple parallel Goroutines, each of which runs the test. This is basically what Locust does using Python's gevent.

In summary, Locust provides a better load test framework since it generates load and is light-weight. It also allows you

[2019-02-16 21:46] markmandel commented on #536
The good news is - I have (some cleanup to do) an API extension working to do gameserver allocations.

I've only implemented and supported the CREATE (HTTP: Post) method on the API, as without storage, it's really the only one needed. If people request it, I could look into the Watch function as well, if people want to watch for create events.

The annoying news is - each create API call has 60s t

[2019-02-18 06:27] markmandel commented on #597
This looks pretty good to me, I'm not seeing any glaring red flags, and looks to solve the HA problem as well. - only question I have - what if I don't want to have a probability of going to another cluster - say I want to go allocate against "on-prem" until it fills up, and then move to "cloud-1", do I set the weight to 1? 0? All the same weights?  (does weight have a default?)

@Kuqd I know you'

[2019-02-18 13:28] aLekSer commented on #570
What I have noticed after running stress-test-e2e with stress factor of 2 :
[code]
After several seconds:
[code]
It seems that updating desired count results in adding the Desired to Current Replicas in Gameserversets

[2019-02-18 19:18] ilkercelikyilmaz commented on #597
This is controlled by the Priority. If there is only one entry with Priority=1 then there is no probability and the allocation will happen only on this cluster (until it is out of capacity). If there are multiple entries with same priority, then it will use weight of each entry to distribute allocation between clusters.
If there is no weight is set, we can assign a default weight.

[2019-02-18 23:37] markmandel commented on #597
Actually, I see this is also covered in @jkowalski 's example. `on-prem` has no weight, so it is given top priorty, but because \#2 and \#3 have weights, then it is randomly distributed based on weight. :+1:

That makes sense to me.

[2019-02-19 00:53] Kuqd commented on #597
I think it would be nice to describe what kind of credentials we are supporting, my guess is service account token.

One con of 3 is security but that’s the price for no single point of failure. Would a regional cluster with option 2 be good enough to remove the single point of failure?

Would be nice to be able to target a cluster from the GSA, so matchmaking can make some ping requests and selec

[2019-02-19 01:13] markmandel commented on #597
So I've assumed the credentials are Kubernetes credentials (bearer token)? So essentially a service account + rbac permissions (although you are right - we should be explicit about this).

Since you can create your own topology with this design - the tradeoffs are up to the user. If you feel that 3 GSA router clusters is enough HA, then that's fine. But if you want more than that, you can add more

[2019-02-19 01:18] markmandel commented on #597
We should also point people at: https://kubernetes.io/docs/tasks/administer-cluster/kms-provider/

To ensure they know to encrypt secrets at rest. Do we need to do more security wise here?

[2019-02-19 01:25] Kuqd commented on #573
Yes you're right, and I think our test plan is not that complicated. With go we will be definitively more flexible.

Should we write the load test using the same e2e framework ? Do you think it's interesting if it's a function of our e2e test suite ?

We could definitively run that 4 times day in the current e2e GKE cluster and replace the github PR CI with e2e on kind (docker).

[2019-02-19 01:52] markmandel opened #599 "SDK Build/test pipeline separation from build-image"
As we add more SDKs the `build-image` is getting more and stuff installed in it.

My proposal would be to find a way to have a smaller build image for each of the SDKs, to compile and test each SDK individualy, rather than have rust, and node and go, and C++ all live in the same build image.

This would also allow us to build and test each sdk in parallel, which is nice as well -- and also means t

[2019-02-19 02:01] Kuqd commented on #573
https://github.com/GoogleCloudPlatform/agones/blob/master/build/Makefile#L226

Should we use that target ?

[2019-02-19 02:59] ilkercelikyilmaz commented on #536
What is the number of per second allocations do we need to reach? I am running some load tests against the recent allocation changes I did (haven't been checked-in yet). I run 60 concurrent clients and the system can allocate around 60 gs per sec (Allocated 2999 gs in 50 secs).

![image](https://user-images.githubusercontent.com/17522001/52987154-e624ac80-33ae-11e9-902e-fc2725363512.png)

[2019-02-19 03:10] markmandel commented on #536
@ilkercelikyilmaz that's a huge improvement over what we had previously :fire: @pm7h do you have those numbers on hand? I can't seem to find them). Once we also incorporate #600 - I wonder if we might be very close to what we might need to be.

[2019-02-20 02:01] pm7h commented on #536
Yes, it's a huge improvement. Last I ran my load tests, it took over a minute for 100 allocations. You can see those results here: https://github.com/GoogleCloudPlatform/agones/issues/412#issuecomment-457405264

[2019-02-20 02:10] pm7h commented on #573
This target is good for stress testing fleet scaling but for testing allocations I would add another argument that says how many concurrent calls we should have. The test would then start a separate Goroutine for each. This is basically simulating what Locust is doing with Python's gevent. Does that make sense?

[2019-02-20 02:54] markmandel commented on #573
@ilkercelikyilmaz - did you already write something like the above for #536 ?

[2019-02-20 02:59] pm7h commented on #573
If #536 doesn't have a load parameter, I can write something similar to what we have for fleet_test and the target mentioned in https://github.com/GoogleCloudPlatform/agones/issues/573#issuecomment-464948872. And then we can emit metrics in Fortio format.

[2019-02-20 03:30] markmandel opened #604 "Release 0.8.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-chang

[2019-02-20 05:51] ilkercelikyilmaz commented on #573
I implemented something using the e2e framework for my own testing.

@pm7h I can show you what I implemented tomorrow and you can decide how you want to implement the load test for allocation.

[2019-02-20 06:15] ilkercelikyilmaz commented on #536
I made couple changes after talking to Jarek (use Update instead of patch to prevent multiple allocations) and random gs selection from the top N (=20) available list to reduce the number of collisions
.
I also changes the test client to increase the QPS of the kubernetes client.
With these changed I ran the test few times. With 16 concurrent client, system can allocate around 100 gs per sec (2800

[2019-02-20 14:47] aLekSer commented on #511
I will open a small PR for Point 2.
Actually `stress-test-e2e` can be run on smaller clusters. (To reduce insufficientCPU errors on GS creating).

[2019-02-20 16:24] jkowalski opened #607 "Dangling Game Servers left behind if allocation fails at the wrong moment"
There's a rare race condition in Game Server Allocation which leads to dangling game servers that will never be cleaned up.

Basically if a call to allocate the server partially succeeds by marking the GS as `Allocated` but failing to return the result to the user (for example because of a call timeout or a connection getting dropped at the wrong moment), the user will never know which server was

[2019-02-20 18:54] roberthbailey opened #608 "Create a pull request template"
Documentation: https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

I normally put them into `.github/PULL_REQUEST_TEMPLATE.md`.

[2019-02-21 00:06] structurefall opened #609 "Quickstart: Create a Game Server"
Found a minor issue- you can't use `kubectl apply` for the initial gameserver, you need `kubectl create` instead or you may get a "resource name may not be empty" error, depending on your kubectl version.

[2019-02-21 01:15] markmandel commented on #607
Oh yep - this is fun. And in reality, likely to happen in any distributed system, because weird stuff always does.

2 thoughts on the above:

Long term I think we will need to add some form of player tracking to the SDK - it's coming up a lot with conversations I'm having with the openmatch team. How deep the feature set is an ongoing question.

So in theory - a DGS could do this now, without chan

[2019-02-21 01:17] markmandel commented on #608
We have a few template here: https://github.com/GoogleCloudPlatform/agones/tree/master/docs/governance/templates

Work for you?

[2019-02-21 01:18] markmandel commented on #609
Good catch!

[2019-02-21 02:24] #604 closed

[2019-02-21 05:44] markmandel commented on #495
Closing now that #582 is done.

[2019-02-21 05:44] #495 closed

[2019-02-21 07:16] markmandel opened #613 "Remove PodAffinity from Pods under Packed Scheduling"
[Here](https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/apis/stable/v1alpha1/gameserver.go#L419) we add a PodAffinity to `GameServer` pods to attempt to make game servers appear on nodes that already have GameServers.

I've been thinking, that in a cloud environment we actually don't care, and the scheduling hit we take is not worth it.

Basically, in a cloud environment, we're going

[2019-02-21 08:02] markmandel opened #614 "GKE scopes in installation and testing are overkill"
[GKE scopes](https://cloud.google.com/sdk/gcloud/reference/container/clusters/create) could be dropped to the new(?) `gke-default` scope, which is far less than what we have in either the [documentation](https://github.com/GoogleCloudPlatform/agones/blob/master/site/content/en/docs/Installation/_index.md#creating-the-cluster), our [e2e cluster](https://github.com/GoogleCloudPlatform/agones/blob/ma

[2019-02-21 21:50] Yingxin-Jiang commented on #570
I will work on this issue.

[2019-02-22 06:31] markmandel commented on #521
Just realised we can close this.  This is done!

[2019-02-22 06:31] #521 closed

[2019-02-22 06:32] markmandel commented on #541
Can this now be closed, or do we need to do GameServer as well?

[2019-02-22 13:06] aLekSer commented on #570
Hello @Yingxin-Jiang ,
I was thinking of making fleets status updates a bit faster and updating them using `GameServer`  Status, not `GameServerSet` Status. Change in `updateFleetStatus()` from `ListGameServerSetsByFleetOwner()` to `ListGameServersByFleetOwner()`.
Currently we update GS status -> GSS -> then Fleet.

https://github.com/aLekSer/agones/commit/1c3f9924b1eee51f8ffd95a9cb1af8e2d85038c1

[2019-02-22 17:11] Kuqd commented on #613
So it's not behaving correclty and without it gamservers are still packed ?

If yes, I'm all in to remove it, specially because of the scaling need.

[2019-02-22 19:11] Kuqd commented on #607
Adding a mandatory call from the SDK when the game start seems a good solution without having to handle player tracking for now.

And I agree, we need opt-in or opt-out, I think opt-out is better since we want our users to not have dangling GameServer by default.

[2019-02-22 19:35] Kuqd commented on #599
I'll work on this.

[2019-02-22 21:21] markmandel commented on #613
Correct-ish? More correct than without? I have a feeling it decides if it can't be perfect in the time allotted, it falls back to regular distribution.

[2019-02-24 19:48] ilkercelikyilmaz commented on #607
Maybe we should consider having another state called "InUse". After the GS state is set to Allocated, game running on the GS should call Agones to change the state from Allocated to InUse. If the GS is in Allocated state for X minutes, system can shut it down and release the resources.

[2019-02-24 22:20] markmandel commented on #607
At some point in the near future, we will need to track at the very least - max number of players a DGS can handle, and the number of players currently playing - to make it easier to support backfill for matchmakers (or even just front-fill).

This feels all related to be.

[2019-02-25 08:11] aLekSer commented on #541
Let me check other places were we use name in labels.

[2019-02-25 08:19] itthought opened #622 "Data replication in case of gameserver container crashed"
Hi,

I have a scenario where multiple player joined a room (GameServer) and during playing game server get crashed. Is there any way to migrate their old game state of all user to new container(GameServer).

[2019-02-25 08:29] markmandel commented on #622
Unfortunately, there is no in built memory replication facilities in Agones, or Kubernetes as a whole.

There is an ongoing issue re: [Pod migration](https://github.com/kubernetes/kubernetes/issues/3949), but it's a pretty complicated issue with a variety of edge cases.

[2019-02-25 17:33] ilkercelikyilmaz opened #624 "GS Shutdown sdk calls sometimes failed/timeout and leave Gameservers behind"
I was doing load testing for GS allocation so I modified the simple-udp gameserver to call sdk.Shutdown() 10 minutes after the Gameserver state is changed to Allocated. Because of lot of allocation requests and gameserver creation, status change, deletion, some of the sdk.Shutdown calls didn't complete (200+ in 10000 calls), so 200+ GS left allocated although they should be deleted.

When the Agon

[2019-02-25 21:17] markmandel commented on #624
So I have a few questions on this:

Why didn't they complete?  Do we have logs? I have to review the code, but they should retry after a period if there is a failure (in case master goes down, etc). Did that not happen?

What does this mean exactly? Is the master going down? Is there contention issues? Is the retry mechanism not working?

Sounds like there is definitely an issue here, but would li

[2019-02-25 22:37] #569 closed

[2019-02-25 23:13] Yingxin-Jiang commented on #570
@aLekSer Thanks for the info. Looks like you are working on the issue. So I better leave it to you to avoid duplicate work :)

[2019-02-26 08:21] aLekSer commented on #570
@Yingxin-Jiang , I stopped working on it for a bit, because I was not able to find root cause and how we can sync them. So please, if you have any ideas raise your own fix for this ticket.

[2019-02-26 13:39] aLekSer commented on #398
I will reproduce this on the latest master with this 2 steps

[2019-02-26 14:26] aLekSer commented on #398
In the gameservers controller code:
[code]
This condition works only on Pod creating, it fires two time - one on first pool, and on second.
Note that oldPod.Spec.NodeName always empty.

After node pool switch all gs restarted, but some service is missing, so `nc -u` is not working on gs after node switch.
Another issues is during the process the connection to `kubectl` was refused:
[code]

[2019-02-26 19:05] Yingxin-Jiang commented on #570
@aLekSer Thanks again for the info. Then I will give it a try.

[2019-02-26 23:31] markmandel opened #625 "Move to go modules"
Apparently [Go Modules](https://github.com/golang/go/wiki/Modules) are a thing now :smile: and where Go is headingin the near future (1.13 I think they will be default).

We should convert over from dep to the modules at some point in the future.

[2019-02-26 23:38] heartrobotninja commented on #625
I will be working on this shortly.

[2019-02-27 00:51] markmandel commented on #398
A new nodepool will need to be told to have the firewall tag, it won't be included automatically - so I don't think that that part is a bug.

So apart from that, does it work?

[2019-02-27 08:26] aLekSer commented on #541
@Kuqd I think this ticket could be closed now. All names which reside in Label covered with validation functions.

[2019-02-27 08:32] aLekSer commented on #625
@heartrobotninja  Please don't forget about #414 which currently was manually fixed in /vendor
https://github.com/kubernetes/kubernetes/pull/70277 is merged, but not sure about target Kubernetes version.

[2019-02-27 08:39] aLekSer commented on #398
@markmandel
With separation of node_pools "agones-system" and "default" fleets are restarted well. If we add new node_pool and then delete "default", all GS got restarted on new nodes.
 I think this bug does not include "agones-system" node pool restart.

[2019-02-27 21:06] #535 closed

[2019-02-28 13:33] aLekSer commented on #614
Started working on that issue

[2019-02-28 15:09] aLekSer commented on #614
Currently if omitting the oauthScopes in [development test clusters](https://github.com/GoogleCloudPlatform/agones/blob/master/build/gke-test-cluster/cluster.yml.jinja). An error occurs `Cannot pull image agones-controller from the registry.`
And unauthorized error if executing `docker run ` on one of cluster nodes.
Will check other places where we could use `gke-default` scope.

[2019-02-28 19:55] #609 closed

[2019-02-28 22:00] markmandel commented on #622
Going to close this, since I think this answers the question. Please re-open if you have follow up :+1:

[2019-02-28 22:00] #622 closed

[2019-02-28 22:15] ilkercelikyilmaz commented on #624
I could not reproduce it since I get the latest from master.
I will provide details when/if I can reproduce it.

[2019-02-28 23:17] Yingxin-Jiang commented on #570
I can't reproduce the issue. Probably it's fixed by commit https://github.com/GoogleCloudPlatform/agones/commit/f6daaf1fe6092a012fb38385203b1856512de700

[2019-03-01 00:58] markmandel commented on #614
@aLekSer does this mean the alias's don't work via the deployment manager, just through gcloud?

[2019-03-01 09:16] aLekSer commented on #614
@markmandel I was not able to find out this yesterday. Will let you know. In Jinja template it seems that only `https://www.googleapis.com/auth/compute` style oauthScopes are accepted. If I pass `gke-defaults`.
Tested that I could pass it this way:
[code]
 And after use install.yaml, cluster is working fine.

[2019-03-01 15:00] aLekSer commented on #570
Running `stress-test-e2e` with `STRESS_TEST_LEVEL ?= 2` differs only for small amount of time and then got synced in seconds. And amount of Current GameServers never raise above desired 20 GameServers.
![get fleets gss](https://user-images.githubusercontent.com/5626814/53646183-9b772000-3c4b-11e9-9b70-5f385884a7d3.png)

[2019-03-01 17:32] markmandel commented on #570
Sounds like we can close this issue - and if it pops up again, reopen it?

[2019-03-01 19:34] #570 closed

[2019-03-01 19:35] jkowalski commented on #540
@Kuqd can we close now?

[2019-03-02 10:57] johnsoncodehk opened #635 "QUIC Support"
Agones currently supports both TCP and UDP protocols.
TCP latency is relatively high, while UDP is not reliable.
Is there any plan to support a reliable UDP protocol such as QUIC?

[2019-03-02 20:29] markmandel commented on #635
QUIC is just UDP, and as such, is already supported.

Agones doesn't care what underlying serialisation or communication system you use, as long as it's TCP or UDP (is there anything else 😁?)

[2019-03-02 20:41] alexandrem commented on #635
There is SCTP which Kubernetes supports as a feature gate since 1.12!

[2019-03-02 21:12] markmandel commented on #635
Today I learnt what SCTP is! 👍

[2019-03-03 05:24] ilkercelikyilmaz opened #636 "CPU/Memory leak issue caused by go routines that never completes"
I was running a load/stress test to allocated 10K gameservers every 30 minutes (gameservers shutdowns in 10 minutes after allocation). The performance of the Agones was deteriorating with everyone run. It turns out the 10K+ go routines that are created with every run never completes. In about 7 hours around the total number of go routines reached 400K.

![image](https://user-images.githubuserconte

[2019-03-03 06:59] johnsoncodehk commented on #635
After some digging, I learned that I need to use the QUIC package on the server and client.
I will try to use SCTP, thank you for mentioning it.

[2019-03-03 06:59] #635 closed

[2019-03-03 08:20] aLekSer commented on #636
Hello @ilkercelikyilmaz , this seems the same old issue, but reopened after `dep ensure` execution and I suppose was fixed in as previously
https://github.com/GoogleCloudPlatform/agones/commit/1bdd5a5083c9f732c58f8be9521505b7fb37a764
So please update and rerun your test, at least starting part. 😄

[2019-03-03 21:12] ilkercelikyilmaz commented on #636
Hi @aLekSer ,
You are right this fixes the issue. However I got it fixed locally by removing the call WaitForCacheSync.
I've tested with the fix only (without removing the WaitForCacheSync). There is no more leak but the GS creation with the WaitForCacheSync and it takes longer under the load test.
Do you think we can close the #414 ?
Thanks,
ilker

[2019-03-04 09:06] aLekSer commented on #636
Thanks @ilkercelikyilmaz  for checking it with updated master.
Regarding this `Memory leak` ticket I think you should close this and open new ticket or Pull Request with different description if you see some other problem with `WaitForCacheSync()` function.
`WaitForCacheSync()` uses `WaitFor()` undernearth through next function:
[code]
So fixing WaitFor helps here also.

[2019-03-04 11:40] aLekSer commented on #625
@heartrobotninja  also note that we can have use vendors with modules at the same time to mitigate mentioned above issue:
https://github.com/golang/go/wiki/Modules#how-do-i-use-vendoring-with-modules-is-vendoring-going-away

[2019-03-04 12:10] aLekSer commented on #546
Hello @jkowalski , I can start adding these metrics.

[2019-03-04 18:37] ilkercelikyilmaz commented on #636
Since the cpu/memory leak issue fixed with [1bdd5a5](https://github.com/GoogleCloudPlatform/agones/commit/1bdd5a5083c9f732c58f8be9521505b7fb37a764) closing this issue.

[2019-03-04 18:37] #636 closed

[2019-03-04 20:47] #614 closed

[2019-03-06 17:32] pooneh-m commented on #597
What do you think of changing GameServerAllocationPolicy to support time, while policies are ordered chronologically? For example for

t1<---policy1----->t2<----policy2----...

The CRD for GameServerAllocationPolicy will be something like:
[code]

[2019-03-06 17:58] ilkercelikyilmaz commented on #597
So Agones will select the policies the ones that have the start time closest to the current time?

[2019-03-06 18:12] markmandel commented on #597
@pooneh-m - I'm wondering if the motivation for this is to be able to automatically declare the start and end times of a policy, so that a user doesn't have to do this manually? (Then it becomes a question of how to handle crossover periods). Is that correct?

[2019-03-06 20:54] pooneh-m commented on #597
@ilkercelikyilmaz Yes. Agones will pick the policy that its current time is passed the start time and before the next start time.
@markmandel yes, I proposed a simplified version of that.

[2019-03-06 22:45] #538 closed

[2019-03-07 14:39] aLekSer commented on #409
I see that Kubebuilder has an issue and functionality "Generate docs" seems to be not supported yet.
https://github.com/kubernetes-sigs/kubebuilder/issues/483
Therefore this @ahmetb's project would be really helpful.
@markmandel I can help with this task. By the way should we integrate all these pages to Hugo ?

[2019-03-07 18:16] markmandel commented on #409
Yeah, if there is a way we can integrate this into agones.dev somehow, I think that would be ideal :+1:

Maybe whenever we run `make site-static` is generates the API?

[2019-03-07 21:17] aLekSer commented on #409
I need to investigate more on how generated docs would look like and how to integrate them into `site-static` flow.

[2019-03-08 06:20] #546 closed

[2019-03-08 18:26] heartrobotninja commented on #625
Here is what we have so far:

Moving straight to go modules is ideal, but not doable right now. We have code in vendor that contains a fix that will not be released until March 25th, and there is no guarantee when the platforms will update to 1.14 since they are still on 1.12.

Given this, it might be best that we move to go modules while also keeping the vendor directory. This would require re-im

[2019-03-08 18:47] markmandel commented on #625
It sounds like a way forward, but what does "_re-implementing the fix_" entail? Just making sure it's pasted into the new vendor directory?

Question - with go modules,without a vendor directory, does that mean on each CI build, we would have to download all our dependencies every time?

[2019-03-08 19:13] heartrobotninja commented on #625
re-implementing would just be re-applying the fix. I know there is a cache for go modules, but I am currently trying to hunt down how that works with CI builds.

[2019-03-08 19:17] markmandel commented on #625
Gotcha. We'd likely want to store that in GCS and move it back and forth.

[2019-03-08 20:52] heartrobotninja commented on #625
As for CI:
We could either cache all dependencies prior to building. This still makes us download still, but we do it in advance of building. There might be some magic we can do there where we keep the cache warmed.

The other option is doing module-aware vendoring. This is mostly what we do now, so will likely consist of the least changes. Both are supported and I would propose we just do module-

[2019-03-08 21:37] markmandel commented on #625
SGTM 👍

[2019-03-11 02:10] heartrobotninja commented on #625
Currently have modules working for LOCAL_GO=true. Currently working out some issues with the non-local version failing. Been looking into why this would be a problem for docker run.

[2019-03-12 19:55] heartrobotninja commented on #625
What I am currently running into: The intermediate containers which get instantiated by RUN aren't inheriting environment variables.

[2019-03-12 20:19] heartrobotninja commented on #625
So, the go.mod file isn't visible in the intermediate container. That is the actual problem.

[2019-03-13 13:25] mathieuduperre opened #646 "Scale: server could not find the requested resource"
Follwing the simple-udp example, when trying to scale a fleet, we get the message:
Error from server (NotFound): the server could not find the requested resource (get fleets simple-udp)

Even though we have such fleet. Self-installed k8 in a vm (gcp), versions below.

[root@agones simple-udp]# kubectl get fleet
NAME         SCHEDULING   DESIRED   CURRENT   ALLOCATED   READY   AGE
simple-udp   Pack

[2019-03-13 16:17] markmandel commented on #646
What version of Agones are you running?

I'm not sure if anyone has tested Agones post 1.11 at the moment. I wonder if there is something different in 1.13?

What happens if you try 1.11 or 1.12? (I haven't tested 1.12 yet)

[2019-03-13 16:19] markmandel commented on #646
Also, how are you bootstrapping this Kubernetes cluster? Are we sure that this is a valid Kubernetes install?

[2019-03-13 18:20] YannickLange commented on #138
Try this: https://github.com/GoogleCloudPlatform/agones/pull/647

The plugin doesn't require any programming. Just drop it in the Plugins directory of your project. I added some settings to the project settings (just search for agones).  Currently, the plugin calls ready when the dedicated server world is ready, calls health pings and shutdown when the server shuts down.

Would love to hear your f

[2019-03-13 21:06] mathieuduperre commented on #646
I was running 0.7.0, upgrading to 0.8.0 did not do it. reinstalling with k8 1.11 and will re-try.

this is a vanilla k8 on centos 7 with a single node as master/tainted to run pods. I can run everything else fine (including open match and our own components).  i'll report back with 1.11

[2019-03-13 21:43] jeremyje opened #649 "Proposal: Migrate Build Automation to k8s prow."
Proposal Document: https://docs.google.com/document/d/1BOhIKP3N9TjOEUSn28jZvLSTFWrE7DKg66LANNerLdg
Open Match Issue: https://github.com/GoogleCloudPlatform/open-match/issues/107

[2019-03-13 21:45] markmandel commented on #649
What sort of things do we need? Prow seems _very_ complicated.

Where was this discussion? I don't see it here on Github. I would like to see a design ticket on this before making any decisions.

[2019-03-13 21:49] jeremyje commented on #649
The plan is to use the k8s prow so we are not managing the instance. We mainly need to provide the config.yaml and plugins.yaml files.

In the Agones case it seems like it'll remove the need to have agones-bot.

[2019-03-13 21:50] markmandel commented on #646
kubeadm? How did you bootstrap it?

What happens if you edit the fleet instead of using scale? (Wondering if this is somehow an rbac issue? or you are referencing a different namespace somehow?)

[2019-03-14 13:54] mathieuduperre commented on #646
Re-installed and had the same issue. I'm using kubeadm.
Editing the fleet manually (kubectl edit) worked.
I'll do some more test later as we're just starting to integrate with Agones but it could be something we're doing wrong with our k8 install.  We used kubeadm init with very few args, so unless the default config yaml has something weird I don't see what could be missing.  Standby i should be

[2019-03-14 14:44] aLekSer opened #650 "Feature shortcode does not behave correctly for versions > "0.10.0" (2 digit minor version)"
Steps to reproduce:
Set `expiryVersion` to `0.10.0` and `base_version` to 0.9.0 in one of md files.
Run `make site-server`.
We will not see the doc part inside the shortcode:
[code]

While `{{% feature expiryVersion="0.9.1" %}}` works as expected.
The reason seems to be lexicographic comparison between strings, we should split the version into parts and compare them separately.

[2019-03-14 15:20] markmandel commented on #650
Oh! That's a nice find. And frustrating! We should fix this :cry:

[2019-03-14 15:45] markmandel commented on #646
Are you using the [recommended set of admission controllers](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#is-there-a-recommended-set-of-admission-controllers-to-use)?

[2019-03-14 17:43] jeremyje opened #651 "Create a Security Best Practices/Design Document for Agones"
As Agones expands we'll need to provide guidance to customers on how to securely deploy it. More importantly we'll need best practices to make security informed decisions during our future designs to make sure that Agones is secure by default.

I'll publish a draft for community review/edits once it's ready. As a preview it'll be simply just an index of all the best practices and recommendations f

[2019-03-14 19:25] aLekSer commented on #650
I will fix this shortcode tomorrow.

[2019-03-14 22:47] markmandel opened #652 "Hotfix 0.8.1"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] `git checkout hotfix-0.8.1 && git pull --rebase upstream hotfix-0.8.1`
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make

[2019-03-15 03:53] heartrobotninja commented on #625
I finally have gotten things to get past the missing mod file, but now I am trying to sort through the differences in local vs docker because while local building works fine, docker has some issues finding certain packages. The current one is:
build agones.dev/agones/cmd/controller: cannot load k8s.io/api/admissionregistration/v1alpha1: cannot find module providing package k8s.io/api/admissionregi

[2019-03-15 04:59] heartrobotninja commented on #625
Its apparently by design per https://github.com/kubernetes/client-go/issues/551 they removed v1alpha1 from master, but we still have an indirect dependency on it via an import of an import.

[2019-03-15 06:36] heartrobotninja commented on #625
Fun fact, when running go build as we do for build-controller-binary, I can't get the build to recognize that a go.mod file exists unless I put a command before go build. For instance if I put pwd && go build -mod=vendor it works.

[2019-03-15 19:35] #150 closed

[2019-03-15 22:04] markmandel opened #657 "Terraform scripts for Agones"
From my understanding,  Terraform can both create a Kubernetes cluster, and install Agones in one go.

Looking at the increase  in complexity of the K8s installation (taints for metrics and controller), doing this by hand seems fraught with peril.

I'm thinking we would
1. Create the cluster with the right sizes of nodes with the right taints
1. Sets up appropriate firewall rulels
1. Installs the

[2019-03-15 22:04] markmandel commented on #657
/cc @bbf

[2019-03-15 23:00] heartrobotninja commented on #625
Progress! I have make build and make test working. I need to do some e2e testing and documentation and I will have a pull ready.

[2019-03-16 06:18] heartrobotninja commented on #625
e2e testing worked. Fixing some issues with the gen-grpc files that have cropped up due to vendoring.

[2019-03-16 16:18] #650 closed

[2019-03-16 23:06] heartrobotninja commented on #625
Design Doc:
[https://goo.gl/uNhtJ2](https://goo.gl/uNhtJ2)

[2019-03-17 04:29] markmandel opened #660 "1st Party / Distributed Matchmaker support"
# Objective

To be able to support matchmaking systems that require a gameserver to register themselves with the matchmaker -- such as first party matchmakers.

# Background

Many matchmakers that console and others companies provide as hosted services, have a matchmaker workflow in which:

1. A gameserver will register itself with the matchmaker when ready (usually for a specific period of time),

[2019-03-17 04:29] markmandel commented on #660
/cc @victor-prodan pretty sure this is what you wanted a long time ago? (e.g. #297)

[2019-03-17 17:48] markmandel commented on #540
Gentle bump - @Kuqd can we close this now?

[2019-03-17 17:49] markmandel commented on #144
Gentle bump on this @Kuqd  - shall we close this, and have a new ticket(s) for extra metrics (cpu tick rate, player counts, etc)

[2019-03-17 21:52] markmandel opened #662 "gcloud-auth-cluster: Create unique name for cluster role binding"
In theory, the cluster role binding name that we hard code could already exist (maybe someone else set up the cluster by hand).

I think it would be nice to take a short hash of the user's account name (or any other relatively unique identifier), and incorporate that into the name of the cluster role binding in `gcloud-auth-cluster`

[2019-03-17 23:38] markmandel commented on #660
Staring at this, I realised that game servers could move straight to `Reserve(n)` rather than `Ready`, as there is no real reason to go to `Ready` first. Updating design.

/cc @joeholley does the abovegel with what we had originally discussed?

[2019-03-18 04:12] ilkercelikyilmaz commented on #660
What happens after the GS returns to Ready state (after timeout)? Should it try to set itself to Reserve state and then  Register with MM?

[2019-03-18 11:17] aLekSer commented on #646
@mathieuduperre I am trying to reproduce this issue. Can you please give some steps on how to create such a cluster?

[2019-03-18 12:10] #541 closed

[2019-03-18 12:15] mathieuduperre commented on #646
@aLekSer Below are the exact steps. high level steps:

centos 7 vm in gcp
install kubelet, kubeadm, docker using standard doc:
https://kubernetes.io/docs/tasks/tools/install-kubectl/
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

install flannel to get basic networking
taint the node to run pods in the master (single node cluster to test)
install agones using the yaml (inclu

[2019-03-18 12:23] Kuqd commented on #144
Do we have metrics for the new allocation? Sorry been off lately

[2019-03-18 12:23] aLekSer commented on #662
I am thinking of something cross-platform like this hash:
[code]

[2019-03-18 13:35] aLekSer commented on #646
@mathieuduperre I have reproduced the same error message.
The reason is that you have deployed version 0.7.0 of agones which does not support Scale subresource for fleet.
[code]
However there is an error in docs, which stated to use `kubectl scale --replicas=n` which is suppoted only starting from 0.8.0-rc.
https://0-7-0.agones.dev/site/docs/getting-started/create-fleet/

[2019-03-18 13:49] aLekSer commented on #646
The original way how to do this in 0.7.0 version was:
[code]
https://github.com/GoogleCloudPlatform/agones/blob/625728ef5f24675cfba4c702f0ca87dc6d9bdea7/site/content/en/docs/Getting%20Started/create-fleet.md
Or you can use:
[code]
However using new version (0.8.0) I got another error:
[code]

[2019-03-18 14:02] victor-prodan commented on #660
Yep, sure this :+1:

[2019-03-18 18:11] markmandel commented on #144
@Kuqd Ah, good point - no we don't. I was splitting up #600 and fell behind on it a little, so `GameServerAllocation` is not yet switched to an API Endpoint. Current PR in flux in #659

[2019-03-18 18:28] markmandel commented on #660
That's up to the game server. But yes, I expect it will re-register, possibly after a short period, to give an opportunity to scale down if there aren't any players currently playing.

It's my understanding, that for many matchmakers, a gameserver will register themselves for a time period with the matchmaker - i.e. "I'm available to play a game on, for the next 5 minutes". Once that time has pass

[2019-03-20 02:00] Kuqd commented on #660
Matchmaker could also delete those unused gameservers via the k8s API.

[2019-03-20 09:18] rickysab opened #667 "Online game"
Web 918kiss download apk for win and scanner

[2019-03-20 09:21] aLekSer commented on #667
Spam issue

[2019-03-20 09:23] rickysab commented on #667
Mainan apa kamu suka

[2019-03-20 09:30] victor-prodan commented on #660
Even simpler - just as it sends GameStarting event, it could send a 'Shutdown' event as well.

[2019-03-20 09:34] Oleksii-Terekhov opened #668 "Proposal: Additional logic to determine GameServer IP on barmetal k8s"
Current schema - use Node External IP if exist, else use Node Internal IP

This behavior restrict using Agones with custom bare-metal cluster with gray in-cluster IPs behind firewall/NAT or with several interfaces on each node

Proposal: Enrich "get GS IP" logic by additional layer - use optional explicit "node label" (specified in fleet manifest or hard-coded to controller ???) to get "node exter

[2019-03-20 13:11] #667 closed

[2019-03-20 15:27] markmandel commented on #660
Yeah - it is dependent on the matchmaker - some of which some people have control over, and some people do not. But it _sounds_ like the above design would work for all these different requirements?

[2019-03-20 15:53] victor-prodan commented on #660
I would change Reserve(n) into Reserve() and Unreserve() (or other equivalent names), because it's more flexible and allows both the type of implementation when we know the reservation time in advance and also the kind in which the matchmaker tells a server to shut down.

[2019-03-21 06:10] theminecoder commented on #660
I actually think having both might be worth while. Reserve(n) would auto timeout while Reserve() would not. Unreserve() would force it into its unreserved state, removing the timeout if it exists.

[2019-03-21 12:02] aLekSer commented on #657
I will investigate the process of Agones deployment with terraform. I would work on points 1-3 of the above.

[2019-03-24 19:06] #652 closed

[2019-03-25 00:46] #662 closed

[2019-03-25 17:09] markmandel commented on #668
This is super interesting - I've also been thinking about scenarios in which we may have 1 or more UDP proxies in front of Agones, and how we can support that.

_Should_ the GameServer / Node be aware of the public facing NAT/Proxy/firewall IP address, or is that the responsibility of  an external system? If we hide the external/internal IP, is that a bad thing?

Should we expand out Address value

[2019-03-25 17:13] markmandel commented on #540
I'm going to close this, please feel free to reopen if it rears its head again.

[2019-03-25 17:13] #540 closed

[2019-03-25 21:13] markmandel commented on #660
Not all languages have function overloading, but those that do can do `Reserve()` and `Reserve(n)`, those that don't could do `Reserver(n)` and `Reserve(0)` (where 0 is forever).

`Unreserve` we already have :smile: it's called `Ready()` - just need to make some tests to make sure this logic path works, and make any adjustments as need be (like removing the timeout if it exists).

So I think then

[2019-03-26 00:00] markmandel commented on #54
Today - there is an update!
https://kubernetes.io/blog/2019/03/25/kubernetes-1-14-release-announcement/

[2019-03-26 00:24] markmandel opened #672 "SDK conformance harness"
A way for developers who want to develop / bring their own SDK to know that their SDK implementation is compliant with what we need it to do.

Ideally, I think it would _not_ involve a full Kubernetes install, or e2e test, but likely could be run on it's own - maybe as a binary / docker container? Something simple.

We could then integrate this into our CI system to run against existing SDKs, and

[2019-03-26 11:22] Oleksii-Terekhov commented on #668
Now Agones - it's pain for custom k8s, but we motivated to polish it. Also we cannot use public clouds with k8s due costs and security concerns.

Current state - use Agones GS only from internal network for testing.

Near future - create custom micro-service to port/ip remapping, even on k8s nodes with white IP. We try avoid risks at project launch.

Good future - use Agones GS on white/gray IPs,

[2019-03-26 18:06] markmandel opened #673 "Release 0.9.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] `git checkout maste

[2019-03-27 00:49] #673 closed

[2019-03-27 14:38] Kuqd commented on #54
Kind issue to look at: https://github.com/kubernetes-sigs/kind/issues/410

[2019-03-28 11:16] KamiShepard opened #678 "Agones controller does not remove deleted pod from game server list"
I had a fleet of 2 game servers running, one of the game server was allocated, I deleted allocated server by running `kubectl delete pod pod-name-xyz` this deleted the pod but when retrieving fleet information it still showed that fleet had two game servers running and kept returning allocated server IP and PORT to which we couldn't connect because game server pod has been deleted. Is there any re

[2019-03-28 13:01] Kuqd commented on #657
4 - need to be separated.
3 - should be supported with helm provider.

[2019-03-28 14:15] aLekSer commented on #657
Also I found that there exist also `Kubernetes` provider which possibly has more universal nature (cloud agnostic). But I have not tested it.
https://medium.com/devopslinks/how-to-setup-terraform-with-kubernetes-provider-356d0778e771

[2019-03-28 16:09] markmandel commented on #678
Deleting the Pod _should_ delete the backing `GameServer`:

Logic is here:
https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/gameservers/controller.go#L167

Sounds like we should add a e2e test here:
https://github.com/GoogleCloudPlatform/agones/blob/master/test/e2e/gameserver_test.go

Make sure it always works.

[2019-03-28 16:29] markmandel commented on #678
Oh - I assume this was on 0.9.0-rc?

[2019-03-28 16:33] msannikov opened #679 "Create npm package for Node.js sdk"

[2019-03-28 17:03] KamiShepard commented on #678
No, it was on 0.8.1.

0.9.0-rc was crashing our matchamker so we had to revert it for QA, we are not sure why it was crashing our matchmaker, so I have not created an issue for that yet. Once I have time for investigation I will look into it, but approaching release, it might not be soon.

[2019-03-31 23:31] markmandel commented on #649
Was thinking about this today - would it be useful to have a list of all the custom CI/build pipeline things that currently exist?

[2019-03-31 23:32] markmandel commented on #409
@aLekSer can we close this now?

[2019-03-31 23:32] #409 closed

[2019-03-31 23:33] markmandel commented on #409
Whoops - hit the wrong button, but @aLekSer should we reopon this?

[2019-04-01 01:23] markmandel opened #683 "File Asset Management"
# Objective

Talking with a variety of potential/current users the issue of "large Docker images" is a recurring theme and concern. There can tend to be wide variety of file assets which can be large in size - levels, maps, etc, especially during development time before optimisation occurs.

While nothing is inherently wrong with large Docker images, it does create a slow cold start as they need t

[2019-04-01 07:49] aLekSer commented on #409
Agree with closing that, I think the main part is done, the rest is to polish current version, only some small warnings while parsing "./pkg/apis/stable/v1alpha1/" occurred:
[code]

[2019-04-01 12:43] alexandrem commented on #683
If someone wants to keep his large Docker image distribution model, there's
Kraken :

https://github.com/uber/kraken

I don't know if it makes sense for the development workflow, but probably
does for production distribution.

Perhaps we could provide an integration guide for that.

Le dim. 31 mars 2019 à 21:23, Mark Mandel <notifications@github.com> a
écrit :

--
Alexandre

[2019-04-01 17:41] ahmetb commented on #409
Yeah we can probably make them lower level logs instead of warnings. If they bother you, feel free to make small PR to the generator!

[2019-04-01 21:17] markmandel commented on #625
Can this be closed now?

[2019-04-01 21:32] markmandel commented on #678
Digging into this some more - deleting a standalone gameserver's pod will make the GameServer move to Unhealthy (it's essentially the same as a crash).

If the GameServer belongs to a Fleet, then the GameServer should be recreated.

Got some more e2e tests working on this.

[2019-04-01 21:33] heartrobotninja commented on #625
Yep!

[2019-04-01 21:35] #625 closed

[2019-04-01 22:28] markmandel commented on #678
So I wrote e2e tests in #684, and they all passed - does that match up to the context you were describing?

[2019-04-01 23:29] markmandel commented on #491
Flip side - our `build` tooling already does this, and it's part of our helm template. But we just need to write the documentation.

@jkowalski I've never played with this stuff, from memory, you did this work, yes?

[2019-04-02 01:25] markmandel commented on #660
Starting work with a PR to implement `SDK.Allocate()`

WIP: https://github.com/markmandel/agones/tree/feature/sdk-allocate

[2019-04-02 11:35] KamiShepard commented on #678
I forgot to mention that the deleted pod had an `allocated` game server instance running on it.

[2019-04-02 16:32] markmandel commented on #678
Cool - I'll make sure I test that as well!

[2019-04-02 17:42] markmandel opened #686 "Release 0.9.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] `git checkout maste

[2019-04-03 16:30] #686 closed

[2019-04-03 22:43] roberthbailey commented on #649
Yes, having a list would be very helpful.

[2019-04-05 00:23] thisisnotapril opened #690 "Add About page"
We should have a page that explains who founded Agones, works on it, why we made it, etc.

[2019-04-05 00:27] thisisnotapril commented on #657
@markmande fyil I am reaching out to someone in the k8s community that may be interested in working on this

[2019-04-05 00:29] thisisnotapril commented on #37
Repo health check - should we keep this issue open?

[2019-04-05 00:32] CarlDionne commented on #690
That’s a good idea.   In fact Mark and I were discussing this :-).   I can provide the ubisoft side of the story - and Mark the google side.

[2019-04-05 00:32] CarlDionne commented on #690
If you think this is interesting, of course!

[2019-04-05 23:16] markmandel commented on #678
So you'll be pleased to know, that now that we have an e2e test, we can see this happens... sometimes.

Trying to work out why it only happens sometimes though. Somehow managed to hit it just now manually).

:grimacing: inconsistent bugs are the best.

[2019-04-05 23:38] markmandel commented on #678
I think I see where this is... and it was... never really implemented? (or if it was, it was lost). Fixing it!

[2019-04-06 00:27] markmandel commented on #690
Do we want this to be an about page, or do we want this to be incorporated into the [Overview page](https://agones.dev/site/docs/overview/) ?

(Which I have had had a todo to rewrite for eons).

No strong opinions, just throwing the idea out there.

[2019-04-08 03:49] heartrobotninja opened #695 "Vendor tool dependencies"
With the conversion to go modules, our tool dependencies initially lost their vendored copies. It turns out there is an idiomatic way to fix this as described in https://github.com/golang/go/issues/25922#issuecomment-476341329 .

Proposal 1a: Do exactly as the above link describes and create agones/tools/tools.go and put all tools in that file as imports.

The only thing we cannot do with that is

[2019-04-08 06:42] heartrobotninja commented on #695
The more I look at this, the more that the problem looks like other tools outside of agones.

For instance, one of the go module pulls that Mark was seeing is actually because we use generate-groups.sh in k8s.io/code-generator which has a go install line. That would be fine, but the deps in each directory aren't explicitly met so go mod tries to retrieve them.

One place where we could control it,

[2019-04-08 20:44] thisisnotapril commented on #690
I'm thinking it's a standalone page where we can also highlight top contributors, leads, etc. I would prefer Overview to stay focused on the tech/getting started aspect.

[2019-04-10 16:55] roberthbailey commented on #649
@Kuqd - I saw your (old) note in Slack about cloud build e2e vs. prow and thought we should re-open the discussion. I think it'd be a great topic for the community meeting scheduled on the 25th. Could you take another pass over the document before then and add some comments?

[2019-04-10 17:05] roberthbailey commented on #649
@heartrobotninja - did you have any other comments you wanted to leave on the doc? As I mentioned in the above comment, I think this would be a great topic to discuss at the next community meeting (on the 25th of this month).

[2019-04-10 23:50] pooneh-m opened #700 "Agones e2e tests are flakey"
TestFleetRecreateGameServerOnPodDeletion end to end test fails randomly after being added at https://github.com/GoogleCloudPlatform/agones/pull/684 with timeout errors: https://pantheon.corp.google.com/cloud-build/builds/86f515ce-c846-43a0-9715-7a71d3c18978?project=agones-images

--- FAIL: TestFleetRecreateGameServerOnPodDeletion (76.71s)
fleet_test.go:844:
Error Trace:	fleet_test.go:844
Error: Re

[2019-04-10 23:51] markmandel commented on #700
This is fixed in #694 (mentioned this in Slack). Waiting on review.

[2019-04-11 15:15] aLekSer commented on #657
I think we should add here `kubectl` setup step.

[2019-04-11 16:51] pooneh-m commented on #597
What do you think of naming allocation policy CR?
1. GameServerAllocationPolicy
2. MultiClusterAllocationPolicy
3. FleetAllocationPolicy
4. GameServerMultiClusterAllocationPolicy

[2019-04-11 16:51] pooneh-m commented on #597
What do you think of naming allocation policy CR?
1. GameServerAllocationPolicy
2. MultiClusterAllocationPolicy
3. FleetAllocationPolicy
4. GameServerMultiClusterAllocationPolicy

[2019-04-11 22:16] Kuqd commented on #649
Will do ! Thank you

[2019-04-12 13:48] Oleksii-Terekhov commented on #683
Layer order with "big" Dedicated Server:
 v1: OS/libs + content + binaries
 v2: OS/libs + binaries + content

At project start content and binaries changed fast, but problem for current issue - time to pull without lost control. IMHO with any external storage (PV/...) we lost control. Especially when migrate from image_v1 to image_v2

We dream about native Kubernetes mount image as PV : "content"

[2019-04-12 19:36] #678 closed

[2019-04-12 20:11] markmandel commented on #597
I think I'm leaning more towards:
MultiClusterAllocationPolicy or GameServerMultiClusterAllocationPolicy (even though it's a huge name, it is descriptive).

WDYT?

[2019-04-12 20:12] markmandel commented on #597
Another potentially fun question - should the `AllocationPolicy` be under a `multicluster` group of some kind? (Rather than stable?)

(And maybe stable => core?)

[2019-04-12 20:13] markmandel commented on #700
This should now be fixed!

[2019-04-12 20:13] #700 closed

[2019-04-12 20:15] markmandel commented on #690
Sounds fair enough!

[2019-04-12 20:16] markmandel commented on #695
I can't find the comment, but was there something with a tools.go that could be used to solve this issue?

[2019-04-12 20:18] markmandel commented on #695
I see. I'm with you now. Sounds like copying the proto files from third_party should be the way to go?

Hopefully they don't update any time soon? Or we make sure we keep that in check.

[2019-04-12 20:21] markmandel commented on #37
There are still a few left on the list (I cleaned things up a bit above) that would be good to have I think.

[2019-04-12 20:32] markmandel opened #703 "Proposal: Split up the api group stable.agones.dev"
This has been rolling around in my head for a while, so wanted to throw it out there.

Basically watching the changes coming to allocation (#682), and how that will _have_ to be in a different group, and then the multicluster work (#698) feels like it should be separated in someway from everything else - I'm wondering if having `stable.agones.dev` as the core group was a less than ideal decision.

[2019-04-12 20:32] markmandel commented on #703
/cc @jkowalski @pooneh-m @roberthbailey @Kuqd

[2019-04-12 20:34] markmandel commented on #646
Can we close this now? I don't think we could reproduce?

[2019-04-12 20:37] markmandel commented on #329
Was just looking at the autoscaler - should that also have a state subresource?

[2019-04-12 20:52] roberthbailey commented on #703
There is a great comment [here](https://github.com/kubernetes-sigs/cluster-api/pull/645#issuecomment-448655658) from Clayton about what an apigroup should encompass (I'll inline the important bits so people don't get side tracked by that issue):

I think that the lifecycles for the pieces you listed above will likely be separable. The "core" bits will probably stabilize and not change much as we i

[2019-04-13 00:04] pooneh-m commented on #597
I am more leaning towards keeping GameServer prefix for Agones CRs because there is less risk of having the same CRD name for two CRs in the same cluster. I think either GameServerAllocationPolicy or GameServerMultiClusterAllocationPolicy is fine.

GameServerMultiClusterAllocationPolicy has two votes.

[2019-04-13 00:05] pooneh-m commented on #597
Lets discuss this in issue https://github.com/GoogleCloudPlatform/agones/issues/703 that you opened.

[2019-04-13 00:07] markmandel commented on #597
Yeah I agree - we should let grouping dictate naming - and 100% agreed on `GameServer` as a prefix for the reasons described above!

[2019-04-13 02:22] markmandel commented on #703
Thanks for the detailed comments @roberthbailey ! That is useful knowledge!

Honestly, I saw that the [sample controller](https://github.com/kubernetes/sample-controller) had a [3 level group](https://github.com/kubernetes/sample-controller/blob/master/pkg/apis/samplecontroller/register.go#L20), samplecontroller.k8s.io and I kind of arbitrarily chose `stable.agones.dev` since I needed to move forw

[2019-04-13 23:27] markmandel commented on #695
@heartrobotninja might also be worth looking at the splitting of images that @Kuqd is working on in #630 - that may also resolve some issues.

[2019-04-14 11:54] #646 closed

[2019-04-14 16:42] markmandel commented on #660
I just got completed with `SDK.Allocate()` but it looks like when rebasing against master, gRPC regeneration is kinda broken :cry: - combo of the C++ changes and the new transition to Go modules.

@Kuqd looks like your work in #630 fixes this -- can you confirm? If so, I'll wait on that to go through (looks like it's close, just need to resolve some conflicts mostly).

/cc @dsazonoff for visibilit

[2019-04-14 22:32] Kuqd commented on #599
To close this we should improve the ci. Currently building images each times.

[2019-04-14 22:37] Kuqd commented on #660
yes it does !

[2019-04-14 22:43] Kuqd commented on #607
I'm wondering if the game server could handle this itself by shutting down after a given timeout.

[2019-04-14 22:54] markmandel commented on #607
I'm wondering if we (optionally) track player counts/ids per game server, we could have some kind of timeout to shutdown if allocated but no players connect after a certain period? (Also optional)

[2019-04-15 07:46] aLekSer commented on #329
@markmandel  Let me check that

[2019-04-15 11:36] aLekSer opened #705 "gen-api-docs make target is not generating API docs for GameServerAllocation"
Faced in #682.
There are bunch of errors while running `make gen-api-docs` from `build` folder, see them below.
Steps to reproduce:
1. git fetch https://github.com/GoogleCloudPlatform/agones.git pull/682/head:pr_682 && git checkout pr_682
1. `make gen-api-docs`

Expected:
`site/content/en/docs/Reference/agones_crd_api_reference.html` got updated.
Actual:
Only blank lines were added.

Current outpu

[2019-04-15 12:31] aLekSer commented on #705
@ahmetb Any idea how we can treat this issue?
I think the issue is that we use remote version of the go files instead of local one:
[code]
Also I found a script which is used by Knative. They have separate repo for the docs.
https://github.com/knative/docs/blob/3c04f86ad7b7f937ae552a1b93eca97a5d312449/hack/gen-api-reference-docs.sh

[2019-04-15 13:57] aLekSer commented on #705
As a workaround I found a way to replace dependencies to local modules:
[code]
It now updates the output html file.

[2019-04-15 14:23] aLekSer commented on #705
With mentioned above fix, no errors on `make gen-api-docs`:
[code]

[2019-04-15 16:32] roberthbailey commented on #703
Given the parenthetical statement about FleetAllocations, would it make sense to put them into the `allocation.agones.dev` group instead (so that they can be deprecated there leaving the agones.dev group more stable)?

[2019-04-15 16:40] markmandel commented on #703
Ideally - would totally love to. However, given technical constraints, allocation.agones.dev is controlled by an `APIService` (so we don't have to store the CRD results, and give us more control over the throughput), whereas FleetAllocations are still controlled by CRDs -- which are two approaches which can't be mixed.

We could move FleetAllocations to be no-storage APIService as well, so that th

[2019-04-15 17:37] ahmetb commented on #705
Yeah, I recommend creating a dir with go.mod, then doing `go mod download` (or I guess in your case you'll use `-replace` to refer to an existing package on the filesystem) and run the tool there.

[2019-04-15 18:52] aLekSer commented on #705
Thanks for your comment. So in our case only second approach with `go mod edit --replace`, cause we want to have docs before commit, so that we can include them along with the package change.

[2019-04-15 18:58] pooneh-m commented on #597
Based on the group naming suggestion in https://github.com/GoogleCloudPlatform/agones/issues/703, I am choosing GameServerAllocationPolicy, since the full name <plural>.<group> has multicluster in it
   -> gameserverallocationpolicies.multicluster.agones.dev

[2019-04-15 21:48] bramdutch0 opened #707 "Failed calling admission webhook"
I was going through the Quickstart: Create a Game Server tutorial and am getting an error when I run "kubectl create -f https://raw.githubusercontent.com/GoogleCloudPlatform/agones/release-0.9.0/examples/simple-udp/gameserver.yaml".

The error I'm getting is:
Error from server (InternalError): error when creating "https://raw.githubusercontent.com/GoogleCloudPlatform/agones/release-0.9.0/examples/

[2019-04-16 02:23] markmandel commented on #707
Thanks for submitting this issue. We're going to need some more information please:

 - What version of Kubernetes are you running?
 - What cloud provider are you running Kubernetes on?
 - What version of Agones are you running?
 - How did you install Agones?
 - Is there anything in the Agones controller logs? - https://agones.dev/site/docs/guides/troubleshooting/

[2019-04-16 02:25] markmandel commented on #695
I just installed @Kuqd 's updated - and I'm hitting:

[code]

When trying to generate the gRPC code. If the easy solution is to import the proto files into an appropriate location - I'm all in. Maybe they should be baked into our build image?

[2019-04-16 04:16] heartrobotninja commented on #695
Addressing the last three comments:

So there are two issues:

1. The protos were in the vendor directory which is not ok to do anymore. The grpc-ecosystem/grpc-gateway/third_party is not available via go modules. So whenever `go mod vendor` is run, anything that isn't imported / available via modules will get removed. Which is what you are running into with the build breaking.  This should be rem

[2019-04-16 14:08] markmandel commented on #695
Small side note - is there any _downside_ to adding `common_mounts += -v $(build_path)/.gomod:/go/pkg/mod` to the `build/Makefile` to cache the mod directory?

I think this would also be useful.

[2019-04-16 14:41] #705 closed

[2019-04-16 17:26] devjgm opened #713 "C++ SDK should follow Google Style"
The [C++ SDK](https://github.com/GoogleCloudPlatform/agones/tree/master/sdks/cpp) should following [Google's C++ style guide](https://google.github.io/styleguide/cppguide.html) and generally recommended coding conventions, such as https://abseil.io/tips/

Concrete next steps that I recommend:

1. Fix all formatting of .cc and .h files with `clang-format -style=Google ...`. Ideally, have a CI build

[2019-04-16 18:16] bramdutch0 commented on #707
Thanks for the reply!

**Version**
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.9-dispatcher", GitCommit:"e3f5193e8f1091a162af7e17a781e6a3129bcfd0", GitTreeState:"clean", BuildDate:"2019-03-28T18:13:46Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.8-gke.6", GitCommit:"394ee507d00f15a6

[2019-04-16 18:31] markmandel commented on #707
Looks like your RBAC permissions are not setup.

When you installed Agones - where there any errors? I wonder if your user had permissions to setup the service accounts?

[2019-04-16 18:53] roberthbailey commented on #703
If we update the api group name, we should also update other places that use the same string, such as the prefix used in the SDK for labels and annotations: https://agones.dev/site/docs/guides/client-sdks/#setlabel-key-value

[2019-04-16 18:56] roberthbailey commented on #713
/cc @dsazonoff

I'm partial to using Google's C++ style guide, but I would be happy if we specified any style guide and stuck with it (using one even if it isn't perfect is better than not using one). And if we want a style guide, picking one that has auto-formatting seems like a big win.

[2019-04-16 19:01] roberthbailey commented on #713
As per the second point, the [C++ SDK docs](https://agones.dev/site/docs/guides/client-sdks/cpp/#usage) say:

The C++ SDK is specifically designed to be as simple as possible, and deliberately doesn’t include any kind of singleton management, or threading/asynchronous processing to allow developers to manage these aspects as they deem appropriate for their system.

but I think it would be nice to

[2019-04-16 19:04] markmandel commented on #713
I personally don't have strong opinions here regarding C++, I'm happy to defer to those that do and have actual real experience with C++ (which I definitely do not have!)

[2019-04-16 19:50] bramdutch0 commented on #707
When I try to rerun the command to enable RBAC permissions (kubectl create clusterrolebinding cluster-admin-binding \

I get this output:
Your active configuration is: [cloudshell-26994]
Error from server (AlreadyExists): clusterrolebindings.rbac.authorization.k8s.io "cluster-admin-binding" already exists

I ran the commands as they appeared in the install guide (https://agones.dev/site/docs/insta

[2019-04-16 19:55] markmandel commented on #707
Are you sharing this cluster with anyone else?

What happens if you re-apply the install.yaml?

[2019-04-16 20:06] devjgm commented on #713
@roberthbailey thanks. I did see the C++ SDK docs. Keeping the implementation simple SGTM. I'm not suggesting anything to the contrary. I suggest fixing the memory leaks, but also there are generally accepted C++ best practices (e.g., http://abseil.io/tips, and the [C++ Core Guidelines](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md)) that I think the code should adhe

[2019-04-16 20:24] bramdutch0 commented on #707
For now I'm just using the cluster for personal use.

Here is the output when I tried to reapply the yaml:
bjectaccessreviews selfsubjectrulesreviews] [] []} {[get] [] [] [] [/api /api/* /apis /apis/* /healthz /openapi /openapi/* /swagger-2.0.0.pb-v1 /swagger.json /swaggerapi /swaggerapi/* /version /version/]}] ruleResolutionErrors=[]
Error from server (Forbidden): error when creating "https://raw

[2019-04-16 21:31] roberthbailey commented on #134
From the requirements in the initial issue comment, did anyone ever take a look into

and write up rationale for continuing to invest in the gRPC wrappers?

[2019-04-16 21:56] roberthbailey commented on #713
Adhering to best practices sgtm. I just want to make sure that we don't force any particular usage pattern upon the client.

@dsazonoff is in a different timezone so I think we should give him a chance to chime in before settling anything since he's been working on the C++ SDK.

[2019-04-17 00:08] devjgm commented on #713
SGTM.

Following the Google Style guide seems like it might be fairly uncontroversial, so I created https://github.com/GoogleCloudPlatform/agones/pull/716, which was autogenerated by `clang-format -style=Google ...`. I only formatted the sdk.{h,cc} files, not the files generated by protoc/grpc.

[2019-04-17 05:55] heartrobotninja opened #717 "Upgrade to Kubernetes 1.12"
The version of client-go we vendor is 8.0 and is deprecated per the k8s client-go [compatability matrix](https://github.com/kubernetes/client-go#compatibility-matrix). They use [semver rules](https://github.com/kubernetes/client-go#versioning) which means that we may have breaking changes in 9.0+ (but we also might not). We should investigate what it would take to bring us up to current, or as clo

[2019-04-17 05:59] heartrobotninja commented on #717
Another part of this is that if I vendor k8s.io/code-generator at its latest incarnation, I get an exception when running `make gen-crd-client` because the old client-go version uses glog, and code-generator uses klog (which is what should be used) and they use the same log_dir flag which results in this:
[code]

[2019-04-17 07:39] dsazonoff commented on #713
I think that it is good idea to have this check as a build step. It can be implemented much easier then commit hooks etc.
Your PR is OK, I'll add a build step to verify codestyle. The only one difference - we will use C++14 ([default in codestyle is C++11](https://github.com/google/styleguide/issues/429#issuecomment-456089989)).

I'll fix a leak.

So choice is (a) make these changes, and I'll add

[2019-04-17 16:24] devjgm opened #718 "sdk/cpp cmake build fails on Linux"
This issue came up during #713, but I'm moving the relevant details into an issue so it can be tracked separately.

My system:
*  Debian Linux, rolling release `#1 SMP Debian 4.19.28-2rodete1 (2019-03-18 > 2018)`
* cmake version 3.12.1
* grpc is not installed locally on my machine

Here are the commands I ran in this repo and the output:
[code]

[2019-04-17 16:28] devjgm opened #719 "sdks/cpp needs unit tests"
The C++ SDK needs some unit tests to show that it works, and to allow people to refactor the code with (some) confidence it won't be broken. The standard unit testing framework that I'd suggest is https://github.com/google/googletest

[2019-04-17 16:37] roberthbailey commented on #625
Should the GOPATH section of the build/README be removed (or updated) in light of this change or is is still necessary to install inside of GOPATH for IDE integration?

[2019-04-17 18:46] markmandel commented on #717
So the unwritten rule I've been following (we should make some kind of written rule), is that we've been updating the client as the next version of K8s has cloud penetration (which I've taken at available on EKS, GKE and AKS).

Usually there is breaking changes between each client-go version, but they tend to be relatively trivial to fix.

[2019-04-17 18:49] markmandel commented on #718
Seem like that should be called from within the Makefile that we use for testing?
https://github.com/GoogleCloudPlatform/agones/blob/master/sdks/cpp/Makefile#L25

@dgkanatsios  ?

[2019-04-17 19:44] markmandel commented on #707
Looks like there are issues with your cluster-admin role. Maybe try deleting it and re-adding it, and then try re-applying the index.yaml.

There should be no `Forbidden` items in the list.

[2019-04-17 20:09] markmandel commented on #329
Oops, missed your comment. I don't think so. I don't _think_ scale makes sense here. WDYT?

[2019-04-17 20:38] dsazonoff commented on #719
I'm working on it now in scope of #134.

[2019-04-17 20:44] dsazonoff commented on #134
@roberthbailey I think that we should continue to use gRPC, because it is possible to have connection with most languages (even js). Nginx already supports forwarding of grpc traffic. And it is possible to create some kind of proxy over grpc->http, but I don't see any real cases when we may need it. But I'm not good in this area.

[2019-04-17 21:18] dsazonoff commented on #718
For testing we are using sdks/cpp/Makefile, but it is very similar. It looks like gRPC was downloaded by CMake from git without updating submodules. But I'm not sure, take a look a bit later.
Tested both scripts on Mac, it works. Same as raw CMake.

@devjgm thanks for the feedback. Please, also add a version of git that you use.

[2019-04-17 22:58] pooneh-m commented on #597
I'll be adding a new field to GameServerAllocation to extend it for multicluster allocation.
[code]
By default the multicluster policy will not be effective for allocation. If MultiClusterPolicySelector is specified, multicluster policy is enforced per request.

There are two benefits to it:
  1) If cluster 1 forwards allocation requests to cluster 2 per multicluster policy definition, the multicl

[2019-04-18 11:21] aLekSer commented on #329
Yes, that would make things more complicated. So I will prepare adding a Status to Fleetautoscaler.

[2019-04-18 13:20] devjgm commented on #718
`git version 2.21.0`

[2019-04-18 15:44] markmandel opened #725 "Flaky Test: TestGameServerAllocationMetaDataPatch"
I've noticed that this test occasionally fails with the following result. But it only happens sometimes.

[code]

[2019-04-18 15:44] markmandel commented on #725
/cc @ilkercelikyilmaz any ideas?

[2019-04-18 15:47] markmandel commented on #725
Oh I think I know why! I figure the cache inside the controller has yet to catch up to the state in the K8s cluster. I can probably solve this with a `wait.PollImmeadiate()`. On it!

[2019-04-18 17:16] pooneh-m commented on #597
A list of multicluster policies are selected using ```PolicySelector``` per incoming allocation request. Policies are then ordered based on their priority and weight and the first policy in the ordered list is selected. Based on the policy, the allocation request is either handled locally or redirected to another cluster.

[2019-04-18 17:25] markmandel commented on #597
Oh neat - so it's more of a merge operation really - all the `spec.clusters` are merged into a single, sorted list based on weight. Nice! SGTM!

[2019-04-18 20:38] markmandel commented on #134
Was digging through community build steps - found this, thought it might be interesting:
https://github.com/GoogleCloudPlatform/cloud-builders-community/tree/master/windows-builder

[2019-04-18 21:54] markmandel opened #728 "NodeJS example needs a description in the README"
Context:
https://github.com/GoogleCloudPlatform/agones/tree/master/examples/nodejs-simple

There was some confusion about what this was an example _of_. We should have a description of it's purpose in the README.md.

Maybe something similar to what we see in the C++ example:
https://github.com/GoogleCloudPlatform/agones/tree/master/examples/cpp-simple

[2019-04-18 23:34] roberthbailey commented on #134
@dsazonoff - If the argument is about language support, then pretty much any language you'd encounter today will support sending an HTTP request. And since HTTP is a core part of the language, we don't need to worry about how well / long it is supported or compiler compatibility / etc.

On the *server* side, I'm all in favor of grpc and http endpoints both being exposed. The question was more alon

[2019-04-19 11:52] sylvainduchesne commented on #134
Both will work for the work, and admittedly HTTP is simpler to integrate. However, you need to poll for the GameSession status over HTTP, whereas that callback should come in automatically over gRPC.

Personally, I don't find that convenience to be enough to warrant integrating gRPC on the client, since most codebases will already have HTTP clients integrated.

[2019-04-19 17:00] bramdutch0 commented on #707
It turns out there was an issue with RBAC in GKE. This post helped me troubleshoot it if anyone else runs into this problem: https://github.com/coreos/prometheus-operator/issues/357

After that I got the yaml install file to run with no errors.

When I try to create the server described in https://agones.dev/site/docs/getting-started/create-gameserver/, I am getting the following error still:
Erro

[2019-04-19 17:04] bramdutch0 commented on #707
Here are the controller logs now, in case they still reveal a problem:
{"filename":"/home/agones/logs/agones-controller-20190419_164907.log","message":"logging to file","numbackups":99,"severity":"info","source":"main","time":"2019-04-19T16:49:07.337494067Z"}
{"ctlConf":{"MinPort":7000,"MaxPort":8000,"SidecarImage":"gcr.io/agones-images/agones-sdk:0.9.0","SidecarCPURequest":"30m","SidecarCPULimit"

[2019-04-19 17:07] markmandel commented on #707
I doubt there is an issue with the simple-udp example, as use it for demos and testing quite regularly. I expect your controller wasn't up yet when you pushed the yaml file.

Sounds like you have resolved the issue :+1: I'll close the issue for now. Please feel free to reopen if you deem it necessary.

[2019-04-19 17:07] #707 closed

[2019-04-19 17:09] markmandel commented on #707
If you are looking for the same howto in our documentation, it is here:
https://agones.dev/site/docs/installation/#enabling-creation-of-rbac-resources

(We likely should split this up by provider to make things easier though)

[2019-04-19 17:24] bramdutch0 commented on #707
Everything seems to be working fine with the tutorial. Thanks for your help!

[2019-04-19 18:07] markmandel commented on #491
We have this section here:
https://agones.dev/site/docs/installation/helm/#installing-the-chart

Does that mean we can close this ticket?

@jkowalski you wrote this section - wdyt?

[2019-04-19 18:20] markmandel opened #732 "Top Level Plan: 1.0 Release!"
This is a top level ticket for planning out what is required to be in a 1.0 release, keeping in mind that we want to release 1.0 at some point this year.

This is a sacrificial draft of how to manage the process. Please feel free to provide alternate opinions.

Breaking this down into two areas:

## Timeliine

Goal is to hit 1.0 in 2019. The earlier, the better.

## Functionality

I think the easi

[2019-04-19 18:21] markmandel commented on #732
/cc @thisisnotapril and @roberthbailey for your extensive experience in this area. Thoughts and feeling much appreciated.

[2019-04-19 22:17] roberthbailey commented on #732
It's also reasonable to say that agones is production ready at a smaller scale than we anticipate eventually supporting. As long as we are clear about what scale is supported (and provide api compatibility) we can make continuous performance and scalability improvements past the 1.0 milestone.

[2019-04-20 22:59] heartrobotninja opened #734 "Ensure memory leak fix in apimachinery wait.go fix does not get overwritten"
Turns out it is pretty easy to overwrite wait.go when dealing with modules.

[2019-04-21 02:39] heartrobotninja commented on #717
Can you comment on what backwards compatibility usually is like with the major version increases?

[2019-04-21 06:12] ilkercelikyilmaz opened #736 "Some Gameservers stays in Unhealthy state (instead of being deleted)"
When a Gameservers/Pods are being allocated and shutdown, some servers do net get deleted and stuck in Unhealthy state. This issue surfaces after few hours of load testing (see the snapshot below).
This adversely impacts the overall performance.

![image](https://user-images.githubusercontent.com/17522001/56466143-9029b080-63c1-11e9-99f9-554ec7c5ab5a.png)

[2019-04-21 21:42] #734 closed

[2019-04-21 21:58] markmandel commented on #717
Usually we upgrade because we want a latest feature - so backward compatibility has been less of a concern for us.

Moving forward, it's a tough question, as we only have https://github.com/kubernetes/client-go#compatibility-matrix to go by, which is not the most reliable thing in the world.

Realistically, we should run our own tests.

1.12 is meant to have some _very_ significant scheduling impr

[2019-04-22 01:56] heartrobotninja commented on #717
It looks like client-go still has no way to enumerate exactly what changed or broken if I am reading https://github.com/kubernetes/client-go/issues/234 correctly. I guess we need to answer the question: Does the e2e test coverage sufficiently exercise the client or do we need to write tests specifically for the go client?

[2019-04-22 16:38] markmandel commented on #736
Do we have an way to reproducing this int the repo? It doesn't seem to show up (afaik) in e2e tests. Maybe that something we should build a e2e test for and see if we can repro in that?

[2019-04-22 18:02] ilkercelikyilmaz commented on #736
I have a simple  load test where I can generate this only after few hours of execution so I am not sure if we can have a E2E test that can test/validate this.
BTW, I have a fix for this which I am validating right now. I will send a PR soon.

[2019-04-22 18:03] markmandel commented on #736
Very interested to see what the fix is!

[2019-04-23 11:58] aLekSer commented on #657
Next step as I see it is to modularize GKE cluster creation config and prepare such modules for other Cloud providers (can also be baremetal one or minikube to start with):
To accomplish next point:

[2019-04-23 15:57] #725 closed

[2019-04-23 18:18] markmandel commented on #703
Sounds like we have pretty decent consensus on this. I'm going to add this to the next milestone (and essentially the 1.0 roadmap -- as I think we need to complete any CRD changes before we go 1.0 and declare stability.

Please let me know if anyone has objections!

[2019-04-23 20:58] pooneh-m commented on #597
About the cluster to cluster connectivity, apparently, [service accounts are not forever](https://github.com/kubernetes/kubernetes/issues/70679). One way to solve the connectivity is to introduce allocation as a service that can call other cluster's allocation services directly instead of through API servers using pre-installed certificates. WDYT?

[2019-04-23 21:55] markmandel commented on #597
Not sure I understand the above tbh. Sounds like a re-architecting of how the kubernetes API is authenticated (if I read it correctly)? How does that impact connectivity? If kubectl can be used from outside a cluster, we should be able to do the same thing, no? (it all uses client-go, after all)

[2019-04-24 04:46] ilkercelikyilmaz commented on #736
Just sent a PR.

[2019-04-24 14:38] aLekSer commented on #718
I have tested that following set of commands works on Debian linux:
[code]

[2019-04-24 17:35] markmandel commented on #718
Sounds like we can close this issue?

[2019-04-24 19:37] devjgm commented on #718
No, I think there's still a problem.

1. `make` should not require root permissions, so if it does, that seems like a bug.
2. It still doesn't work on my machine. I just created a new docker container from the debian image. I installed g++ and cmake version 3.14.3. Then I ran

[code]
and the output is:
[code]

[2019-04-24 19:50] markmandel commented on #718
Curious - is your docker image able to access the internet?

[2019-04-24 19:55] devjgm commented on #718
yes. I also did `apt update; apt upgrade -y; apt install g++ cmake`, then the installed cmake was too old, so I installed it from https://github.com/Kitware/CMake/releases/download/v3.14.3/cmake-3.14.3-Linux-x86_64.sh

[2019-04-25 00:33] ChrisAntaki opened #743 "Quickstart: Create a Game Server"
Hey!

I'm following the [Quickstart](https://agones.dev/site/docs/getting-started/create-gameserver/) guide, and I ran into an issue with the "Create a GameServer" step. Here's the suggested command:
[code]

Then here's the error message I saw:
[code]

[2019-04-25 00:44] markmandel commented on #743
Such version of Agones do you have installed?

[2019-04-25 00:48] ChrisAntaki commented on #743
Looks like 0.8.1 - I just installed via `Google Click to Deploy` an hour ago

[2019-04-25 02:09] markmandel commented on #743
Use the top right dropdown to switch to the 0.8.x documentation 👍

[2019-04-25 02:10] ChrisAntaki commented on #743
Will do, thanks!

[2019-04-25 02:10] #743 closed

[2019-04-25 08:04] roberthbailey opened #744 "Proposal: Create an Agones operator"
## Proposal: Create an Agones operator

I'd like to suggest that we build an operator to manage the lifecycle of Agones. It's easy to install Agones today (using kubectl apply or helm) but I don't see any instructions for how to upgrade Agones between versions.

CoreOS has a nice writeup about operators [here](https://coreos.com/operators/), including a concise description of what an operator is:

[2019-04-25 18:24] roberthbailey opened #745 "Document the Security and Disclosure process for Agones"
We should document how to file security disclosures. @thisisnotapril mentioned that there was a brief mention somewhere but I didn't see anything on the agones.dev site in a quick search.

Strawman: Copy https://kubernetes.io/docs/reference/issues-security/security/ or https://istio.io/about/security-vulnerabilities/ and set up a mailing list to a limited distribution. The distribution should prob

[2019-04-25 18:35] roberthbailey commented on #649
This topic was discussed at the community meeting today ([notes](https://docs.google.com/document/d/1wbCU-wGy-_d5HawHJPTRP-dvL2h432cpcd4_SVp003o/edit#heading=h.a53ton7n5n5s)) and the consensus was that we should move to prow.

Since not everyone who wants to give input may have had a chance to attend the meeting, we are going to initiate a lazy consensus process now where we will start moving to p

[2019-04-26 00:37] pooneh-m commented on #597
Yes, we need a slight re-architecture to handle authentication for cluster to cluster allocation requests.

For match making service calling to an allocation service from a different cluster or for multi-cluster allocation scenario, we cannot store a service account token and assume it lasts forever. We cannot also assume customers can enable a [plugins](https://kubernetes.io/docs/reference/access

[2019-04-26 00:43] markmandel commented on #597
I have a strange emotional attachment to `GameServerAllocations` :man_shrugging: I feel like it's so nice to be able to do allocations with `kubectl` on the command line for testing and development etc. I'd like to have some more user input on that aspect.

I still like the idea of keeping them around, also because it's a nice in-cluster and/or developer experience -- but I totally get the reasoni

[2019-04-27 05:58] BradfordMedeiros commented on #728
So this is tangental to the issue , but a good place for it, some questions:
1. Are you sure you want to expose the client field externally ?  Seems like an implementation detail of the client, not something that should be publically accessible (best would be to solve via scope, but _ is fine too)

And

2. How do you close the connection?  Can you provide a top level close or something equivalent

[2019-04-27 18:24] markmandel commented on #728
Apologies - not sure this is the right place. Once the description has been added to the example, this ticket will be closed, and your questions will be lost for all eternity :smiley:

If there are improvement to the Node SDK itself, please file individual tickets for each issue :+1:, then they can be individually tracked and improved on (looks like this is two tickets - or maybe 2 PRs?)

[2019-04-28 05:01] ktong opened #749 "Allow no ports for GameServer"
We would like to leverage company's API gateway to provide https termination, authentication, rate limit, ip filter and more in front of game server which uses websocket (probably quic later) for communication. Our K8s cluster is private GKE, and has not public ip for nodes, and all traffic will route from API gateway.

Currently, ports expose game server using node ip and ports. The K8s cluster w

[2019-04-30 07:03] dav-otero opened #751 "Agones Getting Started Guide with Minikube uses wrong IP due to minikube bug"
**What happened**:
Following the [Installation](https://agones.dev/site/docs/installation/) and [Getting Started] (https://agones.dev/site/docs/getting-started/create-gameserver/) guide allows the user to have the simple-upd sample server up and running.

The problem is that the minikube reported Node IP for the game server is not correct and does not allow the user to connect  to the game server,

[2019-04-30 07:05] sowsem commented on #751
Result of __kubectl describe node__:
[code]

[2019-05-07 18:55] markmandel opened #759 "Release 0.10.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] `git checkout maste

[2019-05-07 19:05] markmandel commented on #138
Closing, as now we have #647 !

[2019-05-07 19:05] #138 closed

[2019-05-07 19:06] markmandel commented on #536
/cc @ilkercelikyilmaz @jkowalski how do we feel about closing this issue, given the performance we have now?

[2019-05-08 17:16] ilkercelikyilmaz commented on #536
I think this can be a good improvement but there is no urgency so we should keep it open. Not a blovker for 1.X though.
@markmandel , did you see my comment/findings on the recent change on PodList improvement?

[2019-05-08 18:40] markmandel commented on #536
Good call :+1: I've moved it off the next milestone, but leaving it open.

I did but hard to determine why that is happening - would be useful to have the performance testing suite in open source in some way, so we can all test things. Might be good to do CPU flame graph to see where the bottlenecks are.

[2019-05-08 19:02] markmandel commented on #597
@pooneh-m - just running a smoke test on the latest RC, noticed in the logs:
[code]

Looks like we need to add a RBAC permission :cry:

Doesn't affect functionality at the moment, but would be good to get a fix in while we're in feature freeze I think.

[2019-05-08 19:06] markmandel commented on #759
Done! :fire:

[2019-05-08 19:06] #759 closed

[2019-05-08 19:44] pooneh-m commented on #597
Thanks! I am on it.

[2019-05-08 20:08] ilkercelikyilmaz commented on #536
I ill try to check-in my load test in 0.11.

[2019-05-09 00:44] riimi commented on #695
I am tring to build agones on windows with wsl.
When I first tried to build, the following error occurred.
`docker: Error response from daemon: Mount denied:
The source path "$(build_path)/.gomod"
doesn't exist and is not known to Docker.`
I think the line `common_mounts += -v $(build_path)/.gomod:/go/pkg/mod` makes the error.

[2019-05-10 07:54] riimi commented on #718
I have the same issue. My system is windows with wsl ubuntu. I got the following error during make. `Error removing directory "/go/src/agones.dev/agones/sdks/cpp/.build/grpc/.src".
CMake Error at .subbuild/grpc/tmp/grpc-populate-gitclone.cmake:21 (message):
  Failed to remove directory:
  '/go/src/agones.dev/agones/sdks/cpp/.build/grpc/.src'

CMakeFiles/grpc-populate.dir/build.make:91: recipe for

[2019-05-10 20:53] markmandel commented on #718
Coming back to this -
We updated our cpp example to be a full docker build:
https://github.com/GoogleCloudPlatform/agones/blob/master/examples/cpp-simple/Dockerfile

Hopefully that will resolve some issues.

[2019-05-10 21:10] markmandel commented on #695
@riimi this sounds like a separate issue - can you file this as a separate bug, and we can track this as it's own issue? (I think I have an idea of _why_ this might be happening, but we don't have many Windows devs atm)

[2019-05-11 03:15] rorygarand commented on #679
I'll put in a PR for this. I'd really like to use npm for my project.

[2019-05-11 03:21] rorygarand commented on #679
Actually it looks like all that's really needed is access to Google's npm account. I'd love to help out if I can. Ping me if that's the case.

[2019-05-14 00:09] markmandel opened #765 "If GameServer webhook validation fails, it doesn't raise up to Fleet"
**What happened**:
Create a Fleet with an invalid GameServer specification - no error was returned, and no GameServer was created.

For example (container is in the wrong spot):

[code]

**What you expected to happen**:

Should return a validation error as soon as the Fleet is created - i.e. the Fleet shouldn't get created at all, and the user should get a message as to why.

**How to reproduce it

[2019-05-14 02:11] markmandel commented on #732
100% agree. So I would rewrite the above to be:

_Once 1.0 features are complete, performance testing will be completed, and the project will publish supported cluster sizes, fleet sizes and throughput metrics based on the current code base._

Works for me. Work for everyone else?

[2019-05-14 05:24] markmandel commented on #660
So here is a fun question I hadn't thought about that I came across while working on this.

If I create a `GameServerAllocation`, it currently only looks through `GameServers` that are in a `Ready` state.

Should `GameServerAllocation` search through `GameServers` that are both `Ready` as well as `Reserved` ?

Right now, I'm not changing `GameServerAllocation` as it's easier to add this functional

[2019-05-14 06:13] ilkercelikyilmaz commented on #660
I think the current allocation should only allocate from Ready (as default behavior). We should go over the life-cycle of the Reserved ones.We can extend the allocation to Reserved ones based on filters that are set in the request.

[2019-05-14 15:32] aLekSer commented on #765
I will make a pull request to fix this issue.

[2019-05-15 02:10] markmandel opened #769 "Release 0.10.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] `git checkout maste

[2019-05-15 18:22] rorygarand opened #773 "Self allocation in Node.js is not supported"
**What happened**:
The underlying node api has an allocate method that is not exposed to users of the sdk.

**What you expected to happen**:
SDK users should be able to self allocate.

**How to reproduce it (as minimally and precisely as possible)**:
Attempting to use:
[code]
would do nothing.

**Anything else we need to know?**:
I have an incoming PR to address the issue.

**Environment**:
- Agon

[2019-05-15 18:26] rorygarand commented on #773
related PR: https://github.com/GoogleCloudPlatform/agones/pull/774/files

[2019-05-16 02:19] markmandel commented on #679
Could we / should we use https://github.blog/2019-05-10-introducing-github-package-registry/ ?

Or should we have our own npm package? (I've no idea about this ecosystem)

[2019-05-16 02:44] markmandel commented on #736
@ilkercelikyilmaz I assume we can close this now?

[2019-05-16 02:53] markmandel commented on #624
@ilkercelikyilmaz can this be closed now as well?

[2019-05-16 02:53] markmandel commented on #695
Is this complete? Can we close this issue now?

[2019-05-16 02:55] markmandel commented on #491
Closing this now. We can reopen / create a new ticket if this comes up again.

[2019-05-16 02:56] markmandel commented on #483
@jkowalski can we close this ticket now? I feel like we have acceptable performance at this stage?

[2019-05-16 12:47] heartrobotninja commented on #695
Not yet. I have a second round of vendoring I will be doing for this, but I
don't have the time to get to it until next week.

*From: *Mark Mandel <notifications@github.com>
*Date: *Thu, May 16, 2019 at 4:54 AM
*To: *GoogleCloudPlatform/agones
*Cc: *heartrobotninja, Mention

Is this complete? Can we close this issue now?

--
Joseph DeStefanis
Google Inc.

[2019-05-16 15:42] rorygarand commented on #679
Interesting. That would definitely work, but in my mind it's more a question of how Google handles (or wants to handle) packages they maintain.

I'm not sure if it matters to anyone at any level whether developers install agones via:

[code]
vs.

[code]

[2019-05-16 16:35] aLekSer commented on #672
As I understand we should generate single GRPC/RestAPI client which would be calling SDK implementations one by one (each with unique hostnames). Nice approach which I found is to write golang declarative tests of the API:
[example](https://github.com/verdverm/pomopomo/tree/master/test/api)

[2019-05-17 01:08] markmandel commented on #679
I think we could have an agones specific account - we don't necessarily need to have it tied to google itself.

[2019-05-17 11:31] markmandel commented on #773
Closing now that #774 is merged.

[2019-05-17 11:31] #773 closed

[2019-05-18 08:50] markmandel commented on #717
Coming back to this as i was thinking about it more, as it looks like [1.13 is GA on GKE](https://cloud.google.com/kubernetes-engine/docs/release-notes#may_13_2019) although yet to be services on [EKS](https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html) or [AKS](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions)

I would say - probably the safest bet is

[2019-05-18 09:22] markmandel opened #783 "Packed Allocation is very not packed"
**What happened**:

* Cluster with 20 nodes for gameservers
* Create a Fleet with 100 GameServers
* Created 6 Allocations, and as you can see, they are almost all on different nodes:

[code]

**What you expected to happen**:

Gameservers should have been allocated to the same node (or at least as close as we can get given some performance constraints)

This is far less than ideal, as this will cos

[2019-05-18 09:22] markmandel commented on #783
/cc @ilkercelikyilmaz as this will likely impact your performance work

[2019-05-18 09:58] markmandel commented on #717
:man_facepalming: @roberthbailey -- you likely have a lot of insight here.  WDYT?

[2019-05-18 10:09] markmandel commented on #783
Just thinking about this statistically (Least I think I am - let me know if my math/logic is off here :smile: ).

If I remember/read the logic right - with the current model - which is definitely more aimed at throughput we:
- sort gameservers by the ones on nodes with the most number of gameservers first
- then grab the top 100 of that list
- then randomly select one in that top 100, until one al

[2019-05-19 01:27] rorygarand commented on #679
I'm agnostic about the approach. The github package registry is pretty neat but it is invite-only at the moment.

If adding to the npm registry is as simple as someone creating an account, I don't mind managing that.

Getting the project into either registry would make my life easier so let me know what I can do to help.

[2019-05-19 09:00] roberthbailey commented on #783
@markmandel - is this a regression from previous releases or just something that hadn't yet been tested?

[2019-05-20 13:24] aLekSer commented on #783
@markmandel I was thinking about the source of the problem and think that we should look for packedComparator() function enhancement.
If we got 4 nodes all with 30 gameservers, then we could select node with smallest `NodeName` all the time, when Ready and Allocated are equal. I have tested this approach in a small Unit test.
https://github.com/aLekSer/agones/commit/8f02f9cde385c1ce54199bb1b73e0f4

[2019-05-20 14:30] aLekSer commented on #783
Solution proposed above not fixed the problem, fleet is still not packed. Need to add logging to debug what is the root cause.
I was able to reproduce the problem on test-cluster with `examples/fleet.yaml`  and
[code]
where in `gameserverallocation.yaml` spec:
[code]

[2019-05-20 17:03] markmandel commented on #679
@thisisnotapril what's the common practice for this kind of thing? (storing account credentials for external repositories, etc?)

[2019-05-20 17:16] markmandel commented on #736
Closing. Can reopen if we need to.

[2019-05-20 18:01] #736 closed

[2019-05-20 23:04] markmandel commented on #783
@roberthbailey good question. It is a regression - but the [sacrifice was made to allow better throughput](https://github.com/GoogleCloudPlatform/agones/pull/583#discussion_r260093366). To be honest, I didn't realise it was quite this bad until I started poking at it now. (Lesson: write more tests :smile: )

For comparison, if we do the same things with `FleetAllocation` - which use the same logic

[2019-05-21 01:30] markmandel commented on #783
Taking a stab at this here: https://github.com/markmandel/agones/tree/perf/sorted-set - curious to see how the approach performs at scale once complete.

[2019-05-21 03:06] markmandel commented on #783
Arg, I forgot that we have the required/preferred selectors, doh!. My approach needs to be tweaked / may not work :disappointed:

[2019-05-21 16:02] markmandel commented on #624
Closing. Reopen if needed.

[2019-05-21 16:02] #624 closed

[2019-05-21 17:30] markmandel commented on #783
Revised plan - not 100% sure it's optimal for throughput + packing, but I think it's worth a shot - but also happy to hear dissenting opinions if you can see holes in the logic.

This is based on the assumption that the selectors for a GameServerAllocation are likely to not change very often, and generally work on large fleets - rather than very specific small groups (although this might work okay

[2019-05-22 16:27] markmandel commented on #769
Done!

[2019-05-22 16:27] #769 closed

[2019-05-22 16:28] #765 closed

[2019-05-22 18:39] pooneh-m opened #787 "Approver access for @pooneh-m"
### GitHub Username
pooneh-m

### Requirements
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have read the [contributor guide](../../CONTRIBUTING.md)
- [x] I am actively contributing to Agones
- [x] I have two sponsors that meet the sponsor requirements listed in the community membership guidelines
- [x] I have spoken to my sponsors ahead of this appl

[2019-05-22 18:45] Kuqd commented on #787
Yes please !

[2019-05-22 18:49] markmandel commented on #787
DONE! :man_cartwheeling:

Welcome @pooneh-m !!!

[2019-05-22 18:49] #787 closed

[2019-05-22 18:50] pooneh-m commented on #787
Thanks!

[2019-05-22 19:10] pooneh-m commented on #597
Here are the remaining work items for the allocator service:
- gRPC API.
- Load testing and moving allocation APIServer extention to allocator service if helps with performance.
- Convert allocation errors to meaningful http status (currently they are all 500 http status).
- Add retry logic for transient errors when calling cross cluster allocator endpoints.
- Cache allocation client.
- Add E2E te

[2019-05-22 21:41] jkowalski commented on #787
congratulations!

[2019-05-23 08:02] roberthbailey commented on #717
Does our use of client-go use any esoteric k8s api features? I'm trying to read really carefully through the [client-go versioning](https://github.com/kubernetes/client-go#versioning) and it seems like for the majority of features it's compatible almost across the board due to the backwards compatibility guarantees of k8s. If we are mostly using well established APIs, then I think we can be less c

[2019-05-23 08:43] roberthbailey commented on #751
If you run `kubectl get nodes - o wide` on a GKE cluster vs. a minikube cluster you can see that on the GKE cluster the columns for the internal IP and external IP of each node is populated while on the minikube cluster only the column for internal IP is filled in. Looking at the output of `kubectl get gs` on the GKE cluster I see the external IP for the node being used while on the minikube clust

[2019-05-23 09:00] roberthbailey commented on #398
@aLekSer - based on your last update, it sounds like Mark's guess above is likely correct: the problem occurs when the agones controller is down.

What I don't understand is why it wouldn't fix itself once the controller came back up. With a level triggered system (see thockin's nice presentation [here](https://speakerdeck.com/thockin/edge-vs-level-triggered-logic)) it shouldn't be an issue if a s

[2019-05-23 09:09] roberthbailey commented on #608
I was thinking something more along the lines of what @thisisnotapril did for issues in https://github.com/GoogleCloudPlatform/agones/pull/708. I find that having some default text (e.g. explain what the PR does, whether it fixes an issue, a release note, etc) can help people craft much nicer PR messages than just borrowing the git commit text.

[2019-05-23 09:13] dav-otero commented on #751
Sounds good! Cheers :y:

El El jue, 23 may 2019 a las 10:43, Robert Bailey <notifications@github.com>
escribió:

[2019-05-23 14:15] aLekSer commented on #398
@roberthbailey Not quite sure about the root cause for now.

[2019-05-23 15:53] markmandel commented on #717
Excellent points @roberthbailey -- I think the most "esoteric" features we use are subresources, which are pretty fully baked at this point and time.

I see this as two layers though:
1. Which version of client-go do we use?
1. What version of Kubernetes do we do most of our development against?

Regarding No.1 it seems like it mostly doesn't matter, as long as we stick with stable API surfaces.

[2019-05-23 16:23] aLekSer opened #792 "Add Events for common errors with Webhook FleetAutoscaler configuration"
**Is your feature request related to a problem? Please describe.**
It is hard to debug the Fleetautoscaler configuration.
When something goes wrong there is no error in could be seen in `FleetAutoscaler` events.

For example
Following the steps from the guide:
[Create Fleetautoscaler Webhook HTTPS](https://agones.dev/site/docs/getting-started/create-webhook-fleetautoscaler/#chapter-2-configuring-h

[2019-05-23 16:42] markmandel commented on #608
Oh nice! Yes - this sounds great!

[2019-05-23 16:51] roberthbailey commented on #683
@Oleksii-Terekhov - Someone in the Kubernetes community has written a CSI driver to do this (https://github.com/kubernetes-csi/csi-driver-image-populator) but I haven't personally tried it.

According to a friend in sig storage, the longer term plan is to extend the PVC DataSource field to support arbitrary external-populators so you will be able to mix and match data and volumes.

[2019-05-23 21:30] markmandel commented on #483
Going to close this ticket, as I think we've reached out goals here for now.

Please feel free to reopen if we need to.

[2019-05-23 21:30] #483 closed

[2019-05-23 21:32] markmandel commented on #717
Discussion from the community meeting today said that for near future:

1) We maintain 1 version of Kubernetes that we develop against and provide support for.
     1) Other versions may well work, but aren't actively tested against. So you may run into issues.
1) We work against n-1 of what is currently provided on AKS/EKS/GKE and that is our current baseline (so if each host supports 1.13, we ru

[2019-05-28 16:30] ilkercelikyilmaz opened #796 "Request to become an Approver on Agones"
GitHub Username
@ilkercelikyilmaz

- I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- I have read the contributor guide
- I am actively contributing to Agones
- I have two sponsors that meet the sponsor requirements listed in the community membership guidelines
 - I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application

[2019-05-28 17:39] markmandel commented on #796
LGTM! :+1:

@Kuqd you good too?

[2019-05-29 22:47] markmandel opened #799 "Fleet Rolling Update doesn't seem to be rolling"
**What happened**:

When updating a Fleet, it doesn't seem to do a rolling update, even when using a Rolling Update strategy. It seems like it deletes the entire old GameServerSet, then creates a new one at the original size.

**What you expected to happen**:

We should get a gradual rollout of shutting down a set of gameservers, while spinning up another set. Then it should wait for that to compl

[2019-05-29 23:26] markmandel opened #800 "Fleet scale down doesn't work after an update"
**What happened**:

After doing an allocation, then a gameserver update, scaling down the Fleet had no effect.

**What you expected to happen**:

The fleet should scale down when requested, at all times.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

This needs an e2e test to ensure it doesn't continue to happen.

**Environment**:
-

[2019-05-30 11:58] aLekSer commented on #800
@markmandel thanks for the detailed description, I will investigate this issue.

[2019-05-30 13:36] aLekSer commented on #800
Wrote E2E test with scaling from 1 to 3 , allocate server, update Fleet and scale down to 1.
Fixed one error with UpdateStatus() failing when ResourceVersion was outdated. Found only error on Gameserver Creation:
[code]
Need to find a root cause.

[2019-05-30 15:31] aLekSer commented on #800
I think that this behaviour caused by `rollingUpdateActive()` function, return of which (active GameServerSet.Spec.Replicas) is used as target number of replicas, not Fleet.Spec.Replicas:
https://github.com/GoogleCloudPlatform/agones/blob/e6d91905ccb400b534aca70d2927836ca4043cee/pkg/fleets/controller.go#L424

[2019-05-30 15:58] Oleksii-Terekhov opened #801 "Custom nodeAffinity for fleet"
**What happened**:
- write nodeAffinity for fleet
- try helm install custom helm chart
- got helm error
[code]
- remove affinity section
- success helm install

**What you expected to happen**:
- GS pod's with affinity

**How to reproduce it (as minimally and precisely as possible)**:
- add to any fleet
[code]

**Anything else we need to know?**:

**Environment**:
- Agones version: 0.8.1
- Kuberne

[2019-05-30 16:03] Oleksii-Terekhov commented on #801
trace:
[code]

[2019-05-30 16:10] markmandel commented on #801
Quick question, I assume error was on `kubectl apply` (or similar api command), not on `helm install` ?

[2019-05-30 16:13] markmandel commented on #801
Looking at the reference, looks like you are missing a `nodeSelectorTerms` under your `requiredDuringSchedulingIgnoredDuringExecution`

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#nodeselector-v1-core

[2019-05-30 17:37] Kuqd commented on #796
I'm definitively good too !

[2019-05-30 17:44] markmandel commented on #796
DONE. :tada: Awesome!

[2019-05-30 17:44] #796 closed

[2019-05-31 09:29] Oleksii-Terekhov commented on #801
- kubectl apply or helm install - both, (helm install) + (helm template+kubectl apply -f)

- my fault - in 1.11 absent "requiredDuringSchedulingIgnoredDuringExecution" without nodeSelectorTerms and not exist "requiredDuringScheduling**RequiredDuringExecution**"

Work fine with:
[code]

[2019-05-31 09:29] #801 closed

[2019-05-31 15:49] markmandel commented on #801
Awesome - glad you got it working!

[2019-05-31 18:36] markmandel commented on #732
Added a note about schedule, since it keeps coming up

[2019-06-01 09:03] aLekSer commented on #799
I think we should create empty new GS Set first and then it would be scaled in parallel with rest shutting down using this function `applyDeploymentStrategy`. So `Spec.Replicas` should be 0 to start with.
https://github.com/GoogleCloudPlatform/agones/blob/e6d91905ccb400b534aca70d2927836ca4043cee/pkg/fleets/controller.go#L306

[2019-06-03 18:26] dsazonoff commented on #718
@devjgm please, could you try to build this PR? - https://github.com/GoogleCloudPlatform/agones/pull/803

[2019-06-04 00:56] markmandel commented on #799
Which.. I think is what happens? Or at least, is what is supposed to. We create a second gsSet, then slowly scale that up while we slowly scale down the other one.

[2019-06-04 06:48] ksimir commented on #718
Just as a side note, I was testing to build that docker image of the cpp example from the **cpp-simple** folder and it wasn't working because it was pointing to a folder outside the context.

Using the following build command from the **agones** (root) folder, it worked.
docker build -t cppsample -f examples/cpp-simple/Dockerfile .

[2019-06-04 15:45] markmandel commented on #718
@ksimir true true, the [readme](https://github.com/GoogleCloudPlatform/agones/tree/master/examples/cpp-simple) needs updating. The `Makefile` takes care of this, but it's not explained anywhere :confused:

[2019-06-04 18:06] markmandel commented on #800
Fixed!

[2019-06-04 18:06] #800 closed

[2019-06-04 21:13] bbf opened #805 "apiserver role binding is referencing an invalid system account"
While updating the charts for Marketplace Click to Deploy support, I noticed that we are referencing a system account for the apiserver role binding that doesn't exist:

https://github.com/googleforgames/agones/blob/9a528f76f7c5b33d6fdffda79e188473e4fb58ed/install/helm/agones/templates/serviceaccounts/controller.yaml#L102

I have no idea why this is even working, but we should probably patch it to

[2019-06-05 15:20] pooneh-m opened #809 "Allocator service needs to get the namespace from input and not environment."
The allocator service is installed in the agones-system namespace. The current implementation is to get the [namespace](https://github.com/googleforgames/agones/blob/master/cmd/allocator/main.go#L56) from environment for creating gameserverallocation. It needs to be change to get the namespace from the request.

[2019-06-05 17:23] markmandel commented on #717
Looks like EKS is going to start hosting 1.13 [this month](https://aws.amazon.com/blogs/compute/updates-to-amazon-eks-version-lifecycle/), which once live, will mean we can move to 1.12

[2019-06-05 20:15] lftakakura commented on #799
Any update on this?

[2019-06-05 20:17] aLekSer commented on #799
Hello @lftakakura I am wokring on a fix. Will send draft PR in a moment.

[2019-06-06 19:24] #799 closed

[2019-06-07 20:28] #809 closed

[2019-06-10 13:59] aLekSer commented on #672
I make a draft proposal on how the system of harness test could look like:
https://docs.google.com/document/d/1Qjy-wXA1wsZB8PE_CP_GCgnyWktySm_ytZgRUZ2wtCo/edit?usp=sharing

[2019-06-10 23:26] markmandel commented on #672
Added a bunch of notes - PTAL

[2019-06-11 01:05] markmandel commented on #805
Closing this, as I think this has been solved.

For future reference, you can write `Closes #<num` on a commit message in github, to automatically close a backing issue.

https://help.github.com/en/articles/closing-issues-using-keywords

[2019-06-11 01:05] #805 closed

[2019-06-11 15:56] markmandel commented on #792
Can this be closed now?

[2019-06-11 15:58] markmandel commented on #37
I think this is actually good to close now. If anyone disagrees, please let me know, otherwise I'll close this next Monday.

[2019-06-12 09:01] aLekSer commented on #792
Yes, now it is much more clear what in configuration of `FleetAutoScaler` was broken.

[2019-06-12 09:01] #792 closed

[2019-06-12 17:32] #294 closed

[2019-06-12 17:59] #783 closed

[2019-06-14 17:06] pjayara-g opened #831 "Expose GameServer state change metrics"
I would like to know how long GameServers spend in a given state - for example how long does a game session last i.e. how long does it take to go from Allocated to Shutdown or how long does it take for a GameServer to become Ready. This is very helpful during deployments where a dramatic change might be a cause for concern.

I discussed this with @markmandel and we have two possible approaches:
1.

[2019-06-14 17:08] markmandel commented on #831
I expect @Kuqd might have some thoughts on this?

[2019-06-15 01:09] markmandel commented on #536
I think this can be closed now! if you have objections, please say so, otehrwise I will close on Tuesday!

[2019-06-17 17:18] markmandel commented on #246
Just merged a SDK 🎉. I think we should keep this open until we have an example in the repository as well. Sound good?

[2019-06-17 19:35] markmandel commented on #37
Closing!

[2019-06-17 19:35] #37 closed

[2019-06-17 20:00] pjayara-g commented on #831
@roberthbailey suggested watching game servers instead of events.

[2019-06-18 16:23] markmandel commented on #536
No response! Closing! :smile:

[2019-06-18 16:23] #536 closed

[2019-06-18 18:50] markmandel opened #841 "Release 0.11.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-06-18 23:49] markmandel commented on #841
Release complete!

[2019-06-18 23:49] #841 closed

[2019-06-20 00:20] markmandel commented on #831
Other thought - we are on v0.18.0 of OpenCensus. Not sure if a more up to date release would make this easier?

May be worth investigating?

[2019-06-24 17:52] markmandel commented on #660
I was digging into this more - from the design and the original version of `Allocate`  (and eventually `Reserve`) was to make it a synchronous operation with a 30 second timeout - the idea being to stop race condtions.

Looking at the code, I don't think this is a good idea. They should be async like `Ready` and `Shutdown`. Having some SDK functions that change status.state values are sync and som

[2019-06-25 16:21] markmandel opened #849 "Release 0.11.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-06-25 18:21] rennekon opened #851 "Sidecar occasionally fails to start up"
**What happened**:
Out of 10 gameservers in a new fleet, 3 never left the 'Scheduled' state. Further investigation revealed that the game server pod successfully started, however the agones sidecar logged an error.

After deleting the affected gameservers, new gameservers and sidecars do start up without any issue.

**What you expected to happen**:
If the sidecar of a gameserver fails to initializ

[2019-06-25 19:09] markmandel commented on #851
Can you provide an example of what your fleet.yaml looks like?

You aren't starting anything else that opens ports in you game server / any other sidecar containers?

[2019-06-25 19:48] rennekon commented on #851
Updated the original post with the fleet.yaml. No other side car containers, but the gameserver does have 3443, 1338, 443 and 80 exposed.

[2019-06-25 20:34] markmandel commented on #849
:dancer: Done!

[2019-06-25 20:34] #849 closed

[2019-06-25 20:42] markmandel commented on #851
Weird. I've never seen that before, ever.

Not sure we're tested on 1.13 at this stage (we're still on 1.11 at this stage, moving to 1.12 probably in this release or next now it has cloud penetration) - not sure if that is a factor? Does this happen on 1.11?

[2019-06-26 15:16] aLekSer commented on #851
I was trying to reproduce this with xonotic image:
[code]
By the way I found similar issue mentioned in Kubernetes repo but there is `Out of Memory` situation in which it occurs:
https://github.com/kubernetes/kubernetes/issues/69364

[2019-06-26 15:34] aLekSer commented on #728
This example was really useful to create my SDK harness test on Node JS.
Also note that license is missing also:
[index.js](https://github.com/googleforgames/agones/blob/master/examples/nodejs-simple/src/index.js)

[2019-06-26 18:28] pooneh-m opened #854 "Make gameserver-allocator and all its resources namespaced instead of being part of agones-system namespace"
**Is your feature request related to a problem? Please describe.**
gameserver-allocator is currently only deployed to agones-system namespace. If a user is deploying gameservices for different purposes in different namespaces, the allocation traffic for all gameservices comes through gameserver-allocator in agones-system. Ideally, there should be isolation between traffics to gameserver-allocator

[2019-06-27 15:27] markmandel commented on #246
@whisper0077 would you be willing to also submit your Unity example using the SDK to this project?

[2019-06-27 16:00] roberthbailey commented on #751
My minikube issue was a dupe and I've bumped https://github.com/kubernetes/minikube/issues/3416 which is where the feature is being tracked on that end. If this isn't fixed in minikube before our 1.0 milestone we will definitely update our docs.

[2019-06-27 16:47] markmandel commented on #703
Update on this - As you can see above, I did FleetAllocation, which was the easiest.

There is a PR #856 , to remoev FleetAllocation, which will make this easier.

I'm currently focused on #660 - so I'm not working on this at the moment, so if someone wants to jump in, please feel free. Happy to provide helpers for how to make these changes as well. (`make gen-cred-client` is probably the biggest

[2019-06-27 16:54] roberthbailey commented on #745
@thisisnotapril - This seems like low hanging fruit to finish before we cut 1.0. Thoughts?

[2019-06-27 16:55] roberthbailey commented on #657
@aLekSer - we have some terraform scripts now. Can you document what you think remains to close out this issue?

[2019-06-27 16:56] roberthbailey commented on #613
We discussed this issue during the community meeting today. Since we are planning on setting the default k8s version for the next agones release to 1.12 which has scheduling improvements it isn't clear how necessary this will be to do.

The next step is to do some performance testing to see if removing podaffinity gets us any speed improvements with k8s 1.12.

[2019-06-27 17:11] markmandel commented on #717
List of items to do for upgrading to 1.12

- [ ] Update e2e cluster to run against 1.12
   - [ ] Update deployment manage scripts (new version, also match the current size of the cluster)
   - [ ] Recreate cluster with new scripts
- [ ] Update the dev tooling to create 1.12 clusters
  - [ ] Minikube
  - [ ] Kind
  - [ ] GKE
- [ ] Update documentation for creating clusters to 1.12
  - [ ] Minikube

[2019-06-27 17:12] markmandel commented on #717
Hope you don't mind, I renamed this to "Upgrade to Kubernetes 1.12", and added it to the milestone, as discussed on the community meeting today.

[2019-06-27 17:33] heartrobotninja commented on #717
Not at all. I think that is a better title at this point and gives me something more actionable to work on in the coming month.

[2019-06-27 18:38] aLekSer commented on #657
As from the original message we probably going to skip next one, current gcloud utility way looks much smoother:

I would figure out todo list for this topic tomorrow.

[2019-06-28 03:42] whisper0077 commented on #246
@markmandel Ok, I will do it in a few days.

[2019-06-28 17:53] aLekSer commented on #657
I think what we should do next is to update Terraform we are using from 0.11.3 to [0.12](https://www.hashicorp.com/blog/announcing-terraform-0-12). Released this May.
Other than that I think we can close this Ticket and create one for updating Terraform in our build system.

Also what would be good to have is CRD deployment (but currently we have Helm for that) this feature was requested in https:

[2019-06-28 21:13] roberthbailey commented on #703
Another thing we discussed yesterday was promoting the APIs that we are going to commit to keeping stable from v1alpha1 to v1 prior to cutting a 1.0 release. Given that moving stable.agones.dev -> agones.dev will be easier once #856 merges I can start looking at changing the version of the ones that have already been split out first.

[2019-06-29 04:50] Cretezy opened #858 "-"

[2019-06-29 05:06] #858 closed

[2019-06-29 05:11] Cretezy opened #859 "Lightweight servers"
My game is very simple, which requires no world simulation. It's mostly a couple (up to ~12 players) connected to a lobby. Think of a card game.

I'm not too sure I understand some parts of the documentation and had a couple of questions:

- How lightweight is a "game server"? If the game server is very light, will it create multiple servers on a single node?
- When deploying an update, I assume i

[2019-07-01 02:55] edwardchuang opened #861 "Fail to pass Health Check on Agones + UE4 plugin"
**What happened**:
Put Agones plugin in a Unreal Engine game server but it failed to pass health check and results in a crashloop on GKE.

Game Server Log:

[2019.06.28-08.27.07:588][  0]LogAgonesHook: Initialized Agones Hook, Sidecar address: http://localhost:59358, Health Enabled: False, Health Ping: 5.000000, Debug: False

Agones Sidecar Log:

[code]

**What you expected to happen**:
Should be

[2019-07-01 16:33] aLekSer commented on #861
I have spent some time today to install Unreal Engine and test the plugin.
What I found out is that next statement is not valid:
[code]
https://github.com/googleforgames/agones/blob/29489777c8bd0f6e75b6e9c5b23536401f3e73c3/sdks/unreal/Agones/Source/Agones/AgonesSettings.cpp#L20
<img width="1048" alt="Agones Plugin Defaults" src="https://user-images.githubusercontent.com/5626814/60452278-dfe4ed80-9

[2019-07-01 16:49] markmandel commented on #861
It going to be interesting to work out how we can make Unreal (and Unity) pass our up and coming conformance tests for the SDK. Ideally this should catch things like this in the future.

[2019-07-01 16:50] markmandel commented on #861
@edwardchuang if you explicitly set the health check to be `true` - does it work then?

[2019-07-01 22:48] markmandel commented on #859
Thanks for the set of questions:

A gameserver is as heavy as you make it. We use the default Kubernetes scheduler, so if you want to dig more into this, I suggest going through some Kubernetes tutorials.

Have a look at this section: https://agones.dev/site/docs/getting-started/create-fleet/#7-deploy-a-new-version-of-the-gameserver-on-the-fleet

Call `SDK.Ready()`

I think that is game specific.

[2019-07-02 03:51] edwardchuang commented on #861
@markmandel working on repackaging the release, will keep posted.

[2019-07-02 05:41] Cretezy commented on #859
@markmandel

My game goes roughly like this:
- Server is created (`SDK.Ready()`?)
- Players join the lobby (should it `SDK.Allocate()` when the first play joins the lobby, or when the game starts?)
- Game starts (once enough players have joined/timer)
- Game finishes

My edge case is going from ready to allocated, to potentially empty. This would be the Ready state right?

[2019-07-03 03:59] edwardchuang commented on #861
@markmandel got a confirmation that everything works with Health Enable: true flag

[code]

Maybe we can consider it enable by default ?

[2019-07-03 04:16] markmandel commented on #861
Sounds like it was meant to be so from the outset. Since you are all setup to test that change, could you do it, and submit a PR?

[2019-07-03 09:27] YannickLange commented on #861
You can set it true by default if that is the preferred

[2019-07-03 11:44] aLekSer commented on #861
Now we have discrepancy in docs and actual code.

[2019-07-03 17:41] markmandel opened #868 "Need to Bump js-yaml from 3.12.1 to 3.13.1 in /sdks/nodejs"
2 js-yaml vulnerabilities found in …/nodejs/package-lock.json 28 days ago
Remediation
Upgrade js-yaml to version 3.13.1 or later. For example:

[code]
or…
[code]

[WS-2019-0032](https://github.com/nodeca/js-yaml/issues/475)
[WS-2019-0063](https://github.com/nodeca/js-yaml/pull/480)

[2019-07-03 17:42] markmandel commented on #868
/cc @KamiShepard @steven-supersolid - figure you might want to know about this, since you use this the most (I think)

[2019-07-03 17:59] markmandel commented on #861
#864 has been merged. I assume we can close this now?

[2019-07-03 22:02] roberthbailey commented on #491
I've moved the instructions to the installation page along with the example of how to do it on a GKE cluster. I don't have an easy way to test EKS / AKS and the directions don't apply to minikube which has only a single node.

How do folks feel about closing this (or moving it out of the 1.0 milestone)? Or if anyone can provide similar updates to configure EKS / AKS prior to the next release that'

[2019-07-03 23:57] roberthbailey commented on #717
I don't see it anywhere in the GKE release notes, but I just got an automated email saying:

which means that we should start working on this ASAP. If we don't switch the default kubernetes version on GKE, CI will soon break because we won't be able to create 1.11 clusters.

[2019-07-04 01:28] edwardchuang commented on #861
Yay! Thanks Mark!

[2019-07-04 01:28] #861 closed

[2019-07-05 00:38] #751 closed

[2019-07-05 02:42] hhuchzh opened #872 "how to transfer the game streaming to client side? use VNC or other protocol?"
how to transfer the game streaming to client side? use VNC or other protocol?

[2019-07-05 02:44] markmandel commented on #872
Sorry, I don't think I understand the question. Agones doesn't provide any streaming capabilities.

[2019-07-05 03:46] hhuchzh commented on #872
@markmandel
I mean how agones transfer the game's UI to client? and how client user transfer the  control command to game server? just use UPD protocol?

[2019-07-05 07:36] roberthbailey commented on #703
I also noticed that https://github.com/googleforgames/agones/blob/master/site/static/agones.cast will need to be updated when the group name changes since the output shows `fleet.stable.agones.dev`.

[2019-07-05 10:12] felixklauke opened #875 "Add Java SDK"
It would be awesome to add a Java SDK for Java based Games like Minecraft.

[2019-07-08 14:32] aLekSer commented on #672
I found an absence of new `Allocate()` method in Rust (fixed in a PR), CPP and Unreal Engine SDKs.
https://agones.dev/site/docs/guides/client-sdks/#allocate

[2019-07-08 20:58] roberthbailey commented on #717
More reason to do this soon: as per https://groups.google.com/d/msg/kubernetes-announce/AT5yB3FzDv8/gwfhI78RBgAJ 1.12.10 has just been released and it is

[2019-07-09 00:50] markmandel commented on #491
I was thinking about this - I think I would feel comfortable closing this, if the section

Was hosted up in the install section (or somewhere near it) at the top, rather than buried in the GKE section.

At least then we are explaining what needs to be done for all installations, but not providing examples (yet).

WDYT?

[2019-07-09 00:53] markmandel commented on #872
Sorry, I think you may be mistaken about Agones's capabilities.

May I suggest reviewing the [Overview](https://agones.dev/site/docs/overview/) documentation, or maybe watch one of the [presentations](https://agones.dev/site/docs/third-party-content/videos-and-presentations/)?

[2019-07-09 01:24] markmandel commented on #859
Personally, I wouldn't generally have my lobby system attached to the my game servers, I'd have it as a separate stateless system -- but that is just me, and may not fit your use case.

Allocated makes sure game servers can't be shut down, and that's a game specific decision. So if you gameservers with players in the lobby can be deleted, then you don't need to allocate.

It's not the same scenari

[2019-07-09 02:47] roberthbailey commented on #491
That sounds like a great idea. I'll send a PR over to move it up and slightly reword the GKE section to close this out.

[2019-07-09 10:07] TimoSchmechel opened #884 "C# SDK"
Would be great to have a C# SDK. Ideally this would support .NET Core, Framework and potentially also Unity.

I saw some discussion in #395 regarding using a C# client based on HttpClient in Unity. The idea was dismissed on the grounds of it not being supported for some platforms such as WebGL, I think it would still be worthwhile as most unity game servers will be targeting the Windows or Linux p

[2019-07-09 16:47] markmandel commented on #884
I don't think we should worry about Unity for the C# client - it has it's own client already, which has nice integrations with the editor and is a good experience for the Unity user.

The C# client is for modern C#, and therefore can be a gRPC implementation.

[2019-07-09 18:38] #491 closed

[2019-07-09 22:59] markmandel commented on #717
I'm starting on updating the `build` tooling to create a 1.12 GKE cluster first - mainly so that I can do some local testing to make sure everything still works on 1.12

[2019-07-09 23:09] roberthbailey commented on #717
I can also help with this, once I get a bit further along on #703.

[2019-07-10 16:01] markmandel commented on #872
I'm going to close this, as I think this is answered.

[2019-07-10 16:01] #872 closed

[2019-07-10 18:01] pjayara-g opened #892 "Update to opencensus v0.22"
This is from #831 . @markmandel suggested updating the version of opencensus. This bug is to track that.

[2019-07-10 18:07] roberthbailey commented on #657
Re Part 5, @markmandel and I were chatting about it and I think it would make sense to replace deployment manager with terraform (although it's perfectly reasonable to do that in a separate issue).

Right now we have declarative config for creating GKE clusters for testing with deployment manager in https://github.com/googleforgames/agones/tree/master/build/gke-test-cluster. And we have declarativ

[2019-07-10 18:08] roberthbailey commented on #657
Upgrading to 0.12 sounds great, since it adds some much needed syntax improvements (I noticed a bunch of places in your original PR where you'd put the 0.12 command in comments and across the board they are better).

[2019-07-10 18:33] rennekon commented on #851
Sorry for the delayed response here. We just rolled back to 1.11 [specifically 1.11.10-gke.5] on a new cluster and are still reproing the issue with the sidecar startup.

Notably, we've found that this issue does **not** occur if we disable GKE node pool autoscaling. Our new running hypothesis is that the error case may occur when new GameServers are allocated to a new node while it is still initi

[2019-07-10 18:37] aLekSer commented on #657
I need to compare deployment manager and terraform again to give more details of pros and cons of switching to later. Deployment manager is a bit faster as I remember.

[2019-07-10 18:53] markmandel commented on #851
That is fascinating. Not sure if it matters, but is this a regional or zonal cluster?

[2019-07-10 21:15] roberthbailey commented on #412
@markmandel - I see that this is marked as part of the 0.12.0 milestone (but it was also in 0.11.0, 0.10.0, 0.9.0, and 0.8.0). Is it part of the milestone optimistically (hoping for someone to finish it)?

Also, for @markmandel or @pm7h - can you summarize what we think remains for this task? I know that @ilkercelikyilmaz has another test harness that does some load testing that maybe falls under

[2019-07-10 21:22] roberthbailey commented on #412
Reading through the other issues in the 0.12.0 milestone, I see that this is referenced from the top level plan for the 1.0 release, which at least partially answers my questions [here](https://github.com/googleforgames/agones/issues/732#issuecomment-492051467):

[2019-07-10 22:55] roberthbailey commented on #717
@heartrobotninja - I think you said in Slack you'd be back tomorrow so I've left you the harder task of updating client-go. :)

[2019-07-11 12:52] aLekSer commented on #657
We have a check for password length to be over 16 chars as validation step and currently Terraform does not support this.
https://github.com/hashicorp/terraform/issues/15469

[2019-07-11 17:08] roberthbailey commented on #657
@aLekSer - starting with GKE 1.12 we are going to disable basic auth (and client cert auth) so we shouldn't need the password check any longer.

[2019-07-12 17:44] pm7h commented on #412
I think the main remaining item is providing automation and dashboards for running these tests.

[2019-07-12 19:48] dsazonoff commented on #718
@devjgm #803 should solve this problem, it is already merged. Could you check it in your build environment, please?

[2019-07-12 20:38] heartrobotninja commented on #717
I am beginning the work on this now.

[2019-07-12 23:37] daplho opened #901 "gameserver-allocator: helm chart is missing tolerations"
While installing agones with helm, I discovered that the `gameserver-allocator` is missing tolerations. Thus the component can only run on untainted nodes.

[2019-07-12 23:42] markmandel commented on #901
/cc @pooneh-m for visibility

[2019-07-13 00:00] daplho commented on #901
PR here: https://github.com/googleforgames/agones/pull/902

[2019-07-13 16:44] devjgm commented on #718
Yes, it worked. Some comments that would have made it a little easier.

1. Add some build instructions to the README.md file. I saw a Makefile, so I typed `make`, and I guess that worked.

2. The cmake files say they require version 3.13.0, which is newer than most Linux distros come with. Requiring only cmake 3.5.0 should be fine would work on pretty much all distros.

[2019-07-13 19:01] devjgm opened #905 "sdks/cpp needs unit tests"
**Is your feature request related to a problem? Please describe.**

The C++ code in sdks/cpp/ doesn't have any unit tests, so there's no way to verify that an of it works. This makes it difficult for anyone to contributed a change/fix to the code base, because there's no way to prove that the code works (before or) after the change.

**Describe the solution you'd like**

All the C++ files in sdks/

[2019-07-13 19:18] devjgm opened #906 "sdks/cpp should not include generated C++ code for protos it doesn't own"
**What happened**:

The sdks/cpp package contains protoc-generated files for protos that this project does not own. For example, annotations.pb.h and http.pb.h (https://github.com/googleforgames/agones/tree/master/sdks/cpp/include/google/api). The corresponding `.cc` files are included as well.

This is a problem because it will lead to ODR (One Definition Rule) violations as soon as a customer us

[2019-07-13 20:13] markmandel commented on #905
Yes please! We definitely need someone with C++ experience to write this 👍

[2019-07-13 20:16] markmandel commented on #906
So from my perspective, nobody else should every new using the proto _and_ using the SDK at the same time. In an ideal world, the user has no idea is even grpc.

Is there a circumstance in which the user would end up using both?

[2019-07-13 21:31] devjgm commented on #906
You're correct that users may not know this is grpc. The problem is that this project is including the source for classes that it doesn't own.

For example, Agones includes https://github.com/googleforgames/agones/blob/master/sdks/cpp/include/google/api/http.pb.h, that is the `google::api::Http` class (and friends). So any user who links with Agones will also be getting a definition of `google::ap

[2019-07-13 22:27] markmandel commented on #906
Ah yes, that's an excellent point. That being said, given that the http elements are only used server side - if we can make a strategy to remove them for the client side SDK, would that solve the problem?

[2019-07-13 22:53] devjgm commented on #906
Yup! I think that'd even be the ideal solution, because it would simplify the client-side SDK as well.

[2019-07-14 13:09] dsazonoff commented on #906
In #803 we introduced a full build of proto/grpc. So now it is possible to generate code with cmake commands like `protobuf_generate_cpp` and `grpc_generate_cpp`. And we can get rid of [gen.sh](https://github.com/googleforgames/agones/blob/master/build/build-sdk-images/cpp/gen.sh) which doesn't work on windows.

[2019-07-15 08:33] aLekSer commented on #657
ok, I will apply all your comments soon.

[2019-07-15 17:16] roberthbailey opened #909 "Should we rebase images from alpine to gcr.io/distroless/static ?"
Kubernetes has moved to using gcr.io/distroless/static for most base images (see https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md#implementation-history). We should investigate whether it makes sense to move from alpine to gcr.io/distroless/static for Agones.

[2019-07-15 17:41] daplho commented on #901
here is a new pull request with the correct identity: https://github.com/googleforgames/agones/pull/910

[2019-07-15 18:35] pooneh-m commented on #901
Thanks @daplho.
@markmandel it seems like there are test coverage missing for this case? Do you have any thoughts on how we could we detect it sooner?

[2019-07-15 23:25] markmandel commented on #906
gen.sh is important because its part of our overall SDK toolkit. C++ can't be a unique snowflake. The development tools already rely on WSL for windows, so I don't think that is an issue.

The next million dollar question is what's the best way of getting rid of the server code from the generated gRPC code? (I've not had time to dig into it yet)

[2019-07-15 23:28] markmandel commented on #901
Ooh! That's a good question. So right now the e2e cluster doesn't actually have a nodepool split between system components and gameservers - it's just one big default nodepool.

So I see two options, basically as addition to e2e tests:
1. Create a nodepool specifically for everything in `agones-system`. Write an e2e test that checks that ever pod in `agones-system` namespace is in the right nodepo

[2019-07-16 03:25] roberthbailey opened #912 "Building the rust sdk leaves untracked files"
**What happened**:  Running `make build` results in

[code]

**What you expected to happen**: No untracked files after running a build

**How to reproduce it (as minimally and precisely as possible)**: `make build`

**Anything else we need to know?**:

I'm wondering if these files should be inside of the agones-build-sdk-rust docker image instead of on my host machine. Alternatively, they could be

[2019-07-16 03:27] roberthbailey commented on #745
Right now if you file a bug, it mentions that if it's a security issue it should be disclosed privately but doesn't say where to report it:

From https://raw.githubusercontent.com/googleforgames/agones/master/.github/ISSUE_TEMPLATE/bug_report.md

[2019-07-16 10:20] dsazonoff commented on #906
gen.sh for C++ SDK may be empty, because it's logic will be moved to cmake

[2019-07-16 12:20] aLekSer commented on #912
The problem with leaving files after make build is in command `make run-sdk-command-rust COMMAND=build` the image itself is built and have an access to build-sdk-images folder. Only when we run bash script `build` from this image we have an access to Agones repo root.
I think making I could divide build.sh into to parts -  one for `make build`, another for SDK conformance test related build steps.

[2019-07-16 15:17] roberthbailey commented on #912
I noticed that the nodejs sdk leaves around similar files. Will your approach help for that as well?

[2019-07-16 15:50] markmandel commented on #912
Any reason to not add these to .gitignore? Seems like the simplest solution?

[2019-07-16 16:50] roberthbailey commented on #912
The reason I was thinking to put them into the build image is that it looked like if I deleted them and re-ran the build they needed to be recreated (and weren't stored in the docker image) which slowed down the build, so I thought that maybe they should be kept with the build artifacts.

But as I mentioned above, `.gitignore` is definitely a way to fix the issue.

[2019-07-16 18:52] roberthbailey opened #914 "Approver access for @roberthbailey"
### GitHub Username
e.g. @roberthbailey

### Requirements
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have read the [contributor guide](../../CONTRIBUTING.md)
- [x] I am actively contributing to Agones
- [x] I have two sponsors that meet the sponsor requirements listed in the community membership guidelines
- [x] I have spoken to my sponsors ahead o

[2019-07-16 18:53] roberthbailey commented on #914
FYI, https://github.com/googleforgames/agones/blob/master/docs/governance/community_membership.md says to label the issue with the `meta` tag but prior to having commit access to the repo that isn't actually possible (which is something I hope to be able to fix with prow).

[2019-07-16 18:53] markmandel commented on #914
A big yes from me! :+1:

[2019-07-16 18:55] Kuqd commented on #914
Yes, Welcome aboard !

[2019-07-16 19:01] markmandel commented on #914
Done!

[2019-07-16 19:01] #914 closed

[2019-07-16 19:38] aLekSer commented on #912
Thanks for the comments,
Currently the build.sh which we have actually does not create some binary practically useful, this is the test scenario of SDK conformance test. That's why I think better way would be not touch them at `make build` step and run in a following sequence of make targets:
1. build
1. run-sdk-conformance-test SDK_FOLDER=rust
1. clean all artificats
 I reflected my idea in the P

[2019-07-17 08:12] roberthbailey commented on #511
e2e tests are getting slow again.... tests on PRs are now consistently taking >40 minutes. We need to look at what is taking the most time and then we can decide what to try and optimize.

I've generated a graph of the build step dependencies for our cloudbuild:

![buildgraph](https://user-images.githubusercontent.com/7751204/61358760-e75be780-a82f-11e9-9634-fd43894de372.png)

in case that helps.

[2019-07-17 08:17] roberthbailey commented on #690
It would be nice to write this up before 1.0, since I think it's something we'd want to highlight as we announce that the project is stable and ready for production use.

[2019-07-17 08:18] roberthbailey commented on #713
I think that this was finished by #855. @devjgm did you have any follow up actions. I can say from personal experience that if you forget to clang-format the .cc / .h files the presubmits will let you know.

[2019-07-17 08:23] roberthbailey commented on #719
This is a dupe of https://github.com/googleforgames/agones/issues/905 and since that one has more details, I'm going to close this one and use it as the canonical issue.

[2019-07-17 08:23] #719 closed

[2019-07-17 11:29] dsazonoff commented on #713
FYI, it is possible to specify [`cmake <...> -DAGONES_CLANG_FORMAT=ON`](https://github.com/googleforgames/agones/blob/master/sdks/cpp/CMakeLists.txt#L214) option to force code reformatting as a pre-build step for local development. I didn't put it in documentation, because it's a very rare case when it may be necessary. Usually IDE handles code formatting.

[2019-07-17 17:33] markmandel commented on #511
`make build` is now 20+ minutes to run. This is likely also a large culprit.

[2019-07-17 19:11] roberthbailey commented on #703
Remaining work: go through all of the examples and see if they need to have new container images created with the sdk changes.

[2019-07-17 20:02] roberthbailey opened #917 "Process for pushing container images to gcr.io/agones-images"
As discussed in https://github.com/googleforgames/agones/pull/894#issuecomment-512096030 (and the comment following) we should create a more formal process for updating the container images in the `agones-images` project, especially those used in the e2e testing and examples.

[2019-07-18 16:04] #912 closed

[2019-07-18 16:07] markmandel commented on #660
Remaining work (I have done it, but am slowly feeding it through the PR queue):
- [ ] E2E tests for Reserve
- [ ] Reserve GameServer lifecycle diagram
- [ ] Update GameServer state diagram to include Reserve

[2019-07-18 16:34] markmandel commented on #246
I think we can close this now! Fire any objections you may have, otherwise, I will close this tomorrow.

Great stuff!

[2019-07-18 20:32] markmandel commented on #732
## 0.11 :arrow_right: 0.12
- Ideally all breaking changes and features will be implemented before the 0.12 release
- This essentially becomes a release candidate, and we go into feature freeze at this point.

## 0.12 :arrow_right:  0.13
- Time between 0.12 and 0.13 would then be spent writing more tests, docs, performance testing, etc

## 0.13
- This would be the actual 1.0 release.

## Risks
- We

[2019-07-18 23:37] markmandel opened #927 "Missing SDK Functionality across languages/engines"
We have a variety of SDK functionality, but it isn't implemented across all languages and engines.

This is a work-list of SDK functionality that still needs to be implemented, so we can track it in a single place.

## C++
- [x] Allocate()
- [x] Reserve(seconds)
- [x] Conformance tests

## Node.js
- [x] Reserve(seconds)

## Rust
- [ ] Reserve(seconds)

## Unity
- [x] GameServer()
- [x] Reserve(sec

[2019-07-19 16:00] markmandel commented on #246
No objections! Closing!

[2019-07-19 16:00] #246 closed

[2019-07-22 04:59] markmandel commented on #703
Is there anything left on this? I think this is done and can be closed now?

[2019-07-22 09:39] roberthbailey commented on #703
See the above comment - I'm going through the examples to make sure that they work and updating container images in `agones-images` where necessary.

[2019-07-22 10:56] roberthbailey opened #935 "Unable to build the rust-simple example"
**What happened**: Unable to build the rust-simple example.

**What you expected to happen**: Build completes successfully.

**How to reproduce it (as minimally and precisely as possible)**: `cd examples/rust-simple; make build-image`

**Anything else we need to know?**: Here's the last bit of output from docker where the build fails:

[code]

This may be related to https://github.com/googleforgam

[2019-07-22 12:48] aLekSer commented on #935
I found this documentation.
It seems that we need to add `Cargo.lock` as we use docker with a binary https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Also I will prepare a fix of rust version in a `rust-simple/Dockerfile`.

[2019-07-22 17:06] #935 closed

[2019-07-23 04:34] markmandel commented on #660
So the base functionality of this is now complete.

The remaining item is support for all the languages/engines. How do we feel about closing this ticket -- wait for the SDK functionality to be finished, or create a new ticket for the missing (which we have in #927 .

Thoughts?

[2019-07-23 07:33] roberthbailey commented on #660
I'm ok tracking the remaining work in #927 (and it's broader than this issue).

[2019-07-23 07:41] roberthbailey commented on #717
@aLekSer - do you think you'd be able to update the AKS instructions to create clusters using Kubernetes 1.12?

[2019-07-23 07:44] roberthbailey commented on #854
It looks like the helm install put the allocator service and deployment into the `.Release.Namespace` (see https://github.com/googleforgames/agones/blob/master/install/helm/agones/templates/service/allocation.yaml) but that when it gets rendered into https://github.com/googleforgames/agones/blob/master/install/yaml/install.yaml that the namespace turns into agones-system everywhere.

Are you seein

[2019-07-23 07:47] roberthbailey commented on #713
Thanks @dsazonoff for that hint. I've just been manually formatting the code as I modify the C++ files since my IDE isn't configured to do it correctly.

As per my last comment, I'm going to close this issue. Feel free to reopen if there is any remaining work to be done.

[2019-07-23 07:47] #713 closed

[2019-07-23 07:48] roberthbailey commented on #718
Can this issue be closed out now that we only require cmake 3.5? @devjgm - do you want to add any extra instructions to the README before we close it out?

[2019-07-23 09:11] roberthbailey opened #938 "Rust SDK does not wait for connection to be ready"
**What happened**: rust-simple doesn't work on a GKE cluster

**What you expected to happen**: gameserver to transition to Ready

**How to reproduce it (as minimally and precisely as possible)**: Run the example code from my pending PR: https://github.com/googleforgames/agones/pull/937

**Anything else we need to know?**:

**Environment**:
- Agones version: master branch (pre-0.12.0)
- Kubernetes

[2019-07-23 09:48] aLekSer commented on #717
Yes, I will upgrade Terraform configurations to a new version of Kubernetes.

[2019-07-23 09:54] roberthbailey commented on #938
A couple of thoughts:

1. The constructor in the Rust SDK shouldn't be calling `Ready` since gameserver should have control over it's own state transitions (and may not be immediately ready)
1. It might make sense for the constructor to instead make a `Health` call and use that to block until the sidecar is ready using a CallOption with `wait_for_ready` and a `timeout` of 30 seconds.

[2019-07-23 12:53] aLekSer commented on #717
Updated to 1.12.8 the latest 1.12 supported in this PR

https://github.com/googleforgames/agones/pull/899

[2019-07-23 15:11] aLekSer opened #939 "Fleetautoscaler - one fleet can be controlled by two Fleetautoscalers simultaneously"
There is an ability to create multiple Fleetautoscalers for the same Fleet which could lead to some misbehavior and this scenario should be validated and rejected on create and update.

**What happened**:
Create one fleet and two Fleetautoscalers with different parameters - one with `Buffer = 2`, another with `Buffer = 5`.
In this configuration Fleet turned out in an infinite loop scaling from 2 t

[2019-07-23 15:17] aLekSer commented on #939
Also fleetName should not be allowed to be updated.
[code]

[2019-07-23 15:35] aLekSer opened #940 "GameServerSet validation on Update - able to point GameServerSet to another Fleet"
It is allowed to change label in GameServerSet to point into another fleet.
[code]
Old fleet it was pointing at would create a new GameServerSet.
**What happened**:
Create two fleets `simple-udp` and `simple-udp2`.
Update one GameServerSet of a fleet simple-udp2 to a fleet `simple-udp` using labels["agones.dev/fleet"].
New GameServerSet was created and two GameServerSet becomes managing fleet `sim

[2019-07-23 15:36] aLekSer commented on #940
Also it is allowed to update label in GameServerSet to nonexistent Fleet.

[2019-07-23 16:14] aLekSer commented on #938
@thara can you please help on this ticket?

[2019-07-23 17:20] pooneh-m commented on #854
Thanks. So right now we have an agones-system namespace for controllers and the gameservers CRDs are in any customer defined namespace. What I am proposing is that allocator service and its service accounts should be in the same namespace as gameservers.

[2019-07-23 17:49] roberthbailey commented on #854
Wouldn't that move the allocator service away from the other controllers, since they would still be in the agones-system namespace?

This also implies that we would expect (require?) that customers install multiple allocator services into their cluster. Right now the install allows you to create gameservers in arbitrary namespaces once you've installed agones, but this change would mean that at in

[2019-07-23 18:12] thara commented on #938
Thanks for your mention. I try to reproduce this in my free time.

I agree with the suggestion.
I seem to have misread Go implementation when I wrote the SDK.

It might be good to add a method into Rust SDK like `SDK::Connect` in C++ one.

[2019-07-23 18:19] roberthbailey commented on #938
I don't know the rust idioms to know if that makes more sense. The go sdk does the (blocking) connection in the `NewSDK` function. The nodejs sdk also doesn't have a blocking connect afaict.

[2019-07-23 19:27] roberthbailey opened #941 "C++ SDK: Use const-reference in WatchGameServer"
From https://github.com/googleforgames/agones/pull/934:

We should consider changing the function signature of

[code]

Since this would be a breaking change to the CPP SDK, I'm marking this for milestone 0.12.0 and we should resolve to do this (or leave it) ASAP.

@devjgm

[2019-07-23 19:35] roberthbailey commented on #941
@Kuqd / @markmandel - thoughts?

[2019-07-23 20:23] roberthbailey opened #942 "CI testing should catch compile errors in the example code"
One way to do this would be to have CI actually run e2e tests that execute the example code (as we do for the simple-udp server). But at minimum we should make sure that the code compiles.

I've recently run across a couple of examples of this:

1. In https://github.com/googleforgames/agones/pull/934 I pushed a change with a typo (`book` instead of `bool`), but the build on that hash succeeded. Ru

[2019-07-23 21:27] markmandel commented on #941
I've no Singh opinions. I basically wrote the C++ SDK as a sacrificial draft. Very happy to defer to opinions that have more C++ experience than me.

[2019-07-23 22:05] roberthbailey opened #943 "Move nodejs example to a docker build"
Right now the nodejs example requires installing nodejs and npm locally on your machine. It would be nice if it could be build / tested without any additional local development tooling, leveraging docker containers like other examples (and the sdks).

[2019-07-24 00:19] devjgm commented on #941
A couple questions:

1. Does the `GameServer` argument to the callback need to be mutated? Or could it be `const`?
2. Is `GameServer` a small and cheap type that is most efficiently passed by value?

Depending on the answers to the above, I'd suggest a signature like:

[code]

[2019-07-24 00:29] roberthbailey commented on #941
1. My understanding is that it should not need to be mutated as changes to it would not be reflected back into k8s (so mutating it would only be confusing).

1. I'm not sure where the cut-off is for small/cheap, but `GameServer` is a generated proto type, so I'm guessing the answer would be no.

[2019-07-24 00:45] markmandel commented on #941
I can't think of any reason you would want to mutate the gameserver

[2019-07-24 00:49] markmandel commented on #938
From memory, I had to have the C++ `Connect` function just because of how C++ did grpc. I think it's better to avoid that, if possible in the other SDKs, as it's a bit of a smoother developer experience.

[2019-07-24 02:34] markmandel commented on #854
Technically, you have to do this now anyway, as we have to configure service account in the supported namespaces for gameservers for the SDK.

I'm personally not seeing the need for this extra complexity - but I know @pooneh-m has a strong opinion on this :smile:

To @roberthbailey 's point - does that mean we should be looking at separate controllers per namespace as well? This feels slightly cou

[2019-07-24 02:35] markmandel commented on #940
I don't know if this is a priority. If users decide to mess with this stuff, isn't it really up to them to determine if they are playing with fire or not? :man_shrugging:

I don't think we need to control every edge case for the users.

[2019-07-24 02:42] markmandel commented on #939
We covered this in [previous issues](https://github.com/googleforgames/agones/issues/406). I feel very strongly that Fleet name should definitely be allowed to be updated, and point at non existent fleets. This is why we made it so that if the fleet doesn't exist, it creates an event as such.

I'm wondering how much we want to cover all edge cases for the user. From memory we set an event on the F

[2019-07-24 02:42] markmandel commented on #660
Agreed. I will close this issue, and we can track the rest on #927 :+1:

[2019-07-24 02:42] #660 closed

[2019-07-24 02:49] markmandel commented on #859
Closing this as I think this is answered, but let me know if we need to be reopened :+1:

[2019-07-24 02:49] #859 closed

[2019-07-24 03:00] markmandel opened #946 "Allocator service doesn't stay in the agones-system nodepool"
**What happened**:

[code]

**What you expected to happen**:

All of the allocator pods should be in the `agones-system` nodepool.

**How to reproduce it (as minimally and precisely as possible)**:

Install Agones. do a `kubectl get pods -o wide --namespace=agones-system`

if it doesn't happen first time, delete some of the allocator pods, and see them eventually end up in the default nodepool.

*