[2017-12-07 21:37] markmandel opened #1 "Gopkg.toml should use tags not branches for k8s.io dependencies"
See: https://github.com/googleprivate/agon/blob/master/Gopkg.toml#L27-L33

Switch to using all release branches (which is just client-go that needs to change) Technically using a mixture of tags and branches is not supported (although it does seem to work).

Also, code-generator now has vendored dependencies - we can fix the Dockerfile as well and not run codegen from HEAD. e.g. https://github.com

[2017-12-07 21:39] markmandel opened #2 "Consolidate `Version` into a single constant"
There are several instances of a `Version` around the go code. It would be good to refactor this into a single constant that is shared across each binary (controller, sidecar).

[2017-12-07 21:42] markmandel opened #3 "Make controller SchemeGroupVersion a var"
It would be nice if the SchemeGroupVersion on line:
https://github.com/googleprivate/agon/blob/master/gameservers/controller/controller.go#L247

Was a var at the top of the controller. Saves it being recreated on each run through.

[2017-12-07 22:20] markmandel opened #4 "Upgrade to alpine 3.7"
There's a new version. Probably worth upgrading :smile:

[2017-12-07 22:26] markmandel opened #5 "`gcloud docker --authorize` make target and push targets"
For a nicer experience on GCP, write a `make` target that mounts the appropriate docker config files for `gcloud docker --authorize-only`, and then we can add a series of `push` commands for the controller and sidercar images that use the standard `docker push` commands.

Mean you can do a `make gcloud-docker-auth build push` and all the new versions up on the repository.

[2017-12-07 22:55] markmandel opened #7 "C++ SDK"
Need to generate the C++ SDK from gRPC and provide the wrapper for it.

First discussion on this states that only the source code needs to be provided, and not any compiled .dlls.

[2017-12-07 23:04] markmandel opened #8 "Mac & Windows binaries for local development"
For the sidecar binary, generate Mac and Windows binaries for local development

This should include:
- [x] a new build target specifically for this
- [x] update to the `make build` target to include the new target
- [x] Update the development quickstart to include a note about this being built
- [x] docs on running the sidecar for local development

[2017-12-07 23:06] markmandel opened #9 "Default RestartPolicy should be Never on the GameServer container"
Unless otherwise specified, the GameServer container shouldn't restart by default.

[2017-12-07 23:10] markmandel opened #10 "GameServer definition validation"
Currently there is no validation on a GameServer

Once Kubernetes 1.9 is available on GKE, this can be implemented in the master branch.

We will likely need a combination of CRD validation, as well as webhook validation on creation and mutation.

## List of validations

- Container should refer to an existing container in the PodTemplateSpec, optional if only one container is defined otherwise ma

[2017-12-07 23:43] markmandel opened #11 "Health Check for the Controller"
The controller currently needs a [liveness http check](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request), and a restart if it fails.

So we'll need to add a /healthz HTTP handler somewhere in:
https://github.com/googleprivate/agon/blob/master/gameservers/controller/controller.go

I expect we'll likely need to run the http

[2017-12-07 23:43] markmandel opened #12 "Sidecar needs a healthcheck"
The sidecar needs a health check, and a restart if it fails.

This would likely be a HTTP health check, so will need to run the http server in it in it's own goroutine.

Controller version was implemented in #34 - check there for reference.

[2017-12-08 00:20] markmandel opened #13 "Continuous Integration"
Need a system that does continuous integration.

This has been built with Cloud Builder + Cloud Functions. This means to view the CI, people will need to be given IAM access to the console to view cloud builder and the artifacts.

The code for the CI system hooks/glue code has been left closed source, but could be open sourced in the future. The cloudbuidler.yaml is in the root of the Agon reposit

[2017-12-08 00:34] markmandel opened #14 "Dynamic Port Allocation on Game Servers"
When `portPolicy` is set to `dynamic` then the controller should select the `hostPort` for the GameServer container when the GameServer is created.

My current theory is to have a `PortSelector` as part of `gameservers/controller` (so they can share cache/informers) that:
- is passed the range of ports it can create ports in
- creates a `[]PortSelections`, where `PortSelection` is a `map[int32]boo

[2017-12-08 00:45] markmandel opened #15 "Game Server health checking"
# Design

## Health Configuration
[code]

## SDK API

`SDK.Health()`

The `Health()` function on the SDK object ill need to be called regularly below the `timeout` threshold time to be considered healthy.

## Failure

1. If any of the backing Pod containers fails for any reason before the GameServer moves to `Ready` then, it should restart as per the `restartPolicy` (which defaults to "Always")
1.

[2017-12-08 02:31] markmandel opened #16 "SDK + Sidecar implementation"
SDK and Sidecar for the SDK to talk to. Using [gRPC](https://grpc.io) to generate the vast majority of the code for multiple languages.

First SDK will be in Go, as it doesn't require a different toolchain, and is easy to prototype.

See #7 for the C++ SDK design.

[2017-12-08 02:54] markmandel opened #17 "Use a single install.yaml to install Agon"
Simplify the install process by having a install.yaml in the root of the directory that installs both the CustomResourceDefinition and the Controller.

This makes installation and uninstall really simple through `kubectl apply -f` and `kubectl delete -f`

Also make some documentation about installation please.

[2017-12-08 02:57] markmandel opened #18 "Example using Xonotic"
Create an example using [Xonotic](http://www.xonotic.org) so that we can see a real game playing via Agon.

Instead of changing the source code, let's cheat slightly and create a Go binary that calls `Ready()` on the SDK, and execute that in a bash script before starting the Xonotic server.

[2017-12-11 19:32] markmandel opened #19 "Tag agon-build with hash of the Dockerfile"
Make the version tag of the `agon-build` image to be the hash of the Dockerfile. Right now it is `0.1` and if the Dockerfile every changes, it has to be manually rebuilt.

With the hash of the Dockerfile, if the Dockerfile ever changes, then it will automatically rebuild on each invocation.

This will also lend itself nicely to image caching when doing CI/CD

[2017-12-11 22:59] markmandel opened #21 "Base Go Version and Docker image tag on Git commit sha"
Depends on:
- [x] [Consolidate `Version` into a single constant #2](#2)
- [x] [`gcloud docker --authorize` make target and push targets #5](#5)

Make the Version Makefile variable the first the first a number value (0.1-) + the first 7(?) characters of the Git hash for the deployed version.

This should be passed into the Go compilation as `ldflags -X` to overwrite it' value.
This should also be u

[2017-12-13 00:48] #16 closed, assigned to markmandel

[2017-12-13 00:53] #17 closed, assigned to markmandel

[2017-12-13 01:17] #18 closed, assigned to markmandel

[2017-12-13 18:24] #1 closed, assigned to nobody

[2017-12-13 18:48] #19 closed, assigned to nobody

[2017-12-13 19:50] #5 closed, assigned to nobody

[2017-12-13 20:18] #2 closed, assigned to nobody

[2017-12-14 00:57] markmandel opened #28 "Remove the entrypoint from the build-image"
We so rarely call kubectl directly, remove it from the `build-image/Dockerfile`

Then go through the Makefile and switch to the standard CMD `docker run` pattern instead.

[2017-12-14 01:13] #21 closed, assigned to markmandel

[2017-12-14 21:39] markmandel opened #30 "Agon should work on Minikube"
1. Make sure this actually can install and work on minikube
1. Need some development on minikube instructions
1. Write a deploy to minikube instruction manual?

[2017-12-18 19:52] markmandel opened #32 "Record Events for GameServer State Changes"
There is a mechanism to record major events for days structures.

We should record explanatory events for each state change for a GameServer.

You can see examples of the API for recording events in the `sample-controller` repository
https://sourcegraph.com/github.com/kubernetes/sample-controller@46b5d73382781350b6fbea86410615fd03792059/-/blob/controller.go#L84:2$references

[2017-12-20 23:50] markmandel opened #33 "Handle SIGTERM in Controller"
Currently the controller doesn't shutdown gracefully on SIGTERM.

It should do that.

There is https://github.com/googleprivate/agon/blob/master/gameservers/controller/main.go#L90
But it doesn't seem to work?

[2017-12-20 23:56] #11 closed, assigned to dzlier-gcp

[2017-12-22 21:30] #7 closed, assigned to markmandel

[2017-12-23 00:26] #8 closed, assigned to markmandel

[2017-12-24 07:10] markmandel opened #37 "End to End test"
Write a end to end test - possibly, using make and kubectl, or maybe use code - what is the best option?
- installation
- Creating a GameServer
- Connecting

Will likely need to both check that a connection works with the go sample (edit to send a message via a flag, rather than stdin), but also will need to check the C++ sdk works as well.

I din't think there are any e2e integration test librari

[2017-12-26 01:21] #13 closed, assigned to nobody

[2017-12-26 17:09] markmandel opened #39 "Convert `ENTRYPOINT foo` to `ENTRYPOINT ["/path/foo"]`"
This is why we couldn't pass arguments to the controller and sidecar.

This should be switched to using the array notation (which is actually preferred)

Review the sidecar - look to convert to flags rather than environment variables.

[2018-01-03 00:19] #14 closed, assigned to markmandel

[2018-01-03 02:18] #3 closed, assigned to nobody

[2018-01-03 18:42] #39 closed, assigned to nobody

[2018-01-04 20:35] markmandel opened #45 "Write documentation for creating a GameServer"
There should be documentation on writing a gameserver, this should include:

- [ ] a reference for the gameserver.yaml
- [ ] a step by step "creating your first gameserver" (most likely using the [simple-udp](https://github.com/googleprivate/agon/tree/master/examples/simple-udp) example]

[2018-01-05 21:40] #33 closed, assigned to nobody

[2018-01-05 23:44] markmandel opened #46 "Building Agones on macOS"
This should work, now that the build process has been tested on Windows.

This is a high level ticket for discussing and designing solutions for these issues, and resolving them.

## Testing

To test follow the guide here:
https://github.com/googleprivate/agones/blob/master/build/README.md

[2018-01-05 23:47] markmandel opened #47 "Building Agon on Windows"
Out of the box, Agon will not build with Windows.

I expect best effort will be to force people to use WSL to do this (which I don't think is too onerous)

Even with WSL, I expect that some of these will break, especially the minikube development workflow.

This is a high level ticket for tracking these issues, and resolving them.

## Docker
May need to create a $DOCKER env var that switches to do

[2018-01-07 00:22] #30 closed, assigned to markmandel

[2018-01-07 07:01] markmandel opened #49 "`make gcloud-auth-docker` fails on Windows"
Top level bug: #47

<details>
<summary>
<code>markmandel@DESKTOP-BDM5UCP:/c/Users/Mark/Documents/workspace/agon/build$ make gcloud-auth-docker</code>
</summary>
<pre>
mkdir -p /c/Users/Mark/Documents/workspace/agon/build//.kube
mkdir -p /c/Users/Mark/Documents/workspace/agon/build//.config/gcloud
sudo rm -rf /tmp/gcloud-auth-docker
mkdir -p /tmp/gcloud-auth-docker
cp ~/.dockercfg /tmp/gcloud-auth-

[2018-01-07 16:58] #49 closed, assigned to markmandel

[2018-01-08 19:36] #12 closed, assigned to dzlier-gcp

[2018-01-09 05:20] #9 closed, assigned to markmandel

[2018-01-09 15:37] cyriltovena opened #54 "Running windows game server"
Game production usually works on windows first then port to linux eventually at the end of the development. Having windows support would help the adoption rate.

What does it takes to run a windows game server ?

- We should find a way to detect that the game server resource is windows ? May be a resource parameter ?
- Does windows support sidecar concept ? Apparently from [here at the bottom](htt

[2018-01-11 01:36] #32 closed, assigned to markmandel

[2018-01-11 20:37] markmandel opened #57 "Switch to RBAC"
At some point in the next few released of Kubernetes, the default support for allowing all level access to the entire cluster for all Pods will go away, so we should switch to [RBAC](https://kubernetes.io/docs/admin/authorization/rbac/) at some point in the near future.

Also, this is better for security.

[2018-01-17 16:51] markmandel opened #60 "Support Cluster Node addition/deletion"
Need to ensure that when the Cluster is grown / shrunk, this is handled gracefully.

- Port Allocation will need a workerqueue for node deletion, in case the master goes down.
- Fleets will solve the issue with non-allocatable gameservers due to port exhaustion/issues. They will be marked as Unhealthy, and then retried later.

[2018-01-17 19:10] #47 closed, assigned to nobody

[2018-01-22 21:41] cyriltovena opened #62 "The local mode of the agon sidecar listen to localhost only"
When a game developer want to test his build locally, he has to build the sidecar via go and run it locally on the machine so it listen to localhost.

But we could just allow to change the listen address when we are in --local mode or listen on any address.

If so developer could just use :

[code]

And start testing their SDK integration.

/cc @markmandel

[2018-01-23 05:38] markmandel opened #63 "Upgrade to Go 1.9.3"
Go just released version 1.9.3

https://golang.org/doc/devel/release.html#go1.9.minor

Nothing too major, but would be good to upgrade at some point.

[2018-02-04 02:08] #15 closed, assigned to markmandel

[2018-02-04 03:26] markmandel opened #70 "GameServer Fleets"
# Design

## Description
Fleets are a group of warm servers that are available to be allocated to players when needed.

In Kubernetes parlance, they are the `Deployment`/`ReplicaSet` to Pods, but for `GameServer`s

## Features

- Be able to define a `Fleet`, with an attached `GameServerTemplate` (much like a `PodTemplate`)
- The Fleet ensures there is always `replicas` number of Healthy `GameServe

[2018-02-04 04:50] #62 closed, assigned to markmandel

[2018-02-04 05:43] #63 closed, assigned to nobody

[2018-02-04 07:11] #4 closed, assigned to nobody

[2018-02-09 03:44] cyriltovena opened #83 "Why does the controller code is inside pkg ?"
I'm not a go expert but I'd like to understand why the controller.go is in the pkg folder. From what I've read this is your public packages ?

Thanks in advance !

[2018-02-09 06:08] #83 closed, assigned to nobody

[2018-02-10 18:42] #28 closed, assigned to nobody

[2018-02-10 23:09] markmandel opened #87 "Add archiving the sdk-server binaries into gcs into the cloudbuild.yaml"
We [compile SDK binaries](https://github.com/googleprivate/agones/blob/master/build/Makefile#L134) for linux, windows and macOS - we should add archiving them in google cloud storage into the [cloudbuild.yaml](https://github.com/googleprivate/agones/blob/master/cloudbuild.yaml) file.

[2018-02-10 23:18] markmandel opened #88 "Health check should be moved out of `gameservers/controller.go`"
Since we'll have mulitple controllers because of #70 - we should move the health [http check out of controller](https://github.com/googleprivate/agones/blob/master/pkg/gameservers/controller.go#L135) into somewhere central.

It may also make sense to have some kind of ability for a controller to respond to a health check (a controller registry perhaps?) for the /healthz endpoint.

[2018-02-11 17:00] markmandel opened #89 "Namespace for Agones infrastructure"
Should the controller and associated for Agones run under an `agones-system` (or similar) namespace?

Motivated because we'll need a `Service` and need to specify the namespace for webhooks for `MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration`

[2018-02-12 18:50] #89 closed, assigned to markmandel

[2018-02-13 00:24] #46 closed, assigned to micah-gcp

[2018-02-13 18:07] #57 closed, assigned to dzlier-gcp

[2018-02-13 18:29] markmandel opened #93 "Creating a Kubernetes Cluster quickstart"
Need a quickstart on creating a cluster that matches our supported requirements (1.9+, RBAC)

We could also take the command line instructions from:
https://github.com/googleprivate/agones/blob/master/build/Makefile

Istio does a nice job of this:
https://istio.io/docs/setup/kubernetes/quick-start.html

[2018-02-20 18:33] enocom opened #97 "Add .editorconfig to ensure common formatting"
See [here](http://editorconfig.org/).

Or, we could simply add details to `CONTRIBUTING.md`.

[2018-02-22 04:46] Kuqd opened #101 "YAML packaging"
Looking at the big install.yaml file and all the configurations possible, I think it would help people to provide a way of packaging YAML files.

Possible variables:
- namespace
- service account names
- MIN_PORT
- MAX_PORT
- images version (for later)
- RBAC on/off ???

The default variable should reflect the current install.yaml.

We should also update the documentation to add installation step

[2018-02-23 17:48] dzlier-gcp opened #104 "Use functional parameters in Controller creation"
The constructor for Controller in controller.go is becoming unwieldy and has the potential to be error-prone as more parameters are added.

Go makes use of [functional parameters](https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis) in a similar way that some other languages use Builders. We should consider doing so as well to help readability as more developers start working o

[2018-02-25 02:22] #10 closed, assigned to cyriltovena

[2018-02-26 17:13] alexandrem opened #110 "Support Agones sidecar Windows build"
Windows 1709 supports LCOW (linux container on Windows) and sharing the pod with linux and Windows containers side-by-side. Containers also share the same network namespace.

This would allow deploying Agones on a Kubernetes Windows node with the main game server in a Windows container.

However, this requires Hyper-v with nested virtualization. This makes deployment options more complicated, eith

[2018-02-27 00:41] markmandel opened #115 "`make do-release` target"
Need a make command that:
- Runs all the tests
- Sets the version to the `base_version` (i.e. `0.1`)
- Generates images for that version
- Pushes them up to `gcr.io/agones-images`
- Archives the c++ sdk dll (for that version)
- Archives the sdk sidecar binary (for that version)
- Puts the archives in the project root for upload to github releases

[2018-02-27 17:25] enocom opened #116 "Add liveness check to `pkg/gameservers/controller`."
[Original Context](https://github.com/googleprivate/agones/pull/98#issuecomment-368082197).

[2018-02-27 17:26] #88 closed, assigned to nobody

[2018-02-28 03:11] #87 closed, assigned to markmandel

[2018-03-01 19:18] #115 closed, assigned to markmandel

[2018-03-02 17:38] #45 closed, assigned to cyriltovena

[2018-03-03 06:33] cyriltovena opened #128 "CONTRIBUTING.md is missing a link"
The contributing  documentation is missing a link  :
- [How to write a good Git Commit message](How to Write a Git Commit Message)

Which link did you wanted to use ? this one https://chris.beams.io/posts/git-commit/ ?

@markmandel

[2018-03-03 19:14] #128 closed, assigned to nobody

[2018-03-05 21:00] #93 closed

[2018-03-08 18:08] markmandel opened #134 "C++ SDK Cross compilation and testing"
## Problem

Our current support for low dependency, cross compilation for the C++ SDK is very poor. Things work on Linux, because of `make` and not much else. We also have no tests.

Right now, the C++ SDK is built on top of [gRPC](https://grpc.io/), which may be adding too many dependencies to be used in a valuable way across platforms?

Code is here: https://github.com/GoogleCloudPlatform/agones

[2018-03-08 18:11] markmandel opened #135 "C++ SDK compilation and libraries for macOS"
We currently compile static and dynamic libraries for Linux, we should do the same for macOS.

Code is here: https://github.com/GoogleCloudPlatform/agones/tree/master/sdks/cpp

## Requirements
- A build system that works on macOS
- Automation of this build system that creates and archives the libraries for each PR

## Research
https://circleci.com/build-environments/xcode/osx/
https://docs.travis-

[2018-03-08 19:24] SurferJeffAtGoogle commented on #134
[CMake](https://cmake.org/) is the defacto standard for building C and C++ code across platforms.

[2018-03-08 20:16] markmandel commented on #134
Totally happy to have this rewritten with CMake (or whatever is appropriate) - I totally bashed this together with the help of someone with (somewhat?) more C++ experience than me, and this is an ecosystem I am very much not familiar with.

[2018-03-08 21:23] Kuqd commented on #134
/cc @sylvainduchesne

[2018-03-13 17:35] digitalfiz opened #138 "Integration with Unreal Engine"
Unreal Engine has an Online Subsytem that provides an abstraction layer for game developers to build sessions and match making in a standardized way.

It would be awesome if there was a plugin for Agones that added subsystem integration so it can easily be used in Unreal.

https://docs.unrealengine.com/en-us/Programming/Online

[2018-03-13 17:39] markmandel commented on #138
Good note from chat - we should have blueprint support as well.

[2018-03-13 18:00] justinliew commented on #138
What sort of Blueprint support would you envision? In my experience implementing an Online Subsystem specifically for an Agones server should be sufficient (ie. the OSS would talk to the sidecar and then provide all the required functionality/hooks required for the server).

[2018-03-13 18:02] markmandel commented on #138
I'll defer to @digitalfiz on this one. My Unreal experience is very minimal - but something I want to change. So would be great to have some direction from all of you.

[2018-03-13 18:05] digitalfiz commented on #138
You may be correct @justinliew. Technically by integrating with the online subsystem you get quite a bit of built in blueprint support. Maybe all the blueprint support that is needed? AT this point I don't know enough about all of Agones functionality to know if anything more is needed.

[2018-03-13 18:27] justinliew commented on #138
Blueprints are meant for scripting, and typically used by designers or programmers who are implementing gameplay mechanics, level mechanics and the like. I can't think of any obvious reasons those users would need any Agones support. Possibly I'm missing something, but I'd say the less networking you need to expose to Blueprints, the better.

[2018-03-13 20:18] fire commented on #138
A usecase for blueprint support integrating with Unreal Engine and back-ends is defining the statistic generated when attached to blueprint code. For instance an artist prototypes when you want to count the specific choice made in a conversation tree. See the conversation popularity ranking in the game Dreamfall Chapters.

Another usecase is the typical steps of joining a matchmaking lobby, being

[2018-03-13 21:07] justinliew commented on #138
I'd argue that the first case shouldn't touch anything Agones deals with, though. That sounds like something that would be sent via a REST call to a service.

The second point I agree might have some Blueprint hooks, although I would strongly urge the actual matchmaking state machine/stages be done in native (C++) code, as there are a ton of edge cases that Blueprints are error prone at handling.

[2018-03-13 21:15] digitalfiz commented on #138
On the first note I think that is covered under the online subsystem as maybe user cloud, shared cloud or leaderboards?

On the second point matchmaking is built into the online subsystem so again not much more to do unless you wanted to extend what is possible over the built in matchmaking functionality.

https://docs.unrealengine.com/en-US/Programming/Online/Interfaces/Session

The more I think

[2018-03-13 21:18] justinliew commented on #138
Sounds good. I haven't worked with the sessions stuff as it appears it was done to plug holes in the lack of Steam support, which I never needed.

[2018-03-13 22:08] markmandel commented on #70
Currently working on `GameserverSets` (the `Fleet` version of `ReplicaSets`) on my [fork over here](https://github.com/markmandel/agones/tree/feature/gameserverset). Will finalise, and then submit for PR before doing the Fleet work that overlays this work.

[2018-03-13 22:36] justinliew commented on #70
I'm very interested in this, as we never did our "fleets" using Kubernetes APIs. Rather, we had a separate service that monitored our pods and did our warming up, scaling up and down, and what not. At the time I wasn't as familiar with K8s as I am now, so I may have come up with something closer to your approach if I did it again.

[2018-03-14 15:22] markmandel commented on #116
@enocom mind if I edit this ticket to include the full details? Just in case anyone else happens to want to pick this up? (Unless you want to expand this out, since I know you had ideas)

[2018-03-14 15:56] enocom commented on #116
@markmandel Please do. I think this issue might be good for first-time contributors, too.

[2018-03-14 19:55] Kuqd commented on #101
https://github.com/SUSE/helm-certgen

[2018-03-14 20:18] markmandel commented on #101
Chat from today.
TL;DR - We will go with Helm.

[code]

[2018-03-14 22:02] markmandel commented on #116
Some interesting notes here:
- The health check handler is passed in [here](https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/gameservers/controller.go#L77)
- The actual goroutines are run [in the workerqueue](https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/util/workerqueue/workerqueue.go#L114). so there is likely opportunity to standardise this across anything that uses

[2018-03-14 22:02] markmandel commented on #116
@enocom did you have some thoughts on how you were thinking of tracking if the goroutines were still active? (or maybe a PR :grin: )

[2018-03-15 05:27] markmandel opened #142 "Health Check Callbacks"
# Impetus
Right now the Health check `Ping` is very basic - it requires the sdk to do a `Health()` call within the timeframe that is configured via the `GameServer` config.

The issue with this is, that means that the game server code needs to know what the configuration is at the `GameServer` configuration level. If the `GameServer` configuration ever changes, this means the game server binary an

[2018-03-15 05:29] markmandel commented on #142
/cc @sylvainduchesne - I figure you would have some thoughts on this.

This was the design I thought would combat some of [your very valid concerns](https://github.com/GoogleCloudPlatform/agones/pull/125#issuecomment-370023018).

I also expect your C++ is way better than mine, so would love your thoughts on how to do a callback in C++ (or if that even make sense)

[2018-03-15 15:33] enocom commented on #116
I imagine adding a `Registrar`, which in functionality would be similar to a `sync.WaitGroup`. We pass the `Registrar` to anything that starts a `goroutine` and upon starting the `goroutine`, we maybe call `registrar.Inc()` with a corresponding `defer registrar.Dec()` for when the `goroutine` exits. Then the liveness check could simply query the `Registrar` to see if all registered `goroutines` ar

[2018-03-15 15:38] markmandel commented on #116
Works for me. Although the Inc() and Dec() would need to be threadsafe. I'm assuming a `sync.RWMutex` ?

[2018-03-15 16:18] enocom commented on #116
There's some question of where this responsibility belongs.

Insofar as implementation, `sync.RWMutex` works and maybe even a `sync.Mutex` too. Just depends where the hot paths may be.

[2018-03-16 01:12] markmandel opened #144 "Statistics collection and display"
Stats around game server performance, as well as in Game statistics need to be easily exportable from the GameServer into Agon through the SDK and go to some kind of statistic data store (such as [Prometheus](https://prometheus.io) either directly, or through [OpenCensus](https://opencensus.io)). There will also need to be some kind of visualisation layer, and possibly alerting as well.

Discussio

[2018-03-16 01:12] markmandel commented on #144
/cc @Kuqd

[2018-03-16 03:21] Kuqd commented on #101
while reading the doc I found that you can run post installation test : https://docs.helm.sh/developing_charts/#chart-tests

That's just awesome, I'm thinking to use flag switch in the controller container to run a simple gs/pod creation and release control.

WDYT ? I'm planing to introduce this after a first version so probably create a new issue if we all think that's a boomer.

[2018-03-16 03:23] markmandel commented on #101
We do have a need for #37 (End to end tests) - so maybe this helps with both tickets!

[2018-03-16 03:32] rodcloutier commented on #101
Just be careful with this as you now need to install tiller in the cluster to make your tests. This is nice to use a sanity check for the user but I would probably not use this as end to end tests.

[2018-03-16 03:38] markmandel commented on #101
But wouldn't we need to install tiller anyway, so we could install Agones, so we could do end to end tests? :smiley:

[2018-03-16 03:39] markmandel commented on #101
The other thought I had, if there is a way, is that there is a light test for end users, and then there's the _full_ test for the actual e2e tests - if that is possible.

[2018-03-16 03:42] Kuqd commented on #101
we can do a full test for the user using this ! (create a gs, wait for it to have a pod assigned, communicate)

I'm having hard time with end to end tests are really for us ? is it in an actual cluster ?

[2018-03-16 03:45] markmandel commented on #101
Apologies, I'm not following?

So one thing I'm very much thinking - we do want automated testing of the Helm chart as well as e2e tests.

So this is likely more a conversation for #37 - but part of that would be to install via helm, and then make sure things work. But we could defer the testing work until we have a valid Helm install.

This actually makes me even more happy about using Helm for t

[2018-03-16 11:09] Kuqd commented on #101
Sorry midnight comment, but yes I was asking about the scope of e2e tests.

[2018-03-16 18:32] markmandel opened #145 "Kubernetes Node Autoscaling"
Paying for infrastructure that is not used doesn’t make sense.

That being said, how we scale up and down Kubernetes nodes that run gameservers is different from stateless applications - Nodes in the cluster must be empty before they are deleted, and depending on if game servers are warm or not, nodes may need to be created preemptively for expected demand.

This should also be built to allow for

[2018-03-16 18:32] jmaeso opened #146 "Cannot run GameServer in non-default namespace"
I want to start by explaining that this came by my fault by creating the gameserver in the agones-system namespace, but anyway, it should be able to run in any namespace.

It makes the gameserver not being able to get an ip and port where to connect to.
([Step 2 on simple-udp example](https://github.com/GoogleCloudPlatform/agones/blob/master/docs/create_gameserver.md#2-fetch-the-gameserver-status)

[2018-03-16 18:39] markmandel commented on #146
This looks like the relevant parts of the log

[code]

[code]
/cc @dzlier-gcp is there a way we can enable RBAC access to any namespace, or do we have to specify? From the docs, ClusterRoles can access "namespaced resources (like pods) across all namespaces (needed to run kubectl get pods --all-namespaces, for example)"

Or am I understanding this incorrectly?

[2018-03-16 20:42] Kuqd commented on #146
if it's not possible or difficult we could use a variable in the helm chart to prompt for which namespace he wants to use.

[2018-03-16 20:48] sylvainduchesne commented on #142
That seems reasonable.

I pushed this tentative code for the cpp
https://github.com/GoogleCloudPlatform/agones/compare/master...sylvainduchesne:cpphealthcallback?expand=1
on my fork.
There are a few open questions about the health check.
Should there be a bool (healthy|unhealthy) on the check? Because I suppose if there are internal metrics the GS can check, the only way it has to say it is unheal

[2018-03-19 12:49] sylvainduchesne commented on #142
I was thinking about this over the weekend, and perhaps I was over thinking the problem.
Slight modification to how the callback result is treated:
https://github.com/GoogleCloudPlatform/agones/compare/master...sylvainduchesne:cpphealthcallbackv2?expand=1

I think there is perhaps still some clarification needed around what it means to be `unhealthy`, as the documentation doesn't really make menti

[2018-03-19 18:36] markmandel commented on #142
Just at GDC, so haven't had too much time to look in depth (yet!)
At first glace the overall direction makes sense to me.

Some quick answers/feedback to your questions:

Re: Health checking. The base level for a GameServer, if it become Unhealthy, it's currently up to a managing layer to do something about that (should likely document this better).
You can see an example of this in the [design fo

[2018-03-21 09:24] iniside commented on #138
I don't think integrating with online Subsystem is good idea. At least for getting something working.

From what I understand Agones is more of server hosting and management in Kubernetes cluster.
And on that front having UE plugin would be awesome (I'd like to start working on it when I get my current projects in better state).

OnlineSubsystem interface is meant to provide abstraction over servi

[2018-03-21 14:22] digitalfiz commented on #138
@iniside The more I understand about Agones the more I agree with you. When I first heard about it and started looking into it I thought it was going to be more than a Kubernetes wrapper but it looks like that is the goal. Keep things simple. Maybe there should be focus on integration with services like GameSparks, Playfab or Steam? Might even spawn off a project for doing what those services do b

[2018-03-23 21:31] davidvossel opened #150 "Lock down RBAC permission on Sidecar [was: sidecar as DaemonSet?]"
It's not immediately obvious to me what the value is of running a sidecar 1-to-1 with each game server. Have you all considered running the sidecar process as a DaemonSet instead?

[2018-03-23 23:18] addisonbair commented on #37
I am new to this project and haven't yet stood up the development environment yet, but it appears that Kubernetes itself uses Ginkgo, Gomega and the Kubernetes API itself for much of the end-to-end testing of a particular release.

https://github.com/kubernetes/kubernetes/tree/master/test/e2e

Here's a simpler example from the Prometheus Operator project:

https://github.com/coreos/prometheus-oper

[2018-03-24 00:11] kwiesmueller commented on #144
Wouldn't it be best to really use Prometheus directly and then us the included service discovery to ensure metrics from all nodes get scraped?
I can't really tell a reason why there should even be some way to send metrics through agones as it would only implement more complexity than necessary.
The only thing I could imagine is the need for access to the metrics from inside some components (includ

[2018-03-24 00:18] kwiesmueller commented on #142
Why isn't the Kubernetes native health and liveness feature used for this?
Wouldn't using this make the entire process much more k8s "native"?
For the check period it would then be easy to just define this there and I probably would favor pull over push for this anyways.
Or where did the current design come from?

[2018-03-24 23:15] markmandel commented on #150
This is a great question, we considered running this as a Daemonset, but there were several aspects that pushed us towards running it as the sidecar:

- If it is a daemonset, there is an enlarged security attack vector. Essentially the daemonset RPC would need to receive the name of the GameServer that was sent, and trust that was accurate. In this model,  a compromised GameServer could attempt to

[2018-03-25 16:24] davidvossel commented on #150
Yup, valid points!

I'll clarify what I'm concerned about and why I brought this up.

Each sidecar process (while doing all the things you've listed above) is also acting kind of like a k8s controller. This is necessary because you need the ability to update the 'status' field of CRD you're using and do event recording.

The ServiceAccount you give the GameServer pod is locked to get/set permissio

[2018-03-25 22:25] markmandel commented on #150
Good conversation! :+1:

So one thing worth bringing up, is that eventually we will have [subresources for CRDs](https://github.com/kubernetes/kubernetes/issues/38113) (looks like in 1.10) - which will mean we can actually restrict the sidecar's access to just the status fields of the `GameServer` - which will make things better. Not _ideal_ but better.

Regarding your point about the sidecar and

[2018-03-26 03:49] davidvossel commented on #150
I knew there were discussions about that last year but I didn't realize that had actually gained traction. Very cool, I actually have a use case for this in another project. Thanks for the tip!

yeah, unfortunately it doesn't :/

Makes sense. You generate the token and attach the secret as an env-var to the sidecar pod only.

A couple of thoughts off the top of my head.
* Would this work with Repl

[2018-03-26 11:36] sylvainduchesne commented on #142
Hope GDC went well.
I did the code kind of quickly, so nothing set in stone there (eg: health in constructor was simple a convenience).
Oh, I wasn't aware the actual ping was optional. Since I wasn't too sure on the 'what happens when...' part, I figured it wasn't.
In that case, I would agree there could probably be some more flexibility by adding a start/stop health check. If they choose to imple

[2018-03-26 16:10] alexandrem commented on #150
The daemonset approach for node-level controller might be interesting in terms of separation of concerns, but doesn't bring much more in terms of security.

The problem is that you're still going to have a service account token attached to a running container on the same host where other game servers are running and you only rely upon the provided capabilities isolation of the runtime.

Containers

[2018-03-26 16:17] davidvossel opened #151 "supporting multiple ports"
This is a feature request. I just wanted to through out a use case that might not have been identified yet.

Some UE4 dedicated servers need access to both a game port and something called a "beacon" port. It's possible other dedicated servers require the ability to expose multiple ports as well.

It looks like the GameServer CRD is currently only able to express a single port. It might help to ma

[2018-03-26 16:49] davidvossel commented on #150
DaemonSet could potentially make this more secure if we add an authentication mechanism that ensures each GameServer pod can only modify its own CRD.

For example, No container in the GameServer pod would have permissions via a ServiceAccount to update any GameServer object.  The sidecare sdk would have to talk to the DaemonSet in order for updates to the GameServer status field to occur. The Daem

[2018-03-26 16:58] davidvossel commented on #150
Just wanted to point out a couple of things about virt.
* the k8s + virt landscape is not mature yet. I'm seeing a lot of movement in this area and wouldn't feel comfortable placing any technology bets yet.
* virt introduces additional overhead to each Pod that would be better if we can avoid.
* cloud instances + nested virt can gets weird depending on the tech involved.

[2018-03-26 17:16] markmandel commented on #150
@alexandrem regarding RBAC and Sub resources - this doens't mitigate the issue, but it limits it somewhat. Basically, it means that we could only give the RBAC service account for the sidecar permissions to `update` (or `read`, etc) the `GameServer/Status` field, rather than the entire `GameServer` CRD. This limits the amount of damage a compromised system could inflict, but doesn't remove it enti

[2018-03-26 18:02] alexandrem commented on #150
@davidvossel

I need to stress again that even with additional authN/authZ mecanisms, the daemonset approach unfortunately is still subject to the same attack surface as the sidecar, except for a better runtime isolation. A compromised game server that succeeds to elevate its privilege and gain root access to the host node will have access to the daemonset service account token and therefore be ab

[2018-03-27 21:14] Kuqd opened #153 "Helm package CI"
copy from another discussion:

For helm we need to have a CI system where we can run lint and package commands
storage (I prefer google cloud storage for this, also we can use github pages or smth else)

Also, we can contribute to kubernetes/charts repo agones helm chart from #149. This repo is a common place to look for helm charts, they provide CI system and 2 repos: https://kubernetes-charts.st

[2018-03-28 19:26] dzlier-gcp commented on #134
[Notes doc](https://docs.google.com/document/d/1O7Je4cXMyNdUl_M28Qq3dcrWClHy3Vm-hdjglmsvyN4/edit) after meeting with rennie@, markmandel@ and myself.

[2018-03-28 21:30] fooock commented on #153
For the process to create, package and push to the chart remote storage (github pages, kubernetes chart repo etc) we can make a Helm plugin.

**References**
* https://github.com/viglesiasce/helm-gcs
* https://github.com/technosophos/helm-github

Maybe, I like the idea of contribute to the kubernetes/charts repo. As @Kuqd says
* Is a common place to look for Helm charts
* CI system
* Two repos

The

[2018-03-29 19:15] enocom opened #155 "Google Bot is double posting"
See, for example, [here](https://github.com/GoogleCloudPlatform/agones/pull/149#issuecomment-375120730) and [here](https://github.com/GoogleCloudPlatform/agones/pull/154#issuecomment-377049447).

[2018-04-02 19:42] markmandel commented on #155
I've disabled the webhook for the cla bot for this repository. It may well be already configured at an org level.

Let's see how it goes.

[2018-04-02 20:55] markmandel commented on #150
Asked about creating a token manually (internally), and got this response:

Them: I wouldn't recommend doing that for a real design
Me: Why not?
Them: Because you're taking responsibility for credential management/rotation, and also operating outside of Kubernetes' identity model

So... that's not the answer we wanted. I'll do some extra digging, see if there are any plans for per-container servic

[2018-04-02 21:02] markmandel commented on #150
...and as I say that, I'm presented a new solution. While we can't do per-container RBAC permissions, we can _remove_ the service account from any container we want:
https://stackoverflow.com/questions/38536599/container-disable-service-account

Basically by mounting an `emptyDir` in it's place - which gets us to the same place. So that is much more promising!

[2018-04-02 21:27] davidvossel commented on #150
lol, that's creative.  I suppose a user inside the container wouldn't be able to do something like ```umount /var/run/secrets/kubernetes.io/serviceaccount``` to regain visibility into the service account dir.

Looks like a good starting point. This is better than nothing  :+1:

[2018-04-02 21:38] davidvossel commented on #150
After giving this some more though. I think the simplest solution is a combination of

* emptyDir hack to remove SA
* RBAC that limits GameServer access by namespace

The emptyDir hack keeps the game process from having access to the SA... If by some chance there's a way around that, the SA would be limited via an RBAC Role to GameServers in a single Namespace. Arguably if a k8s cluster is being u

[2018-04-02 21:52] markmandel commented on #150
Amusingly, we are also talking about how we a Pod can only use a service account in the same namespace as it - and how that causes different issues. Sounds like the solution will go hand in hand for this one as well (#154)

[2018-04-03 00:25] markmandel commented on #150
Oh, also realised we could also [turn off automount](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) and explicitly mount the secret in the container - So several options to reach the same conclusion.

[2018-04-03 03:11] alexandrem commented on #150
@markmandel
For the turn off automount, the manual service account assignment is still at the pod level. Since we have the Agones sidecar who needs it, it won't do any good.

The emptyDir shadow mount trick is probably the best option to prevent access to the k8s resources by not injecting the service account token in the first place.

I also believe that ensuring a different namespace per game se

[2018-04-03 03:31] markmandel commented on #150
This all sounds good - but we should be able to mount to serviceaccount secret directly into the [sdk sidecar container](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod), but not on any other Pods. Unless I'm mistaken (which I could be) that should still allow the restriction to just the sidecar, without the game server being able to access it?

Benefit

[2018-04-03 19:55] fooock commented on #101
To see the full scope of this feature take a look to [this comment](https://github.com/GoogleCloudPlatform/agones/pull/149#issuecomment-377553654)

## Work breakdown

- [ ] Create a Helm chart that can be installed and used on a cluster + docs (see #149)
- [ ] Migrate `build/` tooling to use Helm
- [ ] Write Helm test (*details to be discussed*)
- [ ] Chart repository
- [ ] Update release process

[2018-04-04 19:07] markmandel commented on #101
@fooock we'll want to add a work item of adding the ability to list namespaces that the gameservers will run in, and create service accounts for them - see #146 and #154 for context.

[2018-04-05 22:36] enocom opened #163 "Add gometalinter to build"

[2018-04-05 23:05] #116 closed

[2018-04-07 12:28] fooock opened #165 "Missing links in documentation"
It looks like the format of the links is not correct for github. Files afected:

* `install/helm/agones/README.md`
* `docs/installing_agones.md`

[2018-04-07 14:05] fooock opened #168 "Add .helmignore to Helm chart"
To ignore common files like in [this]( https://github.com/kubernetes/charts/blob/master/stable/aerospike/.helmignore) chart

[2018-04-07 19:00] #165 closed

[2018-04-07 19:07] markmandel commented on #168
Just so I understand this properly - what is the exact purpose of a .helmignore file? Where would it go in the repo? @enocom I think you mentioned this as well. I couldn't find any specific docs on this other than this [single reference](https://docs.helm.sh/helm/#helm-create).

[2018-04-07 19:07] markmandel commented on #168
Sorry, I got this wrong, it was @Kuqd who mention this in chat yesterday.

[2018-04-08 03:05] markmandel opened #169 "Generate Certs for Mutation/Validatiion Webhooks"
Now that we have #101 (Helm) we can use it to generate the cert for the validation and mutation webhook at installation time.

## Design

Looks like it should be relatively straight forward, as there is a `genSignedCert` function built into helm. See examples below.

We will need to change the controller so that it pulls the cert that it uses from a generated Secret.

This should be relatively str

[2018-04-08 03:12] markmandel commented on #163
Just to add more details - `gometalinter` is in the build image for local usage, but the fun/tricky part will be ignoring the autogenerated code. The good thing is, all the autogenerated code does have an appropriate headers, so it should be straight forward to exclude them.

[2018-04-09 19:59] EricFortin commented on #163
@enocom Have you started working on this? If not I’d like to help.

[2018-04-10 20:34] markmandel commented on #163
I'm not seeing any issues here - if nothing else, also happy for a build to simply fail if any linter fails.

gometalinter will let you put in a comment to ignore a specific line if you feel it's a false positive - so we can work around anything we specifically disagree with (unless it's generated code, as we talk about above, and we can `--exclude` that, I believe).

@enocom any extra thoughts on

[2018-04-10 21:11] enocom commented on #163
Making the build fail on `vetshadow` is a good idea. I'm in favor of getting it running and tuning it accordingly.

[2018-04-10 21:13] markmandel commented on #163
I already have some `// nolint ` declarations around the codebase as I tend to use `gometalinter` as I develop.

[2018-04-11 23:27] markmandel commented on #70
Start of "Creating a Fleet creates a GameServerSet" first PR has started [over in this repository and branch](https://github.com/markmandel/agones/tree/feature/fleet-no-update)

[2018-04-11 23:36] markmandel commented on #146
Now enough of #101 has essentially landed - this should be able to be implemented now. Possibly a good first issue?

### Research
- [Passing multiple values to `--set`
](https://docs.helm.sh/using_helm/#the-format-and-limitations-of-set)
- [Helm: LOOPING WITH THE RANGE ACTION](https://docs.helm.sh/chart_template_guide/#looping-with-the-range-action)

[2018-04-12 18:47] markmandel opened #173 "Move Deployment in install script out of v1beta1"
Somehow I managed to make the `Deployment` as a `extensions/v1beta1` deployment, which has since been deprecated.

https://github.com/GoogleCloudPlatform/agones/blob/master/install/helm/agones/templates/controller.yaml

It should really be a `apps/v1` `Deployment` instead.
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

[2018-04-12 20:29] EricFortin commented on #163
Hi again, I worked on this a little more and would like your opinion on some topics.

As an aside, I discovered that the `vetshadow` linter does indeed generate warnings and those are treated as errors(good) but I have been hit by the exact problem I was describing earlier where I was using an old master branch(my build image was quite old) that contained a bug that prevented it from reporting. I

[2018-04-12 20:32] EricFortin commented on #163
Here is an example of my config file at the moment:
[code]

If I generated it, all filenames would be in the exclude list.

[2018-04-12 21:20] EricFortin commented on #163
You would add it after we generate the file?

[2018-04-12 21:31] enocom commented on #163
Yeah, as a minor and one time annoyance. The risk is subsequent file generations deletes the line. But by all means, since you're seeing how painful each option is, let's go with what seems best to you.

[2018-04-12 22:54] markmandel commented on #163
We add licence headers to all generated files - but they all use different methods. Making sure it hits _just_ before the `package` declaration could be.... interesting :smile:

Doing a grep for "autogenerated" and excluding those files is probably the best bet.

[2018-04-13 00:43] EricFortin commented on #163
Good I’ll do the grep then. Thank you!

[2018-04-14 17:23] EricFortin opened #177 "Fix cyclomatic complexity in cmd/controller/main.go"
Remove the `// nolint` comment.

The main function has a cyclomatic complexity greater than 10. Refactor the function to lower it.

[2018-04-14 17:25] EricFortin opened #178 "Fix cyclomatic complexity in examples/simple-udp/server/main.go"
Remove the // nolint comment.

The main function has a cyclomatic complexity greater than 10. Refactor the function to lower it.

[2018-04-15 16:33] #163 closed

[2018-04-17 22:25] fooock opened #180 "Line endings in Windows make the project can't be compiled"
I executed the `make test` task using Windows 10 WLS. using the `master` branch. The expected result is a clean build, but I get:

[code]
This is because Windows uses `\r\n` instead of `\n`. If I change the line endings to `LF`, the test task result is successful.

How can we change this behavior to make it OS agnostic? Maybe change the `.gitattributes` file?

### References
* [bash\r: No such fil

[2018-04-17 23:10] fooock opened #181 "gometalinter fails"
When I execute the task `make test`, it fails when reaches the linter task

If I open a shell using the tasks `make shell` and execute the command `/root/gen-lint-exclude.sh && gometalinter --config .exclude.gometalinter.json --deadline 100s -t --skip vendor ./...` inside it, the output is:
[code]
The exit code is
[code]
My current OS is Windows10

[2018-04-17 23:11] markmandel commented on #181
What happens if you extend the deadline on the linker? `--deadline=5m` for example?

[2018-04-17 23:25] markmandel commented on #180
Potentially silly question, if we make the change for `Makefile` in the .gitattributes file - does that solve the problem? :smile:

[2018-04-17 23:32] fooock commented on #181
Same error
[code]

[2018-04-17 23:33] enocom commented on #180
I was hoping per [this advice](https://help.github.com/articles/dealing-with-line-endings/#example) that Git would do the reasonable thing across all OS's.

If we use `Makefile text eol=lf`, then according to the link above:

Does Make on Windows require `\n`?

[2018-04-17 23:40] markmandel commented on #180
On Windows we have users use WSL, so it should require \n. The weird thing is, it's WSL, and we all use Linux/Mac - and so if it works for us, I don't actually understand why it doesn't work for @fooock .

Actually if I test for \r\n on the Makefile, I don't find at crlf endings. I am wondering if this is something on your end @fooock ?

[2018-04-17 23:41] markmandel commented on #181
I don't see any error, so what is it the same error, or did something else fail?

[2018-04-17 23:47] markmandel commented on #180
A thought - when you wrote:

- How where you changing the line endings?
- And when you made the change, did that result in a git difference vs the `master` branch?

Just wondering if that will shed some light on things.

[2018-04-17 23:48] EricFortin commented on #181
Silly question, what kind of hardware do you have @fooock ? Gometalinter is kind of heavy and was slowing my system down even though I have a Core i5 7th gen in my laptop.

[2018-04-17 23:50] markmandel commented on #181
Yeah, I find gometalinter slows down my machine as well something terrible.

We may want to be more generous on the timeout :confused:

[2018-04-17 23:52] EricFortin commented on #181
You could also try to add `--disable-all -E errcheck` to run a single linter to ensure you can at least run one successfully. I didn't test on windows since we run this in the build image.

[2018-04-17 23:57] fooock commented on #180
When I checkout the project using the Windows git executable, automatically use the `\r\n` line endings. I tested now what happens when I checkout the master branch using the `bash` git, and it works like in your envs (with `\n`)

@markmandel I use Intellij + go plugin. I changed the line endings of all project files, and when done, the error disappeared
* https://www.jetbrains.com/help/idea/confi

[2018-04-18 00:03] markmandel commented on #180
@fooock what happens if you run:
`git config core.autocrlf; git config --global core.autocrlf` - see if that is false? (on Windows I mean) - it should be overwritten by the .gitattributes, but still?

Admittedly, when I was using WSL, I only ever use WSL (so I git in there as well). I wonder why windows is adding the crlf line ending on checkout? That is super weird.

[2018-04-18 00:09] fooock commented on #180
Using Windows console:
[code]
Global flag don't show nothing (to clarify).

[2018-04-18 00:13] markmandel commented on #180
:man_shrugging: I've no idea at this point. Somehow Git on windows adds crlf endings on checkout.

Solution - don't use it? :smile:

Also curious - when you changed the line endings within IntelliJ - which files were marked as changed in Git? All of them, or a specific set?

[2018-04-18 00:25] markmandel commented on #180
Okay. I'm officially out of ideas. :sob:

[2018-04-18 00:37] enocom commented on #180
In theory, git should overlook the conversion from `CRLF` to `LF`.

@fooock Would you be available for a video chat in the next few days? I'm thinking it would be good to see if we could solve this together, as Windows users are a big part of this project.

[2018-04-18 01:06] enocom commented on #180
There's is also [this](https://stackoverflow.com/a/2354278/927514) which makes me think the configuration is correct as is.

As long as we are running all tasks within containers, the linux line ending should be fine. I suppose the tricky part is to configure one's IDE to *refrain* from changing the line endings to the Windows format.

Does that make sense?

[2018-04-18 04:56] enocom commented on #180
Looking at this some more, I see the problem.

Presently, `.gitattributes` configures Git on Windows to convert all `LF` to `CRLF` when checking out code. When committing, those `CRLF` bytes are restored to `LF`.

So when a Windows user checks out Agones, Git will convert all files to have a `CRLF` line ending with any committed code converted back to `LF` line endings. That's fine for development

[2018-04-18 20:19] fooock commented on #181
@EricFortin if I add these lines the exit is successful
[code]

[2018-04-18 20:48] markmandel commented on #70
Fleet Allocation work started [over here](https://github.com/markmandel/agones/tree/feature/fleet-allocation)

[2018-04-18 22:12] fooock commented on #180
Related PR #182

[2018-04-25 22:32] markmandel opened #186 "Change container builder steps to run concurrently"
Container Builder does let you do concurrent executions - this could potentially speed up each build considerably. I.e. we don't have to wait for testing to finish before starting to build the binaries and images.

We may want to split up some of the `make` tasks (e.g. `make test`) to run each separate part concurrently, but could be worth the benefit.

https://cloud.google.com/container-builder/d

[2018-04-27 01:01] markmandel opened #187 "Integrate a spell and/or grammar check into build system"
It's super easy to miss misspelled words in our .md documentation files.

It would be great if there was a spellchecker (and maybe even a grammar / documentation helper?) integrated into the build system to ensure the documentation continues to be written well.

We could probably just install [aspell](http://aspell.net) and call it directly.

Or maybe something like [write-good](https://github.com

[2018-05-01 00:48] markmandel opened #192 "Minikube does not start with 0.26.x"
The [instructions for starting a minikube cluster](https://github.com/GoogleCloudPlatform/agones/blob/master/docs/installing_agones.md#starting-minikube) current hang when the cluster starts up.

This also affects the [development build path for minikube](https://github.com/GoogleCloudPlatform/agones/tree/master/build#running-a-test-minikube-cluster) as well.

This ticket is to track any progress,

[2018-05-01 02:43] newphew92 commented on #192
To be clear, the hang up happens when you have extra config like so:

alias ministart='miniclean;swapoff -a;minikube start --kubernetes-version v1.9.0 --vm-driver=none \
--extra-config=apiserver.admission-control="NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota" \
;min

[2018-05-01 16:54] newphew92 commented on #192
I tried on both 26.0 and 25.2, adding the bootstrapper flag makes it hang in both case on start.

[2018-05-01 19:30] markmandel commented on #181
Can we close this issue now?

[2018-05-02 01:29] markmandel commented on #151
Just been thinking about this some more, thinking of a configuration design that would look like the following (moving ports to an array, and giving it a name):

[code]

This would still only apply to the single gameserver container. I was debating allowing this to be applied to any container in the pod, but I think it will get too confusing overall.

WDYT?

[2018-05-02 19:46] davidvossel commented on #151
+1 for just game server container.

I'm uncertain about how ports are handled in general. Do we intend to run the GameServer pods with hostNet=true?

I thought that was the case, but it looks like you might actually be detecting the external ip of the node the GameServer pod is running on and using that in combination with the dynamically generated hostPort value as the address of the GameServer.

[2018-05-03 01:12] markmandel commented on #151
That's exactly how it works.

Right now it goes through iptables - max 0.5ms extra latency - but gives us the ability to run sidecars due to actually having network separation between each gameserver and related pods, which gives us simplicity, the ability to still use k8s constructs and for now, segregation between each game server. Nothing to say we couldn't have an "escape hatch" to switch it t

[2018-05-03 20:59] davidvossel commented on #151
Yep, this is technically true, but realize that it may limit who is able to consider using agones.

This forces people to integrate their system with agones at a deeper level than they may have resources for. For example, the port situation would mean there's no practical migration path from the infrastructure I used to deploy UE4 dedicated servers over to agones.  Our UE4 dedicated servers regist

[2018-05-03 21:05] markmandel commented on #151
_thinks_

Another potentially interesting idea we could also float, is have a mechanism that pushes the currently allocated port down to the gameserver container as an env var / available through the SDK - in which case, it (in theory) could be relatively trivial to tweak the current setup to register with that value rather than the one the game server process starts on.  Would that work?

[2018-05-03 21:11] davidvossel commented on #151
interesting. that would satisfy the use case I outlined as well.

I'm just not sure how you'd accomplishing getting the host port to the SDK like that. I'm not sure k8s exposes that information into the pod. The sdk would have to maybe look up it's own pod in the apiserver or something. I dunno... Then you'd have to handle dealing with the game server trying to learn about the ports before the sdk

[2018-05-03 21:29] markmandel commented on #151
_or_ the SDK could talk to the sidecar, which also has the ability to read the data for the currently running `GameServer` , and could just look it up (and cache it, since it isn't going to change). That's actually probably the easier option.

[2018-05-04 12:35] alexandrem commented on #151
I tend to believe that a configmap with the serialized CRD object is
better, since it'd be strictly read only for the current game pod.

Le jeu. 3 mai 2018 à 17:29, Mark Mandel <notifications@github.com> a écrit :

--
Alexandre

[2018-05-07 16:13] markmandel commented on #181
Due to inactivity, I'll close this issue now. If it is still an issue, please submit a PR with an extension to the timeout deadline.

[2018-05-07 16:13] #181 closed

[2018-05-08 01:13] markmandel commented on #70
Work on doing a straight replace when updating Fleet's GameServer details, can be found over here:
https://github.com/markmandel/agones/tree/feature/fleet-replace

[2018-05-08 15:00] markmandel commented on #187
There is this docker image, that seems to get updated regularly.
https://hub.docker.com/r/hochzehn/write-good/
Could possibly be integrated into cloud builder and/or used as a make target.

[2018-05-11 00:19] markmandel opened #203 "Release cycle"
As we head closer to what I think will be a 0.2 release - we should consider how we are doing releases going forward, and document that process.

In my mind there are two potential release cadences (although if there are more that people thing are appropriate, please feel free to put them forward).

1. We plan a set of priorities for each release, as we get close to completion of those priorities,

[2018-05-11 00:50] markmandel commented on #203
## Research
- https://about.gitlab.com/2015/12/17/gitlab-release-process/
- https://gravitational.com/blog/kubernetes-release-cycle/
- https://link.springer.com/chapter/10.1007/978-3-319-57735-7_16
- https://fnords.wordpress.com/2011/07/01/time-based-good-for-community/
- https://scalare.org/wp-content/uploads/2015/06/2015-Why-and-HowShould-OpenSource-ProjectsAdopt-Time-Based-Releases.pdf

This al

[2018-05-11 22:44] mcnjr commented on #203
I'm going to do some more reading and research but I like the idea of option 2 as it seems to lend itself more towards a CI/CD mindset that could be good to adapt early. I think as the project matures a bit more and there's less low hanging fruit the first option might be the better approach. I'd also be happy to help write documentation for whichever cadence we choose!

[2018-05-14 23:34] markmandel commented on #70
Rolling update strategy work is here:
https://github.com/markmandel/agones/tree/feature/fleet-rolling

[2018-05-16 16:49] #97 closed

[2018-05-16 23:06] enocom commented on #177
There's a consistent pattern in `main.go` where we start a goroutine and call `Run` on something, reporting an error if the call fails.

With some small refactoring, we could do this:

[code]

Alternatively, if that seems too fancy, we could also simple extract a named function for each started goroutine.

Thoughts?

[2018-05-17 02:05] #178 closed

[2018-05-17 03:29] enocom commented on #177
I'll put together the PR with that pattern and we can revisit the question of making controllers implement a common interface.

[2018-05-18 04:08] markmandel commented on #203
So been doing some more reading, and this is what I'm suggesting (at least at broad strokes there are some finer details we can work out through the details of the pull request to write the documentation, etc).

## Initial Release
- Do a 1 week RC, once Fleets are good to go (with whatever else is in master), and then go into feature freeze during that time - and release 0.2 at the end of that wee

[2018-05-18 16:50] mcnjr commented on #203
I like it! One thought: will there be an assigned release manager that is in charge of the checklist per release?

[2018-05-18 18:37] markmandel commented on #203
@mcnjr I just assumed it would be me :smile: - at least for the first few rounds, and then we can always delegate/rotate.

In an ideal world, I'd like to make releasing as automated as I can. It should be a 20 minute job.

[2018-05-18 20:01] #177 closed

[2018-05-18 20:40] Kuqd opened #211 "helm RBAC on/off"
we should have an option in helm to skip rbac resources creation if they are not required by the cluster.

see:
- https://github.com/istio/istio/search?utf8=%E2%9C%93&q=rbacEnabled&type=
- https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L51

[2018-05-18 20:45] Kuqd opened #212 "helm namespace"
We should follow helm convention and use --namespace (and .Release.Namespace) and drop the current `agones.namespace` parameter.

We should also update the installation documentation to explain this change.

[code]

[2018-05-18 21:36] #146 closed

[2018-05-22 13:52] #203 closed

[2018-05-22 18:13] #169 closed

[2018-05-23 01:05] Kuqd commented on #168
There is nothing to ignore so far. Should we close and reopen if required?

[2018-05-23 01:06] Kuqd commented on #155
Seems good since then should we close ?

[2018-05-23 01:14] Kuqd commented on #150
For your information sidecar role has been scaled down to its own namespace.

[2018-05-23 01:46] alexandrem commented on #168
I guess it wouldn't hurt to add the default ignore file generated by helm itself:

[code]

[2018-05-23 02:17] markmandel commented on #155
Seems that way! Let's close it!

[2018-05-23 07:08] iniside commented on #138
I have started working on basic plugin for Unreal Engine. No plans for any deep integration as of now, as it would require creating some backing services.

In current state plugin will only wrap around provided API. I'm currently wrapping code and will test the server over next few days on GKE. If it works I will upload full plugin to Github.

[2018-05-23 15:39] #155 closed

[2018-05-23 15:40] #70 closed, assigned to markmandel, EricFortin

[2018-05-23 16:44] Kuqd commented on #37
Should I start by some simple e2e go test and may be bring this later into an image to support in-cluster config.

I quite like the prom-operator example.

[2018-05-23 16:54] markmandel commented on #37
The other option is using the Helm test tooling? Or maybe there is a combo option?

Or if I follow - you're saying, start with a simple binary we can run and point at a cluster, and then move forward from there? That would make sense (assuming that's what you are suggesting)

[2018-05-23 17:37] #168 closed

[2018-05-23 20:16] Kuqd commented on #37
yes, I want to add the helm integration after, using a container.

[2018-05-23 20:31] markmandel commented on #37
Sounds like a good approach to me!

[2018-05-27 18:27] iniside commented on #138
Ok. This proved to be far more difficult than I anticipated. The biggest problem lies in building grpc/protobuf and integrating it into Unreal.

I'm not that good myself with setting up build systems. Some basic issues that I fixed:

- 1. Conflicting time.h headers in protobud/grpc -> renamed.
- 2. Conflicting macro check -> renamed
- 3. MSVC Macros not resolving properly when building for linux t

[2018-05-27 21:41] markmandel commented on #138
I'm starting to wonder if we prioritise the work to expose the sdk grpc endpoints as rest endpoints just to make engine integration easier - especially for anything C++ based.

@dzlier-gcp what do you think - that would make your life easier as well, no?

@Kuqd wdyt?

[2018-05-28 08:34] iniside commented on #138
I will keep trying to integrate grpc into Unreal. But that's going to be custom fork, with some unreal specific fixes.  I found interesting blog post:

https://adamrehn.com/articles/cross-platform-library-integration-in-unreal-engine-4/

Which might help with it.

Is there any reason that agones might not work with the latest version of GRPC ?

[2018-05-28 17:12] markmandel commented on #138
In the past I've found grpc incredibly backward compatible, so it should work with the latest version.

At some point we should also upgrade just to keep up with updates.

[2018-05-30 05:07] Clubbable commented on #138
Hi, I've reading about the Agones integration with Unreal, and I am a little confused as to the use cases for this. As I understand, Agones should talk exclusively to the custom matchmaker, and not to the game client or the game server. Since Unreal simply provides and game client/server, and does not act as a custom matchmaker (even though Online Subsystem provides matchmaking wrapper, it doesn't

[2018-05-30 07:27] iniside commented on #138
Agones needs to be integrated with Unreal, so Kubernetes cluster know what is going on with server. Ie, if server do not ave players and game ended Kubernetes will automatically deallocate resources need for this server.

At basic level you don't need anything beyond game server, telling kubernetes what is it state.

You can theoretically extend it to provide other functionality (like saving/loadi

[2018-05-30 16:31] #211 closed

[2018-05-30 16:37] markmandel opened #231 "Release v0.2.0.rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md
- [x] Ensure the [helm `tag` value][values] is correct (should be the {version}

[2018-05-31 23:16] g-ericso commented on #138
@iniside Have you success running unreal server with Agones? Sounds like it works for you.

[2018-06-01 12:02] jehan96 opened #236 "Agones vs Spatial OS"
if you don't mind, i would like to ask how to choose between agones and spatial OS
in term of low server management, security, performance and mitigating cheating..

or they do different things and can be used together?
because i feel like confuse google announce agones but before this already introduce spatial OS to developer..both of them are suppose to be game server, right?

[2018-06-01 15:58] markmandel commented on #236
So SpatialOS is a product from the company Improbable that runs Persistent Worlds as a Service - so they are essentially a backend as a service for online, persistent multiplayer worlds. (Disclaimer: I do not work there, but they are a partner to Google Cloud)

Agones is an open source tool for allowing you to run dedicated game servers wherever you can/want to run Kubernetes clusters.

So we do s

[2018-06-01 16:02] enocom opened #237 "Use revive instead of gometalinter"
Although it might not offer as complete coverage, [revive](https://blog.mgechev.com/2018/05/28/revive-golang-golint-linter/) seems significantly faster than gometalinter with a simpler API. Switching linters might help resolve the gometalinter timeouts we've been seeing in CI.

[2018-06-01 16:05] markmandel commented on #237
Should we also explore:
https://github.com/golangci/golangci-lint/

And/or maybe move the actual work over to the hosted service they provide as well? (https://golangci.com) ?

[2018-06-01 16:08] markmandel commented on #231
Release is now complete!

[2018-06-01 16:08] #231 closed

[2018-06-01 16:10] enocom commented on #237
I think so, as the timeout failures seems to be common, and it's worth looking at alternatives, even if our linting isn't 100% the same as gometalinter.

[2018-06-01 17:54] markmandel commented on #144
Coming back to this - there are some very widely used statistics that we should provide out of the box - it seems like duplication of work to have everyone do this themselves. We will also need some standard visualisations of what is happening inside Agones as well.

That being said (and one of the reasons I like OpenCensus) - if there is a way we can expose/leverage a project like that to allow s

[2018-06-02 04:04] jehan96 opened #238 "Agones on GAE"
can i use agones on google app engine?

because agones works on kubernetes, i believe this thing is something like the "docker"..

[2018-06-02 15:13] markmandel commented on #238
Unfortunately, Agones will likely never work with Google App Engine.

App Engine is a very opinionated system that is built to run and scale stateless systems (which dedicated game servers are not - they have in memory state when players are playing on them). There is also no compatible layer to the extension mechanisms that Kubernetes provides that Agones is built on top of.

If you are intereste

[2018-06-02 19:31] markmandel commented on #138
I changed the title, as people were thinking this ticket wasn't about getting Unreal working. Let me know if you have objections.

[2018-06-02 21:09] iniside commented on #138
@g-ericso

Not yet. I'm still at the stage of integrating gRPC into unreal.

The upside is, I'm slowly getting it done. I decided the best course will be forking gRPC, protobuf and writing custom build-chain with Python.
Building it with Unreal Toolchain requries some unreal specific fixes. IF possible I will try to push patches upstream, once it is working.

Unreal is very picky about what can be

[2018-06-03 20:57] iniside commented on #138
Here is basic build of gRPC plugin for unreal
https://github.com/iniside/ue-grpc

Unreal<>Agones integration will be depending on this. I figured out you might want to use gRPC without Agones, and that's why it is in seprate plugin.

[2018-06-04 00:50] markmandel opened #240 "Expose SDK Sidecar GRPC Server as HTTP+JSON"
# Overview

Provide a REST / HTTP+JSON interface to the SDK gRPC Sidecar service.

# Motivation

1. The tooling around C++ on Windows is basically a deal breaker. It involved [installing 7 things](https://github.com/grpc/grpc/blob/v1.12.x/INSTALL.md#building-using-cmake-recommended) and deviated quite considerably from the tooling around installing on Linux/MacOS
1. gRPC on Unreal and Unity tends

[2018-06-04 00:51] markmandel commented on #240
@Kuqd I believe you've got some experience with grpc-gateway. What are your thoughts?

[2018-06-04 16:59] g-ericso commented on #138
@iniside Thanks for the update. I will take a look this week and provide you some feedback.

[2018-06-04 17:08] Kuqd commented on #240
My thoughts regarding grpc-gateway:

- it can run in a sidecar also, it basically connect as a client to your grpc server so both works in or out of the process. (which means you also get metrics if you have some on your grpc server)
- it's pretty quick to implement, I've got some piece of code ready to go.
- Stream is implemented over newline-delimited JSON streams, so if you adapt your client yo

[2018-06-04 17:12] markmandel commented on #240
@Kuqd I think you have basically 100% echoed my thoughts.

It's also far better documented than Envoy in this regard as well.

[2018-06-04 17:23] markmandel commented on #240
Copy pasted from discussion on chat for posterity:

[code]

[2018-06-05 18:31] markmandel commented on #236
I see a thumbs up! :smile: I'll consider this question answered, and closing now.

[2018-06-05 18:31] #236 closed

[2018-06-05 18:32] markmandel commented on #238
I see a thumbs up here too :smile: so closing this question as well.

[2018-06-05 18:32] #238 closed

[2018-06-05 18:44] markmandel commented on #138
As a heads up, I'm working on the exposure of the SDK Server via HTTP+JSON right now, and should be ready by end of this week (next at the latest) - which should provide a _much_ easier option for building a native SDK for Unreal, since it looks like Unreal already can do HTTP+JSON natively, rather than trying to shoehorn gRPC into the mix.

[2018-06-06 15:51] markmandel opened #242 "Release v0.2.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md
- [x] Ensure the [helm `tag` value][values] is correct (should be the v0.2.0 if

[2018-06-06 18:18] markmandel commented on #237
Even at the 5 minute timeout - sometimes it just doesn't timeout, and sometimes it's still hits the deadline.

I've had to restart recent builds several times at this point.

[2018-06-06 18:47] #242 closed

[2018-06-07 19:04] markmandel commented on #240
Work happening over here: https://github.com/markmandel/agones/tree/feature/http+json

[2018-06-08 03:17] Kuqd commented on #240
Some directions for swagger scheme:

https://github.com/grpc-ecosystem/grpc-gateway/blob/a5b66c16bab6156b1cc525e76159bdff463123ba/examples/proto/examplepb/a_bit_of_everything.proto#L28

[2018-06-08 04:17] Kuqd commented on #240
Also I doubt swagger will generate a client that support the stream in health GRPC method, you could - duplicate the health method (with a different name) without the stream and implement differently
- remove the (fancy) stream.
- implement a custom http client for each language.

[2018-06-08 04:39] samsgates opened #246 "Unity Plugin SDK"
Do you have unity plugin client sdk for accessing game server?

[2018-06-08 13:57] Kuqd opened #248 "helm image tag"
Why do we bump the tag in the default value file before the release ?

Today it's already 0.3.0 but no image exits so if you follow the instruction in the README you get a deployment that is not working.

I would prefer to bump that version only once it's release and add a step in the release todo list. What do you think ?

/cc @markmandel

[2018-06-08 16:55] markmandel commented on #246
Not as of yet, but once we have #240 complete, this will be much easier. Are you actively creating dedicated game servers in Unity right now? I'd love to hear more about how you are doing that and your experience.

[2018-06-08 17:21] markmandel commented on #248
Curious - which README are you looking at? The [Helm Install](https://github.com/GoogleCloudPlatform/agones/blob/master/install/helm/README.md) states to:

(Although it definitely could be clearer about actually unzipping it! :blush: )

My opinion is: if the `master` branch is expected to be able to install the previous release from, then we can never develop new things against it, as users are re

[2018-06-08 17:44] Kuqd commented on #248
ok I see , I think what confuses me is the `cd install/helm/` it should instead state `curl` then `unzip` then `cd`

[2018-06-08 18:11] #248 closed

[2018-06-09 19:00] Clubbable commented on #138
One more question in regards to this issue, I've just tried to put up an UE4 server and orchestrate it via Agones, it is giving back status of "unhealthy" immediately. Is this because there's no communication between UE4 and kubernetes so that the game server can tell when it is spun up and healthy?

[2018-06-10 18:58] dgkanatsios opened #254 "Agones on Azure AKS"
I did a preliminary test of installing Agones on AKS ([Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/)) and it seems to work, great job! Only thing I had to do is create and assign a Public IP to the single Node I had for the cluster. Similarly, in case of cluster scaling, Public IPs would need to be assigned at the extra Nodes.
I could write some AKS specific instructions f

[2018-06-10 19:02] dgkanatsios commented on #254
for the record

[code]

[2018-06-12 02:15] markmandel commented on #254
Yep, let's create a "Setting up a AKS Cluster" section!

[2018-06-12 07:10] dgkanatsios commented on #254
On it!

[2018-06-12 18:36] ianlewis opened #258 "Error running make install with GKE"
helm fails to run in the Docker container because the auth helper configured in kubeconfig points to a gcloud that isn't mounted in the container.

[code]

[2018-06-12 18:49] markmandel commented on #258
What cluster are you trying to install on? One made with `make gcloud-test-cluster` ?

[2018-06-12 20:15] ianlewis commented on #258
ok. so I tried to use an existing cluster I use for dev but I'll go with the dedicated agones cluster

[2018-06-12 20:15] #258 closed

[2018-06-18 12:37] Kuqd commented on #254
Well done.

[2018-06-18 12:37] #254 closed

[2018-06-18 14:29] #240 closed

[2018-06-19 18:55] #212 closed

[2018-06-19 23:28] #60 closed

[2018-06-20 16:39] markmandel commented on #151
Work on this starting here: https://github.com/markmandel/agones/tree/feature/multiple-ports

[2018-06-20 19:21] dzlier-gcp commented on #173
Is the helm installation tested on Linux? Getting an error when following the instructions there. I'm deleting my cluster and recreating just in case it's out of date.

[2018-06-20 19:33] dzlier-gcp commented on #173
```Error: release my-release failed: Namespace "" is invalid: metadata.name: Required value: name or generateName is required```

[2018-06-20 19:51] markmandel commented on #173
Yep, I run on Linux all day long.

[2018-06-21 15:58] ddiiwoong opened #275 "Agones running on IBM Cloud Kubernetes Service."
Hi. I'm cloud native platform engineer in Korea.

I installed Agones on the IBM Cloud Kubernetes Service (ICKS) and it seems to work fine.
Also, I have completed the Fleet and fleetallocation deployment test.
There are some limitations, but I was able to play xonotic with my co-worker.
If you are interested, can I pull request installation guide?

[2018-06-21 15:59] markmandel commented on #275
Sounds good. PR away!

[2018-06-21 16:03] ddiiwoong commented on #275
Maximum effort!!!

[2018-06-21 18:59] dzlier-gcp commented on #173
Hmm, getting the same error when trying on my windows laptop. May be something about my cluster, will keep looking into it.

[2018-06-21 23:53] Kuqd commented on #173
could you send the full logs and the command you're trying ?

[2018-06-24 09:08] markmandel commented on #246
Now that #240 is complete - A SDK for Unity dedicated servers should be relatively trivial to implement.

(Although I'm noting that the request is for a client sdk -- there is no need for anything specific client side for Unity games to run on Agones - it's just an ip and port to communicate with)

[2018-06-24 09:08] markmandel commented on #138
Now that #240 is complete and in the development branch. This should be relatively easy to implement now. @g-ericso I know you are playing with this - let us know how your efforts are going :smile:

[2018-06-24 21:00] g-ericso commented on #138
We will be testing the new feature this coming week. The idea is to make a c++ unreal simple .cpp and .h classes which will be shared in this repo. Stay tuned!

[2018-06-27 10:04] defat opened #277 "Session data propagation to dedicated server"
This is a feature request.
There are two options to get dedicated server for game session using Agones: create or allocate it from fleet. Using creation option session data such as map/game mode/level etc. can be passed to dedicated server with environment variables listed in pod template. Allocation from fleet lacks such possibility.
It would be great to have Agones SDK calling some callback meth

[2018-06-27 11:17] markmandel commented on #277
So thanks for bringing this up - being able pass data to the `GameServer` has been front of mind for me recently as well (I'm going to limit this ticket to this one issue for now - if we want to talk about status management, let's start a different ticket)

My current thinking has been more along the following, although I think we end up in the same place - let me know what you think:

1) Be able

[2018-06-27 13:02] defat commented on #277
Yeah, this sounds extremely convenient, especially if annotations will be able to contain some complex structures such as json objects (maybe quoted to be strings).
Thank you for such fast reply!

[2018-06-27 18:53] Kuqd commented on #277
`metadata` on allocation is great, but callback is mandatory and we had an offline discussion with @EricFortin about that, we were thinking that the game server should also be able answer back to let know that it is ready, let's say it will load a new map and we want to receive player only when the map is loaded.

[2018-06-30 07:08] markmandel commented on #192
Closing this because we are now working on 0.28 - See #273

[2018-06-30 07:08] #192 closed

[2018-06-30 12:30] markmandel opened #279 "Propagating game server process events to Agones system"
Moving relevant items from #277 so they can be tackled separately

I'm letting this peculate in my head a little before driving towards a opinion on a solution, but some initial thoughts and concerns:

1. This could possibly be a job for a SDK integrate that lets you set game specific Status key-value pairs. Then you could use the K8s watch api to look for these events. Then we aren't tied to just

[2018-06-30 12:31] markmandel commented on #279
/cc @Kuqd @EricFortin @defat - for your input please.

[2018-06-30 12:33] markmandel commented on #277
@Kuqd agreed - the callback is a must. I have some thoughts there - the only potential issue I see is handling the REST version of a streaming gRPC from sidecar->process (rather than the other way around) - but i feel like someone should have solved this.

I also started #279 to tackle the propagation of events from the game server back up into Agones, so the design of two of these don't get inter

[2018-06-30 12:38] markmandel commented on #277
Just to be mega clear, my thought was: on the callback - I basically figure that it will get called whenever the `GameServer` resource is updated, and then the callback code can look for differences and perform whatever action is deems necessary. Sounds good?

That way you could respond to just about any event - state changes, label changes, annotation changes, etc. Which is nice, as if you want t

[2018-07-04 11:18] EricFortin commented on #279
I would lean more to a callback being called when the server is `Ready()`. This way it can be used for other use cases like a connection to a company game service, runtime configuration or matchmaking related communications.

[2018-07-04 14:32] defat commented on #277
Sorry for my late answer...

Having a callback on a dedicated server that's called on updates to GameServer resource sounds more flexible, but this introduces one more step in allocation process (option when session parameters are set separately from creating FleetAllocation). I'm really not sure about reasons for controlling application to modify any dedicated server state after allocation happen

[2018-07-04 14:49] defat commented on #279
Completing fleet allocation process with a callback from dedicated server looks more simple, but technical restriction to do this in 30s time interval seems to unable this option, map loading can take more time.
Approach with dedicated server sending events through an SDK method and listening it with k8s watch API seems to fit most of needs.

[2018-07-04 15:45] markmandel commented on #279
@EricFortin I think that sort of use case should be manageable by the design in #277 - please let me know if it doesn't.

[2018-07-05 17:15] Kuqd commented on #279
`Ready()` from the SDK is already propagating readyness to k8s, what we're lacking is a way to received data from the matchmaker prior being `READY`(Accept players). Do we have any timeout restriction currently on the `Ready()`, for me having  timeout is important but should be configurable  ?

Also I think this only within the GameServer scope (Not Fleet or Allocation).

[2018-07-08 17:51] CrimsonZen opened #282 "Tutorial fails @ Step 5 due to RBAC issues if you have capital letters in your gcloud account name"
In the guide at https://github.com/GoogleCloudPlatform/agones/blob/master/install/README.md#setting-up-a-google-kubernetes-engine-gke-cluster, I ran this line to set up RBAC stuff:

[code]

Then, I moved onto the `kubectl apply` step, which failed. Output included this:

[code]

Turns out, the `gcloud config get-value account` substitution in Step 4 will return a lowercase version of your current

[2018-07-08 18:07] markmandel commented on #282
Oh that's interesting! Good find!

I bet this means there issues across lots of projects that use this step!

[2018-07-09 18:34] jehan96 commented on #238
i believe this already close..
and sorry to comment again..but i believe no need to reopen..just want to confirm..
(because i a little bit confuse between google compute engine and google kubernetes engine)

so, agones will not run on google app engine, okay i understand that...
so if i want to use agones for my game..which google cloud platform product should i choose?
gke or gce?

sorry for the

[2018-07-09 18:36] markmandel commented on #238
You want to be using GKE
https://cloud.google.com/gke

[2018-07-09 22:22] markmandel commented on #279
@Kuqd I think #277 should solve this problem too - the matchmaker could set labels/annotations on the gameserver prior to it being ready, this would fire the callback on data change on the GameServer - and then the game server process could read those annotations/labels and mark itself as `Ready` whenever it would like. That way it can pass data down into the GameServer - and also have that data b

[2018-07-10 05:55] jehan96 commented on #238
okay thanks

[2018-07-11 13:05] Kuqd opened #285 "Agones helm repo"
We could setup a chart repository to streamline installation.

See:
https://github.com/kubernetes/helm/blob/master/docs/chart_repository.md

Possible options :
- Google Cloud Storage.
- Github pages.

Once this is done installation step would be:

[code]

[2018-07-11 14:13] markmandel commented on #285
Ooh! I love this idea - I need to read up on this, but maybe this will also make installing dev versions of Agones easier as well.

We have the domain agones.dev - we can likely do a charts.agones.dev or something similar.

[2018-07-11 16:29] Kuqd commented on #279
yes it works.

[2018-07-11 17:18] markmandel commented on #151
Implemented in #283

[2018-07-11 17:18] #151 closed

[2018-07-11 17:20] markmandel commented on #277
First part of this work in progress here: https://github.com/markmandel/agones/tree/feature/sdk-gameserver-data

Being able to get at the GameServer data from within the SDK.

[2018-07-13 16:15] wwitzel3 opened #287 "No ACK with simple-udp example."
Everything applies fine, but the `simple-udp` server never ACKs using `nc` or `client/main.go`
This is minikube on Ubuntu using the agones YAML from release_0.2.0 and master.

host/port
[code]

`nc` attempt
[code]
`client/main.go` attempt
[code]

`k describe gs`
[code]

simple-udp pod for simple-udp container
[code]

simple-udp pod for agones container
[code]

minikube details
[code]

[2018-07-13 16:21] markmandel commented on #287
That's rather odd. Especially on minikube where there are usually no firewall rule issues.

A few questions:
- What OS are you on?
- What version of minikube are you running?
- what virtualisation layer are you using with minikube?
- Do you run any firewalls (especially of the corporate variety)

[2018-07-13 16:32] wwitzel3 commented on #287
Oh and `virtualbox` is running the minikube image.

`Oracle VM VirtualBox Manager 5.2.0`

[2018-07-13 17:01] wwitzel3 commented on #287
Out of curiosity, I switched to `kvm2` driver for `minikube` and everything worked as expected.

[2018-07-13 17:02] #287 closed

[2018-07-13 17:09] markmandel commented on #287
Weird! But glad it's working!

[2018-07-13 20:37] markmandel commented on #279
So @EricFortin and @Kuqd had a bit of a chat about this, and these are the conclusions we ended up drawing (lemme know if I got any of this wrong):

1) Have an SDK function to be able to set a `Status.GameState` value on the owning `GameServer` (unless someone has a better name?), which can be any `string` value, and will be separate from the Agones specific `Status.State`.

This will also propaga

[2018-07-17 17:35] markmandel opened #290 "Release 0.3.0.rc"
# Release 0.3.0.rc

- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.

[2018-07-18 16:21] markmandel opened #293 "Move Status > Address & Status > Ports population to `Creating` state processing"
Right now the IP and Ports of the `GameServer` is only populated when the `GameServer` is set to `Ready`.

Since this information may be needed by the `GameServer` process before the game server process actually wants to mark itself as `Ready`, we should make this available earlier. There doesn't seem to be a technical reason to wait until `Ready` - other than we need a `Pod` to know what the IP i

[2018-07-19 08:20] victor-prodan opened #294 "In case of dynamic port allocation, offer the option to set the container port to the same value as the host port"
Currently dynamic port allocation assumes that the game server listens on a static port (i.e. 7000) and it allocates dynamically an "external" port (i.e. 7123) that the client will actually use to connect.

I would like to have the option to set the container port the same as the host port. This could be configured for example by not specifying any container port or by setting it to a special valu

[2018-07-19 08:45] victor-prodan opened #295 "Document how to configure maximum number of pods/node that can be allocated"
While operating dedicated game servers, CPU usage is not a good indicator of node load. The server  can mix idle periods (players loading, in lobby, etc) with burst periods (intense gameplay).

You can thus put too many pods in a node because their servers are idle and then when gameplay starts they will starve one another leading to lag, player disconnections or even server crashes.

I propose to

[2018-07-19 09:27] victor-prodan opened #296 "When running the SDK sidecar in local mode, be able to specify the backing `GameServer` configuration"
I am testing locally the game server with the sidecar launched independently in --local mode.
The thing is that in this case, the name of the port created by the sidecar ("default") does not match the name of the port from the yaml file used with a real deployment.
I would like to be able at least to change the "default" port name.

[2018-07-19 10:05] victor-prodan opened #297 "As matchmaker, I want to be able to allocate a specific server instance"
In the context of server registering themselves to the matchmaker (as opposed to matchmaker requesting a random server), it would be useful to allow the matchmaker to allocate a server specified by its "AgonesId" - i.e. pod name. This call is allowed to fail if the server is not online anymore, is not Ready or it's scheduled for decommission.

This eliminates the need of servers allocating themsel

[2018-07-19 10:17] victor-prodan opened #298 "As game server, I want to set metadata that will be retrieved by matchmaker in the moment of allocation"
This metadata can be set for example when server calls Ready()
Useful for example to pass some secret that the clients will need to be able to connect (to prevent cheating/hacking).
Can also be used to pass an url that accesses server remote access/monitoring, custom Ids, etc

[2018-07-19 10:46] victor-prodan opened #299 "Add support for dynamic port ranges"
Currently, we can describe only one port at a time.
There are servers that use a continuous range of ports (i.e. 7000-7010).
When using dynamic port allocation, if we specify each port independently, they will be shuffled across the allocation range and will not be continuous anymore.
We need thus a dynamic allocation method for a range of ports that randomizes only the beginning of the range, kee

[2018-07-19 13:31] Kuqd commented on #295
I think Kubernetes does this already for you.

If within your pod spec template you provide a resource properties you can express the maximum and minimum CPU required see  https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

Now when you set this properly for you gameserver expectations, Kubernetes can (if activated) auto scale nodes based on pods requirements.

W

[2018-07-19 13:33] Kuqd commented on #296
@victor-prodan are we talking about the grpc/http or gameserver port ?

[2018-07-19 13:35] Kuqd commented on #297
Allocation hint are definitively interesting 👍

[2018-07-19 13:39] Kuqd commented on #279
I could cover 1. with 2. by using my own state properties within annotations no ?

[2018-07-19 14:41] markmandel commented on #296
What about this idea: If you could optionally specify a `GameServer` yaml file that you could pass in, that would be the details that are passed back when you want the `GameServer` configuration.

Something like:

`sdk-server.linux.amd64 --local -f gameserver.yaml`

Would that work? Seems like the most flexible.

[2018-07-19 14:45] markmandel commented on #295
Or another angle - I wrote about doing this:
https://www.compoundtheory.com/scaling-dedicated-game-servers-with-kubernetes-part-2-managing-cpu-and-memory/

And this paragraph seems relevant:
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-requests-are-scheduled

If we are happy about this - this is something we should likely document/faq

[2018-07-19 15:38] victor-prodan commented on #296
I was talking about gameserver port and yes, specifying the gameserver.yaml would be perfect!

[2018-07-19 16:14] markmandel commented on #290
Done!

[2018-07-19 16:14] #290 closed

[2018-07-19 16:47] markmandel commented on #298
I believe this is coming - please have a look at the design [here](https://github.com/GoogleCloudPlatform/agones/issues/279#issuecomment-404947105)

Let me know if that will meet your needs, and if so, I'll mark this as duplicate.

[2018-07-19 16:49] markmandel commented on #279
That is a very good point. Sounds like we don't need #1 - the `GameServerState` - just label and annotation editing from within the SDK.

At the very least, we should build #2 first, and then see if there is extra need for anything else.

[2018-07-19 16:56] markmandel commented on #297
I can see this becoming a configuration option on `FleetAllocation` although i would tie it to the `GameServer` record, rather than the pod.

Something like a 'required-gameserver`  (fail if it can't allocate the `GameServer`) and a `preferred-gameserver` (where if it can allocate that `GameServer`, but if it can't it just chooses another one).

That being said I'd love to learn more about the use

[2018-07-19 17:58] victor-prodan commented on #295
Yes, it looks like what I wanted. Can you use this issue as a request to add doc/examples?

[2018-07-19 18:00] victor-prodan commented on #297
Hum ... I think I explained the reason in the request :-|

[2018-07-19 18:11] victor-prodan commented on #298
Yes, #2 seems to do what I asked for

[2018-07-19 18:13] victor-prodan commented on #299
Actually, I guess there should support for static port ranges as well...

[2018-07-19 18:13] victor-prodan commented on #299
Actually, I guess there should support for static port ranges as well...

[2018-07-19 21:34] markmandel commented on #297
So I understand what you want to do, and your preference, but I just don't understand why you want to do it. Specifically, "This eliminates the need of servers allocating themselves which is more complicated to implement." -- In the Agones model, GameServers don't allocate themselves, Agones decides which one to Allocate, so this left me a tad confused.

From my perspective, it seems simpler to ju

[2018-07-19 21:35] markmandel commented on #298
Awesome. marking as duplicate to #279 and closing.

[2018-07-19 21:35] #298 closed

[2018-07-19 21:37] markmandel commented on #295
SGTM. Marked as such, and changed the title. :+1:

Now to work out where we want this to go. Maybe we need a FAQ?

[2018-07-20 05:20] victor-prodan commented on #297
ok, we talked about this on the #users channel so I thought it was clear.

there are games that use a session browser model for matchmaking, în which people can start servers at home that register to the session browser, and the players that want to play chose from there. This îs the 'old-school' way, invented before games had their own servers and online services. While old, this model is still v

[2018-07-20 12:38] EricFortin commented on #279
SGTM

On Thu, Jul 19, 2018 at 12:49 PM Mark Mandel <notifications@github.com>
wrote:

[2018-07-20 14:47] victor-prodan commented on #297
Also, related to this I would like to mention that I3D API allows productions to do all kind of micromanagement with the game servers: browse list, start/stop/restart instance etc

[2018-07-20 15:17] victor-prodan commented on #295
I would like a default setting added to the existing configuration examples, as scaling is an important issue for dedicated servers. Or at least a comment....

[2018-07-20 15:55] markmandel commented on #297
Ah yes! Thanks for deeper explanation - lots of things going on, so great to have this here (and also when I come back to this after Cloud NEXT, it's easy to remember the context) - so appreciate the work.

That makes a lot of sense. I'm definitely not against doing this - I think long term I'd like to see much of that matchmaking 'where all servers' are equal flow into our multicluster work - whe

[2018-07-20 18:56] markmandel opened #301 "Support Multiple Cluster spanning the globe"
Agones should make supporting multiple Agones clusters around the world, and provide tools for streamlining these processes.

I see this come under two main feature sets:

## Cluster Registries
- Be able to add/remove clusters from a single registry
- Be aware of the health of a registry
- That registry should be queryable in some way as well.

There should be existing work, most likely coming out

[2018-07-21 00:07] nikibobi opened #302 "Add unhealthy message to sdk"
Currently game servers send health checks every few seconds and if they stop they become unhealthy. I think an unhealthy method should be added for times when the game server knows it's in a bad state. It should be sent once and the server marked unhealthy.

[2018-07-21 00:09] markmandel commented on #302
Interesting idea! Curious though - if you know you are unhealthy, why not call `Shutdown()` and self terminate?

At least at this stage, that will end up happening anyway. Or are you looking to use the Unhealthy state for something?

[2018-07-21 00:21] nikibobi commented on #302
With unhealthy you know something has happened and maybe should investigate. I think shutdown should be used when a match is over and the game ended normally.

[2018-07-21 00:39] markmandel commented on #302
That's a fair point - but that would mean `Unhealthy` would show up in the resource state, and the event list - which would only be persistent until the resource got deleted - so not that long? At which point, it's gone.

You may be better off just doing some of your own process logging before Shutting something down, and alerting/introspecting/analysing on the aggregated logs?

Curious - is there

[2018-07-21 06:15] victor-prodan commented on #301
I think it would be useful to be able to define spillover rules - when one cluster is full to redirect allocation requests to another one.

[2018-07-21 12:35] nikibobi commented on #302
I don't have a specific use case and I you are right that the resource will get deleted right after. Visualisations would be great.

[2018-07-21 13:52] think01 commented on #277
This is a very interesting feature for me as well.
Just a little question/doubt: since currently there's no way to pass metadata configuration to the FleetAllocation, how can be useful the SDK GameServer() function? I mean, GameServer() can return only standard Kubernetes metadata, which are not the focus of this feature request, or am I missing something?

[2018-07-21 19:51] Kuqd commented on #297
when I was thinking about hint, it was more I want this type of machine, or I want this zone, which is covered by kubernetes by the way using affinity/anti-affinity/node-selector https://kubernetes.io/docs/concepts/configuration/assign-pod-node/.

Now it looks like the title is a bit off the discussion. If I understand correctly you want to be able to browse the list of available servers (browser

[2018-07-24 17:56] markmandel opened #304 "Release 0.3.0"
# Release 0.3.0

- [ ] Review closed issues have appropriate tags.
- [ ] Review closed issues have been applied to the current milestone.
- [ ] Ensure the next version milestone is created.
- [ ] Any issues in the current milestone that are not closed, move to next milestone.
- [ ] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.3.0

[2018-07-26 09:40] think01 commented on #277
Sorry but I don't get it. Why they are so important? And for who? The game manager already knows all of that (from the FleetAllocation creation response), and the game server itself should not need public ip and port. About the allocation via polling, I think they are already working on some event propagation specifically to notify the game server about its lifecycle (and events are much more pref

[2018-07-26 12:41] victor-prodan commented on #297
Just to make things clear, I wasn't talking about 'servers out of Kubernetes clusters'.

I am talking only about adding a simple filter to this iteration:

	for _, gs := range gsList {
		if gs.Status.State == stablev1alpha1.Ready && gs.ObjectMeta.DeletionTimestamp.IsZero() {
			allocation = gs
			break
		}
	}

Looks flexible enough to add filtering by server properties like name, labels, annotatio

[2018-07-26 12:51] victor-prodan commented on #277
@think01 : not all games are the same, there are different flows that make sense in different conditions. in my case, it is very important for the server to know its own public ip and address.

Back on topic, I have given this some thought and I don't fully agree with @markmandel's initial proposal of overriding the server's labels and/or annotations. In my head, these should be read-only properti

[2018-07-26 23:15] g-ericso commented on #138
We made a c++ lib and connected successfully with localhost server. However, I don't have bandwidth to make a blueprint or UE library.

[2018-07-27 08:32] victor-prodan opened #308 "Update "Developing, Testing and Building Agones" tutorial with how to push updates to your test cluster"
I followed the Developing, Testing and Building Agones instructions and they worked pretty well to push and test the first build to GKE.

The problem occurred when I had made some changes locally (to the agones controller) and I wanted to push my changes to the cluster.

After multiple trial and error I discovered that it is possible by:
- push the new images to gcr.io (make push)
- delete the cur

[2018-07-27 10:44] think01 commented on #277
Fair point.

Well, the empty label could not be necessary: a FleetAllocation could add a new label/annotation/whatever to the GameServer metadatas. Anyway I agree on your concerns about the proposed mechanism to use the standard metadata of the GameServer object: if every FleetAllocation apply its metadata to a GameServer, how can we know what are the valid values of the last allocation? it looks

[2018-07-27 17:39] markmandel commented on #277
I'm writing notes on #307 - but I have to strongly disagree with creating a `AllocationMeta`.

Annotations and labels are not read only values - there are there to be mutated as need be. There are multiple cases within Kubernetes where changing label values is useful and encouraged.

If isolation is an issue, then use a prefix - and this is actually best practice as well for this very reason.

The

[2018-07-27 17:44] markmandel commented on #308
You are correct - we should be clear about making changes.

That being said - it should be a repeat of the original process:

(for GKE, add the minikube prefix for minikube)
`make build-images`
`make push`
`make install`

Or you could do this in one go:
`make build-images push install`

(You may need to `gcloud-auth-docker` somewhere, but the general gist stays the same)

[2018-07-27 17:47] markmandel commented on #297
I was thinking about this more - does this lead down a path of having heterogeneous game server fleets?
(which is really against the idea of what we're trying to build).

Why not create seperate fleets if you want different types of game servers, and then have your matchmaker decide which fleet to allocate to? (based on their labels and annotations)?

Would that not work?

[2018-07-27 17:48] markmandel commented on #301
Ooh, that's an interesting idea. Kind of like a global fleet allocation load balancer. Nice :+1:

[2018-07-28 08:04] victor-prodan commented on #308
The thing is that make install does not make K8s to pull the new image and update the controller. I think this might be because the new image has the same label and the default pull policy is 'if it does not exist'

[2018-07-28 08:21] Kuqd opened #309 "Helm upgrade and SSL certificates"
When updating using `helm upgrade` the certificates for the admission controller gets regenerated but the controller pod doesn’t  get restarted and thus keep the old certificates which causes this error

[code]

using `helm upgrade --recreate-pods` fixes the issue but we needs to document it.

@markmandel are we ok in recreating the controller pod at each upgrade ? Or do you have a better idea ?

[2018-07-29 16:34] think01 commented on #277
Uhm. Maybe I'm missing (or misunderstanding) the purpose of these "allocation metadata". For what I've understood so far (and my own point of view), these datas are generated by the Game Manager when it needs to start a new game session, allocating a new Game Server. In my use case, they are "domain data", that is they are specific to my game and their only purpose is to be consumed by the Game Se

[2018-07-29 17:41] victor-prodan commented on #297
More fleets you have more time and resources you waste managing them.

vin., 27 iul. 2018, 20:47 Mark Mandel <notifications@github.com> a scris:

[2018-07-30 16:02] victor-prodan opened #310 "As game server, I want to get the Agones sidecar version"
Useful mainly for logging, to know with what version of Agones sidecar you're running.
But game servers could also require a minimum (or a specific) version to run.

Maybe add it as an annotation?

[2018-07-30 16:06] markmandel commented on #310
The Agones sidecar does send its version to its own log stream, which will get added to the logs for the Pod, so it should be there already.

But I like the idea of adding the Agones version to a `GameServer` (and maybe all resources?) as an annotation. Could be useful as upgrades happen. :+1: I can see that being useful.

[2018-07-30 16:18] markmandel commented on #297
But as soon as you have heterogeneous fleets, you end up in the same place - you're just moving the place you are managing them, and making things more complicated, rather than less.

In fact, having multiple fleets, makes doing smoke testing, and even blue/green deployments of game servers that much easier - and much simpler concepts to manage at large. I definitely lean towards keeping things si

[2018-07-30 16:30] markmandel commented on #277
@think01 thanks for the feedback -

My point re: prefixes still stands. You should use a prefix as standard practice (maybe this is reason that we should impose one?) this separates your annotations and metadata away from anything that K8s/GKE/other systems would provide.

Your point re: being able to pass unstructured data is totally valid (especially around forcing marshall/unmarshalling -- you

[2018-07-30 16:37] markmandel commented on #309
Copy pasting chat transcripts, for posterity:

[code]

[2018-07-30 16:42] markmandel commented on #308
So `make install` on GKE _should_ set the `imagePullPolicy` to `Always`.

Where you using `make install` ? (basically, where you using the development tooling?)

[2018-07-30 16:49] victor-prodan commented on #308
I'm using it in a CentOS 7 VirtualBox.
After running make install, I did a "get pods --namespace agones-system"
and noticed that the up time for the pod was unchanged.
As the image had the same label, there was no other way for me to check if
the controller was updated.

On Mon, Jul 30, 2018 at 7:42 PM Mark Mandel <notifications@github.com>
wrote:

[2018-07-30 17:02] markmandel commented on #308
:man_facepalming: of course. You would actually have to delete the pod, for the new one to be pulled down.

Yeah, this should be documented as well. Good catch.

[2018-07-30 17:22] CrimsonZen commented on #297
Since I was mentioned here, I should clarify what my use case was.

I wanted game servers to be able to allocate themselves so that I could use Agones's fleet scaling system—without changing my client code to talk to the Agones "server mamanager."

My players directly "look for an empty court," then walk on and start playing. I simply needed a tool that observed if more courts needed to be built o

[2018-07-30 19:14] markmandel commented on #277
FYI, very early work on the gameserver change callback over here:
https://github.com/markmandel/agones/tree/feature/gs-callback

[2018-07-30 19:53] think01 commented on #277
@markmandel

Yes I totally agree. And to be honest for my project could be already enough: I can use annotations to pass a session token and some other string identifier and using some key-value store like Redis from which the Game Server can fetch more structured session data using ids from its annotations.

Cannot wait to start using it ;-)

[2018-07-30 20:03] markmandel commented on #308
@Kuqd looking at #309 as well - should we add `--recreate-pods` to our Makefile `install` commands for development purposes. Would solve part of this this issue as well. WDYT?

[2018-07-30 20:06] Kuqd commented on #101
Every remaining work has it's own issue, let's close it.

[2018-07-30 20:06] #101 closed

[2018-08-01 20:26] victor-prodan opened #314 "As developer, I want to emulate an allocation in local mode"
This is useful to be able to work on the server integration locally.

[2018-08-01 21:51] markmandel commented on #314
You can always setup minikube locally - that is an option.

That being said, I can definitely see use cases for just having the lightweight local sidecar.

Any thoughts on how this would work? Some kind of way to talk to the binary?

Maybe the binary watches the gameserver.yaml file that gets passed in #296 - and if it get's changed, it fires the change up through the SDK (when #277 callback works

[2018-08-02 04:37] victor-prodan commented on #314
I see two solutions:
1. Pass a fleetallocation.yaml as parameter. In this case, the sidecar will automatically allocate the server as soon as it reports ready ( or maybe with a configurabile delay but that's not a must)
2. In localode, sidecar extends its REST api with extra options that can be used by dev itself. This would be useful for simulating other cluster events as well, but I cant think o

[2018-08-09 18:36] markmandel commented on #37
Got another one for you - if health checking is disabled, then the game server shouldn't be marked as unhealthy if no health pings are sent (just found this as a bug, and it's only going to get covered by e2e test)

But yes - we should prioritise, and we can work through them slowly each as a separate PR. Also happy to defer to your opinion on the order.

[2018-08-10 16:15] #277 closed

[2018-08-14 23:37] markmandel commented on #186
This seems to be at a happy place. Closing!

[2018-08-14 23:37] #186 closed

[2018-08-14 23:58] markmandel commented on #279
Work happening on SDK label + annotation editing via the SDK here:
https://github.com/markmandel/agones/tree/feature/sdk-metadata

[2018-08-16 17:11] #173 closed

[2018-08-18 09:16] Kuqd commented on #309
Yes indeed, but it’s fixed only if you use the make target to install!

[2018-08-18 09:59] Kuqd commented on #309
I'd like to explore this https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change

[2018-08-18 11:10] Kuqd commented on #309
so I could use an annotation to force the restart of the pod, but the drawback is I need to merge the controller.yaml and admissionregistration.yaml to access the generated cert.(I tried to use `include` function but it gets re-evaluated.)

At this point I realized that a timestamp as annotation would have the same result, since certificates are regenerated all the time. (There is no way to genera

[2018-08-21 00:13] markmandel commented on #309
This idea sounds good to me!

[2018-08-22 10:53] KamiShepard opened #324 "Fleet allocation request could not find fleet"
I am implementing fleet allocation in node through REST request to kubernetes api, and it doesn't seem to work.

I POST to `/apis/stable.agones.dev/v1alpha1/namespaces/default/fleetallocations` with JSON body

[code]

And it returns error:
[code]

However if I do it through command line and post this:
`kubectl create -f https://raw.githubusercontent.com/GoogleCloudPlatform/agones/master/examples/s

[2018-08-22 16:46] markmandel commented on #324
Looking into this, to see if I can replicate - Can you provide Kubernetes implementation details? Version, if it's hosted - which hosted version?

[2018-08-22 16:56] KamiShepard commented on #324
Hosted on GKE using agones 0.3.0

`Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd6
4"}`

`Server Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.10.5-gke.4", GitCommit:"6265b9797fc8680c8395abeab12

[2018-08-22 17:10] markmandel commented on #324
Worked it out - there's a bug in my code (or k8s, depending on how you look at it).
kubectl looks to populate the `metadata.namespace` with the default namespace whereas the API won't - because reasons.

I think I can work around this in my code, but for now, here's a workaround for you (and I'm going to document this as well):

[code]

Good find!

[2018-08-23 17:01] #324 closed

[2018-08-24 01:16] markmandel commented on #297
I was re-reading this thread, and realised something today.

You can do this now.

If you want to Allocate a specific `GameServer` - go to the Kubernetes API, and update the specific `GameServer` with the `Status > State` of "Allocated".

Voila. You don't actually need anything special on the Agones side. Just update the `State` yourself.

[2018-08-25 01:58] markmandel commented on #297
@steven-supersolid Why don't you only allocate a `GameServer` when you have a complete party in your matchmaker?

Is there a particular reason you would allocate as each player requests a match and before they are grouped?

[2018-08-26 11:29] steven-supersolid commented on #297
That's an option we discarded in an effort to simplify the system but can definitely revisit.

Our current approach is that our matchmaker does not know about or update state regarding queued players or desired party size and passes this responsibility on to the game server that they will be playing on. It is only aware of requested game mode, and state and mode of game server as reported via labe

[2018-08-26 19:03] markmandel commented on #297
@joeholley Do you have thoughts here -- since this seems to have moved into a matchmaker discussion, which I know is your area of focus.

I will likely end up closing this ticket, just because the functionality actually exists already through the k8s api -- but maybe this is another thing we should put in some kind of "tips and tricks" or "advanced guides" or similar documentation section?

[2018-08-26 21:01] #279 closed

[2018-08-26 21:38] #293 closed

[2018-08-27 04:58] #296 closed

[2018-08-27 20:07] markmandel opened #329 "Move to using CRD Subresources for all Agones CRDs"
# Design
We would want to generate the client code and write the kubectl configuration for Subresources.

I'm not 100% positive if this is enabled by default / available on cloud providers in Kubernetes 1.10. We _may_ have to wait until Kubernetes 1.11 is available across the board.

That being said, this looks to break down to two major things:

### Status Subresource
This doesn't give us any ext

[2018-08-28 14:53] markmandel opened #330 "Release 0.4.0.rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.4.0.rc`)
- [x] Ensur

[2018-08-29 23:55] #330 closed

[2018-08-31 08:43] victor-prodan opened #334 "Horizontal Fleet Autoscaling"
**What**

Horizontal Fleet Autoscaling means modifying in real time the number of replicas (game servers) of a fleet, according to demand (i.e. numbers of servers allocated) and user-defined settings (i.e. min/max buffer size).

Cluster autoscaling (adding/removing nodes) is a separate issue (#145) which, given the multi-tenancy nature of Kubernetes (a cluster may host multiple fleets), must be ad

[2018-08-31 13:18] EricFortin commented on #334
While I agree with the need, I believe some implementation details need to change. @markmandel will certainly bring more insight than I can but I'll give it a try. I think we should use the scaling mechanism built into Kubernetes meaning the Fleet controller should only be responsible of maintaining a number of servers. The Fleet autoscaling should be another component as is the HPA. If we put the

[2018-08-31 13:39] victor-prodan commented on #334
I think that if you want to do an external component, with custom autoscaling algorithms, you can already do this right now using Kubernetes API and updating the Fleet's spec replicas.

Actually the game server sets are responsible for that... right now the fleets are responsible for doing rolling updates (by creating and scaling game server sets).

[2018-08-31 13:45] victor-prodan commented on #334
This is the "ready" buffer I mentioned above.

This is not a metric known by Agones... and the "ready" buffer addresses this implicitely

I don't understand how these would be useful... scale blindly ignoring actual demand?
All these events materialize in increased demand, which is handled by the "ready" buffer.
What is useful is to set the size of this "ready" buffer and min and max replicas for

[2018-08-31 16:25] steven-supersolid opened #335 "Health messages logged with wrong severity"
Running in GKE and viewing logs in Stackdriver Logging, health message logs are still seen when the log filter level is set to Error. The level inside the message is "info" but severity is "ERROR"

E.g.
`2018-08-31 17:16:44.000 BST
{"msg":"Health Ping Received","level":"info","source":"*gameservers.SDKServer"}`
[code]

Not sure if this is a bug with Agones or a project configuration issue.

[2018-08-31 16:26] markmandel commented on #335
I actually think all logs in gke come through as Error level (not sure why) - but will double check.

[2018-08-31 20:49] markmandel commented on #334
I agree with @EricFortin on this one, I think this should be a separate CRD and controller (inside Agones though) that is applied to a Fleet - and ideally a CRD that can allow for the expansion to multiple different scaling strategies, as we discover and implement more.

Basically following the pattern of Deployments and PodAutoscaling - and also continuing with our modular development pattern. (A

[2018-08-31 21:25] markmandel commented on #334
@victor-prodan also brought up a good point in chat - having these as separate, also facilitates changing of the autoscaling strategies or configuration without having to also manage it as a change of the underlying fleet as well - which I think is quite powerful.

[2018-09-01 10:08] victor-prodan commented on #334
Regarding configuration and customization.

I think that @EricFortin is right when saying that there is a huge playground and each production will want something different, even between fleet types/game modes/stages/environments.

I dont think that Agones cam implement enough built-in policies and configuration options to satisfy big scale productions.

What I think is that Agones should implement

[2018-09-01 10:35] victor-prodan commented on #334
Two additional items of interest:
* Shouldnt the update policy be extracted into its own component as well?
* How does #329 impact the implementation of the scaler? Should we wait for that?

[2018-09-01 20:31] victor-prodan commented on #334
One reason for separate update strategy: the current strategy îs very simple, a production needs more features and leverages, for example automatic roll backs If the new version is faulty.

[2018-09-01 20:53] victor-prodan commented on #334
The next policy after the simple buffer I think IT should be an adaptive/smart/predictive buffer, that gets bigger If there îs a ramp up in allocations and smaller during ramp downs. Or in other words in tries to predict the demand in the near futute and adapta to it.

[2018-09-02 08:46] victor-prodan commented on #334
More thoughts on HFA config. For the simple buffer  policy I think that these settings are enough:
* BufferSize
* MinReplicas
* MaxReplicas

Min/Max are hard caps.

[2018-09-02 08:54] victor-prodan commented on #329
Subresource implementation example found here: https://github.com/kubernetes/sample-controller

[2018-09-04 22:12] markmandel opened #341 "Release 0.4.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.4.0.rc`)
- [x] Ensur

[2018-09-06 00:57] #309 closed

[2018-09-06 01:16] markmandel commented on #341
Done!

[2018-09-06 01:16] #341 closed

[2018-09-06 02:04] Kuqd commented on #285
I ‘m thinking to add a google cloud storage bucket ´agones-charts’ with a backend (load balancer) to redirect https://agones.dev/helm.

Then we add all previous releases to the bucket. We also add a step to push a release( helm package + gcs copy) in the release make target.

Finally we should update the release and installation process documentation, the later should be

´´´
helm repo add agones

[2018-09-06 02:27] Kuqd commented on #187
Started to use locally https://github.com/golangci/golangci-lint which advertise faster (also a lot less memory usage) than gometalinter, looks good so far.

They have an [optional spellchecker]( https://github.com/golangci/golangci-lint#disabled-by-default-linters--e--enable) (https://github.com/client9/misspell).

We could do a two birds one stone here ? Improve lint target and have grammar chec

[2018-09-06 15:42] markmandel commented on #187
I think we looked at this a while back as well - for the same reasons. @enocom do you have any thoughts or feelings?

Need to make sure our exclude list still works. I'd also like to add `goimport` testing too.

[2018-09-06 15:56] enocom commented on #187
It would be nice to use misspell, especially if we're going to switch to golangci-lint.

[2018-09-06 16:03] markmandel commented on #187
I say -- let's do it!

Also linking #237 to this, as it looks like the work crosses between the tickets.

[2018-09-06 17:18] markmandel opened #344 "Agones sdk-server sidecar should have cpu and memory limits"
Right now the sdk-server sidecar will default to 0.1 cpu usage (not sure on memory).

This feels like overkill for the sidecar server, as it doesn't do very much, and is a waste of good cpu!

We should measure this, and set appropriate limits.

We should also make this helm configurable.

## Implementation
Add resource limits here:
https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/game

[2018-09-06 21:01] markmandel commented on #285
I wonder if we even need the load balancer. I already run an app-engine app at agones.dev - so we could just modify that to serve out of the GCS bucket.

Maybe through: https://github.com/google/weasel even?

[2018-09-06 22:53] markmandel commented on #104
Any objections to me closing this issue? Looks like the pattern we have now solves this for the moment?

[2018-09-08 01:08] #187 closed

[2018-09-08 01:08] #237 closed

[2018-09-08 23:05] Kuqd commented on #285
This is ready to test see my branch:

https://github.com/Kuqd/agones/commit/af17eedcc16388ee78642b847f1aad0a7c1d06c1

I've added 3 targets (one to package the chart, one push and one to push a specific version).

Once this is tested I would update doc and do-release target.

[2018-09-10 08:07] victor-prodan opened #348 "Improve support for developing in custom environments"
Improve makefile support and documentation for working with:
- custom cluster providers
- custom image repositories
- multiple clusters

[2018-09-11 16:48] markmandel commented on #104
Going to close this, sounds like it's not an issue anymore.

Please re-open as needed.

[2018-09-11 16:48] #104 closed

[2018-09-11 17:01] markmandel commented on #285
@Kuqd - Just to confirm - I need to create a redirect from agones.dev/chart/stable to https://storage.googleapis.com/agones-chart/ ?

[2018-09-11 17:32] Kuqd commented on #285
yes please !

[2018-09-11 17:58] markmandel commented on #285
@Kuqd I've setup a redirect from http://agones.dev/chart/stable to https://storage.googleapis.com/agones-chart/

I don't know if I'll need to redirect certain file requests, I've just done the singular path. Let me know how testing goes.

[2018-09-11 18:46] Kuqd commented on #285
everything under the bucket should be curlable such as
[code]

[2018-09-11 19:27] markmandel commented on #285
Try now :smile:

[2018-09-12 17:03] victor-prodan opened #354 "Fix loophole in game server initialization"
The normal server init flow is creating->starting->requestready->ready

In creating state we do the following:
- createGameServerPod
- applyGameServerAddressAndPort

If after creating a pod, we can't retrieve its address for some reason (func applyGameServerAddressAndPort fails), we stop and the game remains in creating state without status unpopulated.

The pod is created though, and the game ser

[2018-09-12 18:52] Kuqd commented on #285
We're all set:

[code]

[2018-09-12 21:05] markmandel commented on #354
Aaaaah! That's what is causing the e2e tests to fail! Nice catch, will look into it!!!

[2018-09-13 02:28] markmandel commented on #285
Awweessome. So what are next steps? Documentation?

[2018-09-13 02:45] markmandel commented on #354
This looks to be the cause of the issues.

[code]

Basically, a Pod can be created, and the backing container may(s) fail (or just be slow) to be initially scheduled. If they aren't scheduled, then they don't have a node. For example, there could be resource contention, and there could be a delay in the container being able to be scheduled on the cluster between being declared and actually running

[2018-09-13 04:54] victor-prodan commented on #354
@markmandel I have  simpler solution in mind. Just populate the adress info when setting the GS as ready, If not set already. Why add an extra delay? If we set as ready, we definitely have a node.

[2018-09-13 06:37] markmandel commented on #354
That's what we used to do - but we changed it so that the game server process could reliably get its ip and port if it needs to before declaring itself as Ready. If we revert this, that goes away.

Unless I misunderstood?

[2018-09-13 07:13] victor-prodan commented on #354
Yes, it looks like you misunderstood 😕.
I did not say to revert, but to merge.

Anyway, your solution of blocking ready does not allow the server to `reliably get its own ip before declaring itself as ready`. You need an extra blocking call before that. Maybe the equivalent of GameLift's Init?

[2018-09-13 07:33] markmandel commented on #354
Ah, okay. Still not quite sure I follow 😣

But re: blocking, that's mainly to ensure that a game server can't mark itself as Ready before it has an ip and port -- which stops a gameserver with (potentially) no IP and port being allocated.

The game server can reliably get its ip and port, it needs to listen to the configuration update notifications via the sdk until the status values are populated

[2018-09-13 08:02] victor-prodan commented on #354
Ok, this means that my idea would work.
And because a PR is better than 1000 words, I'll make one soon...

[2018-09-13 08:10] markmandel commented on #354
Okay cool - I'm working on my strategy :smile: at least one of them should definitely work! :+1:

[2018-09-13 08:17] markmandel commented on #354
Work started here: https://github.com/markmandel/agones/tree/bug/no-node-pod

[2018-09-13 08:32] victor-prodan commented on #354
Ah, I forgot that I can show code that way.
No PR then, just have a look here: https://github.com/victor-prodan/agones/tree/serverloopholefix.
It's ready :)

[2018-09-13 08:53] markmandel commented on #354
Ooooh! I follow now! :man_facepalming: not a instead of, but an "as well as". Got it. Code definitely made it clearer - thanks for that. (I'm blaming jet lag! :rofl:)

With this solution though - if the initial pass to set the address fails -- then how will it end up getting to the SDK's config listener? It will just get skipped, and never get populated?

Now I'm thinking a solution that's in betw

[2018-09-13 09:31] markmandel commented on #354
Updated with the first pass on the above approach:
https://github.com/markmandel/agones/tree/bug/no-node-pod

(Still need  to fix tests and make sure everything works -- but you can get the gist)

[2018-09-13 23:19] markmandel opened #355 "[Vuln] Update to Alpine 3.8.1"
A security vulnerability was just released for Alpine's apk system. We should update our Docker images that use Alpine for the next release.

https://alpinelinux.org/posts/Alpine-3.8.1-released.html

[2018-09-15 18:06] Kuqd commented on #285
I have updated the documentation but repo doesn't work anymore. I wanted to add info on how to install a specific release.

[2018-09-17 08:54] victor-prodan commented on #354
Yes, I took the liberty of leaving a couple of comments :smile:

[2018-09-18 01:42] markmandel commented on #285
Do I need to make any additional changes to make it so the repo works?

[2018-09-18 15:18] Kuqd commented on #285
hum it works on my work station but not at home ... I will investigate

[2018-09-20 17:45] #354 closed

[2018-09-21 07:11] victor-prodan commented on #348
Impemented in #349

[2018-09-21 07:11] #348 closed

[2018-09-21 07:20] victor-prodan commented on #308
I think this is fixed now.
`make install` always recreates the pods and #349 added more doc.

[2018-09-21 07:20] #308 closed

[2018-09-21 07:58] #335 closed

[2018-09-21 10:06] #285 closed

[2018-09-24 02:16] markmandel commented on #355
Fixed in #364

[2018-09-24 02:16] #355 closed

[2018-09-24 02:19] markmandel opened #365 "GameServer Safe Manual Cluster Node Scaling"
## Problem

*   To build cluster autoscalers, we need a way to declare the state how many nodes there should be in a cluster -- that is `GameServer` aware, and does not shut down nodes that have `GameServers` on them that are `Allocated`.
*   Current auto scalers will not work, as they are built for stateless solutions - and thus will terminate nodes arbitrarily
*   This solution should be designe

[2018-09-24 13:39] Kuqd commented on #153
Should we close ? I feel like we have already good helm integration, WDYT ?

[2018-09-24 14:02] markmandel commented on #365
/cc @dgkanatsios , @BrianPeek , @Annonator

Do you see any issues with the above strategy on AKS?

[2018-09-24 14:04] markmandel commented on #153
I think you are right! I think we can close this. @fooock any objections?

[2018-09-24 17:12] fooock commented on #153
Ok, we can close this :+1:

[2018-09-24 17:40] markmandel commented on #153
Done!

[2018-09-24 17:40] #153 closed

[2018-09-24 18:27] victor-prodan commented on #365
I dont see why we should have GKE config specified differently from other vendor. After all, this config is sent as is tot the Increase method, so it can be a generic key/value meta def. Unless I missunderstood?

[2018-09-24 18:29] dgkanatsios commented on #365
I think what @markmandel means is that each cloud provider has their own API to do scale out/in on their respective managed cluster.

[2018-09-24 18:32] markmandel commented on #365
Exactly what @dgkanatsios says - and also knowing that how to scale each cluster can be different depending on cloud providers. I know GKE uses NodePools, but that's not a ubiquitous construct (at least not AFAIK?)

[2018-09-24 18:39] victor-prodan commented on #365
Of course each provider has a different method, hence the grpc communication with the actual logic.  But in the end, the config needed to Increase () can be reduced to an abstract key/value meta for any of them, including GKE.

[2018-09-24 20:45] markmandel commented on #365
@victor-prodan maybe I'm missing something - isn't that exactly what is being passed? `Increase` gets a int64 to target, and a map<string,string> -- albeit wrapped in some gRPC messages.

Or maybe I explained something badly?

[2018-09-24 20:48] markmandel commented on #365
Or is this a config question?

Are you saying this should be something more like this:

[code]

That would work nicely as well!

[2018-09-24 20:54] victor-prodan commented on #365
Yes, the grpc part looks very generic, but GameServerNode example seems to hint that GKE will get preferential treatment. You mentioned GKE and custom clusters as separate entities, and I wanted to make sure If that's intended. 😊

[2018-09-24 22:04] markmandel commented on #365
The only downside to above, with a generic `config` is that we can't provide any OpenAPI validation rules for the configuration - we'd have to do it all through the ValidationWebHook, and we'd have to manually parse text to integers.

Unless I'm missing the point here - which is possible.

[2018-09-24 22:06] markmandel commented on #365
oooh @victor-prodan I just meant that I would implement GKE first (just because I know it) -- but the config should work/or be extensible to all K8s providers, and they should be on equal footing. Absolutely! That's quite the point, I wanted to make sure the above would work for all.

[2018-09-24 22:10] markmandel commented on #365
Another version of the config (which I may be leaning more towards,  the more I think about it):

[code]

Thoughts?

[2018-09-25 05:07] victor-prodan commented on #365
@markmandel? Why not unifying validation as well? How about a Validate(config) method to grpc?

[2018-09-25 12:13] markmandel commented on #365
@victor-prodan that is an _excellent_ idea. Let me work that into my design. I like that a lot!

[2018-09-25 14:01] markmandel commented on #365
Updated the design with @victor-prodan 's suggestion - that's a very elegant solution :+1:

Also made a note "This will be in a separate binary and deployment from the controller, but in the same namespace." - I think this should be in it's own binary, although have all the default cloud providers in the single binary (that binary does the auto detection -- and since we now have `Validate` - if it

[2018-09-25 17:54] victor-prodan commented on #365
I would go for AgonesCluster as it's the most self-explanatory imo

[2018-09-25 18:35] alexandrem commented on #365
Just wanted to share a neat trick that you can do with CRDs and Kubernetes API machinery. Perhaps you could use that for those provider configs.

It's possible to have nested objects that are fully typed and expose them as such in the manifest definitions.

For instance, I used to have something like this:

[code]

What is under `providerConfig` is actually a valid registered schema type in Kubern

[2018-09-25 19:21] nikibobi opened #366 "C++ SDK no destructor body"
For some time now I got weird linker errors when I try to `delete` pointer to `agones::SDK`. When I looked at the source I saw that there is a destructor declared in the `.h` file, but it is missing in the `.cpp` file.

There are a few ways to fix it:

1. Delete the declaration in the header file: ~~`~SDK();`~~
2. Add empty body in cpp file: `agones::SDK::~SDK() { }`
3. Set it equal to default in

[2018-09-25 19:27] markmandel commented on #366
Please submit a PR! My c++ is not good, as you can see!

[2018-09-26 11:09] EricFortin commented on #365
What would happen in the GKE use case where we are using(possibly) multiple node pools. We would have multiple GameServerClusters in a single k8s cluster? I am also leaning toward GameServerNodes for this reason.

[2018-09-26 13:35] alexandrem commented on #365
@EricFortin That's a good point, GameServerNodes makes more sense in that regard.

I might have some doubt about the direction of this work. What is the motivation behind developing this new gRPC interface and scaling logic separately?

Basically, why can't we leverage the work being done here:
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider

Can we decouple t

[2018-09-26 14:56] markmandel commented on #365
@EricFortin agreed -- that is an excellent point. I think we may all have reached quorum on `GameServerNodes`. 👍

@alexandrem you also raise a good point 👍 - honestly I'd pretty much dismissed the cluster auto scalers, but it looks like they have improved (I wasn't aware of the annotation!). I still have some concerns about scale down, but they may be unfounded -- I'll take another look! If we can

[2018-09-29 14:48] victor-prodan commented on #365
It looks to me that node autoscaling might already be working with GKE. Their autoscaling doc says

[code]

This might mean we could just add a pod affinity rule when allocating its gs that prevents rescheduling and it will work.

On top of this, we should add pod affinity rules to schedule new pods on nodes with already allocated gs, and also to alocate gs with priority from nodes which have othe

[2018-10-02 00:31] markmandel opened #368 "Using the Cluster Autoscaler with Agones"
## Problem

*   It is desirable to autoscale the Kubernetes cluster to account for increases in player count, and need for more game servers, in a way that will work across cloud
*   There currently exists a generic cluster autoscaler project -- but it is mostly targeted at stateless workloads

## Design

The overall design to use the [open source cluster autoscaler](https://github.com/kubernetes/

[2018-10-02 00:32] markmandel commented on #365
So I wrote up a _really rough_ design using the autoscaler, I ran into a bunch of issues around scaling down, that I'm trying to work out how to resolve:

https://github.com/GoogleCloudPlatform/agones/issues/368

Have a look, would love your feedback. Not quite sure what the right way to go here is.

[2018-10-02 04:42] markmandel commented on #368
Updated with exact details on the Taint being applied to the Node. Worked  it out by digging through the code.

[2018-10-02 15:22] #366 closed

[2018-10-02 18:09] GabeBigBoxVR commented on #368
This is great, I think one potential issue is when to scale up.  For our servers, we use stateful Unity game servers and having an option where we can always leave one empty server running would be desired. I'm wondering what's the best way for demand to be fed into the autoscaler.

Regarding scale down, the defaults of 10 minutes are fine for me, given that it will ensure that spin up times are r

[2018-10-02 18:10] GabeBigBoxVR commented on #144
Wow, this would be amazing, especially for FPS games where tick rate is super important.

[2018-10-02 18:15] markmandel commented on #368
@GabeBigBoxVR you would essentially control scale up/down by scaling up and down your Fleets - you cluster would then adjust to the space the Fleet was taking up accordingly. It's actually quite a nice model, as you only need to influence one part of your config - the rest happens automatically.

You can see some work on a Fleet autoscaler in #340

[2018-10-02 18:41] markmandel commented on #365
Unless anyone has any objections, I think I'm going to close this issue.

I'm working through some of the issues that I'm discovering with #368 (cluster autoscaler), and I think it is the way to go. I think some of the concerns I have will need to be worked out through experimentation and seeing what breaks with the autoscaler - primarily around scaling down.

Worst case - we may need to handle mo

[2018-10-02 21:35] GabeBigBoxVR commented on #246
Going to start some work on this to get a proof of concept working for Unity game servers client. Mainly to get the health checks working first.

[2018-10-02 22:49] markmandel commented on #37
Just updated this with what I completed on e2e tests.

[2018-10-03 05:37] markmandel commented on #368
Updated with what I think this is the working design - much simpler details, and much less room for error.

See [history](https://gist.github.com/markmandel/dc61f7bc2fa5435bd781fe4f7e08f31a) for changes if you want to see previous versions.

The only leftover question I have is about how the scheduler will work, but I think that's a solvable problem, and just requires some research.

[2018-10-04 21:12] rezam90 commented on #246
Hi, any plans to have the Unity client?

[2018-10-04 21:27] GabeBigBoxVR commented on #246
Yes, I'm working on it now.

[2018-10-07 07:13] Maxpain177 commented on #301
+1. I'm really looking forward to it

[2018-10-08 21:21] markmandel commented on #365
I see no objections :smile: closing in favour of #368

[2018-10-08 21:21] #365 closed

[2018-10-09 18:00] markmandel commented on #135
Closing this ticket, and moving everything into #134

[2018-10-09 18:00] #135 closed

[2018-10-09 18:15] markmandel commented on #134
@martin-z-google This is the current state of the C++ SDK situation - please let me know if this makes no sense :smile:

[2018-10-09 19:29] markmandel opened #378 "Release 0.5.0.rc"
- [ ] Review closed issues have appropriate tags.
- [ ] Review closed issues have been applied to the current milestone.
- [ ] Ensure the next version milestone is created.
- [ ] Any issues in the current milestone that are not closed, move to next milestone.
- [ ] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.5.0.rc`)
- [ ] Ensur

[2018-10-11 14:49] santhh opened #382 "Fleet Auto Scaler watch"
Hello everyone: How does watch work for fleet auto scaler?  I am trying to watch this but it does not send any stream.

http://localhost:8001/apis/stable.agones.dev/v1alpha1/namespaces/default/fleetautoscalers&watch=true
Is this normal? I am trying to get  stats in stackdriver about how many GS read vs allocated in real time

[2018-10-11 15:34] markmandel commented on #382
If you want to manually watch an API - you should follow these guidelines:
https://kubernetes.io/docs/reference/using-api/api-concepts/

But I would recommend using one of the clients to do this - the go generated client in this library would likely work best, but there is CRD support for other languages of varying capabilities.

[2018-10-11 22:38] Kuqd commented on #301
@markmandel Question: is it out of scope cluster creation ? I personally think so, also this makes it easier to handle multiple clusters by using a single mean of connection the kubeconfig/service account. We should however add a tool that help to register kubeconfig for each provider.

[2018-10-11 22:40] markmandel commented on #301
@Kuqd yeah, I would agree that cluster creation is out of scope - but yes, we need some kind of tool for managing kubeconfig -- I wonder if cluster-registry will help?

[2018-10-11 22:50] #282 closed

[2018-10-11 23:02] Kuqd commented on #301
no it's something else basically endpoints and authinfo (bearer token from sa).

However looking at the code base there is nothing else than the CRD and generated code for it, so this is very early. At the end of the day you need a [rest.Config](https://github.com/kubernetes/client-go/blob/master/rest/config.go#L51)

[2018-10-13 16:52] ortho commented on #134
Do you want to run protoc during build phase when using cmake or just want to compile current source using cmake (to make small step for cross building)?

[2018-10-15 16:34] markmandel commented on #134
@ortho I think I understand the question? (I'm not 100% sure)

We generate the code from protoc and store it in  our github repo - since it's not going to change. We only change it when the .proto file changes -- and you can run `make gen-gameservers-sdk-grpc` to regenerate as needed.

Does that answer the question?

[2018-10-16 16:06] markmandel opened #387 "Release 0.5.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.5.0-rc`)
- [x] Ensur

[2018-10-16 19:50] markmandel commented on #387
Done!

[2018-10-16 19:50] #387 closed

[2018-10-16 20:36] markmandel commented on #134
@ortho - so right now, @martin-z-google is working on the first way. There are still runtime dependencies on protobuf's libraries, outside of the code generation (if i understand correctly, although martin can explain better than I can)

Personally, I'm not seeing any benefit in the second way -- it's not as if the generate code ever changes. But maybe I'm missing something?

[2018-10-17 16:22] KamiShepard commented on #344
Active server with 50 clients connected to the game server
![image](https://user-images.githubusercontent.com/2967343/47100933-9e3f1e80-d230-11e8-9142-67110ab6689a.png)

[2018-10-17 16:57] KamiShepard commented on #344
Another sample with 50 clients connecting to the game server
![image](https://user-images.githubusercontent.com/2967343/47103002-22e06b80-d236-11e8-939e-8cc23db78ffc.png)

[2018-10-17 17:38] markmandel commented on #382
Closing this, as it looks like the question is answered.

[2018-10-17 17:38] #382 closed

[2018-10-17 19:45] markmandel commented on #344
@KamiShepard Did you (or anyone else for that matter) have any opinions on whether this should be a limit or a request?

https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

[2018-10-18 10:20] KamiShepard commented on #344
Left game running all night with 50 active clients connected:
![image](https://user-images.githubusercontent.com/2967343/47148167-df364200-d2c7-11e8-976f-076149d6b4c7.png)

[2018-10-22 17:18] #344 closed

[2018-10-24 16:15] KamiMay opened #398 "Moving cluster to a new node pool doesn't recreate all fleets"
I've noticed something weird today. I needed to swap node pool in GKE so I created new node pool and deleted old one. I expected all instances in the old node pool to recover in the new one after some time. However in my particular case I could only see 1 of the 3 servers in `workloads` page on GCloud. So I checked fleets to see if it has min availability which was 1 of each kind = 3. And `kubectl

[2018-10-24 16:33] markmandel commented on #398
I have a strong feeling this is because if a pod get's deleted, the backing GameServer is left in a zombie state (i.e. not deleted along with it).

We should implement functionality to say that if Pod get's removed, the owning GameServer should be deleted too. This should solve this issue.

[2018-10-24 16:49] markmandel commented on #295
I added
https://github.com/GoogleCloudPlatform/agones/blob/master/docs/limiting_resources.md

Recently. Does this cover this topic, or do we feel there is more that we can write here?

(Basically asking if we can close this ticket)

[2018-10-24 19:31] markmandel commented on #295
Awesome. Closed! :man_cartwheeling:

[2018-10-24 19:31] #295 closed

[2018-10-25 15:35] Kuqd commented on #144
I'm going to start things off very simple using opencensus and prometheus in the controller, then we can build from there and add more metrics.
I'll start with : Number of game servers / ready / allocated / unhealthy

[2018-10-25 15:38] markmandel commented on #144
@heartrobotninja just checking in - did you have any work here that @Kuqd could leverage?

[2018-10-25 20:46] markmandel commented on #145
Closing this as a duplicate of #368

[2018-10-25 20:47] #145 closed

[2018-10-30 14:55] markmandel commented on #301
@Kuqd although nobody uses Federation anymore - it's pretty much been determined to be a failed experiment.

Although maybe there are pieces we can lift out of it that are useful.

[2018-11-02 03:08] Kuqd commented on #144
I'm planning to collect also:
- go metrics
- healtheck metrics
- process metrics

[2018-11-05 10:17] think01 opened #403 "setAnnotation() doesn't set value, only key"
I'm using the REST interface to Agones SDK, with a call like this:

[code]

but only the key is set, the value is empty. A `kubectl get gs -o yaml` returns this:

[code]

I'm using Agones 0.5.0-rc

Is there anybody using successfully this API call? Any hint or feedback would be much appreciated, thanks.

Regards,
Fabio

[2018-11-05 11:57] aLekSer commented on #403
Hello @think01
I noticed a typo in your request body:
`
http://localhost:59358/metadata/annotation
body:
{ "key": "players", "value:": "[256, 257]" }
`
You should remove one colon after value:
`
{ "key": "players", "value": "[256, 257]" }
`

[2018-11-05 11:58] think01 opened #404 "Missing or incomplete allocation event and "really ready" state"
We're working on integration between Unreal Engine and Agones.
Our use case is a simple match making scenario, where users can choose some details about the newly created lobby. So the game server needs some time not only to load the map (which it executes before calling sdk.ready()) but to customize it, modifying the scene and maybe loading some other assets, before actually being able to accept

[2018-11-05 12:01] think01 commented on #403
WHOOOOOOOOPS!
I passed over it so many times...... yes, for sure that's the problem. Correcting and trying, thank you so much...

[2018-11-05 12:04] #403 closed

[2018-11-05 18:15] markmandel commented on #404
Yes exactly - that's one of the uses for sdk.watch! Keep an eye out for the state changing to 'Allocated' and react accordingly.

We recommend setting a label/annotation through the SDK, that can be viewed/watched externally through the Kubernetes API. This lets you set whatever states are relevant for your game, without having to build a "one solution fits all".

Does that answer your question?

[2018-11-05 23:35] markmandel commented on #404
Thanks for taking the time to write out your thoughts - to provide some context, here is the previous design discussion, that also covers many of these topics:
https://github.com/GoogleCloudPlatform/agones/issues/279

The TL;DR of your suggestion of blocking on allocation until loading (or other operations) was that the backing tech has a hard 30s timeout that we can't change (at least at this sta

[2018-11-06 00:38] markmandel commented on #404
It may be worth noting (and this may be something we need to document better -- I was thinking about this, this morning). You can watch a specific `GameServer` for changes through the K8s API without (i think), too much difficulty:

For example, watching for changes on a `GameServer` named `simple-udp`:

[code]

[2018-11-06 18:15] #368 closed

[2018-11-06 21:03] think01 commented on #404
I didn't see that issue, indeed it's very on topic. The 30 seconds timeout is a real problem here, I understand the design choices taken.

Thank you again for this explanation, much instructive.

Keep up the good work!
Fabio

[2018-11-07 12:59] Oleksii-Terekhov opened #406 "Admission webhook "mutations.stable.agones.dev" errors with Invalid FleetAutoscaler"
**Bare-metal k8s v1.10.4, helm v2.9.1, Agones (installed by helm) v0.5.0,
Linux 4.4.159-1.el7.elrepo.x86_64, Centos 7.4**

Custom helm chart for my deployment with fleet and fleetAutoscaler
[code]
At **helm install** almost always successful, but sometimes(1:10):
[code]
Same error in kube-apiserver log:
[code]

As background - 20-40 fleets with autoscalers in one namespace with frequent parallel r

[2018-11-07 15:13] Oleksii-Terekhov commented on #406
Kubernetes is a declarative system. Users provide manifests that define desired state and Kubernetes converges the current state accordingly. If the workloads in question don't support this model because they require specific ordering, that means the workloads do not support a declarative model. In this case, the focus should be on fixing the workloads to support orderless installation via logic i

[2018-11-07 15:33] markmandel commented on #406
On my phone atm, so can't go too deep, but check the Troubleshooting guide for a review of logs:

https://github.com/GoogleCloudPlatform/agones/blob/master/docs/troubleshooting.md

Also, what happens when you debug output your Helm chart - does it look correct?

[2018-11-07 16:21] Oleksii-Terekhov commented on #406
Helm chart work fine when create fleet before autoscaler 👍
When helm create autoscaler before fleet - install blow up 👎

[2018-11-07 16:43] markmandel commented on #406
This was by initial design, and intended behaviour. It means that Fleets and Fleet Autoscalers get garbage collected appropriately when the Fleet gets deleted.

@victor-prodan Anything you want to add here (since you wrote this)? Should we decouple them, and allow Fleet autoscalers to be orphaned? @Oleksii-Terekhov has some valid points about being able to define these declaratively. It puts more

[2018-11-07 17:01] markmandel commented on #406
I _think_ you can use lifecycle hooks to solve this problem for the moment (would love to hear if it works for you) - but this does sound like an issue worth discussion - do we want to force developers down this path?

https://docs.helm.sh/developing_charts/#hooks

[2018-11-07 17:07] Oleksii-Terekhov commented on #406
Maybe autoscaler must be part of fleet definitions?

Also question about minReplicas - why you need this? I cannot realize when minReplicas <>0 in production environment. Value in bufferSize resolve all issues....

Helm hooks (https://github.com/helm/helm/blob/master/docs/charts_hooks.md)looks weird due:

[2018-11-07 17:12] markmandel commented on #406
Aah. that's a good point re: hooks not being managed. Okay, that's a deal breaker.

Original fleet autoscaling [design ticket](https://github.com/GoogleCloudPlatform/agones/issues/334) for context.

[2018-11-07 17:34] markmandel commented on #406
Quick thought on workaround: Do you have the fleet + fleetautoscaler definitions in the same file, or separate files in your helm chart?

Wondering if they are in the same template file, it will solve the issue for now.

[2018-11-08 02:00] Kuqd opened #407 "Node Affinity, Tolerations and Node selector support for helm chart"
It would be nice to have more control over the deployment's behavior of agones controller by templating affinity, nodeSelector, and tolerations in our [helm chart](https://github.com/GoogleCloudPlatform/agones/blob/master/install/helm/agones/templates/controller.yaml):

variable | description | default
-- | -- | --
nodeSelector | Node labels for pod assignment | {}
affinity | Affinity settings for

[2018-11-08 08:11] Oleksii-Terekhov commented on #406
In the same file... I'll try join they now.
But original helm flow independent of file-level granularity, manifest kind+hooks may change order.

[2018-11-08 12:30] victor-prodan commented on #406
I don't know, I can see it going both ways.
Maybe @EricFortin  has a stronger opinion on this?

[2018-11-08 14:54] Oleksii-Terekhov commented on #406
In [ design ticket ](https://github.com/GoogleCloudPlatform/agones/issues/334) exist point:
- autoscaling settings can be part of the Fleet specification, it would make sense; each fleet must have a different autoscaling settins

[2018-11-08 18:38] markmandel commented on #404
Are you happy with me closing this issue?

[2018-11-08 23:29] markmandel commented on #404
:point_up:  awesome!

Closing!

As an aside - if you feel there are some places our docs could be better to talk about this - maybe an enhancement to a guide or whatever, PRs are definitely welcome!

[2018-11-08 23:29] #404 closed

[2018-11-09 11:37] think01 commented on #404
I'll think about it, good idea.

[2018-11-09 17:01] markmandel commented on #406
I'm digging into the `HorizontalPodAutoscaler` here - see what it does when a `Deployment` doesn't exist. I can't find any docs, and digging around for the code. I may just have to setup an example and try it! :smile:

Figure following their guide here probably makes the most amount of sense.

[2018-11-09 17:50] markmandel opened #409 "Documentation for the extended Kubernetes API"
When we implement CRDs for Agones, we create new API endpoints for each CRD.

It would be great to document these, and publish it somewhere, so that people can more easily integrate, and we can reference it in our documentation.

I feel there are several steps:

1. [ ] Create a `make` target that generates the documentation
2. [ ] Determine where it can be hosted (App engine?), integrate it into o

[2018-11-09 17:59] markmandel opened #410 "Website that contains documentation"
## Issue
Keeping our live documentation on github can be difficult when mixing documentation for features that are in development with features that are in the release.

## Solution
We need a static site for Agones, that can be updated to the most recent version with each release, but also lets us review for each build.

## Design
The site and documentation should remain in the Agones repo, so as

[2018-11-09 20:37] markmandel opened #411 "`GameServers` should have the Fleet name in a label for easy retrieval"
Especially for those building their own integrations with Agones - its difficult to traverse `Fleet` -> `GameServerSet` -> `GameServers` if they want to get a list of `GameServers` for a given `Fleet`

So I suggest we add the fleet name as a label and value to the `GameServer` to make this easier.

Basically we should replicate what we do here for `GameServerSets` (although we may want to refactor

[2018-11-09 22:12] markmandel opened #412 "Load Testing Framework for internal and external usage"
## Problem
We need some way to (a) be able to load test Agones at scale and (b) help users or Agones load test it for their own workloads.

## Notes
I feel like we should be able to work both of these out at the same time - if we can create a framework for load testing we can use internally, such that it can also be used externally, that would be ideal.

Thoughts, feeling and opinions are apprecia

[2018-11-09 22:16] thisisnotapril commented on #275
Hi @ddiiwoong; just checking in if you're still interested in this? No pressure; just wanted to close any issues that we weren't focused on still. Let me know if I can help!

[2018-11-12 08:45] Oleksii-Terekhov opened #414 "CPU/MEMORY leak in agones controller container"
This is only a suspicion, but after restart agones-controller pod CPU usage constantly increased. This behavior independent to current count of fleets/gs/autoscalest.

Looks like any fleet/gs, even after deleting, eat CPU(need garbage collector in data structs???).

![040](https://user-images.githubusercontent.com/13468544/48336013-033b3800-e668-11e8-94a0-953bc28fb0ae.png)
![mixed](https://user-im

[2018-11-12 11:53] EricFortin commented on #406
I would definitely go with what the HPA does but my instinct says we should keep them locked together. Let's see if my instinct is right haha.

[2018-11-12 16:13] markmandel commented on #414
Thanks for sharing this, and taking the time to graph it out. Do you have any specific steps we could we use to reproduce this? Looks like it happens over a few days?

[2018-11-13 07:48] Oleksii-Terekhov commented on #414
Nothing special - start/stop fleets
Up to 40 fleets with 5 gs on v0.4.0
Up to 40 fleets with autoscaler(min:0 buffer:2 max:10) v0.5.0
Agerage deploy rate for each fleet: ~4-5 per day

Main concern - heavy CPU usage after remove all fleets/gs/autoscalers

[2018-11-13 12:54] Oleksii-Terekhov commented on #414
STR:

0. empty k8s cluster (dashboard, agones, nginx-ingress, istio), 3 master nodes, 3 worker nodes, 8 Cores, Ram 16G
1. Create easy start-wait-stop shell file
[code]
2. restart controller pod
3. wait for 2 hours
4. start loop.sh fir 2 hours
5. stop loop.sh + delete all fleets
6. wait for 1 hour

Results:
[code]

[2018-11-13 16:54] markmandel commented on #414
Ah perfect, thanks!

Can you have a look (possible share?) the controller logs at the end there, if you still have them? I'm wondering if something gets stuck in a queue, and just tries to sync forever. It may show off something obvious.

[2018-11-13 17:14] Oleksii-Terekhov commented on #414
Pod still alive. Last log lines - from fleet shutdown time:
[code]

[2018-11-13 19:08] markmandel commented on #414
Hmnn. It does resync every 30 seconds, but if there aren't any pods left, that is odd. Thanks for the info!

[2018-11-13 20:21] markmandel commented on #406
Checking HPA - yes, you can create one without having a Deployment.

What happens is that you get a warning event on the HPA if it can't find the Deployment - so that the issue user visible.

I propose we should go down this path (allow a FleetAutoscaler be created without a Fleet) - it does allow for nicer decoupling, and still lets a user see why a FleetAutoscaler may not be working.

Small ques

[2018-11-13 23:20] markmandel commented on #314
Now we have #413 we can close this issue.

Any objections?

[2018-11-14 10:05] Oleksii-Terekhov commented on #406
Is there a chance for this in release 0.6.0?

[2018-11-14 10:48] Oleksii-Terekhov commented on #414
Small update: with empty fleet (replicas: 0) - no CPU leakage
[code]

[2018-11-14 15:13] markmandel commented on #406
Working on it right now! Probably have a PR today.

[2018-11-14 16:43] Oleksii-Terekhov commented on #301
We also interested in multi-cluster Agones.
But selecting best cluster - in our project it's Matchmaking goal  - due minimal ping for all users, costs and similar reasons for maximize UX and profit.
So any "logic to select cluster for Gameserver" must be switchable - we want explicit select fleet+cluster in FleetAllocation manifest...
Maybe, as side-effect, must be quick and trusted metrics API in

[2018-11-14 16:49] markmandel commented on #301
I've started researching this as the next big ticket item to tackle.

The thing I'm trying to decide is what is the first item that should be tackled.

Maybe having a registry of clusters, and a standard way to ping each of them for round trip time? Would that be a good starting point?

[2018-11-15 00:15] markmandel commented on #406
PR #416 in place -- as I said on the PR, I made some decisions that I think make sense, but also consider this a sacrificial draft, so definitely let me know if you see issues.

[2018-11-15 02:03] markmandel commented on #409
This is currently blocked by: https://github.com/kubernetes-sigs/kubebuilder/issues/483

Will wait for it to get fixed.

[2018-11-15 02:14] markmandel commented on #398
Actually - I'm not sure what this is - I tested deleting the backing Pod from a GameServer, and the GameServer gets deleted. More investigation required!

[2018-11-15 11:58] EricFortin commented on #301
I am not convinced about the registry. Unless we want to offer that as a separate project, where would this leave? As stated before allocation strategy is bound to change a lot based on multiple criteria. So if we only delivers a simple registry, I feel most already have some form of service to return configuration where they could store that list.

That being said, having a setup to ping each clu

[2018-11-15 15:54] markmandel commented on #414
Looking to see if other scenarios cause the same effect.

Leaving a Fleet of 50 GameServers running over time, and then doing a restart in the middle - that seems to be fine.

![selection_057](https://user-images.githubusercontent.com/298370/48564581-87313200-e8ab-11e8-90d6-fdff07094ba4.png)

(Line is the restart)

[2018-11-15 17:01] markmandel commented on #314
Looks like no objections. Will close for now, let's reopen/have a new ticket if there is more functionality we may need.

[2018-11-15 17:01] #314 closed

[2018-11-15 17:12] markmandel commented on #334
Working on a design for having a webhook powered logic for the autoscaler - so that people can provide their own logic as necessary for fleet autoscaling (which I think will also close out fleet autoscaling, at least for now?).

This deliberately emulated K8s HTTP webhooks - and I also think that a HTTP/S webhook is important, as (a) a REST endpoint has lower developer friction for most developers

[2018-11-15 17:23] KamiShepard commented on #398
I think best way to recreate it is to follow what I have done. Because it has recreated one of the fleets but not the other two. So it might be a random factor in there. Would suggest trying it with a few different fleets. It seems to be random. Sometimes happens sometimes doesn't.

[2018-11-15 20:47] markmandel commented on #414
Would you feel comfortable rebuilding with https://golang.org/pkg/runtime/pprof/ and doing a test with that, and seeing where the CPU cycles are going?

Totally fine if you aren't - maybe we can do a special build.

[2018-11-16 10:29] KamiShepard commented on #398
I will try reproduce this issue today and provide all the relevant details along the way

[2018-11-16 11:01] victor-prodan commented on #334
Looks good in general.
But maybe we should have a way of identifying (and maybe discarding) out-of-order responses?
I am thinking that maybe the service uses different threads to process the requests, and the order of the responses might not be guaranteed.

[2018-11-16 11:23] victor-prodan commented on #301
Do you mean game client code? If yes, I don't think it's necessary. I think that each game has its own way of pinging a HTTP (or maybe UDP) endpoint, so we just need a way to create those endpoints.

Here is how Amazon is doing it: https://www.cloudping.info/.
I imagine a similar thing for Agones.

[2018-11-16 16:35] Oleksii-Terekhov commented on #414
We use pprof, but i not so familiar with gotpl...
Let's make pprof always in controller and sdk images, but disabled.. Wait special env var or user signal to start-stop capturing...
I can test special image with pprof and send pprof logs at Monday.

[2018-11-16 16:49] markmandel commented on #414
I made this PR to have a compile flag to enable pprof on some builds:
https://github.com/GoogleCloudPlatform/agones/pull/422

Just waiting on review.

[2018-11-16 17:55] KamiShepard commented on #398
Before migrating to a new node pool:

- I have 3 instances running. All of thaem are 1vCPU 3.75GB RAM
- I have 3 fleets running, each of them have 1 replica set + agones-controller and matchmaker.
- It looks like this on gcloud:
![image](https://user-images.githubusercontent.com/2967343/48638466-a2de2a80-e9c8-11e8-8366-1e486fc068c9.png)
- At this point when i run `kubectl describe fleets` I get fo

[2018-11-16 20:47] martin-z-google commented on #134
FYI pull request is up: https://github.com/GoogleCloudPlatform/agones/pull/421

[2018-11-16 20:53] markmandel commented on #334
@victor-prodan Interesting point! We could (and probably should) have a timeout on the webhook. It would have to be a max of 30s - which is our sync time as well. So, in that case, I don't think we would get out of order responses at that point.

That being said - since we have server side set request UID, so we can definitely track requests to make sure that there actually aren't any concurrent r

[2018-11-16 21:21] markmandel commented on #301
Also similar to: http://www.gcping.com/ :smile:

Is a HTTP endpoint good enough, or does it have to be a UDP endpoint? (or maybe both?)

Here's an interesting question - should this be behind a loadbalancer? A LB will mean that we can do redundancy, and scale up the pinger (if it's needed), but does a LB introduce a layer that otherwise wouldn't be there.

[2018-11-17 20:01] victor-prodan commented on #301
A LB is needed, yes, and this is why it sounds like an independent service hosted in the same cluster. Something like this already exists, maybe?

About udp... Yes, it might be helpful to detect packet loss for example.

IT also depends on the protocol used by the game... If it's based on smth like websocket than they wouldnt need udp.

Http is easier to implement by both sides and it's a must. Ud

[2018-11-17 20:14] markmandel commented on #301
That makes lots of sense.

For the HTTP request - I'm assuming this would need to return an "ok" and HTTP 200, and the client would want to track the round trip time themselves.

For UDP - would it return a empty packet back to the sender? Does it need to contain any information, like an id/hash? (or echo what has been sent) Since it's async, I would assume this would be required - unless there is

[2018-11-19 15:17] victor-prodan commented on #301
:+1:

UDP is tricky, as the production would use its own protocol. Maybe it would be better to let the user supply the binary? They would also be responsible for any throttling in this case.

[2018-11-19 19:38] EricFortin commented on #301
@markmandel

For a reflection attack to be effective, you usually want to provoke a bigger response than the request you sent. If we simply echo back the packet we received, there is not much to gain from hitting us instead of the target directly.

Rate limiting is still a good thing though.

[2018-11-19 21:48] #406 closed

[2018-11-20 15:11] Oleksii-Terekhov opened #423 "FleetAutoScaler Buffer policy does not notice Unhealthy/Stopping gameservers"
Bug: When **gs** goes to stop from Allocated state, **fas** doesn't start new gs until old pod doesn't disappear

Now **gameServer** may be in statuses:
- before allocating (Creating Starting Scheduled RequestReady Ready)
- allocated (Allocated)
- stopping (Shutdown Error Unhealthy)

My setup: gs with additional sidecar container. After session end gs in state **Unhealthy** about 30-60 seconds due

[2018-11-20 18:18] victor-prodan commented on #423
The current behavior is done on purpose, to prevent flooding the cluster with servers.

Your buffer size must account for init and shutdown times.

[2018-11-20 23:29] markmandel commented on #423
Is this something we could document better? Would love suggestions if we there are particular places we can do that.

[2018-11-20 23:35] markmandel opened #424 "Release 0.6.0.rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.6.0-rc`)
- [x] Ensur

[2018-11-21 01:52] #424 closed

[2018-11-21 09:05] Oleksii-Terekhov commented on #423
Hmm... maybe more aggressive fas strategy as configured parameter?
How about precise metrics for tune buffer size:
- prometeus metrics like gameserver{clustername="", namespace="", fleet_name="", status=""} int_value
- any rest api on controller GET /<namespace>/<fleet or fas name>/status with json result(count of gs with each status)

[2018-11-22 23:59] markmandel commented on #423
A couple of interesting things from this:

1. The sidecar should shutdown as soon as it gets a terminate signal. If it isn't, that's a bug.
1. Does the webhook design proposed in https://github.com/GoogleCloudPlatform/agones/issues/334#issuecomment-439117180 solve your issue?

[2018-11-23 09:00] Oleksii-Terekhov commented on #423
1) my sidecar get/process/send some post-round metrics before exit - they shutdown ASAP, but non-zero processing time cause my issue with non-aggressive spawn in fas
2) webhook looks good.. but external resolver will get current fleet state at each request - they need easy way to receive fleet summary

[2018-11-23 09:38] markmandel commented on #423
What do you mean by "fleet summary" explicitly? We are passing through the fleet status, which includes counts.

That all being said, the webhook implantation can always access the k8s API for any extra information it needs.

[2018-11-23 11:52] Oleksii-Terekhov commented on #423
current state
[code]
does not reflect my core problem - gs in shutdown+unhealthy state :)

[2018-11-23 21:10] markmandel commented on #423
I take it subtracting allocated and ready from total replicas doesn't give you what you want? We could always add more values to the status totals as we find them necessary.

Also the webhook will only fire every 30s, just like the current buffer autoscaler - for exactly the same reason as @victor-prodan described.

[2018-11-24 00:00] markmandel commented on #334
The plan in this version is to run the webhook every 30s, like we do for the buffer strategy - should we include an option to run it every fleet count change? (Then we would have to track out of order requests).

This came up in: https://github.com/GoogleCloudPlatform/agones/issues/423#issuecomment-441222305

[2018-11-26 13:58] Oleksii-Terekhov commented on #423
OK I tune buffer size. Current fleet "split brain" situation (max-min-buffer in fas, current count in flt) make this process ...complicated.

Do you have any plans about metrics for Prometheus or internal k8s /metrics?

[2018-11-26 13:58] #423 closed

[2018-11-26 14:06] Kuqd commented on #423
Hey @Oleksii-Terekhov ,

I'm currently working on metrics, and the first exporter option will be Prometheus.
Do you have some specific metrics in mind you would like to see ?

I currently have implemented :
- fleet replicas count per fleet per type
- game server count per status state
- go metrics of the controller
- process metrics of the controller
- healthcheck metrics of each controller health

[2018-11-26 14:52] Oleksii-Terekhov commented on #423
With dreams about multi-cluster:
gameserver{clustername="", namespace="", fleet_name="", status=""} int_value

And maybe some info about fas
fas_max{clustername="", namespace="", fleet_name=""} int_value
fas_min{clustername="", namespace="", fleet_name=""} int_value
fas_buffer{clustername="", namespace="", fleet_name=""} int_value

[2018-11-26 15:30] Kuqd commented on #423
I think prometheus will automatically add the namespace.

I will add the fleet_name in the count of gameservers, good idea, fas metric seems doable I'll make sure it's on the first draft.

Thanks !

[2018-11-26 23:21] markmandel opened #426 "Delete crds, and fleets, gameservers etc on deletion of Helm chart"
Due to #375 - the crds are not managed by Helm, so they are left behind on deletion of the chart.

Also, if you delete the helm chart before removing your `Fleets` and `GameServers`, you can get stuck GameServers, and it can be a pain to cleanup.

We should write a `post-delete` hook (or whatever is appropriate) to do the cleanup when deleting the Helm chart to clean all the things up.

Context: h

[2018-11-27 23:36] markmandel opened #428 "Release 0.6.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] Run `make gen-changelog` to generate the CHANGELOG.md (if release candidate `make gen-changelog RELEASE_VERSION=0.6.0-rc`)
- [x] Ensur

[2018-11-28 05:47] stephbu commented on #412
Definitely +1 having a standard "small" load that can be assigned a port, generates logs, simulates and emits metrics, can defer response to SIGTERM (upto and beyond termination grace period) is really useful.  We use sample PSU curves from real data that we scale and/or offset to simulate daily, as well as compress timeline to accelerate growth.

[2018-11-28 07:32] Zanderax commented on #412
I'd be interested in using this. It'd be good to be able to show stats from a cluster at scale.

[2018-11-28 13:18] #411 closed

[2018-11-28 15:13] Oleksii-Terekhov opened #431 "Helm chart for 0.6.0 do not work on Helm v2.9.1 due crd-install hook"
On Helm v2.9.1 no crd after "helm install ..." due unknown hook. Controller in ∞-loop. Tiller log:
[code]
Documentation: https://github.com/GoogleCloudPlatform/agones/blob/release-0.6.0/install/helm/README.md
...
Helm package manager 2.8.0+
...

Please fix documentation and use **tillerVersion:** in Chart.yaml (https://docs.helm.sh/developing_charts)

I think Helm [2.10+](https://github.com/helm/h

[2018-11-28 23:01] #428 closed

[2018-11-29 10:31] Oleksii-Terekhov commented on #414
After build-run-burn pprof controller:
[pprof_agones.zip](https://github.com/GoogleCloudPlatform/agones/files/2628668/pprof_agones.zip)

Notes:
- controller eat 0.7 CPU during profiler time
- I use manual command in build container ```go tool pprof -svg http://<k8s>:<controller_node_port>/debug/pprof/profile?seconds=300``` instead `pprof-web` due ssh+headless VM
- bug still in 0.6.0 - after 17h on

[2018-11-29 15:15] Kuqd commented on #414
only the "fast user space mutex" stand out here, might be because there is only one worker listening to the channel and a lot of events to process.

[2018-11-30 03:46] #431 closed

[2018-11-30 05:35] markmandel commented on #414
What may work best (not sure if you still have the cpu pprof files - be good to keep them, so we can share them around, and do various diagramming on them).

Get one at the beginning when the system is idle (i.e. no changes are being made to fleets or gameservers), for a baseline.
Half way through the test, grab a another when the system is idle.
And then at the end when things have really spiked

[2018-11-30 11:48] Oleksii-Terekhov commented on #414
I finish new measure
[pprof2.zip](https://github.com/GoogleCloudPlatform/agones/files/2633056/pprof2.zip)
When no API activity (create/delete/...) - controller log is empy

Root cause looks like simple memory leak: i see strong CPU-MEMORY corellation:
"Burn" cluster:
![agones-burn](https://user-images.githubusercontent.com/13468544/49287372-ed21da00-f4a5-11e8-83e0-c2ef08112cc6.png)
"Prod" cluster:

[2018-12-01 21:52] Oleksii-Terekhov commented on #414
New data from pprof allocs+heap

[pprof3.zip](https://github.com/GoogleCloudPlatform/agones/files/2636345/pprof3.zip)

[2018-12-02 05:26] markmandel opened #436 "Allocation on GameServers rather than Fleets"
Have had a couple of conversations about `FleetAllocation` being tied to `Fleets` specifically, and how it would be more flexible to decouple this.

Thinking back, I'm feeling that the original design decision to tie these two things together was less than ideal - so wanted to propose the below solution to rectify this, and a couple of other things (`FleetAllocation.Status` primarily) I would like

[2018-12-02 07:40] ReDucTor commented on #436
This potentially benefits #297

[2018-12-03 12:06] EricFortin commented on #436
I am totally in favor of the changes for Allocation status. I do have some questions on the allocation cross fleet though. As you said, most people will do 1:1 and it is adding complexity. I however agree that this is more the kubernetes way of doing.

I can totally see cross fleet allocation for multiple reasons but when I think about it, my next question is how can I define the order of allocati

[2018-12-03 16:37] Oleksii-Terekhov opened #438 "Helm chart parameters to tune sdk RBAC"
Now: I tune helm chart **install\helm\agones\templates\serviceaccounts\sdk.yaml** to enable communicate  between my sidecar and k8s, due this ClusterRole applied to all containers in mutation hook:
[code]

Proposal: allow additional tunes in helm or allow manual accounts tune for containers in **gs**

[2018-12-04 00:33] markmandel commented on #438
You can create your own service account for the SDK pod:
https://github.com/GoogleCloudPlatform/agones/blob/master/install/helm/README.md#configuration
via `agones.serviceaccount.sdk`, and use that instead.

Long term, we may manually only apply this _just_ the sidecar, see #150 for some more details (or remove it from the GameServer process)

There could be possible options to manually mount secr

[2018-12-04 00:48] markmandel commented on #436
:+1:

I don't disagree with this. This sets us up to have the flexibility to do smoke tests between fleets as well. We could expand on this configuration as we decide how we want to do this.

Initial thought is for doing smoke testing across two fleets (so have a smaller fleet of the test server version). There are some issues around `Stategy` on this -- My thought is that in the next phase we do

[2018-12-04 03:37] markmandel commented on #436
I was thinking about the preferred idea - if we go down that path, we should probably change things a little, WDYT?

[code]

[2018-12-04 10:38] ReDucTor commented on #436
I think GameServerAllocation is potentially better, how well does kubernetes work if there is a conflict in name? Even though there is some namespacing of these based on the 'apiVersion' you don't specify this for all APIs (e.g. 'kubectl get')

[2018-12-04 10:54] Oleksii-Terekhov commented on #438
- with own account - i still locked to agones: if you change rights in new release, i MUST change it too
- with "only apply this just the sidecar" - looks good if i can tune RBAC for sidecar container via fleet or gs yaml

[2018-12-04 11:44] EricFortin commented on #436
With some form of ordering, I can see it now. Should we make the design open to more than a single preferred though? Also, I am assuming that, like the pod affinity when we have `...IgnoredDuringExecution`, the allocation will skip the preferred one if there is no capacity. Am I right?

I would go with `GameServerAllocation` too.

[2018-12-04 11:46] #426 closed

[2018-12-04 17:05] markmandel commented on #438
I'm not

I'm not sure how we can provide values in values.yaml to extend something as complicated as RBAC permissions. Suggestions would be appreciated! (or PRs!) @Kuqd - do you have any ideas

I'm almost wondering if it's better if you update the RBAC permissions yourself after you install the helm chart.

This would need to be done at the install time - we couldn't do this at runtime in the CRD.

[2018-12-04 17:44] Oleksii-Terekhov commented on #438
OK
Close issue as may local trouble
Thanks

[2018-12-04 17:44] #438 closed

[2018-12-04 21:12] markmandel commented on #436
Sounds like `GameServerAllocation` works best. I agree - let's do that, I'll update the design above. I don't think collisions are well handled, and `GameServerAllocation` does make sense!

Interesting question. I have some mild concerns around complexity and performance here - but they may be unfounded.

Were you thinking something like a list of ordered `preferred` selectors (which could be matc

[2018-12-05 12:02] EricFortin commented on #436
Yes

It is kind of a combination of yours and one I alluded earlier. Let's say I shipped a new version of my server but for backward compatibility I need to keep the old version for some time. So I have my allocation go to the new one and use the old one as a backup if there is no capacity in the new one. Then I want to do some A/B testing on the new version. So I can in theory allocate on 3 versi

[2018-12-05 17:31] markmandel commented on #436
That's a fair advocate to play :smile:

That all sounds pretty reasonable. I'd say, let's run with it. Do we like the above configuration as a list? i couldn't think of anything better.

[2018-12-05 21:34] EricFortin commented on #436
I do like it. Nothing to change on my side.

[2018-12-06 02:01] markmandel commented on #436
Updated design to match decisions made here in discussion.

One thing I did note that I'm not sure we covered - I believe it should be that the `required` selector is totally required.

What I mean by that is that for a `GameServer` to be matched against one of the `preferred` selectors, it needs to match **both** the `required` selector, as well as the `preferred` selector.

I think this is less

[2018-12-08 18:39] markmandel commented on #414
@Kuqd and I were digging into this some more - the memory leak looks to be in the k8s event recorder. Which leads up to think, k8s events aren't being properly processed, which provides the memory leak, and because the event queue goes into exponential backoff, we also get the CPU leak as well.

So a few more fun questions:
- Are you running this on a GKE cluster? (Basically, I'm wondering if this

[2018-12-08 19:35] markmandel commented on #414
Oh I had one more question - are there any errors in the Kubernetes logs themselves, basically anything in regards to rejecting to not being able to process event streams?

(if you kubectl describe a `GameServer` resource - do you see events at the bottom of the resource description?)

[2018-12-10 12:50] Oleksii-Terekhov commented on #414
- Are you running this on a GKE cluster? - No, several baremetal cluster. (kubespray 2.8.0 + 2.6.0)
- Reproduced without istio (only dashboard+heapser+nginx_ingress)
- kubectl describe gs:
[code]
- No errors in k8s logs on master node and on node with controller pod
- Memory top after fast burn:
[code]
- CPU top after fast burn:
[code]

[2018-12-12 13:19] aLekSer commented on #414
The CPU leak part of the bug might be fixed along with this PullRequest https://github.com/kubernetes/kubernetes/pull/70277 Fix goroutine leak of wait.poller
[code]
Before applying changes of 70277 it was:
[code]

[2018-12-12 22:48] markmandel commented on #414
This makes lots of sense, from the bug details:

Given that we `cache.WaitForCacheSync` on every allocation, and when we scale down `GameServerSets` - this explains why this hits us badly.

[2018-12-13 14:20] Oleksii-Terekhov opened #443 "Fleet Autoscaler spawn extra gs"
I create fleet with fas (min:0, buffer:2, max:20) and notice strange random behavior:
Start situation: two Ready gs in fleet. One fleet in whole k8s cluster.

Legend: R - Ready, A - Allocated, U - Unhealty

- RR -> i allocate one gs: RA ->fas spawn two(!) additional gs: RRRA -> fas kill one RRAU -> RRA ->...

- RR -> i allocate one gs: RA ->fas spawn one additional gs: RRA -> i stop play, gs stopp

[2018-12-14 00:10] jkowalski opened #445 "Move SDK server code from pkg/gameservers to a separate package"
Right now `pkg/gameservers` implements two disjoint features:

* controller for GS
* SDK server and local SDK server

I think we need to keep SDK binary small and free of dependencies it does not need (to reduce attack surface and memory footprint). Right now we're relying on linker to exclude controller-related code from `sdk-server` binary. While the linker is presently doing a good job, it's ve

[2018-12-14 21:57] markmandel commented on #445
Hey  @enocom my resident go champion :smile: what are your thoughts?

Is this a code review issue, or something you think we should take proactive action on?

I don't think I have strong opinions either way to be honest - but the original organisational model idea was to match packages to the K8s resources that they were responsible for -- so in this case the sdkserver modified the `GameServer` re

[2018-12-17 13:11] aLekSer commented on #443
I can not reproduce this bug on my GCloud test cluster. I am making allocations using this command:
kubectl create -f https://raw.githubusercontent.com/GoogleCloudPlatform/agones/master/examples/fleetallocation.yaml
@Oleksii-Terekhov  can you please provide your configuration files for Fleet, FleetAutoscaler, FleetAllocation.
Also some cluster details (versions) would be very nice to see.

[2018-12-17 13:21] aLekSer commented on #443
I noticed a very strange behaviour if I run `kubectl delete gs --all`
Out of 7 GameServers from which 5 was in Allocated state. For some seconds the state of GSs could be:
2 Scheduled; 2 - Ready; 2 - PortAllocation and 1 - Starting
After waiting the status would be 2 GameServeres in the ready state as in FAS you used in a description

[2018-12-17 16:30] Oleksii-Terekhov commented on #443
agones 0.6.0 release
k8s v1.12.3
kubectl edit fas -n lds fas
[code]

[2018-12-17 16:30] enocom commented on #445
Splitting out the SDK server and local SDK server seems like a good idea. Their responsibilities also seem distinct from the controller.

Are there other examples in the code where a Kubernetes controller gets its own package?

[2018-12-17 16:45] markmandel commented on #445
So in K8s, all the controllers can be found in subpackages under https://github.com/kubernetes/kubernetes/tree/master/pkg/controller - so organising by type of object. Which has it's own pros and cons!

[2018-12-17 16:48] markmandel commented on #134
@alexandrem - do you have opinions here? You are my goto C++ person :smile:

Or should we just get _something_ that works, and then we can iterate from there?

[2018-12-17 17:02] enocom commented on #445
At this point, it seems more a matter of style. If there consumers of just the controller or just the SDK server, it might be easier to see the benefits of this refactor.

[2018-12-17 20:21] Kuqd commented on #144
Hey Guys,

I've almost finished my work, but I ran into some issues trying to add total of gameservers and allocations metrics.
State metrics are working very well using informers cache.

# First why totals ? (may be this not even interesting)

Total counter as opposed to current gauge would allow user to aggregate using rates of gameserver per status (errors per sec, allocated per sec, etc), the

[2018-12-17 20:31] aLekSer commented on #414
I think there is no memory leak, after analyzing the inuse_space memory logs, Mark found the place which used memory the most this is `EventCorrelator` which has max size parameter of
`maxLruCacheEntries = 4096 `https://github.com/GoogleCloudPlatform/agones/blob/8f86eee485dd5d5c1f7fa18449208e02aa73ea46/vendor/k8s.io/client-go/tools/record/events_cache.go#L434
And if we change this const into 256 i

[2018-12-17 22:38] markmandel commented on #144
I assume that this would do the count at time of processing?

So count `Starting` somewhere around here:
https://github.com/GoogleCloudPlatform/agones/blob/master/pkg/gameservers/controller.go#L418

If we did this though, we would still skip transition states, because that's what we'll be processing anyway.

So it seems like the informers cache is most accurate - as it's actually following what is

[2018-12-18 01:53] pm7h commented on #412
I have started looking into using Locust for this. From a quick scan, it seems to be straight-forward. We can start by writing a python client to start Agones game servers. We will also need to define the test scenarios.

In the first step, we can run the test from a single machine. We can then extend it so spin up master and slave nodes: https://docs.locust.io/en/stable/running-locust-distributed

[2018-12-18 02:39] Kuqd commented on #144
Yes make sense, however I can’t use the add handler for totals as it’s currently getting triggered by the resync. For gameserver it’s fine, I’m just catching changes, for fleet allocation I need to run some tests.

[2018-12-18 16:33] markmandel commented on #329
We can do this now that #447 is merged!

[2018-12-18 21:28] Kuqd opened #448 "Add support for Kind cluster"
Kubernetes in Docker seems to be a good development solution and pretty fast to setup.

We should add targets to our Makefile to support:

- kind installation and helm bootstrap
- agones development installation
- run e2e into local kind

Some problems :

- Kind need `--network=host` from our build image to be able to access local cluster (might not work on windows)
- Kind kubeconfig by default is

[2018-12-19 17:19] markmandel opened #450 "Add Agones to helm hub"
We should have a entry in
https://hub.helm.sh/

(I would probably advocate after 0.7.0,  just because of the CRD fix)

[2018-12-19 20:38] markmandel commented on #144
The biggest issue I see with watch + annotations - is that it's _yet another_ write to etcd that we are doing over and over. So I have some concern there?

Unless maybe we tie it into status updates? I'm not sure.

As I said in chat, it may be worth asking people in Slack #sig-apimachinery or #kubernetes-operators to see how they are doing things.

It may also be at a point where it's better to st

[2018-12-20 00:57] pm7h commented on #412
Makes sense. So, two categories of tests:
1. Load testing: 1,2,3,4 above.
2. Performance tests for CPU and network metrics.

Let's start by 1 since it seems to be more straight-forward using Locust. I will think about what approach we can take for 2.