[2019-07-24 03:01] markmandel commented on #946
/cc @daplho and @pooneh-m for visibility.

[2019-07-24 04:40] roberthbailey commented on #946
The agones-system node pool is 1 node large, correct? I'm guessing what happens is that the pod is still terminating when the scheduler is looking for a node on which to run the replacement. And if there isn't sufficient headroom to run another allocator pod on the single node in the agones-system nodepool then it would run on a regular node, since it's preferentially placed on that node pool but

[2019-07-24 06:18] markmandel commented on #946
Ah, that is a good question. I can look into this, see what is happening.

[2019-07-24 06:44] aLekSer commented on #940
Yes, this is low priority issue.
We could left as is, just if someone met this issue he could find this ticket to know that he do things wrong.

[2019-07-24 06:47] aLekSer commented on #939
Yes, we can produce a warning or event, that there exist one more fleetautoscaler which can compete with this one and infinite loop of changes would occur (imagine buffer of 20 and 100 gameservers in two autoscalers), which also cause a performance impact on a system. So need somehow inform or document how the system would behave in such situations.

[2019-07-24 17:08] daplho commented on #946
Correct @roberthbailey, https://github.com/googleforgames/agones/pull/910 added `affinity` and `tolerations` to the gameserver-allocator. Tolerations allow the workload to run on nodes with taints. Affinity asks the scheduler to prefer scheduling the workload on the indicated nodes but does not force that behavior. Are we interested in forcing the workload be scheduled on specific nodes?

[2019-07-24 18:54] pooneh-m commented on #854
Allocator service and controllers are different in nature. Controllers are acting as a control plain and are eventual consistent with the desired state, while allocator service is acting as the data plain, exposing imperative APIs and meant for high bandwidth access.

Haha, @markmandel not that strong. It is up for discussion as you are more experienced in gameservers area. I agree, supporting all

[2019-07-24 22:24] markmandel commented on #946
Yeah, I don't think we want to force it. I'll expand the size of that nodepool to make some room and see if there is a difference. Maybe this leads to an increase in size in the nodepool config for agones-system.

[2019-07-24 22:54] daplho commented on #946
Cool. To add to my understanding, is the nodepool you're referring to a nodepool for some internal cluster you're using to test agones?

[2019-07-25 00:05] markmandel commented on #946
Yeah. Probably unsurprisingly, I tend to mostly test on GKE.

[2019-07-25 04:11] roberthbailey commented on #941
If there aren't any dissenting opinions by the end of the day tomorrow I'll send a PR to change the function signature.

[2019-07-25 04:17] roberthbailey commented on #717
From what I can tell, all that is missing to close this out is documentation updates to use 1.12 on EKS. Does anyone have an amazon account they can test with?

[2019-07-25 06:42] markmandel commented on #329
Created a draft of the `GameServer/status` implementation here #947

I'm waiting on result of e2e tests, but I'm leaning towards having `GameServer` be a special case, where we don't implement a status subresource - essentially so that we can change the entirety of a `GameServer` in one go.

Allocation is something that moves away from the K8s paradigm, and it only affects GameServers, so in this

[2019-07-25 06:53] markmandel commented on #329
In local e2e testing - both `TestGameServerAllocationDuringGameServerDeletion` and `TestScaleFleetUpAndDownWithGameServerAllocation` seem to be passing 😮 so I may well be wrong about the last item.

But how do people feel about the rest of the above?

[2019-07-25 08:26] markmandel commented on #329
It all passed. I'm actually quite surprised.

[2019-07-25 09:55] roberthbailey commented on #927
Looking at https://github.com/googleforgames/agones/blob/master/build/includes/sdk.mk only node, go, and rust have conformance tests, so I've added a checkbox to each of the other SDKs to add them.

[2019-07-25 19:58] lftakakura opened #949 "Mutation/Validation Webhooks failing when running Agones in a cluster with etcd v3.2.24"
**What happened**:
Agones resources (fleet, gameserverset, fleetautoscaler) not working properly (fleet state not updating with autoscaler or even manually) due to timeouts between kube api-server and agones-controller.

**What you expected to happen**:
Gameservers should be created when increasing fleetautoscaler buffer size, for example.
Resource edition should not get stuck.

**How to reproduce

[2019-07-25 21:20] markmandel commented on #949
Is this a Agones bug or a Kubernetes bug?

What are the logs from the controller?

[2019-07-25 21:30] markmandel commented on #949
Digging into this more, this seems like a K8s/etcd issue, rather than an Agones issue.

Looking at: https://v1-11.docs.kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#notes-for-etcd-version-2-2-1

I see:

Looks like there is an [open bug](https://github.com/kubernetes/kubernetes/issues/45506) to do a more comprehensive compatibility matrix, but it is not yet complete.

So I'm g

[2019-07-25 22:13] markmandel commented on #329
/cc @aLekSer @roberthbailey - wdyt? Would love some second opinions about this. Please also let me know if what I wrote was note clear.

[2019-07-25 23:23] roberthbailey commented on #329
I'll take a look later today.

[2019-07-26 02:58] markmandel commented on #717
May be easier to check in #users on Slack? 🤔

[2019-07-26 05:05] #728 closed

[2019-07-26 05:05] #868 closed

[2019-07-26 05:05] #943 closed

[2019-07-26 16:45] roberthbailey commented on #703
PRs for updating examples (some of which have already merged):

Outstanding:
- rust-simple: https://github.com/googleforgames/agones/pull/937
- unity-simple: https://github.com/googleforgames/agones/pull/952

Merged:
- allocator-service: https://github.com/googleforgames/agones/pull/930
- autoscaler-webhook: https://github.com/googleforgames/agones/pull/931
- cpp-simple: https://github.com/googlef

[2019-07-26 21:04] roberthbailey commented on #927
I have a PR for the missing C++ functions.

[2019-07-27 07:09] markmandel commented on #599
Feels like we an close this. WDYT?

[2019-07-27 08:59] roberthbailey commented on #329
I'm not an expert on this code path but I have a basic question regarding your second concern:

In all of the other code paths you updated, it was a simple change from `Update` --> `UpdateStatus`, but for allocation it's more complicated. I assume there is a good reason that allocation isn't possible by only changing fields in the status and that it requires updates to metadata?

Assuming that the

[2019-07-27 09:25] #941 closed

[2019-07-27 10:14] steven-supersolid commented on #927
I'll take a look at Node.js

[2019-07-27 10:56] markmandel commented on #329
Excellent questions, let me tackle each one:

So there are two things at play here. In all other cases, we have the workqueue + sync method. So we have a self healing system that eventually ends up in the declared state. Basically what K8s was built for. For Allocation, we're essentially doing an imperative command - which is not quite what K8s was built for.

So in previous cases, even if we did

[2019-07-27 10:59] markmandel commented on #329
Actually to add a note - assuming we go with keeping the code as is - aside from removing the `UpdateStatus` function from `GameServer` we should write comprehensive documentation that explains the decision, and why `GameServer` is the special case it is - so that any user attempting to interact with a GameServer directly is not confused.

I figure we can add it to the [gameserver.go](https://gith

[2019-07-29 01:15] markmandel opened #956 "Game server container crash before Ready, should restart, not move to Unhealthy"
**What happened**:

If the game server container crashes at any stage, the GameServer moved to Unhealthy straight away.

**What you expected to happen**:

According to: https://agones.dev/site/docs/guides/health-checking/

**How to reproduce it (as minimally and precisely as possible)**:

We will need a e2e test that has a CRASH command on udp-simple that does a `sdk.Exit(1)` and then test what ha

[2019-07-29 01:27] markmandel opened #957 "Copy all []NodeAddress from Node onto GameServer"
**Is your feature request related to a problem? Please describe.**

I'm seeing several people using Agones, where the gameservers are not publicly available, and are accessible through a proxy. Also, seeing examples where people need to lookup the domain of the node (if it has one) rather than the IP (websockets are a clear example of this).

**Describe the solution you'd like**

Rather than looki

[2019-07-29 01:27] Colstuwjx commented on #956
I also met this issue, version table see below:
[code]

BTW, it seems that our gameserver\fleet crd not maintains POD replica count, if I found the pod is unhealthy, and maunally deleted it, things would be broken, and gameserver/fleet would never try to recreate a new POD...

Thanks.

[2019-07-29 01:32] markmandel commented on #956
We have an e2e test for this, so _in theory_ this shouldn't happen, but if you are finding this an issue - please file a new bug with detailed replication instructions so that we can reproduce and fix. Thank you! 👍

[2019-07-29 04:12] markmandel opened #958 "Local SDK Server should update internal GameServer on Ready(), Allocate() etc."
**Is your feature request related to a problem? Please describe.**

When using the Local SDK Server, `Ready()`, `Allocate()`, `Shutdown()`, `Reserve(seconds)`, do not change the state of the local `GameServer`, and do not fire watch actions.

It would be really nice if they did - especially since `SetLabel(...)` and `SetAnnotation(...)` do do this - so there is precedent.

**Describe the solution

[2019-07-29 06:15] markmandel commented on #329
Created draft PR #959 so whichever way we decide to go - we have a PR we can merge when ready.

The more I think about it, I can't actually see any real net positives for adding status as a subresource on GameServer anyway -- so I don't think we should add it. But definitely still want to hear other's opinions.

[2019-07-29 06:25] markmandel commented on #927
Updated C++ checklist, due to #948

[2019-07-29 07:17] roberthbailey commented on #957
/cc @pooneh-m for multicluster use cases.

[2019-07-29 12:45] aLekSer commented on #717
@roberthbailey  I was able to create EKS cluster with version Kubernetes `GitVersion:"v1.12.6-eks-d69f1b"` but there is an issue with creating a simple fleet. I use 10 t2.micro instances for now.
Steps for installing I took from [agones.dev - Installation](https://agones.dev/site/docs/installation/#installing-agones)
[code]

[2019-07-29 15:52] aLekSer commented on #958
You can assign this to me, that's really frustrating fo developers who want to test their code versus local sidecar.

[2019-07-29 18:15] roberthbailey commented on #717
Thanks for looking @aLekSer!

Did you look at why the gameservers aren't becoming healthy?

[2019-07-29 18:20] roberthbailey commented on #927
@whisper0077 - do you have time to add the remaining functions to the Unity SDK?

[2019-07-29 18:21] roberthbailey commented on #927
@YannickLange - do you have time to add the remaining functions to the Unreal SDK?

[2019-07-29 19:11] aLekSer commented on #717
@roberthbailey gameservers continuosly got exited, so I need to find how to turn on some cloudwatch logging to see what happens prior to shutdown. I could predict that there is not enough space for new pods.

[2019-07-29 23:00] markmandel commented on #949
Looks like no strong objections. Closing the issue. Please let us know if there are changes we can make on the Agones side to make this easier :+1:

[2019-07-29 23:00] #949 closed

[2019-07-29 23:02] markmandel commented on #717
I would expect with micro instances there would be barely any room for the k8s resources :smile:

[2019-07-29 23:13] markmandel commented on #958
Assigned!

[2019-07-30 00:01] markmandel commented on #599
Looks like no objections! Closing!

[2019-07-30 00:01] #599 closed

[2019-07-30 07:38] roberthbailey commented on #329
You've convinced me that we should go with #959 and remove `UpdateStatus`.

[2019-07-30 07:42] #938 closed

[2019-07-30 07:53] markmandel commented on #329
I think that is the best way forward. :+1: I'll get the PR ready.

[2019-07-30 08:59] #329 closed

[2019-07-30 09:16] roberthbailey commented on #927
Updated node.js checklist, due to #955.

[2019-07-30 14:44] aLekSer commented on #717
I tested with t3.medium instance. The same errors. Created GS with disabled healthcheck and see the logs and it has an issue with connecting to a sidecar `Ready` not sent and backwards true as servers become Unhealthy if run as simple-udp example fleet.

[code]

[2019-07-30 15:33] aLekSer commented on #717
Also there is an issue in EKS when using helm, which is fixed by next command:
[code]
After this I was able to use recent version with:
[code]
Checking functionality now

[2019-07-30 15:52] aLekSer commented on #717
@roberthbailey  Basic functionality on 1.12 EKS cluster (namely `v1.12.6-eks-d69f1b`) is fully operational: creating GS, fleet, fleetautoscaler is fine. Tested on m3.medium instances, used helm to install recent `0.12.0` version.

[2019-07-30 15:54] aLekSer commented on #717
I think we need to have a Terraform module for EKS.
Currently I made a cluster with such command:
[code]

[2019-07-30 20:03] roberthbailey commented on #717
@aLekSer - let's split the terraform for eks into a separate issue (feature request).

I think all that remains here is to change https://github.com/googleforgames/agones/blob/master/site/content/en/docs/Installation/_index.md to change the required version to 1.12 starting with the 0.12.0 release.

[2019-07-30 20:06] aLekSer commented on #717
Ok, I will add a ticket for Terraform now.

[2019-07-30 20:17] aLekSer opened #966 "Terraform support for EKS"
**Is your feature request related to a problem? Please describe.**
We need to create a cluster with 3 node pools : agones-system, gameservers and metrics. With specific taints and labels.

**Describe the solution you'd like**
We already have modules for GKE, AKS and helm. So we will reuse helm module as well as Kubernetes module.

**Describe alternatives you've considered**
Current version hide al

[2019-07-31 00:22] #703 closed

[2019-07-31 01:34] markmandel commented on #717
Everything is ticket off - I assume we can close this now?

[2019-07-31 01:56] roberthbailey opened #969 "Make all yaml files in the examples directory use working configurations / images"
Files to verify / update:
- [x] fleet.yaml
- [x] fleetautoscaler.yaml
- [x] gameserver.yaml
- [x] gameserverallocation.yaml
- [x] webhookfleetautoscaler.yaml
- [x] webhookfleetautoscalertls.yaml

We also need to update https://agones.dev/site/docs/examples/ for the 0.12 release to remove the working about the examples not being functional.

[2019-07-31 02:01] roberthbailey commented on #969
webhookfleetautoscaler.yaml and webhookfleetautoscalertls.yaml are used in https://agones.dev/site/docs/getting-started/create-webhook-fleetautoscaler/ which I've gone through recently so those ones should be fine.

[2019-07-31 02:04] roberthbailey commented on #969
The fleet.yaml file appears to be ok already:

[code]

[2019-07-31 02:06] roberthbailey commented on #969
Likewise, fleetautoscaler.yaml appears fine too.

[2019-07-31 02:09] roberthbailey commented on #969
@aLekSer has a PR to fix gameserver.yaml, which just leaves gameserverallocation.yaml and the website update.

[2019-07-31 02:27] #717 closed

[2019-07-31 04:24] roberthbailey commented on #969
We may also want to update the website's pages under Reference to include any updates to the files. Right now most of them inline a yaml and link to the examples folder, but it would be nice if the inlined yaml matched what was in the examples folder.

[2019-07-31 13:32] aLekSer commented on #969
`gameserverallocation.yaml` is fine.
In order to use it we need next `fleet.yaml` configuration:
[code]

[2019-07-31 17:38] andrehp opened #971 "Configurable log level for agones sidecar"
**Is your feature request related to a problem? Please describe.**

Currently the agones sidecar logs all received Health Pings and GameServer events with the log level INFO

**Describe the solution you'd like**

A way to control the log level to be sent to stdout, logrus already has such a feature: SetLevel. This would allow us to set the log level to WARN or ERROR and avoid seeing these logs, wh

[2019-07-31 17:57] roberthbailey commented on #971
@andrehp - where would you expect to configure the log level? Would it be a per-gameserver / per-fleet configuration or would you expect it to be a cluster-wide setting?

For the first option one idea would be to add a new optional field to the [GameServerSpec](https://github.com/googleforgames/agones/blob/master/pkg/apis/agones/v1/gameserver.go#L127-L140) for sidecar configuration. It might initi

[2019-07-31 18:07] andrehp commented on #971
Hi! Thanks for the quick reply.

I was thinking about a per-fleet configuration, this would allow for different configurations for different fleets and allow us to customize the log level according to the needs of the fleet.

[2019-07-31 19:52] aLekSer commented on #969
I think we can cross out `gameserverallocation` now.

[2019-07-31 20:25] roberthbailey commented on #969
Fixed by https://github.com/googleforgames/agones/pull/970

[2019-07-31 20:25] #969 closed

[2019-07-31 20:57] roberthbailey commented on #971
That was my first thought too, but I wanted to make sure I wasn't over-designing.

[2019-08-01 01:53] markmandel opened #972 "Release 0.12.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-08-01 05:11] markmandel commented on #597
@pooneh-m just wanted to gently nudge this - see where we up to date on this?

We should probably add "documentation"  to the above list as well :smiley:

This isn't on the 1.0 roadmap, but I was just curious.

[2019-08-01 06:38] markmandel commented on #972
Done!!!

[2019-08-01 06:38] #972 closed

[2019-08-01 07:09] TimoSchmechel opened #975 "Fleet Image Edit causes an infinite create/destroy loop"
**What happened**:
I created a fleet using `kubectl apply -f fleet.yaml` then edited the file to change the container image being used, afterwards it got stuck in a loop of continuously creating the new gameservers and then destroying them again.

NOTE: This doesnt seem to happen when using `kubectl edit fleet test-fleet`

**What you expected to happen**:
I was trying to update the image used by t

[2019-08-01 18:25] ntilborg opened #976 "Missing documentation/example for new matchmaker support (Allocate and Reserve)"
**Is your feature request related to a problem? Please describe.**
The new matchmaking Allocate and Reserve calls (#660) are introduced recently, but explanation how to use them properly is missing in the official documentation. Flow diagrams are also not updated yet.

**Describe the solution you'd like**
I would like to request the following enhancements towards the documentation.
- [x] An explan

[2019-08-01 18:45] roberthbailey commented on #976
A diagram was added in https://github.com/googleforgames/agones/pull/933 but it isn't live on the website yet since version 0.12.0 isn't live.

[2019-08-01 18:47] roberthbailey commented on #976
If you run `cd build; make site-server` from a clone of the repo you will see a website running on localhost that will include the diagram changes. If it isn't too much trouble, it would be nice to see if the website that will be published with the 0.12.0 release next week will address your concerns or if you feel like documentation is still missing.

[2019-08-01 19:39] ntilborg commented on #976
I indeed missed out on that one. Yes that partly solves the documentation
update, but it is still lacking background information for the allocation
and reserve calls.

My main concern is the way a matchmaking service design should look like to
incorporate agones, in my opinion the documentation is still lacking in
that area. I will play coming week with this new rc to indentify where the
gaps are.

[2019-08-01 23:17] markmandel commented on #976
You can always see the documentation for the development version of Agones at https://development.agones.dev/ (access via top right version drop down)

https://development.agones.dev/site/docs/guides/gameserver-lifecycle/ is the updated lifecycle flow diagram.

Does the updated Client SDK documentation here help as well? https://development.agones.dev/site/docs/guides/client-sdks/ ?

Maybe there a

[2019-08-02 05:22] pooneh-m commented on #597
Yes, I am going to tackle the list before going to v1.0. I added documentation.

[2019-08-02 05:47] markmandel commented on #597
Nice! Very cool!

[2019-08-05 10:10] ntilborg commented on #976
Thanks for the info, that helps. The updated flow diagrams already explain more indeed.

As far as I see only some details are missing in the new flow:
- In the flow with `Register()` I still miss how the "Game server pod" is transfering its IP address and port number towards the matchmaker. I expect this can be accomplished using the `SDK.GameServer()` call?
- Details when the reserved time is el

[2019-08-05 17:16] pooneh-m opened #980 "Allocation policy needs to expose namespace of the targeted cluster"
[Allocation policy CRD](https://github.com/googleforgames/agones/blob/master/pkg/apis/multicluster/v1alpha1/gameserverallocationpolicy.go) is currently only exposing the LoadBalancer service endpoint for allocator service and not the namespace. This works fine if there is an allocator service for each namespace that game servers are deployed to https://github.com/googleforgames/agones/issues/854.

[2019-08-06 06:05] roberthbailey commented on #980
Since this is still a v1alpha1 API group (indicating active development) I'm OK changing this between 0.12 and 1.0.

[2019-08-06 15:56] markmandel opened #982 "Release 0.12.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-08-07 08:31] dfunk006 opened #985 "No matches for kind "GameServer" in version "agones.dev/v1""
**What happened**:
While running the following command:
`kubectl create -f https://raw.githubusercontent.com/googleforgames/agones/release-0.12.0/examples/simple-udp/gameserver.yaml`
the following error occurs:
`no matches for kind "GameServer" in version "agones.dev/v1"`

**What you expected to happen**:
up until yesterday I was seeing the output similar to:
`gameserver "simple-udp" created`

**H

[2019-08-07 09:27] dfunk006 commented on #985
nvm - re-installed Agones and Kubernetes (version 0.12 and 1.12 respectively) and it's working properly now. Closing issue.

[2019-08-07 09:27] #985 closed

[2019-08-07 20:48] markmandel commented on #982
Done!

[2019-08-07 20:48] #982 closed

[2019-08-07 20:57] markmandel commented on #927
Came up in Slack - does Unity & Unreal need some kind of blocking `Connect()` function basically so they can also block to wait for the sidecar to come up?

We could do a polling operation on the `/healthz` endpoint, or even do what I did on the Rust SDK, and poll `GameServer()` until we get a valid response (since it's read only, and a cached value).

WDYT?

[2019-08-09 19:57] pooneh-m opened #989 "Release the agones image and install.yaml for the pre-release versions automatically"
Currently to try out new features and bug fixes checked in to Agones, one should wait until release or get the code and build it to get the install.yaml with the new images.

Agones pre-release versions should be available to try before official release. There should be a job that runs every few days to create a new version of the install.yaml and publish it as pre-release.

[2019-08-09 19:59] markmandel commented on #989
Technically - we have this already :+1: . Every PR we make images available (and there are links on each PR), and we build on master on every commit as well (although we don't report this anywhere).

If we can come up with a way to bubbling up the builds we make from master, would that solve this problem?

[2019-08-09 20:35] pooneh-m commented on #989
Exactly. It would be nice to release on demand a pre-release version that has changes. For example, if a memory leak bug is fixed, agones v1.0.1 would be released on demand (instead of waiting for 6 weeks to officially release) and anyone interested could upgrade to it.

[2019-08-09 20:56] roberthbailey commented on #989
That has been done in the past, see https://github.com/googleforgames/agones/releases/tag/v0.8.1

[2019-08-09 20:59] markmandel commented on #989
So for a critical bug type issue - we have a hotfix process for stable hotfix releases. This feels to me like a separate thing from wanting to make it easier to take development images for a spin for testing purposes.

I guess, which purpose are we looking at here?

[2019-08-09 21:15] pooneh-m commented on #989
Not all bug fixes categorize as hotfix, but could be useful for others if released as a minor version. If a status field or metrics logging is added that is useful or there is an improvement in latency or availability, 6 weeks release with no intermediate releases may be too long and one week trial may not give enough time for receiving feedback before official release.

[2019-08-12 14:34] aLekSer commented on #975
Hello @TimoSchmechel ,
Thanks for reporting this issue.
I was not able to reproduce it on recent 0.12 version of Agones.
When I update `fleet.yaml` from version 0.14 to 0.13 and perform:
[code]
Old GameServers moved to a Shutdown stage and new Gameservers got created:
[code]

[2019-08-12 14:35] aLekSer commented on #975
One issue which is similar to this one is running `kubectl edit gs GSName` and updating container image to another version. Leads to change in config, but GameServers does not recreated.

[2019-08-12 15:19] aLekSer commented on #956
I was trying to develop such E2E test. It seems that we need a separate `simple-udp` server which would part of the time fail to start say randomly one time out of 2 (os.Exit() before Ready).
I was not able to send something to UDP server before Ready because it does not have allocated ports.
Added such check and test fail on if statement:
[code]

[2019-08-12 16:17] markmandel commented on #956
I think we could make it a command line argument for the simple-udp startup script, and then overwrite the entrypoint in the configuration (rather than a whole new image)

[2019-08-12 18:00] markmandel commented on #989
There sounds like there are lots of meta points in here:

1. If we're advocating that customers should use master builds to get the latest features, then we have to support each and every commit. This kind of scares me to be honest :slightly_frowning_face:
I know we can _say_ that they are development builds, but if it becomes the norm to run a development build, then I think that's the reality is

[2019-08-12 23:08] markmandel opened #992 "JSON serialisation error reporting on Mutation/Validation webhooks"
**Is your feature request related to a problem? Please describe.**

If a user mistypes a yaml for a PodSpec withing a GameServer (for example), it can result in an error like:

[code]

Which tells them nothing useful.

If they look at the controller logs, they can see it's:
[code]

[2019-08-13 02:06] Omegastick opened #993 "The fleets "simple-udp" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update"
**What happened**:
Running the ["create a fleet" quickstart guide](https://agones.dev/site/docs/getting-started/create-fleet/) at `kubectl scale fleet simple-udp --replicas=5` I am getting the following error:
[code]

**What you expected to happen**:
I expect the fleet to be upscaled without error.

**How to reproduce it (as minimally and precisely as possible)**:
After starting a Minikube server:

[2019-08-13 02:15] markmandel commented on #993
What version of `kubectl` are you using?

[2019-08-13 02:18] TimoSchmechel commented on #975
@aLekSer I have just updated my Agones Cluster to version 0.12 and couldnt reproduce it anymore either. Seems like this was fixed in this version.

I think the issue with editing a GameServer is different though. At least to my knowledge I thought that editing a GameServer shouldnt have any effect as `edit` should be done on the fleet level. I could be wrong though.

[2019-08-13 02:34] Omegastick commented on #993
1.15.2, do I need to use an older version?

[2019-08-13 03:05] markmandel commented on #993
Yep. I've seen this a few times with the 1.15.x kubectl client with older k8s versions.

Ideally, line up your kubectl version with your k8s version.

[2019-08-13 04:00] Omegastick commented on #993
That fixed it, thanks!

[2019-08-13 04:00] #993 closed

[2019-08-13 06:10] roberthbailey commented on #993
Kubernetes promises compatibility skew for kubectl at +/- one version from your cluster. So far a 1.12 cluster you should be fine with 1.11, 1.12, or 1.13 kubectl. Anything newer than 1.13 isn't guaranteed to work.

[2019-08-13 12:59] aLekSer commented on #975
Yes, GS edit is not documented so there should be no expectations on the results.
If there is not issues with Fleets, I think you can close this issue.

[2019-08-14 00:22] #975 closed

[2019-08-14 15:43] aLekSer commented on #956
I have created a branch which contains a UT with the part of health checks from https://agones.dev/site/docs/guides/health-checking/#health-failure-strategy
https://github.com/aLekSer/agones/tree/restartPolicyBeforeReady
The test itself which will perform `os.Exit()` before and after Ready state. If we call before Ready than number in `restartCount` should be >0 .
And note that GameServer moves to

[2019-08-15 08:52] Omegastick opened #999 "Segfault with C++ SDK"
**What happened**:
Using the C++ SDK, my application segfaults when trying to communicate with the sidecar.

**What you expected to happen**:
The application should return a `grpc::Status` object representing whether or not the call was successful.

**How to reproduce it (as minimally and precisely as possible)**:
Relevant code included below:
[code]

My health check function:
[code]

**Anything e

[2019-08-15 13:04] Omegastick opened #1000 "GameServer marked unhealthy immediately when using REST API"
**What happened**:
When starting a GameServer using the REST API for communicating with the sidecar, the GameServer is immediately marked as unhealthy. This continues even if the health check service is disabled.

**What you expected to happen**:
The game server should be marked as unhealthy only after the initial health check waiting period.

**How to reproduce it (as minimally and precisely as p

[2019-08-15 15:50] markmandel commented on #1000
Can I please have copies of the `kubectl describe gameserver <gs name>` so we can see the events, and also the [logs from the sidecar](https://agones.dev/site/docs/guides/troubleshooting/#how-do-i-see-the-logs-for-agones
)

[2019-08-15 15:52] markmandel commented on #1000
Oh, I just saw the logs - awesome. The describe would also be helpful.

[2019-08-15 15:54] markmandel commented on #1000
I don't see anything about `singularity-trainer-snnhs`  in the Agones controller log. Is this from the same time?

[2019-08-15 16:17] markmandel commented on #999
@devjgm are you able to have a look at this?

[2019-08-15 16:22] markmandel commented on #718
Sounds like this can be closed. If I don't hear anything by next Monday, I'll close the ticket.

[2019-08-15 16:38] markmandel commented on #927
Should we add a conformance test for REST api?

[2019-08-15 16:45] devjgm commented on #999
I'm not sure if I have time to dig into this, but here are a few questions that'll help anyone who might look into this:

1. Do you have a stack trace from the segv? If it dumped core, you should be able to get a stack trace from that. Otherwise, can you run your program in a debugger, then the segv should cause a trap in the debugger and you'll be able to get a stack trace. This would be hugely h

[2019-08-15 16:48] devjgm commented on #718
Closing SGTM

[2019-08-15 16:58] markmandel commented on #989
From the meeting today, it sounds like a good interim solution would be:
1. Add to the build steps in cloud build, if it's master, push a value to GCS with the details of what the latest master image is
2. Then we could expose this on the Agones website as well, so people could install the latest build
3. This would also be useful for @roberthbailey perf testing as well.

[2019-08-15 18:04] roberthbailey commented on #1000
Can you verify that the gameserver container isn't restarting? There is currently a bug I encountered where if the gameserver restarts before ever becoming healthy, then it will be unhealthy indefinitely, regardless of the health checks. @aLekSer is looking into this.

[2019-08-15 18:56] aLekSer commented on #1000
Yes, I will look at it as part of this issue.
https://github.com/googleforgames/agones/issues/958

[2019-08-16 01:57] Omegastick commented on #999
Trying to debug it with the local SDK server, I've found that the problem only happens when running in a Docker container.

Here's a single file repro
[code]

And here's the stack trace when it segfaults.
[code]

It's segfaulting on `Ready()` in the code above, but a call to `Health` will also segfault.

As I said in #1000, I'm doing to try and make the REST API work (one less library to link agai

[2019-08-16 02:56] Omegastick commented on #1000
Sorry, those two logs were actually from different runs. Here's two logs from the same run:
Sidecar:
[code]

Game:
[code]

`kubectl describe gameserver`:
[code]

@roberthbailey, I think you're onto something with the container restarting. Here's the relevant output of `kubectl describe <pod-name>`:
[code]

I'm not an expert on Kubernetes, but I assume this means that it segfaulted immediately afte

[2019-08-16 05:25] Omegastick commented on #1000
My server application was starting up before the sidecar, then exiting when it couldn't connect (because the sidecar hadn't started yet). On restart #956 was happening. I'll close this issue.

[2019-08-16 05:25] #1000 closed

[2019-08-16 16:26] markmandel commented on #999
This may show my limited C++ knowledge, but what OS/arch are you compiling on, and what is your Docker base OS?

[2019-08-16 21:50] markmandel commented on #1000
Just created a PR #1004 to highlight this issue, so it doesn't impact other people in the same way.

[2019-08-17 05:05] Omegastick commented on #999
It's okay, It's probably some silly mistake I'm making. Building in Docker on the gcc:9 image, and running on the ubuntu:19.04 image. Ubuntu 18.04 64 bit host OS, if that matters.

[2019-08-19 14:17] Davidnovarro commented on #597
@pooneh-m Hi! Any update on this?

[2019-08-20 07:29] pooneh-m commented on #597
Hi @Davidnovarro, I just started working on this again. Hopefully before v1.0 there will be plenty of updates. :) I'm planning to do a refactoring to move allocation handler to its own stand alone library that both allocator service and the API server extension reference to help with the scale. Then I will introduce the gRPC API, add more testing for cross cluster calls and add documentations.

[2019-08-21 10:53] aLekSer commented on #971
Currently working on this option to implement this feature:

[2019-08-22 20:54] markmandel commented on #958
@aLekSer can we close this ticket now?

[2019-08-22 20:55] markmandel commented on #557
I'm working on this now.

[2019-08-23 09:28] aLekSer commented on #958
Yes, I think we can close this as long as we don't need to implement Unhealthy state logic for local GameServer.

[2019-08-23 18:19] markmandel commented on #958
Oh that's an interesting question. I would say - since that isn't covered by this ticket, we can close this ticket. If we have users that want this functionality as part of the local SDK, we can include it there as well.

How does that sound?

That also being said - should we add documentation to: https://agones.dev/site/docs/guides/client-sdks/local/ ? I'm thinking probably. WDYT?

[2019-08-23 21:47] aLekSer commented on #958
For health check it could be helpful and we can turn it off (so could support both options).

Definitely yes, I will explain current behavior of Local SDK in upcoming PR.

[2019-08-23 21:53] markmandel commented on #958
All of this sounds good! Okay, let's not close this ticket then :+1:

[2019-08-24 21:47] #144 closed

[2019-08-24 22:12] cyriltovena opened #1012 "Instrument Kubernetes API and Allocator with Tracing"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to trace requests and their downstream pair together to troubleshoot issues.

**Describe the solution you'd like**
Currently we using an old version of OpenCensus, but if we move to OpenTelemetry we should be able to add tracing to the Kubernetes API rest client and the allocator.

**Open Telemetry does

[2019-08-24 22:34] cyriltovena opened #1013 "Add GameServer state duration metric"
**Is your feature request related to a problem? Please describe.**

Being able to know how long a GameServer stays in a specific state can be very useful when troubleshooting Agones Performance. This could allow users to know how long a GameServer stays unallocated or even how long it takes to get it ready. We could also figure if  game sessions are running correctly based on the average session t

[2019-08-26 04:52] #555 closed

[2019-08-26 07:01] roberthbailey commented on #851
I've tried to reproduce this (with a zonal cluster) to no avail using the 0.12.0 release of agones with a gke cluster running 1.12.8-gke.10.

I created the cluster using the terraform template, so I had 3 node pools (agones-metrics, agones-system, and default). I enabled autoscaling on the default pool and let it scale from 0 to 20 nodes.

First, I tried slowly scaling up the number of game server

[2019-08-27 22:44] pooneh-m opened #1018 "agones-allocator service should scale up independent to gameserverallocation extension API server"
**Is your feature request related to a problem? Please describe.**

The agones-allocator service acts as a reverse proxy, which directs the allocation requests without validation to GameServerAllocation extension APIServer to handle.

agones-allocator and GameServerAllocation can be used for different purpose, and therefore potentially scale differently. In the current model if agones-allocator sc

[2019-08-28 15:05] aLekSer commented on #942
I prepared a PR with building 5 projects from `examples` directory, but build now took 30 minutes. As it is hard to calculate hash of all the files in examples folders and understand what was changed from last build, we can call this test randomly for example one out of five pushes, using commit-id for instance. Another option is to remove this new step from cloudbuild or somehow use Prow to make

[2019-08-29 15:52] aLekSer commented on #927
If conformance tests for REST API is needed I can add the support for existent 3: Go, Rust and NodeJS.

[2019-08-29 18:39] markmandel commented on #927
I don't think we need REST conformation for languages we don't support REST for. Still waiting on some kind of licence/legal review to see what is possible with Unity/Unreal.

[2019-08-29 21:00] markmandel commented on #927
Doing Rust::Reserve, because then that is closed out. Also I get to write some more Rust, and that makes me happy.

[2019-08-29 23:08] roberthbailey commented on #649
/assign

[2019-08-30 18:57] pooneh-m opened #1026 "Upgrade the SDK to proto3 along with the dependencies"
The Agones SDK is still on proto2.

[2019-08-30 19:03] markmandel commented on #1026
I don't think this is true? I'm pretty sure grpc was proto3 since the beginning?

What makes you think this is true?

[2019-08-30 19:04] markmandel commented on #1026
https://github.com/googleforgames/agones/blob/master/sdk.proto says proto3 at the top

[2019-08-30 19:06] roberthbailey commented on #1026
The only places I see proto2 are in the vendor_fixes directory: https://github.com/googleforgames/agones/search?q=proto2&unscoped_q=proto2

[2019-08-30 21:15] pooneh-m commented on #1026
the generated go file is still using [proto2](https://github.com/googleforgames/agones/blob/d6cb00728ae73d2f2c45e118e9d33ba57ccea480/pkg/sdk/sdk.pb.go#L40)

[2019-08-30 21:42] pooneh-m commented on #1026
Thanks. So the [package](https://github.com/googleforgames/agones/blob/master/build/build-sdk-images/go/Dockerfile#L32-L33) that generates the go code is v1.2, which is "proto package" v2. I got confused about the version of the package and the proto.

[2019-08-30 21:45] #1026 closed

[2019-08-30 21:46] pooneh-m commented on #1026
I am already [upgrading](https://github.com/googleforgames/agones/pull/1027) the proto package to v3 and it is backward compatible.

[2019-09-02 02:24] TimoSchmechel opened #1028 "GameServer status does not account for Evicted Pods"
**What happened**:
When the pod running your game server gets evicted due to exceeding a hard limit you have set in your pod/gameserver yaml, the gameserver entry remains unchanged and will still have its previous status of Allocated/Ready. This is incorrect as the underlying pod is no longer running and K8s shows it as Evicted.

**What you expected to happen**:
The game server status should ideal

[2019-09-03 22:29] pooneh-m commented on #854
It seems that there is no real application of the proposal discussed in this issue as gaming customers, according to @markmandel, are using one cluster per game vs one namespace per game with a cluster hosting multiple games.

[2019-09-03 22:30] #854 closed

[2019-09-03 22:47] markmandel commented on #946
Just tested this again with a bigger agones-system nodepool - worked as expected. Closing bug.

[2019-09-03 22:47] #946 closed

[2019-09-04 04:23] roberthbailey commented on #1028
@maisem helped me track down where the "Evicted" comes from in the kubectl output you pasted into slack.

The apiserver has a convoluted way of determining what to print in the pod's status column, inside if this function: https://github.com/kubernetes/kubernetes/blob/26a381b8e1cf30021b0169721a874e77d6681b9c/pkg/printers/internalversion/printers.go#L621-L744

While I think we should make our sidec

[2019-09-04 05:25] TimoSchmechel commented on #1028
I think there was a slight misunderstanding here. I am not really too concerned about the GameServer status not showing "Evicted" as a status, but more so concerned about the fact that the GameServer incorrectly shows a server to be running when the underlying pod is dead and no longer executing at all.

The GameServer should be 100% consistent in reflecting the Running vs Terminated status of the

[2019-09-04 16:56] roberthbailey commented on #1028
Thanks for the clarification. I definitely agree that the game server sidecar is responsible for verifying that the other containers in the pod are running and not terminated. It definitely sees when containers restart, but maybe not when they terminate and don't restart.

[2019-09-04 17:14] #557 closed

[2019-09-04 17:19] markmandel opened #1033 "Player Tracking for each GameServer"
**Is your feature request related to a problem? Please describe.**
It would be very useful to track player connection and disconnection against a specific `GameServer`.

This would allow us to do several things:
- Track if a GameServer is full or not (we should also track GameServer capacity as well)
- Be able to trace and debug a player lifecycle from matchmaker to gameserver connection (we shoul

[2019-09-04 17:37] markmandel opened #1034 "Autoscaling Fleet base on Player Count"
Dependent on #1033

**Is your feature request related to a problem? Please describe.**
For persistent worlds, its common to have multiple copies of the same world for each player to join.

Therefore, a Single fleet could represent a single world, and we would want to scale it based on how close to being full of connected players it currently is.

Right now, we need to track this ourselves, and/or

[2019-09-04 18:28] markmandel commented on #553
I think we should close this - AFAIK I don't think these tools will work with game servers very well?

What do people think?

If I don't hear objections by next Monday (PST), I'll close this ticket.

[2019-09-04 18:50] markmandel opened #1035 "Metrics: Players"
Dependent on #1033

**Is your feature request related to a problem? Please describe.**
Need to integrate player tracking into metrics for aggregate dashboards.

**Describe the solution you'd like**
Metrics tracking and dashboards on:
- [ ] Game Server capacities
- [ ] Number of players per GameServer
- [ ] Empty player slots per GameServer
- [ ] Player connection length (how long they stay connect

[2019-09-04 19:00] aLekSer commented on #553
I also think that this structures is redundant for the `GameServer` scaling logic, `Webhook Fleetautoscalers` will do the job, no need to use Stackdriver Metrics for that purpose.

[2019-09-04 20:47] markmandel opened #1036 "Metric: Game Server Frame Rate over time"
**Is your feature request related to a problem? Please describe.**
Every dedicated game server needs to track if it's running at the optimal, stable framerate, and also be able to alert if something is failing. We don't have any functionality to accomplish this right now.

**Describe the solution you'd like**
Some kind of integration into the Game Server SDK to track framerate, that sends this dat

[2019-09-04 20:56] roberthbailey commented on #1036
Would it make sense to build a more generic framework for collecting metrics rather than trying to plumb individual metrics through the SDK.

[2019-09-04 21:10] markmandel commented on #1036
I think we will need this anyway - but for metrics that are ubiquitous, I think it makes sense to have a standard path for them to go through, so we can build layers on top of that - i.e. dashboards etc.

Or did you mean something different? Everything has to be collected from within the GameServer somehow. We could namespace the metrics part mind you, or some kind of separation from the main SDK

[2019-09-04 21:31] markmandel opened #1037 "Pass arbitrary metrics from gameserver -> opencensus"
**Is your feature request related to a problem? Please describe.**
There are always game specific metrics that also need to be tracked. To be duplicating the effort that already exists in Agones to connect some kind of metrics SDK into a game server seems like a waste of effort.

**Describe the solution you'd like**

Some kind of way of exposing OpenCensus (eventually Open Telemetry) to the game s

[2019-09-04 22:00] markmandel commented on #1036
I'll add another note - I just wrote out a bunch of metrics tickets -- I am definitely not an expert in metrics, I just wanted us to track this metric information, and so wrote tickets to identify the work. I most _definitely_ defer to those that have more experience in metrics and monitoring to dictate how this should all be setup, and what is ideal. Please take this as a sacrificial draft.

[2019-09-04 22:09] roberthbailey commented on #1036
/cc @bbf

If everything flows through the sidecar I'm worried a bit about it becoming overloaded and a SPOF. Right now it's in the path for the control plane for the game server, controlling the lifecycle of the game server. Adding metrics isn't the same as making it part of the data path, but it does introduce a whole bunch of new requirements in terms of responsiveness and availability.

If we,

[2019-09-04 22:14] markmandel commented on #1036
I don't disagree. Maybe there should be a separate sidecar for gameserver specific metrics? (which gets us back to #1007, interestingly).

Should we have a top level ticket re: metrics is in order, to discuss these type of design decisions?

[2019-09-04 22:55] TimoSchmechel commented on #1028
Im pretty sure in this case the sidecar would be dead along with the gameserver as they're in the same pod and k8s just kills the entire pod. So the agones controller would probably need to step in and realize that everything is dead

[2019-09-04 23:01] markmandel commented on #1028
The controller does step in - you see the [code here](https://github.com/googleforgames/agones/blob/master/pkg/gameservers/health.go) for when Pods crash - for exactly the reason you describe.

[2019-09-05 00:29] TimoSchmechel commented on #1028
Im not familiar with go and only had a quick look but the method `failedContainer` seems to only check for pods with a terminated status. When K8s evicts a pod it goes to the Failed status as seen when you run `kubectl describe pod eph-test` like described in the original bug report

![image](https://user-images.githubusercontent.com/16605342/64302644-a4b0c300-cfc7-11e9-9ade-e5537b725a3a.png)

[2019-09-05 05:39] pooneh-m opened #1039 "build.sh is missing in go directory for SDK"
When running "make build-sdk" there is an error: "Command build not found - nothing to execute"

The script is looking for [build.sh](https://github.com/googleforgames/agones/blob/master/build/includes/sdk.mk#L80) in the [default go directory](https://github.com/googleforgames/agones/tree/master/build/build-sdk-images/go).

According to [README](https://github.com/googleforgames/agones/blob/master

[2019-09-05 06:39] pooneh-m opened #1040 "Proposal: Allocator service to return 400+ http status for failure"
**Is your feature request related to a problem? Please describe.**
When allocating a game server, if there is an issue that the game server cannot be allocated, the allocator service response is 200 http status with the state of either ["unallocated" or "contention"](https://github.com/googleforgames/agones/blob/master/cmd/allocator/v1alpha1/allocation.proto#L58-L69). For a RESTful API, the http s

[2019-09-05 15:44] markmandel commented on #1040
So I didn't realise that gRPC has codes that translate to HTTP Status codes through the grpc-gateway.

I think that was the blocking issue in my mind - but now I realise this, I'm 100% on board.

[2019-09-05 15:52] markmandel commented on #1039
I _think_ that's more of a warning than an actual issue - @cyriltovena you did this work, yes?

According to the readme:

[2019-09-05 16:45] roberthbailey commented on #1028
It looks like there are some edge cases not covered in

[code]

[2019-09-05 21:04] roberthbailey commented on #1039
Would it be better to have a build.sh that is a no-op to get rid of the error then? I ran into the same thing when I was first poking at the SDKs and found it confusing.

[2019-09-06 00:52] markmandel commented on #956
FYI - I think I have a handle on this. It's a bit fun and tricky, but slowly taking it apart.

[2019-09-06 16:22] markmandel commented on #1039
I don't have strong opinions here :man_shrugging: - @cyriltovena you wrote it? WDYT?

[2019-09-06 16:35] markmandel opened #1042 "Allocator service should log the Agones version"
Allocator service should log the Agones version it is on startup, like the other binaries

Example:
https://github.com/googleforgames/agones/blob/master/cmd/sdk-server/main.go#L65

[2019-09-06 16:39] pooneh-m commented on #1042
Good idea. I'll take care of it.

[2019-09-06 18:17] pooneh-m opened #1043 "SDK package should be versioned"
Currently the sdk package is not versioned. They should be versioned in case there are breaking changes in the future.
https://github.com/googleforgames/agones/blob/master/sdks/go/sdk.go#L16
https://github.com/googleforgames/agones/blob/master/sdk.proto

[2019-09-06 20:35] markmandel commented on #1043
How do you think we should be versioning?

Ideally, these sdks should never, ever break.

[2019-09-06 20:36] markmandel commented on #672
Can we close this now? We have the harness after all.

[2019-09-06 20:37] markmandel commented on #511
Can we close this now?

[2019-09-06 20:39] roberthbailey commented on #745
/assign @thisisnotapril

[2019-09-06 20:39] pooneh-m commented on #1043
It is not expected that the SDK would have a breaking change, but that's the assumption that almost everyone make when building a product and history proven that it will happen at one point. Using a package name that reflects the version and putting sdks in the version directory is one approach.

[2019-09-06 20:51] roberthbailey opened #1044 "Upgrade to Kubernetes 1.13"
1.14 is now generally available on the three major cloud providers, so following our guidance for supported versions, it's time to upgrade to 1.13.

Given that 1.0 is shipping next week, we should wait until after that to make the change.

[2019-09-08 05:25] heartrobotninja commented on #1044
That is exciting because I can probably get rid of the special apiamachinery directory.

[2019-09-08 15:58] markmandel commented on #957
A potential reason _not_ to do this -- but requires exploration and validation.

It looks like an easy way to get a valid DNS entry inside a cluster, is to configure an internal `Service` that covers all/selection of `GameServer`s.

Source:
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

This might be an easier path to push people towards, than exposing the internal addre

[2019-09-08 16:00] markmandel commented on #957
More interesting DNS tricks (same source as above):

[2019-09-09 16:03] markmandel commented on #553
Cool - closing ticket!

[2019-09-09 16:03] #553 closed

[2019-09-10 00:55] pooneh-m opened #1049 "TestFleetRollingUpdate/Use_fleet_Patch_false_10% test is flaky"
I see this failure that on the second rerun succeeded:
[code]

[2019-09-10 01:37] pooneh-m opened #1050 "TestAllocator is flakey"
TestAllocator is sometimes failing with the "tls: bad certificate" error:

[code]

To investigate I stored the server TLS private and public certificates:
[code]

AND used it with openssl and could repro a "bad certificate" error:
[code]
The CN is incorrect, but the test is expected not to fail, when having this flag set:
https://github.com/googleforgames/agones/blob/master/test/e2e/allocator_test

[2019-09-10 05:42] pooneh-m commented on #1050
In the stack driver logs, there are errors for TLS handshake, indicating that the client certificate is signed by unknown CA:
[code]
I did more investigation and certificates seems to be correctly signed and valid:
[code]

[2019-09-10 17:03] markmandel opened #1053 "Release 1.0.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-09-10 19:38] aLekSer opened #1055 "`make stress-test-e2e` run detects a race condition in test framework.go"
Golang stress tests detects a race condition.

**What happened**:
Data race detected on 7 minute of stress E2E test run.
[code]
**What you expected to happen**:
No race conditions.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Agones version: 0.12
- Kubernetes version (use `kubectl version`): 1.12
- Cloud provider

[2019-09-10 20:35] #1053 closed

[2019-09-10 20:38] aLekSer commented on #1055
I think that the race was detected in test framework itself.
Also note that running tests with `STRESS_TEST_LEVEL` of 1 passes:
[code]

[2019-09-11 01:03] roberthbailey commented on #732
sgtm

[2019-09-11 06:17] roberthbailey commented on #976
https://development.agones.dev/site/docs/guides/client-sdks/#gameserver says that `SDK.GameServer()` returns "the IP and Port the GameServer is currently allocated to" which can then be transferred to the match maker. The `Register()` call is something that would need to exist between the game server and the match maker, and is out of scope for Agones.

I think this is actually explained pretty we

[2019-09-11 12:29] aLekSer commented on #1055
Found a similar ticket. It is not thread-safe to call `t.Fatalf()` twice.
[code]
https://github.com/golang/go/issues/20940

[2019-09-11 14:05] ntilborg commented on #976
I agree, it involves some thorough reading of the documentation to understand all the concepts. Therefore documentation wise I'm satisfied. Shall I keep open the "example of a gameserver" as part of this issue as it is planned for the future?

[2019-09-11 16:16] cyriltovena commented on #1039
I don't think you should run `make build-sdk` but `SDK_FOLDER=go make  build-sdk`.

If you want to build all of them you can use `make build-sdks`.

[2019-09-11 17:56] roberthbailey commented on #976
That sounds good but I don't have an eta for when we might have an example. I know folks are thinking about wiring up open match and agones, but I don't think anyone is working on it yet.

[2019-09-15 12:42] cyriltovena commented on #1033
I also do have a concern for etcd, it could potentially be a lot depending on the design.

A Kuberenetes event each time a player join ?

[2019-09-15 12:58] cyriltovena commented on #1035
Metrics and tracking are usually different systems

[2019-09-16 15:18] markmandel commented on #1033
Yeah agreed - was chatting with some people the other day, talking through this,

The basic idea we ended up thinking, which I think would work better long term (there are some implementation design decisions to work out too) are:

- Only keep the player count and capacity on the GameServer CRD status value.
- The SDK could be smart, and only sync the player count once every second (or configurabl

[2019-09-16 15:20] markmandel commented on #976
From this conversation, I did want to add a call to `SDK.GameServer()` to https://development.agones.dev/site/docs/guides/gameserver-lifecycle/#matchmaker-requires-game-server-process-registration

Right before the `Reserve()` call, to make it explicit that information about the `GameServer()` was retrieved through that SDK command.

I just haven't got around to it yet -- but I think it would be a

[2019-09-17 12:58] markmandel opened #1058 "Release 1.0.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-09-17 12:59] markmandel commented on #732
:star2: CLOSING :star2:

[2019-09-17 12:59] #732 closed

[2019-09-18 06:46] markmandel commented on #1058
...and done!

[2019-09-18 06:46] #1058 closed

[2019-09-20 16:15] #971 closed

[2019-09-20 17:16] drichardson commented on #851
The side car port is 59358, which is in the [ephemeral port](https://en.wikipedia.org/wiki/Ephemeral_port) range on a lot of system. The side car should be listening on a port that is not in the ephemeral port range.

For example, on one of my Google Compute instances, the ephemeral port range is from 32768-60999:

[code]

If a random TCP socket was assigned the side car port 59358 before the side

[2019-09-20 18:01] roberthbailey commented on #851
IIUC, It would need to be a program _running within the pod_, opening a TCP socket for listening, getting the port assigned to the sidecar port, and binding to that port prior to the sidecar opening it's connection, right? If there is something on the underlying host using port 59358 it shouldn't conflict because it isn't in the same network namespace (and it also aligns with the original bug repo

[2019-09-20 18:04] drichardson commented on #851
It doesn't matter if it's a listening socket. Every TCP socket needs a port number. Either you can bind one (using the bind function) or the OS will allocate one to you when you connect to the other end. This allocated port comes from the ephemeral port range.

If someone does, say, `curl http://example.com` before the side car runs, it's possible that the OS uses port 59358 as the TCP port for th

[2019-09-20 18:07] drichardson commented on #851
For example, running `netstat -an` on my google instances, you can see the a bunch of local addresses allocated in the ephemeral port range on non-listening sockets.

[code]

[2019-09-20 18:32] roberthbailey commented on #851
So we could have a degenerate case where the sdk client opens a tcp socket to connect to the server, gets assigned the port number for the server, and prevents the server from being able to bind to the predefined port. Fun.

[2019-09-20 18:35] drichardson commented on #851
@roberthbailey exactly. Which is why it hardly ever reproduces. I'm actually surprised @rennekon had 3 servers out of 10 that had the problem in the initial report.

[2019-09-20 19:55] drichardson commented on #851
@roberthbailey Here's a small C program to demonstrate the problem.

https://github.com/drichardson/examples/blob/master/network/ephemeral.c

Here's the result of running it several times in a row on an Ubuntu 18.04 instance GCE instance:

[code]

[2019-09-22 17:11] #1028 closed

[2019-09-22 21:12] geeckmc commented on #1035
+1

[2019-09-22 21:13] geeckmc commented on #1037
+1

[2019-09-22 23:50] TimoSchmechel commented on #1028
Thank you @aLekSer looked like a pretty straight forward fix. Much appreciated!!!

[2019-09-23 20:25] pooneh-m opened #1064 "Increase the installation security by replacing TLS certificates"
**Is your feature request related to a problem? Please describe.**
When installing Agones using yaml file instead of helm, TLS certificates that are used by the services are defaulted to checked-in certificates. A user may inadvertently use the solution without replacing the certificate and expose security risk of the cluster resources get compromised.

**Describe the solution you'd like**
There s

[2019-09-23 20:28] markmandel commented on #1064
I think we could update https://github.com/googleforgames/agones/blob/master/install/helm/agones/certs/cert.sh to generate all certs, and then add as an optional step on installation with yaml to run that script first before installing things.

We should also confirm this whole bundle is grabbed together when doing a release and attached to the release. I think it is, but we should confirm.

[2019-09-24 00:28] markmandel commented on #851
I just came in here to say - I would never have worked this out. Thanks for coming along!

[2019-09-24 07:13] roberthbailey commented on #940
I think this is actually working correctly. If you manually tweak labels so that they no longer match, you are manually divorcing the game server set from the fleet that was managing it, so you would expect the fleet to notice that it is no longer managing a gss and create a new one. The old one is now no longer being managed by a controller, just as if you had created the gss directly instead of

[2019-09-24 07:17] roberthbailey commented on #975
I just ran across this right now. I think we should either fix it (so that editing a game server updates the associated pod spec) or document that it is not supported and work towards adding a webhook to reject edits. Right now the user experience is terrible -- the game server says I'm running container A and the pod says I'm running container B. Similarly, if I manually delete the pod associated

[2019-09-24 09:16] aLekSer commented on #975
@roberthbailey Should we open a separate issue/-s to track that or reopen this one?

[2019-09-24 09:19] aLekSer commented on #940
Thanks for clarification. If this is useful for debugging than it should stay as is and we should expect some event (warning) to be generated from a `Fleet` that it got new `GameServerSet` assigned to it?

[2019-09-24 15:27] markmandel commented on #940
What does Kubernetes do if you do this with Pods and Fleets? (or maybe ReplicaSets?)

I don't feel like it's that useful tbh, if you are messing with those labels, you likely know what you are doing -- GameServerSets aren't particularly documented, as they really are more of an Agones implementation detail.

At least in my opinion anyway.

[2019-09-24 17:30] roberthbailey commented on #530
@jeremyje - do you still have a fix for this floating around? It'd be nice to get it added in, since I recently ran into this in my testing.

[2019-09-24 17:31] jeremyje commented on #530
No I abandoned the fix. My PR is referenced just above but I doubt it's compatible with what's there now. There's also plenty of edge cases that it doesn't quite work.

[2019-09-24 21:19] #1042 closed

[2019-09-25 16:14] markmandel commented on #851
@roberthbailey had a random thought last night - not 100% sure if its a good idea or not.

Does it make sense to make the SDK configurable (maybe through the GameServer CRD?), with a good default?
(Implementation wise, this could be passed down to all containers in the pod as an env variable)

Reason being - it might be an easier way to have backward compatibility / future  proofing.

Maybe from t

[2019-09-25 16:27] roberthbailey commented on #851
I guess the question is whether we think making it configurable is the right long term API or is it just a bandaid to get us from the ephemeral port to a lower port number.

If we think it's the right API for the sidecar then it saves us from opening two ports and is less complex. The transition plan is relatively easy (as you described) -- I think we'd need to leave the port at the high number to

[2019-09-25 16:46] markmandel commented on #851
That's a good point. I guess the only reason that would make it a good long term strategy, is to stop the inevitable "my game server starts up on the same port as the SDK, and Ii can't change it, what do I do"

I just figure via Murphy's Law that will happen at some point :man_shrugging:

[2019-09-25 17:18] drichardson commented on #851
Unless users can guarantee they will make no TCP connections before the sidecar starts up, this issue can impact anyone at anytime.

This is the solution I'd prefer. I'd add a warning message if the default port was used, letting people know that it's going to change in a release or two and that they need to explicitly set the port if they want to keep using the ephemeral port number.

[2019-09-25 17:22] markmandel commented on #851
Maybe the warning can be on the Event in the GameServer - that might be the easiest place to put a warning. I can't think of any other place to do it.

[2019-09-25 17:23] drichardson commented on #851
I'm sure everyone on this thread understands, but just to clarify for anyone else, there are actually two ports that need to be set: 59357 (gRPC) and 59358 (http)

[2019-09-25 18:13] markmandel commented on #980
Can this now be closed?

https://help.github.com/en/articles/closing-issues-using-keywords might be useful going forward as well.

[2019-09-25 19:01] pooneh-m commented on #980
Thanks. Didn't know about the keyword. Next time :)

[2019-09-25 19:01] #980 closed

[2019-09-25 22:02] pooneh-m opened #1074 "E2E tests should use a randomly created Namespace for testing"
**Is your feature request related to a problem? Please describe.**
All E2E tests are using default namespace in the test cluster when running, which makes it harder to identify which test is causing issues in the shared cluster. Tests are also more error prone by mistakenly reusing resources from other tests in the same namespace.

**Describe the solution you'd like**
Test runs should be isolated

[2019-09-25 22:24] markmandel opened #1075 "Add Community Meeting section to Contributing document"
We currently don't mention the community meetings on:
https://github.com/googleforgames/agones/blob/master/CONTRIBUTING.md

We should:

- [ ] Make a mention of it
- [ ] Link to a calendar
- [ ] Link to a list of past recordings.

[2019-09-25 22:26] markmandel commented on #1075
@thisisnotapril this seems up your alley :smile: if you don't have a moment to make a PR, if you have the info at hand, happy to do the PR for you.

[2019-09-25 22:32] markmandel commented on #1074
Interesting idea! Is this mainly to make it easier to parse logs?

[2019-09-25 22:33] markmandel commented on #1050
I thought I had fixed this, but it still shows up occasionally :disappointed:

[2019-09-25 22:37] markmandel commented on #718
Oops, look  like we didn't close this. Closing now!

[2019-09-25 22:37] #718 closed

[2019-09-25 22:39] markmandel commented on #892
This still would be great - just need to split things in the commit -- you can see details in the #893 PR.

[2019-09-25 23:15] roberthbailey commented on #851
Given the Murphy's Law argument I'm convinced that we should make the sdkserver ports configurable.

Next question: how to express this in the API?

We already have a section called 'ports', but I think it would be confusing to put it in there. We are adding a section called 'logging' with a subfield for 'sdkserver' but I'm wondering if we should invert it and instead do something like:

[code]

B

[2019-09-25 23:17] pooneh-m commented on #1074
Yes, and if there is a leak from testing like what we saw few days ago, it is easier to debug. WDYT?

[2019-09-25 23:19] drichardson commented on #851
FYI the default Unreal Engine server port is 7777, so may want to pick another one ;)

[2019-09-25 23:20] drichardson commented on #851
(I also think it's Unity's default port for [UNetManager](https://docs.unity3d.com/Manual/UNetManager.html))

[2019-09-25 23:25] pooneh-m commented on #1074
Also, at the test cleanup, deleting the namespace deletes all the resources. There is no need to delete resources one by one from default namespace.

[2019-09-26 00:42] markmandel commented on #851
@roberthbailey I think that configuration is perfect. I had the exact same thoughts, and I think that is a great solution.

[2019-09-26 03:36] roberthbailey commented on #851
/assign

[2019-09-26 05:15] pooneh-m commented on #1050
Oops. My change https://github.com/googleforgames/agones/pull/1077 is overriding the certificates. Tests will start failing without this change. I am fixing the cluster.

[2019-09-26 14:33] aLekSer commented on #672
Yes, we can close this PR now.

[2019-09-26 15:18] markmandel commented on #672
Closing!

[2019-09-26 15:18] #672 closed

[2019-09-26 16:19] roberthbailey commented on #749
This has some overlap with what is discussed in https://github.com/googleforgames/agones/issues/668 for bare metal. The deployment environment is different, but the feature ask sounds similar.

[2019-09-26 16:26] markmandel commented on #511
e2e tests are running at 4-5 minutes, so I think this can be closed now.

[2019-09-26 16:32] markmandel commented on #901
Closing - we will create a new ticket for testing toleration in our e2e tests.

[2019-09-26 16:32] #901 closed

[2019-09-26 16:33] roberthbailey commented on #1075
/assign @thisisnotapril

[2019-09-27 16:28] markmandel commented on #851
@aLekSer I just realised something else this will enable us to do - run the SDK conformance tests in parallel on different ports :+1: (because the sdk conformance tests take a long time right now, just because they are in serial) :smile:

[2019-09-27 19:39] roberthbailey commented on #851
That would also be a good way to test that each SDK can actually connect to different ports.

[2019-09-27 21:43] Yingxin-Jiang opened #1084 "Create Agones resources in non-default namespace"
After installing Agones, Agones resources, such as fleets and gameServers, can be created in default namespace.

To create resources in another namespace, users need to:
1) create the namespace
2) create agones-sdk service account and bind the service account to ClusterRole agones-sdk
It's not easy to figure out the second step.

Would it be helpful to allow user to provide one or more non-default

[2019-09-27 21:44] markmandel commented on #1084
See:
https://agones.dev/site/docs/installation/helm/#configuration
`gameservers.namespaces` configuration option.

Does that do what you are looking for?

[2019-09-27 21:48] Yingxin-Jiang commented on #1084
Great. I will try that. Thanks!

[2019-09-27 23:34] roberthbailey commented on #851
Next up is to design how we dynamically configure the port that the SDK connects to (right now it's compiled in).

Some options:

1. We add a special environment variable on the gameserver container with the port number
1. We add an extra command line argument to the gameserver container with the port number
1. We add an optional argument to the `New()` constructor for the SDK in each language and

[2019-09-28 00:57] Yingxin-Jiang commented on #1084
Yes, that's exactly what I was looking for. Thanks

[2019-09-28 00:58] #1084 closed

[2019-09-28 07:47] roberthbailey commented on #851
I was thinking about it more and I think that command line flags aren't going to work, since the gameserver main needs to parse them (not the sdk).

Passing an argument to New() could work, but it requires either recompiling the gameserver container to change the port, or writing custom code to pass values through.

Using environment variables seems more straightforward, but I was concerned that w

[2019-09-28 10:28] aLekSer commented on #851
Yes, that's true I will configure them to run in parallel on different ports.

[2019-09-28 12:17] Omegastick opened #1087 "Passing data to gameservers at allocation time"
**Is your feature request related to a problem? Please describe.**
I'd like to pass some data from the matchmaking server to a game server at allocation time (player usernames and access tokens).

**Describe the solution you'd like**
The most reasonable thing to do seems to use the Allocation definition to set some annotation metadata, and then access that in the container at runtime.

However, se

[2019-09-28 16:24] markmandel commented on #1087
Is there a reason that [WatchGameServer(function(gameserver){…})](https://agones.dev/site/docs/guides/client-sdks/#watchgameserver-function-gameserver) on the gameserver SDK does not meet your needs?

[2019-09-28 16:46] Omegastick commented on #1087
I completely missed that feature. Thanks!

[2019-09-28 16:46] #1087 closed

[2019-09-28 16:51] markmandel commented on #1087
No worries - I think it's common to miss this. Maybe we should have a guide or something?

Happily take suggestions on the best way to raise this up?

[2019-09-29 02:24] Omegastick commented on #1087
I did a few Google searches for things like "Agones access annotations in container" and nothing from the Agones documentation came up, which lead me to assume there was nothing in the documentation about it. IMO getting stuff like this to come up in searches would be the best way to make it more visible. No idea how you would do that though. Perhaps Google isn't crawling that page of the site for

[2019-09-30 00:35] toule opened #1088 "no matches for kind "GameServer" in version "agones.dev/v1""
**What happened**:
no matches for kind "GameServer" in version "agones.dev/v1"

**What you expected to happen**:
gameserver "simple-udp" created

**How to reproduce it (as minimally and precisely as possible)**:
kubectl create -f https://raw.githubusercontent.com/googleforgames/agones/release-1.0.0/examples/simple-udp/gameserver.yaml

**Environment**:
- Agones version: release-1.0.0
- Kubernetes v

[2019-09-30 01:00] #1088 closed

[2019-09-30 01:01] toule commented on #1088
Now it is works

[2019-09-30 10:23] itthought opened #1089 "provisioning and attaching volume after container allocation"
Hi,
I have one use case. Is there any way to attache volume when container is allocating to some user?

[2019-09-30 16:49] markmandel commented on #1089
You would need to attach the volume when you define the container. Once the GameServer's pod has started, you can't edit it to attach a specific volume.

https://kubernetes.io/docs/concepts/storage/volumes/ should help you get started.

[2019-10-01 11:32] aLekSer commented on #927
For SDK conformance tests:
- [ ] We need to run sdk server on distinct ports to run all SDK tests in parallel
this was mentioned in another thread leave it there as a checkbox

[2019-10-01 18:06] #1055 closed

[2019-10-01 20:36] pooneh-m opened #1090 "YAML installation is broken due to sdkServer validation failure"
**What happened**:
Deploying Agones v1.1 (pre-release) on a cluster fails:
[code]

[2019-10-01 20:37] pooneh-m commented on #1050
This issue is not happening anymore. Closing it.

[2019-10-01 20:37] #1050 closed

[2019-10-02 04:59] roberthbailey commented on #1090
To double check, what version of k8s were you testing against?

[2019-10-02 05:07] roberthbailey commented on #1090
I was reading the error message more closely and it looks like it may be related to the new fields I added in https://github.com/googleforgames/agones/pull/1078.

[2019-10-02 05:13] roberthbailey opened #1091 "Building the cpp-simple example prints a fatal message and hangs for a long time before finishing"
**What happened**: Tried to build the cpp-simple application. The build hangs, with the error `fatal: not a git repository (or any of the parent directories): .git` (see full output below).

**What you expected to happen**: A successful build.

**How to reproduce it (as minimally and precisely as possible)**: Check out the master branch, `cd examples/cpp-simple; make`.

**Anything else we need to

[2019-10-02 05:20] roberthbailey commented on #1091
Ok, it looks like I wasn't being patient enough. It would be great if the output didn't say `fatal` and hang for a long time though. Maybe we can tweak the cmake configuration to suppress this message somehow?

[2019-10-02 14:15] aLekSer commented on #1090
There is an indentation issue with grpcPort and httpPort, I will provide a fix

[2019-10-02 15:50] #1090 closed

[2019-10-03 21:41] roberthbailey opened #1098 "Add Fuzz Tests"
We should consider adding fuzz testing to Agones.

Kubernetes uses https://github.com/google/gofuzz (originally was in the Kubernetes repo but was split out).

https://github.com/google/oss-fuzz is Google’s free fuzzing-as-a-service platform and has recently added support for Go fuzzers.

There are probably other options as well that I'm not aware of.

[2019-10-04 01:22] djsell commented on #678
I've had this happen to me a couple times in v1.0.0

[2019-10-04 01:28] markmandel commented on #678
@djsell - thanks for reporting!

Please open a new issue with repro steps, so we can look into it :+1:

[2019-10-06 05:13] djsell opened #1102 "Gameserver is not removed when node hosting gameserver pod is shutdown"
**What happened**:
After a node hosting a game server shuts down, the game server is not removed from the game server list.  A fleet will not replace the missing game server.

**What you expected to happen**:
The gameserver should be removed once the pod is no longer running, and the fleet should start a new gameserver up.

**How to reproduce it (as minimally and precisely as possible)**:
I'm usin

[2019-10-07 09:04] Omegastick commented on #1102
I'm getting this too. Running Kubernetes on GKE with Agones v0.12.0. I have to delete the gameservers manually every time I 'turn on' (scale from 0 to 1) my development cluster.

[2019-10-07 16:39] roberthbailey commented on #1102
I've also found that if you (accidentally or purposefully) delete a pod backing a gameserver (e.g. `kubectl delete pod <NAME>` instead of `kubectl delete gs <NAME>`) that you get into this situation as well.

Last time I did it, I asked @markmandel if this was expected behavior and (if I'm remembering correctly) he said that if someone is manually tinkering with resources under the gameserver it's

[2019-10-08 01:15] Omegastick commented on #1102
@roberthbailey In my case, the system has been left in that state over the weekend, and come Monday hasn't repaired itself. I always delete the gameservers shortly after scaling the cluster back up though, so maybe it only self-heals after scaling back up.

It's worth noting that if I do `kubectl get pods` while the cluster has no nodes, rather than returning pods in a 'pending' state, it doesn't

[2019-10-08 01:41] djsell commented on #1102
Just to be clear, that pending pod has nothing to do with agones or my game servers.  It is just another k8s Deployment in the same namespace.  It is 0/1 pending because the cluster is at size 0 (no nodes available to run the pod).

[2019-10-08 01:52] djsell commented on #1102
And to recover my game server state after a scale to 0 and back to 1, I just normally run `kubectl --namespace ncc delete gs --all`

Also, I should mention that I get in this situation not because I actually am scaling my cluster to 0, but because I have a cheap dev cluster of size 1 using GKE with preemptible instances.  Every now and then the instance will be terminated and afterwards I need to

[2019-10-08 22:28] Yingxin-Jiang opened #1104 "Better documentation for BufferPolicy in fleetautoscaler"
**Is your feature request related to a problem? Please describe.**
Missing documentation for BufferPolicy in fleetautoscaler, defined in  https://github.com/googleforgames/agones/blob/master/pkg/apis/autoscaling/v1/fleetautoscaler.go#L85?

**Describe the solution you'd like**
Please provide better documentation for BufferPolicy defined in fleetautoscaler. For example, (1) when should percentage bu

[2019-10-09 00:50] Yingxin-Jiang opened #1105 "How is the Agones installation tested on different cloud platforms?"
This is more of a question rather than feature request. According to https://agones.dev/site/docs/installation/, Agones can be installed on GKE, Minikube, EKS, or AKS. How is the Agones installation tested on different cloud platforms? Is it a manual process? If so, does it make sense to include it in e2e tests?

Thanks!

[2019-10-09 04:02] roberthbailey commented on #1105
Right now the automated testing is all done on Google Cloud (using GKE). Testing on other platforms is done manually by contributors and users. Note that when we upgrade to a new version of Kubernetes (e.g. the recent migration from [1.11 to 1.12](https://github.com/googleforgames/agones/issues/717)) we did some manual testing (not as rigorous as the e2e suite though) on all of the supported platf

[2019-10-09 04:04] roberthbailey commented on #1105
It would be awesome to add more automated testing on other platforms.

One issue is that to test on other cloud we need an account with billing configured. We get this "for free" for GCP right now.

Another issue is that the current presubmit and e2e tests are run through google cloud build. I've started working on [getting prow configured](https://github.com/googleforgames/agones/issues/649) whic

[2019-10-09 05:49] aLekSer commented on #1104
There is auto-generated documentation, which is here:
https://agones.dev/site/docs/reference/agones_crd_api_reference/#BufferPolicy

[2019-10-09 22:22] Yingxin-Jiang commented on #1105
Thanks @roberthbailey for the info! I will leave the issue open for adding more automated testing.

In addition, it would be helpful if we can document how to install Agones using Terraform for EKS. I didn't see it in https://agones.dev/site/docs/installation/terraform/. Thanks!

[2019-10-10 00:17] Yingxin-Jiang commented on #1104
I read the documentation before creating the issue.
For MinReplicas, it says "... If zero, it is ignored... ". Does this mean MinReplicas is an optional parameter? If I have MinReplicas=0, BufferSize=20%, MaxReplicas=100, how many game servers will be in ready state?

[2019-10-10 02:13] roberthbailey commented on #1105
The [PR to add it to the docs](https://github.com/googleforgames/agones/pull/986) is currently marked as draft. Once @aLekSer is ready we will get it reviewed and merged but you can check out the draft in the mean time.

[2019-10-10 11:59] aLekSer opened #1106 "Swagger: WatchGameServer() definition is not generated properly in sdk.swagger.json"
There is an issue with v1.5.0 version of GRPC Gateway library which is used to generate `sdk.swagger.json` file.

**What happened**:

Test I created in #1079 could not parse properly the newline terminated JSONs stream which is a response to  `gameserver/watch` endpoint.
Investigation of this issue source and ways of retaliation could be found in the #1079 ticket.

**What you expected to happen**:

[2019-10-10 12:02] aLekSer commented on #1106
One more issue which we should tackle after upgrading `GRPC-gateway` is that there is no swagger generators which would properly generate go client for the `x-stream-definitions`:
[code]

[2019-10-10 12:09] aLekSer commented on #1106
Attaching sdk.swagger.json generated with the most recent version of GRPC Gateway.
[sdk.swagger.json.txt](https://github.com/googleforgames/agones/files/3712429/sdk.swagger.json.txt)

[2019-10-11 17:31] jkowalski opened #1107 "In a busy cluster, fleet reaction becomes slower and slower over time due to exponential back-off on requeueing"
In a busy cluster with >100 fleets, Fleet controller becomes slower and slower to react to the point of being unusable.

Repro:

0. Create clean agones test cluster per github instructions
1. Create 150 clones of simple-udp fleet
2. In one terminal run a script that scales one fleet every 3 seconds:

[code]

3. In another terminal watch fleet status every second:

[code]

Notice how after a few ru

[2019-10-11 17:48] maisem opened #1109 "The default resync period is too low"
**Is your feature request related to a problem? Please describe.**
The problem is kind of related to #1107. If there are a lot of resources created by agones, the controllers end up resyncing the entire world every 30s.
This causes all the resources to be readded to the queue every 30s, potentially masking code bugs related to reacting to the correct set of events. Ideally everything should react

[2019-10-11 19:56] jkowalski commented on #1107
Verified that #1108 fixes the issue: After few more hours the test shows that fleet reconciler is reacting quickly (within few seconds):

[code]

[2019-10-14 14:47] aLekSer commented on #1102
@djsel
Have you set Health check to false?
1st step was `make gcloud-test-cluster`.
I run such a scenario, I did not touch `agones-system` Node Pool. Then I scaled `default` Node Pool down to 0 -> all gameservers in or without a fleet become unhealthy, then I see such a state:
[code]
After scaling to 3 nodes in `default`:
[code]
So gameservers in a simple-udp (`simple-udp/fleet.yaml`) were restart

[2019-10-14 14:53] aLekSer commented on #1102
@djsell Daniel,

Were you scaled all your nodes in a cluster to 0, which led to removing `agones-controller`?

[2019-10-14 15:16] #1107 closed

[2019-10-14 16:00] aLekSer commented on #1102
I was thinking that we need OwnerReference for GameServer backing pod, then I assume that Kubernetes garbage collector automatically should remove the GameServer CRD:
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

[2019-10-14 19:57] djsell commented on #1102
@aLekSer Thanks for checking up on this.  No, I did not disable health check.

Yes, I am using the same cluster for `agones-system` and my game server namespace, so the scale down results in 0 `agones-controller` as well.

I believe this is correct.

[2019-10-14 22:22] fejta opened #1112 "Please create a root OWNERS file for agones"
Can you create OWNERS files? At least one in the root dir.

/assign @roberthbailey

[code]

[2019-10-14 22:45] roberthbailey commented on #1112
I could have sworn that I did this.... I looked through my PR history and found https://github.com/googleforgames/agones/pull/1016, where I apparently created an owners file in the build directory (even though the PR title says "at the root of the repository"). Oops.

[2019-10-14 23:26] pooneh-m opened #1114 "TestMultiClusterAllocationOnLocalCluster is flakey"
**What happened**:
There seems to be a race condition with TestMultiClusterAllocationOnLocalCluster test that the GameServerAllocationPolicy CR is not stored on a newly created namespace before the allocation request is sent.

[code]

[2019-10-14 23:51] pooneh-m opened #1115 "Refactor Docker files for gRPC between SDK and allocation"
**Is your feature request related to a problem? Please describe.**
There are generic functionalities for generating code that are included as part of the sdk build collateral. More specifically, ```build-sdk-images/tool/base``` and ```build-sdk-images/[lang]/Dockerfile``` are also referenced by ```includes/allocation.mk``` and copied to ```build-allocation-images``` respectively.

**Describe the s

[2019-10-15 16:26] #1112 closed

[2019-10-16 03:52] roberthbailey opened #1120 "Allow issues to be assigned to collaborators"
Prow is constantly complaining that it can't assign PRs to folks because they aren't a collaborator on the repository (and the same thing also prevents us from manually assigning issues or PR reviews to people). We need to figure out a way to fix this.

I think we can do this in one of two ways:

1. Set a low bar for adding folks to the googleforgames github org.
1. Set a low bar for adding folks

[2019-10-16 17:35] roberthbailey commented on #1120
This is blocking https://github.com/googleforgames/agones/pull/1119.

[2019-10-21 17:48] roberthbailey opened #1126 "Rebuild example images for the 1.1 release"
For the 1.1 release I've introduced changes to the SDKs to make the sdkserver port dynamically configurable. We need to rebuild all of the official example images to pick up the SDK changes.

I think the normal release checklist updates the golang example-udp image, but for this release we should update all of them.

/cc @markmandel

[2019-10-22 17:26] roberthbailey commented on #1043
@pooneh-m - do you expect that someone would need to import multiple versions of the SDK into a single build (so that they would need different package names)? Or that if we made a breaking change the sidecar would export both the old and new grpc endpoints simultaneously (maybe even on different ports)?

I wouldn't mind having the gRPC API between the sdk and the sidecar have a version in the nam

[2019-10-22 17:38] roberthbailey commented on #999
Your single file repro looks quite similar to the [cpp-simple example](https://github.com/googleforgames/agones/blob/master/examples/cpp-simple/server.cc). The example builds with gcc:8 and runs on debian:stretch, so maybe there is some small difference there that is causing the issue.

[2019-10-22 17:40] pooneh-m commented on #1043
No, we don't expect multiple SDK versions in a single build, but if a breaking change is introduced to SDK, the old stable version should still work and users should be able to choose either versions.

Makes sense to introduce package versioning for sdk after v2 to avoid breaking change to v1.

[2019-10-22 17:40] roberthbailey commented on #745
Bump.

[2019-10-22 19:33] roberthbailey commented on #851
Update:

The ports used by the sdkserver sidecar can be configured through the gameserver/fleet yaml (starting with the impending 1.1 release) and I've added support to all of the SDKs to connect to the port that is being used by the sidecar.

For backwards compatibility, the default ports are not going to be changed for the 1.1 release, but they will be changed in a future release to a lower numb

[2019-10-22 19:35] roberthbailey commented on #1044
/assign

I'm planning to start working on this once the 1.1 release is finished.

[2019-10-22 19:35] markmandel commented on #1126
FYI - the normal release checklist doesn't update any of the images, just makes sure the release notes track any updates accurately.

So if we want to update all the examples, then a separate ticket like this is the way to do it :+1:

[2019-10-22 19:36] roberthbailey commented on #1126
I'm happy to help updating the images (now that I have all of the SDK changes in).

[2019-10-22 20:02] heartrobotninja commented on #1044
Let me know if you want any help. It might be worth having me handle the go lib portion since I should be able to get rid the modified apimachinery package.

[2019-10-22 21:02] markmandel opened #1133 "Release 1.1.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-10-23 00:21] aLekSer opened #1136 "CI: Build cache cpp-sdk-build contains unnecessary archives"
Currently the following files are added to build cache for every new build:
[code]
**What happened**:

**What you expected to happen**:

The moment it happened is here:
https://github.com/googleforgames/agones/blob/88f1d4eebf96584322efa2dfb981a672590a4bc0/sdks/cpp/Makefile#L38
I expect that  `package_path` (`.install`) would be used to store all the archives. And `.build` would contain only files

[2019-10-23 00:23] markmandel commented on #1136
This is why the cpp build cache is 6+ GB at the moment.

Worth noting, changing this position of these artifacts will affect the cloudbuild.yaml and also the `do-release` target (and maybe some others) so it's worth a review to see what can be found.

[2019-10-23 00:24] markmandel commented on #1133
Done!

[2019-10-23 00:24] #1133 closed

[2019-10-23 00:46] markmandel opened #1137 "GKE: Update documentation + Automation to disable node automatic updates for gameserver node pools"
[code]

Since this could break in-game play, we should have our examples and automation disable it by default, for at least the gameserver nodepools (maybe agones-system as well?)

This might be a good opportunity to update the Terraform scripts for GKE + Agones, and remove/replace the deployment manager scripts in the development tooling while we are at it.

[2019-10-23 03:41] roberthbailey commented on #1137
November 8th is ~1 week after we cut the 1.1 release, so it would make sense to update the install instructions before the 1.1 release to address this.

[2019-10-23 19:21] roberthbailey commented on #1137
I'm not going to have time to tackle this part right now. I think it's ok if development clusters created via deployment manager have auto upgrades enabled until we can fix it, since I expect that they get recycled more frequently.

[2019-10-23 19:24] roberthbailey commented on #1137
@aLekSer - do you have interest in replacing deployment manager with terraform?

[2019-10-23 21:20] aLekSer commented on #1137
Yes, I can do that. However I think version with gcloud tool should stay/renamed.

[2019-10-23 23:41] markmandel commented on #1043
This related to the conversation [in the feature stages documentation](https://github.com/googleforgames/agones/pull/1080#discussion_r329839415).

How does this also work technically? Do we need to run multiple port endpoints with gRPC, or can we do an include from a main.proto for all the versions? which will serve all the packages from a single endpoint?

I've never done this, so I'm not sure ho

[2019-10-23 23:44] markmandel commented on #1120
I'm not seeing any downsides to having a low barrier to entry for read access on the Agones repo.

Seems like an easy win, unless there are downsides I'm not thinking of? As long as it's only read access, I assume it's fine.

[2019-10-23 23:47] markmandel commented on #1114
Is this still flaky? I haven't seen it fall over in a while.

[2019-10-24 00:06] markmandel commented on #1109
I'm curious what makes this an actual problem? Are we seeing CPU spikes, slowdowns, or other such issues?

The controller is meant to be self healing, so if it goes down, it should do a full resync regularly just to check that things are in the state they should be. 1 hour seems like a long time.

30 seconds is what Kubernetes uses [in it's examples](https://github.com/kubernetes/kubernetes/blob/m

[2019-10-24 00:09] markmandel commented on #1089
I'm going to close this, as it hasn't been updated in 23 days. Please reopen if you have a follow up.

[2019-10-24 00:09] #1089 closed

[2019-10-24 03:30] aLekSer commented on #1137
Currently producing a version of `make gcloud-test-cluster` and `make clean-gcloud-test-cluster` targets with Terraform (to get rid of deployment-manager).

[2019-10-24 16:04] thisisnotapril commented on #1120
It's easy to make folks contributors to the repo. I'll create an issue template, and then folks who want to be added can request it easy.

[2019-10-24 16:07] thisisnotapril commented on #1120
@roberthbailey I've added Steven as a collaborator; so once he accepts should be all good to go!

[2019-10-24 16:34] pooneh-m commented on #1114
I'll close it for now and if it starts happening, than reopen it. A retry on allocation should fix it, in case of race condition.

[2019-10-24 21:25] roberthbailey opened #1146 "Define our support model for releases / SDKs"
I brought this up during the monthly community meeting today ([notes](https://docs.google.com/document/d/1wbCU-wGy-_d5HawHJPTRP-dvL2h432cpcd4_SVp003o/edit#heading=h.10ur1dsbklu8)) but since not everyone can make those meetings it's worth also filing a github issue to gather more data / opinions.

Questions that we need to answer (and document):

1. How long do we want to support each release?
   1

[2019-10-25 00:24] structurefall opened #1148 "agones-ping-udp-service brings up incompatible load balancer in EKS"
**What happened**:

When installing Agones in an EKS cluster, the agones-ping-udp-service fails to create with the following error:

`Warning  CreatingLoadBalancerFailed  1s (x4 over 37s)  service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service agones-system/agones-ping-udp-service: Only TCP LoadBalancer is supported for AWS ELB`

**What you expect

[2019-10-25 00:26] markmandel commented on #1148
I figure we could set this annotation by default. I don't think it's going to affect other cloud platform's load balancers?

[2019-10-25 03:57] thisisnotapril commented on #1120
Closing - issue template created; let's direct all future collaborators there

[2019-10-25 03:57] #1120 closed

[2019-10-25 04:01] thisisnotapril commented on #1075
@markmandel Can we take this as an opportunity to move the assorted community/contrib documentation to the agones/community repo? Then I can push to master and PR with all the branches I want! 😈

[2019-10-25 07:37] roberthbailey commented on #1075
https://github.com/googleforgames/agones-community is looking awfully empty....

To make your proposal more concrete, it seems like the files that would move are https://github.com/googleforgames/agones/blob/master/docs/governance/community_membership.md and https://github.com/googleforgames/agones/blob/master/docs/governance/templates/membership.md. Is there anything else that you would move over

[2019-10-25 17:37] markmandel opened #1150 "Move terraform modules from ./build to ./install"
`./build` is more for development tooling. It probably makes more sense/be more intuitive to have it under `./install`

Maybe something like `./install/terraform`

[2019-10-25 18:18] markmandel commented on #1075
Sounds like a good opportunity to move things, sure -- I guess who has approval to approve things over there? Since all meta operations will now likely occur over there, yes?

[2019-10-25 18:30] roberthbailey commented on #1075
Strawman: agones approvers should be the initial set of approvers for agones-community.

[2019-10-25 18:32] markmandel commented on #1075
Makes sense to me.

[2019-10-25 18:50] moesy opened #1151 "Quickstart: Create a Fleet Autoscaler with Webhook Policy"
https://agones.dev/site/docs/getting-started/create-webhook-fleetautoscaler/

The "Getting Started" sections apply Kubernetes resources through files stored on gist. When we get to the "Create X509 Root and Webhook certificates" section however the final step:

[code]
requires the user to edit the ```webhookfleetautoscalertls.yaml``` file before applying it to a cluster.

To provide greater clarit

[2019-10-25 18:58] roberthbailey commented on #1151
I like your suggestion of downloading the file. Then we can point to the version of the file in the proper release branch (e.g. download `https://raw.githubusercontent.com/googleforgames/agones/release-1.0.0/examples/webhookfleetautoscalertls.yaml`) and we will know that the file is compatible with the other files in the walkthrough (and the instructions, which can change between releases).

[2019-10-25 20:35] markmandel commented on #976
@ntilborg super late, but would love to get your input on the adjustment to the diagram I made on the above PR. I hope it makes the relationship between `SDK.GameServer()` and registering with the matchmaker clearer:

https://github.com/googleforgames/agones/blob/2320e204f1dc115cce112e8b3f1683ac0068257c/site/static/diagrams/gameserver-reserved.puml.png

[2019-10-25 22:18] markmandel commented on #1126
@roberthbailey where you going to tackle this? Or should I take it on?

(Or we can do it Monday)

[2019-10-25 22:20] markmandel commented on #1104
From: https://agones.dev/site/docs/reference/fleetautoscaler/

What is this when `bufferSize` is a percentage? I couldn't work it out from the code.

[2019-10-25 22:21] markmandel commented on #1049
Is this still an issue? Haven't seen it in a while.

[2019-10-25 23:04] roberthbailey commented on #1126
/assign

I can start working on it.

[2019-10-25 23:11] pooneh-m commented on #1049
I haven't seen it in a while too. Closing it.

[2019-10-25 23:11] #1049 closed

[2019-10-26 03:39] roberthbailey opened #1154 "Update example containers to fix security vulnerabilities"
While working on https://github.com/googleforgames/agones/issues/1126 and verifying that the new images were successfully uploaded, I noticed that many of our images have vulnerabilities that are identified by Google's automated image analysis.

Most of the vulnerabilites are probably just because we are using older dependencies in the base image layers (e.g. linux distro with outdated glibc) and

[2019-10-26 08:31] ntilborg commented on #976
Yes I indeed implemented it that way already in my own proof of concept. It's fine now, thanks!

[2019-10-28 09:52] aLekSer commented on #1151
That's right we should review and updates documents on FleetAutoscaler.

/assign alekser

[2019-10-28 11:27] KamiMay opened #1156 "RollingUpdate shuts down all servers at once"
**What happened**: I adjusted RollingUpdate settings to replace each Ready GameServer pod one by one using following configuration
[code]
But every time I deployed Fleet configuration with this setting it would instantly shut down all Ready servers and replace them with new version.

1) Deployed my yaml and ran `kubectl get gs` got following
[code]

2) Refreshing
[code]

3) Refreshing
[code]

4) R

[2019-10-28 16:28] amitlevy21 commented on #1150
Hi @markmandel !
Can I work on this?

[2019-10-28 18:59] markmandel commented on #1150
@aLekSer I don't think you've started on this, yeah?

Outside of that, I don't see any issue :+1:

[2019-10-28 22:42] #1126 closed

[2019-10-29 10:10] aLekSer commented on #1156
That is what I was fixing a while ago. Need to take a look.
/assign alekser

[2019-10-29 10:19] aLekSer commented on #1150
@amitlevy21 yes, go ahead, it would be helpful someone review what I have done along doing this transition to new directory.

[2019-10-29 10:43] aLekSer commented on #958
Returning back to this ticket, will add documentation to https://agones.dev/site/docs/guides/client-sdks/local/ .

[2019-10-29 13:10] aLekSer commented on #1156
@KamiMay  thanks for the ticket, can you please clarify?
I can not reproduce it, something is missing in the steps to reproduce. I have changed `examples/fleet.yaml` to have maxSurge as 1. And RollingUpdate strategy triggers Shutdown in 1 GameServer and Scheduled state in one other GS.
I perform
[code]
And changing GameServer Spec each time - say updating `sdkServer.logLevel` parameter.

[2019-10-29 13:37] amitlevy21 commented on #1150
@aLekSer  so you have already moved the files and would like me to review the changes after you open a PR?

[2019-10-29 13:41] aLekSer commented on #1156
I assume you were using
[code]
updates of this kind as from your logs. Am I right?

[2019-10-29 14:02] aLekSer commented on #1150
@amitlevy21 I mean different - if you make this PR and look through the file structure (in a `build` directory) I have used that would be great. I have not made this transition to `install`, so you can start.

[2019-10-29 14:39] KamiMay commented on #1156
No I am not changing replica set let me try to explain step by step.

1. First I start with an empty agones 1.0 set up with no fleets yet spun up.
[code]
2. Deploy this fleet file using `kubectl apply -f` command
[code]
3. Wait for the fleet to be deployed and preview if game servers are there
[code]
4. I edit fleet file and change `foo: bar` label to `foo: bar2` and `kubectl apply -f` edited file

[2019-10-29 17:52] markmandel opened #1160 "Release 1.1.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-10-29 21:41] #1160 closed

[2019-10-29 23:08] markmandel opened #1163 "Split up project across googleforgames organisation"
We now have an organisation, so we don't _have to_ be a monorepo with this project. So let's explore options for what could be split out, and the pros and cons.

Having multiple repositories is a larger logistical overhead, but has easier implications for CI/CD as the entire monolith doesn't have to be tested, depending on which area is updated, and we can have more flexibility in approval/members

[2019-10-29 23:21] thisisnotapril commented on #1163
Looks good to me! I would prefer calling the website repo agones-docs versus agones-site; in the name of clarity.

[2019-10-29 23:28] markmandel commented on #1163
I could probably make the argument that the site is more than docs - it's the landing page, the community links, the blog, etc.?

Does that change your opinion?

[2019-10-29 23:47] markmandel commented on #511
Doing some cleanup. I am going to close this, since I mentioned I would do it in September :smile:

[2019-10-29 23:47] #511 closed

[2019-10-29 23:49] markmandel commented on #958
I assume we can close this now?

[2019-10-30 01:29] markmandel commented on #927
Currently working on Unity, SDK.GameServer() -- I used swagger to generate the model and hand editing it, so that should hopefully save me some work.

/assign

[2019-10-30 03:21] roberthbailey commented on #1163
For the website, another option is to require documentation to be merged _before_ the code lands (with the appropriate version gates). This would be a forcing function to actually write documentation and ensure that the code we are adding can be explained to end users.

[2019-10-30 03:23] roberthbailey commented on #1163
I'm not sure I see a huge benefit moving the examples out unless it's paired with the SDKs moving. Many of the examples are intended to showcase SDK integration, and they should live wherever the associated SDK is.

[2019-10-30 03:25] roberthbailey commented on #1163
That makes the most sense to me. We can look at breaking code out later if we think it's necessary.

[2019-10-30 08:48] aLekSer commented on #958
Yes, now it is done

[2019-10-30 10:54] aLekSer commented on #1156
Thank you, now I am able to reproduce an issue.
RollingUpdate is not working properly when it used with a FleetAutoscaler.
Ideas of the root cause of the bug is that we have Replicas parameter in a Fleet Spec as 2 and Buffer in FAS as 5, so when we are updating the Fleet Label it is allowed to be decreased to 2 - 1 Max Unavailable which is up to 1. So we should consider more enhanced logic, which

[2019-10-30 16:54] thisisnotapril commented on #1163
It's mainly a preference thing; I give you this one in the name of Founders Choice. 😄

[2019-10-30 17:37] aLekSer commented on #1148
I can check if it would work.
/assign alekser

[2019-10-30 18:05] markmandel commented on #1163
Sounds like we have concensus on doing `agones-(web?)site` as well, so we can move forward on that.

Either site or website works for me. I don't have a strong opinion.

Meta question: CI for the website, will that be Prow, or will we continue to use Cloud Build?

[2019-10-30 19:02] roberthbailey commented on #1163
I vote for prow!

[2019-10-31 07:09] roberthbailey commented on #1043
Mark - I think you said you were doing some investigation about serving multiple gRPC endpoints; did you find anything relevant?

[2019-10-31 16:01] markmandel commented on #1043
Still trying to get an answer actually. Basically, can you import a proto with a different package that has another service in it?

I suppose I could make a test case, and see what happens!

[2019-10-31 20:48] markmandel commented on #1043
Aha, so I found the right stackoverflow post:
https://stackoverflow.com/questions/52634217/access-multiple-grpc-services-over-the-same-connection

This shows we can both register multiple services with the same endpoint, and also configure a singular connection with multiple clients - at least with Go.

Even if we end up having 2 connections to the same local endpoint, I don't think it's a drastic

[2019-10-31 20:53] markmandel commented on #1163
Sounds good. Are we going to maintain a similar Makefile/Docker build/test paradigm? I vote for yes, just because it should be a relatively simple lift and shift operation.

[2019-10-31 20:59] #1136 closed

[2019-10-31 23:03] thisisnotapril commented on #1163
Voila - new repo! https://github.com/googleforgames/agones-site

[2019-11-01 11:57] aLekSer commented on #1148
I tried the fix which you suggested and it has not worked for version Kubernetes version: 1.12.
https://github.com/kubernetes/kubernetes/issues/79523
I think we should wait till 1.17 for bug triage as per comments.

[2019-11-01 12:02] aLekSer commented on #1148
`kubectl describe  agones-ping-udp-service` output:
[code]

[2019-11-01 13:22] amitlevy21 commented on #1150
What about build/cluster.tf and build/helm.tf? Should I move them as well?
So far I moved only the build/modules folder to install/modules. I ran `make terraform-init` which successfully init terraform in the container and `make test`. Would that suffice to ensure I have made the right changes?

[2019-11-01 14:01] aLekSer commented on #1150
@amitlevy21 Thanks for taking this ticket.
I think it would better to place all of them under `./install/terraform/` For instance `./install/terraform/modules`.
`make terraform-init` is part of the job.
`make gcloud-terraform-cluster`, `make gcloud-terraform-install` and after all run `make gcloud-terraform-destroy-cluster`.
Another way of how we can deploy using terraform could be found here:
[In

[2019-11-02 06:44] #956 closed

[2019-11-04 11:09] KamiMay opened #1170 "Agones controller shut down"
**What happened**: We have experienced cluster wide down time after Game Server list got out of sync with Pod list. When investigating Agones controller logs I can see that it has shut down, but has not started back up for 12 minutes after shutting down.

Logs:
[code]

After this game server list was extremely out of sync with actual pod list.
Running `kubectl get gs` returned:
[code]

And running

[2019-11-04 17:15] markmandel commented on #1170
Is there anything in the logs about pod evictions, or node updates, or resource issues anything like that?

Where the health checks failing on the controller?

How did you restart it, once it had fallen over?

[2019-11-04 17:33] KamiMay commented on #1170
It is quite possible master node has been updated, but I am not sure how to check when it happened, node upgrades are disabled, so nodes should not be affected by kubernetes upgrades. Looking at logs it looks healthy, the only odd thing is `Enqueuing` spam. This is screenshot of logs just before it shut down.

![image](https://user-images.githubusercontent.com/2967343/68142765-f6be8800-ff27-11e9-9

[2019-11-04 19:00] structurefall commented on #1148
@aLekSer based on your output, it looks like the service is still trying to build without the annotation. You need to completely destroy the service and rebuild it for that to work. When I tested this it was in fact on 1.12.

You're getting the same error message that indicates that the load balancer was built sans annotation: "Only TCP LoadBalancer is supported for AWS ELB." There's a brief AWS d

[2019-11-04 19:19] markmandel commented on #1170
Weird. It isn't like it crashed, it looks like it shutdown gracefully. It almost would make more sense if it did some kind of hard crash.

Interesting that it self restarted - makes me think there was some kind of master upgrade - but that shouldn't have cause Agones to shutdown. I mean the controller is a simple K8s deployment -- no extra magic there. So if it crashes, it should come back up pret

[2019-11-04 20:45] #958 closed

[2019-11-04 20:48] markmandel commented on #999
Doing some issue cleanup. Unless there are any objections, I'll close this issue in 3 days.

[2019-11-04 20:54] markmandel commented on #443
Doing some cleanup. I _think_ this can be closed now. Unless anyone objects, I'll close it in 3 days.

[2019-11-05 03:42] Omegastick commented on #999
Just tried the Dockerfile I was using before again, and can confirm the problem is gone in v1.1.0.

[2019-11-05 03:42] #999 closed

[2019-11-05 05:45] roberthbailey commented on #999
I'm glad it's been fixed. :)

[2019-11-05 19:12] #1151 closed

[2019-11-05 21:04] markmandel opened #1173 "Flaky: TestGameServerRestartBeforeReadyCrash"
**What happened**:

Occasionally we're seeing the TestGameServerRestartBeforeReadyCrash e2e test fail. Not 100% sure if it's a flaky test, or a bug in code (possible it could be a bug).

**What you expected to happen**:

It passes every time.

**How to reproduce it (as minimally and precisely as possible)**:

Hard to repro, only happens sometimes.

**Anything else we need to know?**:

<details>
<s

[2019-11-05 21:13] markmandel commented on #1173
Looking a lot like it's a bug in the logic somewhere. It should restart, but it's moving to Unhealthy, because of an issue with the Pod.

(Abbreviated log from Agones controller)
[code]

[2019-11-06 18:27] markmandel commented on #683
To track everything, Embark had an interesting approach with casync/desync:
https://medium.com/embarkstudios/itering-faster-with-open-source-76ae68f98745

[2019-11-06 21:51] roberthbailey commented on #1044
List of items to do for upgrading to 1.13 (this is an expanded version of the [1.12 issue](https://github.com/googleforgames/agones/issues/717#issuecomment-506432956)):

- [ ] Update e2e cluster to run against 1.13
  - [ ] Update deployment manage script
  - [ ] Recreate cluster with new scripts
- [ ] Update prow cluster to use 1.13 (even though we aren't using it yet, we should keep it in sync)

[2019-11-06 22:10] markmandel commented on #1044
Sounds like a good time to make a config param and/or shortcode in the Hugo site that specifies the supported version, so we only have to update one place.

[2019-11-07 05:13] roberthbailey commented on #1044
@heartrobotninja - I'm getting started on this task now. If you are still interested in taking care of updating the client-go to 10.0 let me know and I'll focus on the other parts.

[2019-11-07 06:07] roberthbailey commented on #1044
The documentation updates are in https://github.com/googleforgames/agones/pull/1178 -- if you would rather try one of these ways to update the docs, send me some pointers and I'll see what I can do.

One thing to note is that while many of the places in the docs just reference the major/minor version of Kubernetes (e.g. "1.13") there are also places that use the patch version (e.g. "1.13.12") and

[2019-11-07 17:07] markmandel commented on #443
No objections. Closing!

[2019-11-07 17:07] #443 closed

[2019-11-07 17:21] #1173 closed

[2019-11-07 19:58] heartrobotninja commented on #1044
@roberthbailey Yep, I am still interested in handling the go client.

[2019-11-13 04:04] Cyansilver opened #1182 "Secure connection to gameserver"
Hi,

As I understand, the client will connect directly with game server through IP and port without load balancer. So I wonder how we secure the connection between them?

Thank you

[2019-11-13 04:14] roberthbailey commented on #1182
What kind of security are you thinking of? Authentication, authorization, something else?

[2019-11-13 04:18] castaneai opened #1183 "Adding AGONES_SDK_GRPC_HOST to NewSDK"
In local development, I'd like to run Agones SDK server on docker-compose.
However, the current Agones SDK always connect to `localhost`.

GameServer and Local SDK server cannot be run on different containers.

https://github.com/googleforgames/agones/blob/10719304a746990a9d4cdad9a1a05814713a9beb/sdks/go/sdk.go#L45-L49

One solution is to add `AGONES_SDK_GRPC_HOST` that can override localhost. Wha

[2019-11-13 04:46] Cyansilver commented on #1182
hi @roberthbailey ,

I'm thinking about the encrypting data with ssl cert like when the api called through a domain with https

[2019-11-13 05:59] roberthbailey commented on #1182
That is up to the game server to implement. Some games will run over UDP (where you could use [DTLS](https://en.wikipedia.org/wiki/Datagram_Transport_Layer_Security)) and other will use TCP (where TLS could be used). Some games may not want encrypted data and others may view it as a requirement. Agones will work with either type of game server but isn't opinionated on whether the game server uses

[2019-11-13 06:02] Cyansilver commented on #1182
I see, thank you

[2019-11-13 06:02] #1182 closed

[2019-11-13 08:40] roberthbailey commented on #1183
Out of curiosity, what value would you put in for the server address running on docker compose? I'm assuming compose doesn't had a concept of pods to put the two containers into the same network namespace, which is why you would need to override the address.

[2019-11-13 08:57] castaneai commented on #1183
For example, in the following `docker-compose.yml` I will set `AGONES_SDK_GRPC_HOST=agones-sdk-server`.
(docker-compose provides DNS resolution with the same name as the service name.)

[code]

[2019-11-13 14:53] topochan opened #1184 "Agones fails to start the pod after update cpu limits to 1000m"
**What happened**:

After update deployment we saw the pods not be able to start, the update was change it from 1500m to 1000m

**What you expected to happen**:

nothing crashes

**How to reproduce it (as minimally and precisely as possible)**:

deploy a fleet with gameserver cpu limits to 1000m, it will work without any issue, update the fleet with other image tag, label or other change and `kube

[2019-11-13 17:38] markmandel commented on #1184
Can you explain what "crashing of the pods" means?

If you could provide a `kubectl describe pod` of one of the pods in question, that would be useful.

Are you able to reproduce with our simple-udp example? Having a repro case would also be useful

[2019-11-13 17:58] markmandel commented on #1183
Could you do host networking for all your containers in compose?

(Not saying that's a great idea, but it's a workaround for now)

[2019-11-13 18:20] roberthbailey commented on #1183
Can you steer containers in compose to land on the same underlying node? If not, host networking wouldn't help.

[2019-11-13 18:26] markmandel commented on #1183
Docker compose is single node isn't it? (I haven't used it for a while) - so essentially local development only?

[2019-11-13 18:34] roberthbailey commented on #1183
Good question. I've never used it, but based on https://docs.docker.com/compose/production/ it looks like you can run across multiple nodes using docker swarm:

[2019-11-13 18:38] markmandel commented on #1183
@castaneai I assume you are using this for just local development?

It sounds like you are trying to replicate a Pod system locally for development?

[2019-11-14 01:58] castaneai commented on #1183
Yes, I'm using docker-compose for local development (on single node).
I have no intention to run on Swarm.
The reason I want to separate services in this way is because Docker recommends running only one process on one container.

[2019-11-14 02:01] roberthbailey commented on #1183
In that case, does @markmandel's suggestion above about using host network unblock you?

[2019-11-14 02:06] castaneai commented on #1183
That's true for Linux. However, host network is not supported on Mac and Windows. 😢

https://docs.docker.com/network/host/

[2019-11-14 10:15] topochan commented on #1184
It should happen with the simple-udp, I can later try to reproduce in minikube a create a full example.

I rephrased "crashing of the pods" with "pods are not able to start" basically the behaviour is that new gameserver pod never start, they are intermediately terminated.

I will try to create a simple-udp example to help to debug the issue

[2019-11-14 11:44] lystor opened #1185 "[helm] Missing imagePullSecrets Option in agones-ping Deployment"
Hello

It is impossible to deploy agones-ping service with private Docker Registry due to missing imagePullSecrets: option in agones-ping deployment.

Agones controller has support of imagePullSecrets option (see https://github.com/googleforgames/agones/pull/358)

Please add it to agones-ping too.

Thank you

**Environment**:
- Agones version: 1.1.0

[2019-11-14 12:12] aLekSer commented on #1184
@topochan I was able to reproduce the issue - Gameservers stuck in a Creating state after changing of CPU limits to `1000m` (was `20m`) and updating    ` image: gcr.io/agones-images/udp-server:0.17`
to `image: gcr.io/agones-images/udp-server:0.16`.
Now I see 7 Gameservers in a fleet but 2 Replicas was in config

[2019-11-14 12:34] aLekSer commented on #1184
Errors in logs of Agones controller:
[code]

[2019-11-14 14:05] aLekSer commented on #1184
One more option to reproduce similar situation is to edit the `simple-udp/fleet.yaml`, change fleet Replicas to 12 and change Limits and Requests to `1000m`, `kubectl describe fleet` output:
https://gist.github.com/aLekSer/4b63633008b310763959430247af9e51

which would results in only 10 Ready replicas and nodes being overcommitted:
[code]

[2019-11-14 16:45] aLekSer commented on #1184
From GCloud console these 2 pods (out of 12) are unschedulable:
[code]
In similar case when we are configuring the Fleet updating the tag (this subj) we have a bigger issue that pods become terminated and new are started and Memory consumption of the Agones Controller becomes to raise linearly.

[2019-11-14 17:05] roberthbailey commented on #1185
Good catch!

Do you think that we could expect the same pull secret to work for all agones images or does each one need a separate parameter? I would lean towards having a single pull secret but I'm curious if you think we need multiple ones. Thanks.

[2019-11-14 18:50] lystor commented on #1185
I think the single pull secret should be used.

[2019-11-14 19:48] roberthbailey commented on #1185
Are you interested in making a PR to fix this? It should be similar to the one you referenced above.

[2019-11-14 22:17] markmandel commented on #1183
Can you do a variation on https://blog.mikesir87.io/2019/03/sharing-network-namespaces-in-docker/ , but with compose?

(Basically use another container's network?)

[2019-11-14 23:44] markmandel commented on #1184
What is the resultant pod config that is trying and failing to start?

[2019-11-15 00:01] roberthbailey commented on #1044
@heartrobotninja - any updates on this?

https://github.com/googleforgames/agones/pull/1178 will finish off all of the checkboxes except for updating client-go.

[2019-11-15 01:46] #851 closed

[2019-11-15 09:14] aLekSer commented on #1184
@markmandel This one is failing with nodes overcommited:
[code]

The scenario to reproduce exact same as in description is the same one as above but with changing `Replicas` to 2:
[code]
And then updating next line in a Ready (2 of 2 GS is Ready) fleet to `udp-server:0.15`
[code]
After that you could infinite loop of GSSets creations and terminations occurs:
https://gist.github.com/aLekSer/07d667c

[2019-11-15 09:23] aLekSer commented on #1184
My conclusion of an issue root cause is that we have `Packed` scheduling and that's why new GSSet is trying to be created on the same Node.
If we divide `12/ 4` number of nodes we would get only 3 Pods with 1 CPU (1000m CPU) could be created without overcommiting the nodes.
I will add more details soon.

[2019-11-15 09:41] aLekSer commented on #1184
Changing scheduling parameter from Packed to Distributed does not help.
Strange enough why Fleet Controller perform scaling inactive GSS from 2 to 1:
[code]

[2019-11-15 09:54] aLekSer commented on #1184
One more detail about the problem that actually we are creating more GameServerSet that they should be ( should be 2 at most). I assume we should create one, but we have (according to GS prefix) 6 at a time:
[code]

[2019-11-15 10:22] aLekSer commented on #1184
Bug reproduces with 1 Replicas in a Fleet and `1000m` CPU Requests and Limits.
But not reproduced on 1 Replicas in a Fleet with `999m` .

[2019-11-15 10:41] aLekSer commented on #1184
It might be related to https://github.com/kubernetes/kubernetes/issues/66450
Because I have noticed that when we use `1000m` and apply without changing anything second time we have:
[code]

[2019-11-15 16:29] topochan commented on #1184
This is exactly the issue, funny enough when is created "1000m" became "1" cpu  but not when we update. checking kubernetes/kubernetes#66450 and the comment you linked looks like that is the same behaviour, the question if this weird state of the pods is related to kubernetes or agones (probably kubernetes due the limits are in the template section for pods).

[2019-11-15 17:00] markmandel commented on #1184
I was going to ask this next - glad to see it works. That is a weird one.

We've started testing on 1.13, and are planning on moving to it in the next release -- do we know if this also happens on 1.13?

(I'm also assuming we are all using the 1.12 version of kubectl at well?)

[2019-11-15 19:39] aLekSer commented on #1184
I was testing on the most recent master today, which uses 1.13:
[code]

[2019-11-15 20:56] heartrobotninja commented on #414
k8s.io/apimachinery kubernetes-1.14.9 appears to have it.

[2019-11-16 21:25] aLekSer commented on #1184
First: the issue itself is about changing the scale of Requests by Kubernetes. I have added additional debug and find out that in a Fleet Controller that we receive different strings but equal vallue:
[code]
So we need to use resource Cmp() function:
https://godoc.org/k8s.io/apimachinery/pkg/api/resource#Quantity.Cmp
Started draft version of this bug fix here:
https://github.com/aLekSer/agones/tre

[2019-11-17 20:16] aLekSer commented on #1184
Tested my proposed solution with changing `deepequal` to more precise equal function works.
And we can set `1000m` and Fleet work as it should, without infinite loop and creating 5 GameServerSets per a Fleet.

[2019-11-18 02:10] castaneai commented on #1183
Adding `network_mode: service:gameserver` works fine on docker-compose!
Thank you for the advice!

Here is my example repo.

https://github.com/castaneai/agones-sdk-playground

[code]

[2019-11-18 02:27] markmandel commented on #1183
This sounds like it could be a cool thing to add to our docs somewhere. 👍

[2019-11-19 13:58] aLekSer commented on #1185
I can do this update.

/assign alekser

[2019-11-19 18:39] #1185 closed

[2019-11-20 20:06] #1156 closed

[2019-11-21 01:51] markmandel commented on #976
We're almost ready to close this - we have this example!
https://github.com/Laremere/space-agon

[2019-11-21 18:59] #1184 closed

[2019-11-25 16:18] aLekSer commented on #1098
Question here what parts of Agones should be covered with Fuzz testing?
Found a recent thread in Kubernetes slack about fuzz testing CRDs
https://kubernetes.slack.com/archives/CAR30FCJZ/p1573755986055900
Tried to make a test using this tool:
https://github.com/munnerz/crd-schema-fuzz
But we are not using fresh dependencies so I was not able build a simple test.
Also I could not find https://github

[2019-11-26 05:43] roberthbailey commented on #1098
I would imagine that our api surface would make the most sense. I think looking at how k8s does fuzz testing and doing something similar (which it looks like you were trying to do) would be a great starting point.

[2019-11-26 11:23] aLekSer commented on #1098
Thanks for your answer.
Two more questions which is worth to consider:
https://github.com/fuzzitdev/fuzzit
https://github.com/dvyukov/go-fuzz

Fuzzit is free for open source, prometheus is using it, it adds a new `fuzzit: pass` label on repo main page, and could be exucuted on every pull request.

Currently investigating if we can add fuzz tests also for `applyBufferPolicy()` func of a `FleetAutoS

[2019-11-26 14:39] aLekSer opened #1194 "Fix "kubectl explain" output for Agones CRDs"
**Is your feature request related to a problem? Please describe.**
Currently there is no option to see the description of fields using standard `kubectl` functionality:
[code]

**Describe the solution you'd like**
Output should be similar to this:
[code]
It seems that we could update `apiserver.go` code to serve requests of this kind.
**Describe alternatives you've considered**

**Additional conte

[2019-11-26 21:15] aLekSer opened #1195 "Documentation: FleetAutoScaler BufferSize could contain both Ready and Reserved GameServers"
Current documentation of FleetAutoscalers is a bit confusing:
BufferSize - Size of a buffer of "ready" game server instances
But if some gameservers amount is Reserved this statement is not true.

**What happened**:
Create a simple-udp fleet and a FleetAutoScaler with BufferSize  = 1, MinReplicas = 1, wait when one GS become Ready
Move it to a Reserved state (we should update simple-udp to pass du

[2019-11-27 13:48] itthought opened #1196 "failed calling webhook "mutations.agones.dev" error while creating fleet on AWS"
**I am getting below error while creating fleet. Please help me fixing this error
Thanks**:

Error from server (InternalError): error when creating "fleet.yaml": Internal error occurred: failed calling webhook "mutations.agones.dev": Post https://agones-controller-service.agones-system.svc:443/mutate?timeout=30s: context deadline exceeded (Client.Timeout exceeded while awaiting headers)

**Please

[2019-11-27 14:17] aLekSer commented on #1196
First of all Agones was not tested on version of Kubernetes above 1.12:
[code]
You can follow instructions here, they use 1.12 version:
https://agones.dev/site/docs/installation/#create-eks-cluster

[2019-11-27 17:46] aLekSer commented on #1195
Well I have found a comment:
[code]
So this ticket might be closed as work as designed.

[2019-11-27 18:40] aLekSer commented on #1195
I opened this bug, because in FleetAutoScaler description we have an inconsistency:
[code]
Should be either `size of ready + reserved` or we should change reserve() functionality and docs here for [SDK](https://agones.dev/site/docs/guides/client-sdks/#reserve-seconds).
Other flexible option would be to make this optional in FleetAutoScaler CRD count Reserved GS (with Ready as Buffer) or not.

[2019-11-27 19:24] aLekSer commented on #1098
We should somehow use `fuzzer` to test API:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#update-the-fuzzer

[2019-11-28 01:25] roberthbailey commented on #1194
I think this is an issue of openapi spec not existing for CRDs. Based on https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/00xx-publish-crd-openapi.md it looks like once we update to 1.14 (or maybe later) this should "just work." It would be worth testing against a later k8s cluster to see what the behavior is.

[2019-11-28 05:30] itthought commented on #1196
thanks aLekSer, I will try on k8s version 1.12

[2019-11-28 05:50] roberthbailey commented on #1196
A few other questions:

* how large is your cluster?
* can you verify that the pods in the agones-system namespace are running?
* can you manually reach the agones controller service (from inside the cluster and also from the master node)?

[2019-11-28 07:38] itthought commented on #1196
@aLekSer  I have tried on k8s version 1.12.0 and 1.12.10 still getting same error

@roberthbailey
I have running  1 master and 2 nodes

- kubectl get nodes
NAME                                           STATUS   ROLES    AGE   VERSION
ip-175-31-2-109.ap-south-1.compute.internal    Ready    node     16m   v1.12.0
ip-175-31-34-180.ap-south-1.compute.internal   Ready    master   17m   v1.12.0
ip-175-

[2019-11-28 08:29] itthought commented on #1196
I have figure out the issue. It was due to AWS  VPC and security group policy.  Thanks @aLekSer and @roberthbailey for your help

[2019-11-28 08:29] #1196 closed

[2019-11-28 15:09] aLekSer commented on #1098
Followed an example from the book "Programming Kubernetes" https://github.com/programming-kubernetes/pizza-apiserver/tree/master/pkg/apis/restaurant/fuzzer
Was able to run a simple roundtrip fuzz test for `agones.dev/v1`.
It seems that we need to have additional `addKnownTypes()` call for the `__internal` GroupVersion:
[code]

[2019-11-29 09:56] neuecc opened #1197 "Proposal: RefCount allocation to host many room in same pod"
Is your feature request related to a problem? Please describe.
---
The current agones allocation model is only support to assign single room in Pod.
![image](https://user-images.githubusercontent.com/46207/69855463-eacba900-12ce-11ea-825e-512cc2e05189.png)

This provides a complete model of Isolation, but at the cost of Runtime and Game Engine,
it loses many sharable memory and pay much sleep time

[2019-11-30 05:38] roberthbailey commented on #1197
I've heard a few requests for this sort of enhancement so it's definitely worth exploring and seeing how it would work.

There are a few of things I'm concerned about:

1. If we want packed allocations and we keep replacing connections into the same engine, we need a way to "drain" everyone off the game server instance (e.g. for upgrades or node maintenance). With the current design this can be ea

[2019-12-01 16:36] logixworx commented on #1197
Definitely need this.  I wrote a multi-room system within a single server instance for Mirror.

[2019-12-02 17:23] roberthbailey commented on #1197
@logixworx - Are there any details about that system that you can share (or point to any public documentation)? Do you have any requirements that weren't described in the original post? Do you have any insights that we can leverage in Agones? Do you have any thoughts about the questions I posed above?

[2019-12-02 18:02] roberthbailey commented on #1044
https://github.com/googleforgames/agones/pull/1189 updated client-go to 1.13.12.

[2019-12-02 18:59] markmandel commented on #1196
@itthought is this something we should document somewhere? Maybe the AWS installation docs?

[2019-12-02 21:21] #1195 closed

[2019-12-03 06:06] itthought commented on #1196
The issue was related to my VPC and security group which I have created for k8s cluster. I was creating kubernetes using kops with existing VPC and security group.  Need to make sure following port should be opened between master node security group and node security group

**Master node security group Inbound policy**
 - **Type**                      | **Protocol**             I              **Po

[2019-12-03 14:14] rib opened #1199 "Undocumented dependencies for make run-sdk-conformance-local"
**What happened**:
Looking at [**The Simple Rust Example**](https://github.com/googleforgames/agones/tree/master/examples/rust-simple) I tried to follow the [instructions for testing locally](https://github.com/googleforgames/agones/tree/master/examples/rust-simple#testing-locally-without-docker) but found that running ` make run-sdk-conformance-local TIMEOUT=120 TESTS=ready,watch,health,gameserve

[2019-12-03 14:47] aLekSer commented on #1199
@rib  Thank you for such a descriptive ticket and for a provided workaround.
\assign

[2019-12-03 14:52] aLekSer commented on #1199
/assign @aLekSer

[2019-12-03 17:55] aLekSer commented on #1199
Same applies to  `make run-sdk-conformance-test-go`. Was not discovered because of sequence of builds in Cloud Build CI.

[2019-12-03 21:01] #1044 closed

[2019-12-03 21:45] rib opened #1201 "Rust SDK conflicts with dependencies using openssl"
**What happened**:
Adding Agones as a dependency to a game server that depends (indirectly) on openssl won't build (link) because grpc-rs, which agones depends on in turn depends on boringssl by default

**What you expected to happen**:
I would have expected to find an `"openssl"` feature, or similar, for agones that would forward to grpc-rs (which supports openssl optionally with more recent vers

[2019-12-03 22:03] #1150 closed

[2019-12-04 00:16] markmandel opened #1203 "Release 1.2.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-12-04 13:38] aLekSer commented on #1104
Returning back to this ticket

[2019-12-04 18:14] #1199 closed

[2019-12-05 17:10] markmandel commented on #1203
Done!

[2019-12-05 17:10] #1203 closed

[2019-12-05 17:27] markmandel commented on #1170
I think a good first step to have e2e tests, where we start up some game servers, shut down the controller, delete some things (pods, gameservers), and then startup the controller again -- and make sure we end up back in a healthy state.

[2019-12-05 20:50] logixworx commented on #1197
My requirements are exactly as described in the original post, as well as in your response.  I can't think of anything more to contribute to the discussion at the moment.

[2019-12-05 21:29] markmandel commented on #1197
So I have quite a few thoughts, and it comes under several categories. This is a topic that has come up quite regularly over the years.

I'm going to use the term "Game Session" as the term I've grow comfortable with for a separate session / room within a Game Server.

There's some implementation details below, but I'm mostly trying to keep them to describe my ideas - please consider them sacrific

[2019-12-06 06:03] jasoncheung53 opened #1212 "devloping application to Access Agones via the Kubernetes API with compile error"
**What happened**:
I am new to agones, just following the example in https://agones.dev/site/docs/guides/access-api/ .
when i trying to build it, it show an error.
in line `agonesClient, err := versioned.NewForConfig(config)`

`cannot use config (type *"k8s.io/client-go/rest".Config) as type *"agones.dev/agones/vendor/k8s.io/client-go/rest".Config in argument to versioned.NewForConfig`

Am i missi

[2019-12-06 12:13] aLekSer commented on #1212
We might need to add this example into the repo to help others in building it.
Other way would be to update the code to the most recent version of the libraries.
If you create a separate directory with this example go file and do:
[code]
It would generate the following error:
[code]

[2019-12-06 15:03] aLekSer commented on #1212
You can check out an example I have created:
https://github.com/googleforgames/agones/pull/1213

You could make and run an example (change the REPOSITORY to your repo url):
[code]

[2019-12-06 15:24] jasoncheung53 commented on #1212
Nice work, its much easier to try out!

And the update on `agonesv1.GameServerSpec` `Ports` complete the example, since this part is missing in docs/guides example. Thanks a lot!

BTW I also do a quick fix, I just make agones.dev require k8s.io from my gopath with correct version instead of require it from it's vendor folder.

[2019-12-06 18:16] markmandel opened #1214 "Updates GRPC to v1.20.1"
Taking over work for https://github.com/googleforgames/agones/pull/1144

I'm working over here: https://github.com/markmandel/agones/tree/pull/1144

Tracking the work here, and issues that are being hit.

This version is the one used by the latest release of OpenCensus.

[2019-12-06 18:58] markmandel commented on #1214
Easy replicate:

[code]

[2019-12-06 20:26] markmandel commented on #1214
So the TL;DR as I can tell with the REST conformance API issues -
- new grpc-gateway changed the swagger spec - which seems to be compliant.
- swagger-codegen-cli/2.4.10 (latest version) cannot generate go code for it - the XStreamDefinitionssdkGameServer type never gets generated.

[2019-12-06 20:29] markmandel commented on #1214
Next attempt - use https://goswagger.io/generate/client.html - because "apparently this one works"

[2019-12-06 20:56] markmandel commented on #1214
goswagger no work. Final solution -- hand craft the XStreamDefinitionssdkGameServer object -- which seems to be working :crossed_fingers:

[2019-12-07 04:49] theminecoder commented on #1197
From an api standpoint it would be nice to just be able to call something like RequestSession() as much as I need. I have a system that allow us to fully clean the server from each session so being able to run the server for as long as possible is better then having to wait for a new container to boot.

We could still have the config option that equates to max total sessions the instance is allowe

[2019-12-09 05:39] TBBle opened #1216 "`agones.allocator.http.expose` and `agones.allocator.http.response` are documented but not consumed by Helm"
**What happened**:

We attempted to disable the Agones Allocator service during an install of Agones using Helm, as documented at https://agones.dev/site/docs/installation/helm/#configuration and https://github.com/googleforgames/agones/blob/master/install/helm/agones/values.yaml

Since this is minikube, and the default serviceType (`LoadBalancer`) doesn't work out-of-the-box, the installation tim

[2019-12-09 06:02] jasoncheung53 opened #1217 "create example udp server but sometime run into unhealthy state after a few second"
**What happened**:

I follow the agones client go example and try to create a gameserver in kubernetes with it. The creation is successful, I can list the server which is created with kubectl but some of them are in ready state some are unhealthy. And the unhealthy server is working normally. Since my kubernetes is running in low spec(3vcpu,4gb ram) vm, will increase the spec can fix this problem?

[2019-12-09 07:39] pooneh-m commented on #1216
Thanks @TBBle for reporting the issue. I'll look into that.

[2019-12-09 10:20] aLekSer opened #1218 "Configurable Log Level for Agones controllers"
**Is your feature request related to a problem? Please describe.**
There is an additional billing cost caused by excessive Agones controller logging.

**Describe the solution you'd like**
We need to prioritise the logs, some should be moved to debug level.
Add Helm variables to configure log level.

**Describe alternatives you've considered**

**Additional context**
Similar work we have done for A

[2019-12-09 16:46] roberthbailey commented on #1218
@KamiMay

[2019-12-09 16:50] roberthbailey commented on #1217
@markmandel - do you know which logs should be checked to see why the game server transitioned to unhealthy? Is it in the event (the summary from describing the game server doesn't seem helpful)? Or do we need to see logs from the agones controller? The sdk sidecar? I know I've debugged this in the past but I don't remember where I ended up looking...

[2019-12-09 17:00] aLekSer commented on #1170
A way to reproduce an issue with deleting controller could be next:
[code]
With resulting resources:
[code]

[2019-12-09 21:26] markmandel commented on #1197
What is "it" in the above? What exactly would "RequestSession()" be doing here? Is this a SDK level API, or is more something like Allocation ?

One thing I didn't mention in the above, was I think we would also need a way to self-allocate a `GameSession` through the SDK - much like we do for a `GameServer` - so something like `SDK.SessionAllocate(sessionId)`, to support certain workflows - is tha

[2019-12-09 22:20] markmandel commented on #1218
@KamiMay would love to know which logs you are seeing the most - see if we can narrow down some culprits.

One note I made on the PR #1220 - do we need some rules of thumbs for which logs should be `debug` vs `info` ? (Which we can then document).

[2019-12-09 22:27] markmandel commented on #1217
Going from the event log on the GameServer - the game server binary is likely not updating the health check often enough, so the SDK server is moving the GameServer to Unhealthy.

Relevant code:
https://github.com/googleforgames/agones/blob/master/pkg/sdkserver/sdkserver.go#L547-L553

We should change the event message to something like "Failed health check" - that should make things clearer.

@ja

[2019-12-09 22:31] #1216 closed

[2019-12-10 02:08] jasoncheung53 commented on #1217
I have some test so the unhealthy server are different, here is the logs.

Also , if the server is create by fleet seems it will not jump into unhealthy state. This case seems only happen when I create a single gameserver.

And looks like if the server was in Scheduled state over 30s didn't become ready, it will be mark as Unhealthy but in server logs it prints `Marking this server as ready`.

Ple

[2019-12-10 06:36] roberthbailey opened #1223 "Create and document rules of thumb for log levels in agones code"
As per https://github.com/googleforgames/agones/pull/1220 we should come up with some general thoughts on what should be info and what should be debug for log lines in the agones code.

As mentioned during the last community meeting, too much logging can become expensive.

[2019-12-10 08:21] aLekSer commented on #1223
Some statistics of the log messages (total 300 rows were recorded), messages with count > 5:

| Message  | Count |
| --------- | ----- |
| Processing | 48 |
| Enqueuing | 40 |
| Enqueuing immediately | 38 |
| syncGameServerSet | 27 |
| Reconciling GameServerSet | 27 |
| syncGameServerSet finished | 27 |
| Synchronising | 22 |
| Update Fleet Status | 20 |
| Added webhook handler | 9 |
| Starting wo

[2019-12-10 14:43] KamiMay commented on #1218
These are my observations on an active cluster at about 400 CCU during off peak time in EUW in 1 minute. Size specified under each log is of a single entry.

**Log type:** Syncing
**Variations:** `Syncing Shutdown State, Syncing Port Allocation GameServerState, Syncing Create State, Syncing RequestReady State, Syncing with Deletion Timestamp, syncing deleted GameServer` (strange capitalisation com

[2019-12-10 15:31] aLekSer commented on #1223
More real statistics from @KamiMay
https://github.com/googleforgames/agones/issues/1218#issuecomment-564064461

[2019-12-10 19:12] markmandel opened #1225 "Release 1.2.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2019-12-11 01:20] markmandel commented on #1217
The Fleet will recreate the GameServer when it moves to Unhealthy - so I expect that's why it eventually ends up working.

There is a move to Unhealthy because the [health check](https://agones.dev/site/docs/guides/health-checking/) is failing.

I am wondering if there are resource constraints of some kind that are causing the health pings to either not happen in time, or as frequency required on

[2019-12-11 01:53] jasoncheung53 commented on #1217
@markmandel so this strategy only apply to fleet right?
[code]
I can't disable the health checking, but I think I can try to make the initial health check delay longer and see this case will it happen again.

Another thing I concert about is that the server logs prints `2019/12/09 05:43:44 Marking this server as ready` but in the describe of gameserver didn't print out something like `SDK.Ready()

[2019-12-11 01:56] markmandel commented on #1217
No, that strategy applies to all GameServers.

The only difference is that a Fleet will delete an Unhealthy GameServer, and recreate it.

Why can't you disable health checking?

[2019-12-11 02:08] jasoncheung53 commented on #1217
But base on the Health Failure Strategy
`1. If any of the GameServer container fails health checking, or exits before the GameServer moves to Ready then, it is restart as per the restartPolicy (which defaults to “Always”)`
I didn't change the restartPolicy and gameserver describe events part didnt print `SDK.Ready() complete` why the game server didn't restart and only the gameserver in fleet will

[2019-12-11 03:01] markmandel commented on #1217
Ah, that is a legitimate documentation bug! Nice find! :+1:

It should read: `If any of the GameServer container exits with an error before the GameServer moves to Ready then, the game server container is restarted as per the restartPolicy (which defaults to “Always”)`

And it should also state `if the GameServer health check fails at any point, the GameServer is moved to Unhealthy`. We should als

[2019-12-11 03:31] jasoncheung53 commented on #1217
I see, thanks for the further explanation.

I have other question on this, if a GameServer in fleet is allocated and it run into unhealthy state. What state will it return when I `kubectl get gs`, `Allocated` or `Unhealthy`? if it is `Unhealthy` will it get get deleted and recreate?

Can you do it just for testing purposes?

Sorry, I am not really got your question. Agones is very great and I am l

[2019-12-11 08:46] aLekSer commented on #1156
Now I am able to reproduce this bug, after this revert PR merged:
https://github.com/googleforgames/agones/pull/1226

[2019-12-11 08:55] aLekSer commented on #1156
The only noticed thing is when I remove the replicas count from 2 to nothing. It would shutdown all GSs at once, not max Unavailable, but this could be a separate issue.

[2019-12-11 09:02] aLekSer commented on #1156
So to avoid the issue mentioned in the bug, currently we need to use in step 2 this yaml config without `replicas: 2` line:
[code]

[2019-12-11 09:08] aLekSer commented on #1156
In the above scenario new image should be used
[code]
Otherwise all GS left in a scheduled state.

[2019-12-11 09:18] aLekSer commented on #1156
`k describe fleet fleet-example ` results:
[code]
Should be next way (if no replicas  line before first apply :
[code]

[2019-12-11 14:43] markmandel commented on #1156
@aLekSer sounds like we should add some docs on this here:  https://agones.dev/site/docs/guides/fleet-updates/ ?

[2019-12-11 15:45] aLekSer opened #1227 "Write Tests for Terraform configs"
**Is your feature request related to a problem? Please describe.**
There is an option to run automatic Go tests to check that everything is working: deployed correctly and Agones is fully functional

**Describe the solution you'd like**
We could use https://github.com/gruntwork-io/terratest for this purpose.
It supports GCP to start with.

**Describe alternatives you've considered**

**Additional

[2019-12-11 16:30] aLekSer commented on #1156
Yes, that's right. Need to update this part.

[2019-12-11 17:49] markmandel opened #1229 "Health Checking Documentation bug - doesn't restart before Ready"
Ah, that is a legitimate documentation bug! Nice find! :+1:

It should read: `If any of the GameServer container exits with an error before the GameServer moves to Ready then, the game server container is restarted as per the restartPolicy (which defaults to “Always”)`

And it should also state `if the GameServer health check fails at any point, the GameServer is moved to Unhealthy`. We should als

[2019-12-11 17:53] markmandel commented on #1217
It will return Unhealthy, be deleted and then recreated.

I'm just asking you to turn of health checking, so we can confirm that it's definitely the culprit of your issue. Not asking you to turn it off long term.

If we turn it off and everything is working as expected (GameServers are not moving to Unhealthy), we can narrow things down further from there.

Also - I think I asked for this before,

[2019-12-12 00:22] markmandel commented on #1225
Done!

[2019-12-12 00:22] #1225 closed

[2019-12-12 02:11] jasoncheung53 commented on #1217
Sorry for misunderstanding your question, I got it now.

I tried to turn off health checking and set the check `InitialDelaySeconds` to 30s. Seems the game server will no go into unhealthy.

Here is the unhealthy gs sdk server sidecar logs.
`sudo kubectl get gs`
[code]

`kubectl logs udp-serverbldpq -c agones-gameserver-sidecar`
[code]

[2019-12-12 02:32] #1214 closed

[2019-12-13 00:00] markmandel commented on #1217
So looking at the logs, I don't see a single "Health Ping Received" from your game server binary.

Up above it says you are running "gcr.io/agones-images/udp-server:0.17 " - are you actually running that or your own custom image or some kind?

When I run the same image, I get the following logs:

[code]

[2019-12-13 00:07] markmandel commented on #1223
I really like the https://reflectoring.io/logging-levels/ article that @pooneh-m suggested in the other thread! I'm quite tempted to link to that in the development guide and practically call it a day.

One rule I think should be add though - full dumps of an object (such as a `GameServer`), or JSON packet into logrus should only be done on `Debug` or `Trace` levels.

We do this a bunch! (or I did

[2019-12-13 00:50] markmandel commented on #1114
This looks like a super rare one! I don't think I've ever hit it before I saw it in #1080

[2019-12-13 03:41] jasoncheung53 commented on #1217
I am using the image from agones-images, its not custom image. If the server goes to `Ready` state the sidecar log is almost the same as yours.

However, the unhealthy case is rarely happen(~1 in 40 creation) now when I increase the InitialDelaySeconds and increase my vm disk size to 100GB since it only got ~10GB free space in previous test.

[2019-12-16 22:38] markmandel commented on #1217
Weird. I wonder why you aren't sending / receiving health pings at all on that GameServer instance.

A resource issue on Minikube? I haven't run on Minikube in a while, I tend to test on GKE, and haven't seen this issue.

[2019-12-17 11:19] Oleksii-Terekhov commented on #668
Use https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/ for bare-metal

[2019-12-17 11:19] #668 closed

[2019-12-17 23:41] markmandel opened #1239 "Game Server Allocation advanced filtering: player count, state, reallocation"
Dependent on #1033

(Not a detailed design ticket, just putting down the basic idea to get the conversation started)

**Is your feature request related to a problem? Please describe.**
In both session based games and persistent games, it would be useful to be able to do something akin to:
_Just give me a GameServer that has room for 2 (or n number) players, regardless whether it is Allocated or no

[2019-12-18 00:11] markmandel commented on #1106
I think we can close this now, yes?

I have a working client for this, both Go and Unity (#1234).

[2019-12-18 00:12] markmandel commented on #892
gRPC has been updated, so we can now do this work! :fire:

[2019-12-18 00:34] markmandel commented on #668
Thanks for the update - that is interesting!

[2019-12-18 18:58] markmandel commented on #1114
I've had this ~3 times today, not sure why it's being particularly angry this morning :disappointed:

[code]

[2019-12-18 19:13] pooneh-m commented on #1114
I'll get a retry-on-failure fix in by today.

[2019-12-18 22:48] #1114 closed

[2019-12-20 16:58] aLekSer opened #1244 "Fleet/GameServerSet Validation: Able to create a Fleet with label and annotations length > 63 symbols"
There is an option to create an invalid fleet or gameserverset with oversized label length.

**What happened**:

Fleet was created successfully.

**What you expected to happen**:

There should be an error on a Fleet validation.

**How to reproduce it (as minimally and precisely as possible)**:

Fleet configuration `fleet.yaml`:
[code]

Run:
[code]
Same steps aplies to GSS if you change Fleet to `k

[2019-12-20 17:27] aLekSer commented on #1244
Similar validation for Pods:
https://github.com/kubernetes/kubernetes/pull/1830/files

[2019-12-20 23:07] dav-otero opened #1245 "GKE: Preemptible node pools make game server unreachable"
**What happened**:
Using a modified version of the terraform scripts to create an agones cluster, I created one node pool to host all the game servers with PREEMPTIBLE enabled in Google Compute.

More information about preemptible node pools.
https://cloud.google.com/kubernetes-engine/docs/how-to/preemptible-vms

I had many fleets deployed on that node pool. After one day, I realized that the game

[2019-12-21 04:51] #1229 closed

[2019-12-21 09:41] dav-otero commented on #1245
I don't added to the description, but it might be worth to note that the Preemptible node pool has 3 nodes. The fleets in that node pool are distributed accross all the nodes.

One thing I have tried this morning is to send the maintenance event just to one node of the 3 in the pool. The IP was updated correctly on all the GSs  for that node. After that I did in in the second node, and the result

[2019-12-21 18:53] raoneel opened #1246 "How to configure GameServers with secure websockets?"
Hi, I've recently started exploring using Agones + GKE for a node.js setup where clients connect to servers via secure websockets (wss://). I've gotten this setup to work with regular websockets, but I'm not sure about the best way forward with the secure side.

My thought was to use the [HTTPS load balancers](https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs) but this won't wor

[2019-12-26 20:56] nguyenlecorp opened #1247 "Collaborator Request"
If you'd like to become a collaborator of the Agones repo on GitHub, please fill out this form and submit it.
Give us a few days to review and you should receive an invitation to join. Once accepted you'll be able to have issues assigned to you!

### GitHub user id
- List your GitHub user id

### Company affiliation
- List your company name, or indicate Individual if you're not affiliated with a c

[2019-12-28 20:25] rorygarand commented on #679
@markmandel @thisisnotapril any updates on this? i'm currently forking the repo so i can maintain my own registry through github with this as a package.

I wouldn't mind taking ownership of pushing to the googleforgames registry whenever there are version updates, since I'm already doing that anyways for myself, but I think I would need some access credentials to the repo that maybe you don't want

[2019-12-30 21:08] markmandel commented on #1247
Hi! Thanks for submitting!

Can you please fill out your Company affiliation section as well. (Github user id would be nice, but we can see that above :smile: )

Since we are here, are there particular things you would be looking to work on?

[2019-12-30 21:16] markmandel commented on #679
Hey! We should totally do this. Let's push it to [this repository](https://github.com/googleforgames/agones/packages).

What would be ideal for me :smile: is to have a Makefile target I can add to our release process.
Somewhere in here would likely be ideal:
https://github.com/googleforgames/agones/blob/master/build/includes/release.mk

Then I don't even need to know how NPM works! :smile:

The tr

[2019-12-30 21:23] markmandel commented on #679
I'll ask this question, since it's probably worth asking, since I've no idea about the node ecosystem.

Better to host the npm package on github or on npmjs? (Github is easier for us, as there is only 1 auth system to manage)

[2019-12-30 21:41] markmandel commented on #1246
/cc @benmcmahan if you want to expand, please feel free.

This came up on Slack a little while ago recently, so I'll copy/paste the transcript here, for posterity:

[2019-12-31 00:07] markmandel commented on #1245
/assign @markmandel

My current theory, is to add in https://github.com/googleforgames/agones/blob/master/pkg/gameservers/health.go a check on Pod addition, such that, if the Pod isn't `Starting` or `Creating`, and the Pod nodeName doesn't match the GameServer status nodeName, then move the Pod to Unhealthy -- basically the GameServer Pod got recreated elsewhere, which we want to never happen.

Th

[2019-12-31 02:53] markmandel commented on #1245
Replicated! The node comes back up with the same set of pods on it -- but the IP is different. Those pods should delete events, but I don't _think_ that is happening.

I think we will need to compare the IP, port and nodename when a pod comes up, just to safe.

[2019-12-31 03:19] markmandel commented on #1245
Just doing some more testing. The Pod never fires any delete / update event (that I can see) when the PVM cycles. :confounded:

[2019-12-31 18:19] rorygarand commented on #679
That sounds perfect, I'll start on this right away.

I personally feel that npm vs github doesn't matter. The only problem this is solving for is keeping version numbers consistent across the team in a unified way.

[2020-01-02 08:49] #1247 closed

[2020-01-02 16:33] markmandel commented on #1245
Work underway at: https://github.com/markmandel/agones/tree/bug/pvm-maintenance

Pretty sure I have a working solution, just need to finish it off.

[2020-01-02 22:54] markmandel commented on #1212
Looks like this question has been answered. I'm going to close this issue. Please reopen if you have follow up.

[2020-01-02 22:54] #1212 closed

[2020-01-03 11:10] aLekSer commented on #1244
Working on a solution to this issue.
Also note that there is one more place where we could have long labels in Template:

[code]
This will result in no GameServer could be created :
[code]

https://gist.github.com/aLekSer/b490a8e129986d102685abc2269c65e6

[2020-01-03 12:01] aLekSer commented on #1244
Same applies to annotations key length, which should not exceed 63 symbols as well:
https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
Example which cause infinite GameServers creating:
[code]

[2020-01-03 13:15] aLekSer commented on #1244
This might be useful for Annotations validation:
https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go

[2020-01-06 07:06] xinyu7git opened #1258 "Question: How to get gameserver port in pod?"
[code]
I want to get gameservers port in a pod, like get "7126" in pod "simple-udp-8wr2k-2fqzm" , i can't find a way in docs, anyone konws?

[2020-01-06 07:06] xinyu7git commented on #1258
/kind/question

[2020-01-06 07:20] xinyu7git commented on #1258
not in `env`:
[code]

[2020-01-06 09:14] quantum-craft opened #1259 "typo in README.md"
**What happened**:
There is typo in README.md of agones/examples/unity-simple/README.md:
...
| Shutdown | Shutdown() |
 | """Gaame"""Server | GameServer() |
...

**What you expected to happen**:
Should be:
...
| Shutdown | Shutdown() |
 | """Game"""Server | GameServer() |
...

**How to reproduce it (as minimally and precisely as possible)**:
Always

**Anything else we need to know?**:

**Environme

[2020-01-06 18:04] roberthbailey commented on #1259
Hi @quantum-craft - thanks for finding the typo. Do you want to send a PR to fix the typo?

[2020-01-06 18:26] roberthbailey commented on #1258
/kind question

[2020-01-06 18:26] roberthbailey commented on #1258
/label question

[2020-01-06 18:27] roberthbailey commented on #1258
Are you using the game server SDK in your pod? You should be able to call the `GameServer()` function (see https://agones.dev/site/docs/guides/client-sdks/#gameserver) to get all of the information that you can see from `kubectl get gameserver simple-udp-8wr2k-2fqzm ` within that pod.

[2020-01-07 00:26] markmandel opened #1260 "Document how to use Informers and Listers to query Agones"
**Is your feature request related to a problem? Please describe.**
Context:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/agones-discuss/1UXmRGuvNUY/h0TPaycEDgAJ

TL;DR - Informer and Listers are not well documented, and it's hard to work out how to use them if you aren't familiar with writing controllers for Kubernetes.

**Describe the solution you'd like**
Add some doc

[2020-01-07 00:59] markmandel opened #1261 "Update Example Images with the latest everything"
Bring Agones example images with all the latest things:
1. Languages used (for example, we're still using Go 1.11 in a bunch of places)
2. SDK
3. Operating system (for example, bring Alpine images up to 3.11)

To be completed:

- [x] simple-udp
- [x] allocator-service
- [x] simple-tcp
- [x] unity-simple
- [x] rust-simple
- [x] autoscaler-webhook
- [x] xonotic
- [x] cpp-simple
- [x] nodejs-simple
-

[2020-01-07 04:52] markmandel commented on #1033
# Design ideas

The following is implementation design for both the configuration, status and game server SDK.

Feedback is much appreciated.

## Configuration & Status

[code]

*   `spec.alpha.players.initialCapacity` - the initial player capacity as listed in the status value `status.players.capacity`
*   `spec.alpha.players.webhook` - a webhook configuration that is called whenever a player con

[2020-01-07 07:57] xinyu7git commented on #1258
Ok, i got the port by GameServer() Function in client-sdk  , thanks!
[code]

[2020-01-07 09:33] roberthbailey commented on #1258
Sounds like your problem is resolved so I'm going to mark this as closed.

/close

[2020-01-07 09:34] #1258 closed

[2020-01-07 10:23] xinyu7git opened #1262 "The command: `kubectl get gs` can display all exported ports."
**Is your feature request related to a problem? Please describe.**
When i export mulit ports in yaml, It only display one port by using `kubectl  get gs` command
gs.yaml
[code]
kubectl command:
[code]
only one port info for the first port.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
display all ports in `kubectl get gs` , maybe if  port numbers

[2020-01-07 10:48] xinyu7git opened #1263 "Question: how health checking works ? why my services are always unhealthy?"
[code]

[2020-01-07 10:49] xinyu7git commented on #1263
kind/question

[2020-01-07 10:49] xinyu7git commented on #1263
/kind/question

[2020-01-07 17:16] markmandel commented on #1263
Please let us know if there is anything missing from our documentation: https://agones.dev/site/docs/guides/health-checking/

[2020-01-07 17:18] markmandel commented on #1262
There is a space concern (we already go quite wide) here, but I'm curious - does `kubectl describe gs <name>` not provide what you need?

Wondering if you could explain your use case on now details here?

[2020-01-08 03:23] xinyu7git commented on #1262
ok， i will use `kubectl describe gs `  instead of `kubectl get gs`.
thanks.

[2020-01-08 03:23] #1262 closed

[2020-01-08 09:27] xinyu7git commented on #1263
I can't find how health checking works in docs.

when i use `kubectl describe pod xxx`:
[code]

the message ` Liveness probe failed: HTTP probe failed with statuscode: 500` makes gameserver to be unhealthy state.
In pod , there is another http server which binding to 8080 :
[code]
Liveness is using `http-get http://:8080/gshealthz ` and `http-get http://:8080/healthz`. this codes are not in my app

[2020-01-08 13:33] aLekSer commented on #1263
Just as a side notice. This is what looks strange to me :
[code]
Which is out of memory killed reason. You can first test your server locally to check that you do not over-consume memory:
https://agones.dev/site/docs/guides/client-sdks/local/

[2020-01-08 14:34] dav-otero commented on #1245
Good news! 👍

[2020-01-08 17:05] aLekSer commented on #1244
Working on the annotation fix in a branch:
https://github.com/aLekSer/agones/tree/validateAnnotations
Will send a PR after the Labels fix, because of dependencies between them.

[2020-01-08 17:09] markmandel commented on #1263
Sorry, I'm not sure what you mean here, I provided the link to the health checking documentation.

Could you rephrase this, maybe we're misunderstanding each other.

Something else to try is to `kubectl describe gs <name>` to see the events for that GameServer.
https://agones.dev/site/docs/guides/troubleshooting/

But looks like OOM might be the culprit. That container has restarted 5 times, which

[2020-01-08 17:11] #1244 closed

[2020-01-08 19:42] markmandel commented on #1223
Maybe this is a tad heavy handed, but he vague rule of thumb I've been working on for the Agones controller at least is - if it has to do with the controller itself - starting, stopping, config etc - that's an Info level event.

If it has to do with a transient resource (fleet, gameserver etc) then that ends up being a Debug level event.

[2020-01-08 21:57] #1245 closed

[2020-01-08 22:48] #1259 closed

[2020-01-09 00:50] raoneel commented on #1246
Thanks, this is exactly what I needed! I'm using the dynamic DNS approach and I think it should work pretty well. As new instances are created, they will add a new DNS record which will point to the instance IP. Only downside here is that I need wait a bit for the DNS servers to update, but it seems to happen fairly quickly (<30s with Cloud DNS).

[2020-01-09 00:50] #1246 closed

[2020-01-09 03:19] xinyu7git commented on #1263
ooooh, that's my fault, my pod was killed beause of oom.
thanks. @markmandel  @aLekSer

the 8080 port was exposed by sdk-server, i found codes in repo.
sdk-client used sdk.Health() func to connect to sdk-server and send `ping` message to sdk-server.

sdk-server used the `ping` message to judge my application's healthy. Is it right?

[2020-01-10 17:24] logixworx commented on #1197
Is there an ETA on this feature? I need it asap. Thanks!

[2020-01-10 23:39] #966 closed

[2020-01-10 23:44] markmandel commented on #1197
@logixworx no ETA as of yet. We've got a variety of customers who are interested in this as well, so I would expect it to come at some point this year.

We still need to do a complete design document on this, as well as implementation - it's a pretty substantial piece of work, so I expect it will take some months to complete.

[2020-01-13 12:38] OneFighter opened #1268 "simple-udp"
start  gameserver simple-udp,
run   nc -u ip port
write msg can not get response, that's why?

1.
 kubectl get gameserver
NAME               STATE   ADDRESS         PORT   NODE                             AGE
simple-udp-ztkwb   Ready   34.69.138.226   7757   gke-lance-pool-1-20197f35-r3mj   57m

2.
root@test-1:/home/lancalm105# nc -u 34.69.138.226 7757
hello
world
exit

[2020-01-13 12:43] aLekSer commented on #1268
More details is needed. Please follow the original NewIssue template. Also why are you using `nc -t`?
This could be a network issue, also there a need to have properly set firewall for 7000-8000 ports.
What way have you chosen to install Agones?

[2020-01-13 12:47] OneFighter commented on #1268
use GKE install Agones

[2020-01-13 13:13] aLekSer commented on #1098
Picked this ticket back. Now I am using this code as an example:
[k8s.io/api/roundtrip_test.go](https://github.com/kubernetes/kubernetes/blob/c981c65c9013306d9a65aedbd30479b932e427b2/staging/src/k8s.io/api/roundtrip_test.go)
The point which is failing is:
[code]

[2020-01-13 13:31] OneFighter commented on #1268
Thank you!
       That's problem has been resolved,  not open firewall for 7000-8000 port

[2020-01-13 13:31] #1268 closed

[2020-01-13 13:33] aLekSer commented on #1268
Glad to see that the problem were resolved, you could use slack #users group for a small questions.

[2020-01-13 16:55] roberthbailey commented on #1098
It looks like that field is in the v1alpha1 api surface: https://github.com/googleforgames/agones/blob/3caee5ca378e5234ffeee7b9dab6cc53b6cea5d6/pkg/apis/multicluster/v1alpha1/gameserverallocationpolicy.go#L40 which means that we can fix it without it being a breaking change.

/cc @pooneh-m (for when she's back in the office)

[2020-01-13 16:56] roberthbailey commented on #1098
Is there a way to only fuzz the v1 apis to start so that we can get your PR merged while we decide how to fix this?

[2020-01-13 17:36] KamiMay commented on #1170
We had this symptom happen again due to a different issue.
We observed a critical error `2020-01-11 09:09:07.885 GMT Could not run sidecar`
Straight after there was a string of `Failed to watch` errors eg:

[code]

Game servers managed to get out of sync and we had a bunch gs that were no longer server by any pods. This caused about 36h downtime in one region due to happening during weekend and we

[2020-01-13 19:15] markmandel commented on #1263
Yes, that is correct.

[2020-01-13 19:19] markmandel commented on #1170
(We talked about this a bit on chat) -- while we should check for gameservers that don't have pods (probably ones that are after ready), and move them to Unhealthy on startup? (or maybe continuously?? They should be caught by the health manager). I'm curious -- why are your pods being shut down while the controller isn't working?

Are you running a process.exit() in your gameserver?

I'm wondering

[2020-01-14 01:10] markmandel commented on #1170
After doing the PVM Fix (#1245) a similar solution should work for this as well.

I _think_ using the SDK for Shutdown() always should solve this most of the time -- _but_ sometimes weird things happens, and we need to eventually heal.

[2020-01-14 01:10] markmandel commented on #1170
/assign @markmandel

[2020-01-14 01:52] markmandel opened #1272 "[Deprecation] Upgrade Build Node.js version to 12"
When building the `build-image` to test some code, I got the following message:

[code]

We should change that. I _think_ node is just needed for hugo/website things (from memory). I wouldn't expect updating it to break anything.

[2020-01-14 07:18] aLekSer commented on #1098
Hello, will do, I think we can skip alpha for now. Nice solution.

[2020-01-14 09:25] #1263 closed

[2020-01-14 18:29] markmandel opened #1273 "Release 1.3.0-rc"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2020-01-14 20:22] markmandel opened #1276 "Flaky: TestGameServerReserve"
Haven't had a chance to work out why this is flaky, but it is. Seen it a few times across some PRs.

[code]

[2020-01-14 23:39] markmandel commented on #1273
Done!

[2020-01-14 23:39] #1273 closed

[2020-01-16 03:45] TBBle opened #1280 "Install but never remove CRDs in the Helm chart, per Helm v3 behaviour"
**Is your feature request related to a problem? Please describe.**

Helm v3 has taken the position that Helm is now only involved in CRD installation, and does not attempt or expect to manage CRD uninstallation:

This is much nicer for situations where, e.g., due to a change in an immutable variable, there is no choice but to uninstall/reinstall Agones, but you don't want to corrupt other Helm cha

[2020-01-16 18:37] markmandel commented on #1280
Thanks for writing this up! There are lots of factors at play here that likely make this feature request not likely to be implemented, based on investigation done previously - but let's work through them to see if they are still valid.

Original PR for context: https://github.com/googleforgames/agones/pull/441

## Helm 3

Until we have data that users at large have moved to Helm 3, we likely won't

[2020-01-17 03:32] TBBle commented on #1280
Apart from the `crd-install` hook, a chart that works with Helm v2 ("APIVersion v1") should work unchanged with Helm v3. There were a few bugs around *creating* those charts in Helm 3.0.0, I believe they're mostly-squished with Helm 3.0.2. I definitely don't advocate migrating to Helm v3 ("APIVersion v2") chart format until Helm v2 is EOL ([November 2020](https://helm.sh/blog/2019-10-22-helm-2150-

[2020-01-17 03:58] TBBle commented on #1280
The uninstall/reinstall need has probably become clearer with Helm v3, because one behaviour that did change is that the {{--force}} parameter used to work around (amongst other things) immutable objects, changed from "If patching the resource fails, delete it and recreate it", to "`PUT` instead of `PATCH`".

This was done to avoid downtime due to surprisingly deleting and recreating Deployments a

[2020-01-20 05:55] ShironekoBen opened #1286 "Not explicitly providing a fleet replacement strategy results in it being set to blank and redeployments failing"
**What happened**:

If you create a fleet specification that does not include a "strategy" node, the replacement strategy gets set to be blank, which then results in re-deployments failing because `applyDeploymentStrategy()` in controller.go reports an error.

**What you expected to happen**:

The documentation (both the inline docs and the spec example at https://agones.dev/site/docs/reference/fl

[2020-01-20 14:33] aLekSer commented on #1286
I was not able to reproduce an issue just with removing `Strategy`, it is defaulted as mentioned in the docs if you create a fleet same way as in the [docs](https://agones.dev/site/docs/getting-started/create-fleet/#1-create-a-fleet):
[code]
wget https://raw.githubusercontent.com/googleforgames/agones/master/examples/fleet.yaml
kubectl apply -f ./fleet.yaml
[code]
vi ./fleet.yaml
kubectl apply -f

[2020-01-21 02:06] Feng-Yin opened #1287 "Gameserver failed to start in the namespace with runAsNonRoot pod security context."
**What happened**:
Gameserver failed to start in the namespace with runAsNonRoot pod security context.

**What you expected to happen**:
Gameserver can be started normally.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy a Gameserver into the namespace with runAsNonRoot pod security context.
2. ```kubectl describe pod <gameserver [pod>```](url) will give an error messa

[2020-01-21 02:20] markmandel commented on #1287
Thanks for the bug report!

Kubernetes 1.13 is the supported version for Agones at this time.
https://agones.dev/site/docs/installation/#usage-requirements

Does this error still occur on this version?

Also, can you please provide step by step instructions on how to reproduce?

The exact pod security policy you used, and the an example GameServer we can use to reproduce would be ideal.

Thanks!

[2020-01-21 04:52] Feng-Yin commented on #1287
The psp.yaml I'm using:
[code]

[2020-01-21 05:08] Feng-Yin commented on #1287
Tried on k8s 1.13.0:
1. I followed the same step  https://minikube.sigs.k8s.io/docs/tutorials/using_psp/ with abovementioned psp to start minikube with k8s version 1.13.0.
[code]
2. install agones in kube-system namespace
[code]
3. Install my chart into a non-privileged namespace(e.g. not kube-system), which defined the fleet, fleetAutoScaler and gameServer. and then I got
[code]

[2020-01-21 19:22] markmandel opened #1288 "Release 1.3.0"
- [x] Review closed issues have appropriate tags.
- [x] Review closed issues have been applied to the current milestone.
- [x] Review closed PRs have appropriate tags.
- [x] Review closed PRs have been applied to the current milestone.
- [x] Ensure the next version milestone is created.
- [x] Any issues in the current milestone that are not closed, move to next milestone.
- [x] If release candidat

[2020-01-22 00:15] pooneh-m opened #1290 "Change GameServerAllocationPolicy CRD version to stable"
Currently GameServerAllocationPolicy CRD is at [v1alpha1 version](https://github.com/googleforgames/agones/blob/master/pkg/apis/multicluster/v1alpha1/gameserverallocationpolicy.go#L15). The version should be changed to v1 to mark it as stable.

[2020-01-22 01:26] markmandel commented on #1276
Still happening - I wonder what is going on :thinking:

[code]

[2020-01-22 02:27] rorygarand commented on #679
@markmandel this can be closed now.

[2020-01-22 02:38] markmandel commented on #679
Excellent point! Closed!

[2020-01-22 14:47] aLekSer commented on #1033
I have some questions regarding `PlayerConnect`:

This increases the SDK’s stored player count by one, and passes the playerID to the system such that it can fire the webhook with a connection event to any configured receivers.

Should we wait for webhook response that this player is able to connect? Who would be judging the player if he is able or not able to connect to the session?

Would player

[2020-01-22 15:02] cloudrobx commented on #1033
Hi Mark -

Could this metric be utilized for autoscaling?  I'm wondering for the relay
server use case, in which multiple relay server processes would run inside
a single GameServer container and we need a test for "fullness" for
autoscaling up and down.

--Rob

On Wed, Jan 22, 2020 at 9:48 AM Alexander Apalikov <notifications@github.com>
wrote:

--

*  •  **Robert Martin*

*  •  *Chief Architect

[2020-01-22 17:37] markmandel commented on #1033
@aLekSer good questions!

Personally, I don't think so. This could potentially make things very slow in the game server binary. I feel like this should be an async operation that happens behind the scenes.

This is up to the game server binary to make this decision. So it's game / transport layer specific.

In this design, we don't store the playerID at all (except transiently in memory as it gets

[2020-01-22 18:35] markmandel commented on #1109
I'm going to close this issue, as it hasn't seemed to come up as an concern since it was initially brought up. Please re-open or create a new issue if it becomes a concern again.

[2020-01-22 18:35] #1109 closed

[2020-01-22 18:36] markmandel commented on #1106
Going to close this, I think this is now fixed. Please reopen if it's still an issue.

[2020-01-22 18:36] #1106 closed

[2020-01-23 01:06] markmandel commented on #1288
Done!

[2020-01-23 01:06] #1288 closed

[2020-01-23 06:58] phumberdroz commented on #679
I just wanted to integrate this but I have a couple of concerns.

My Plan was to publish a module for an existing game that other developers that modify that game as well can just integrate my solution.
My concern: every developer/machine(CI/CD) would now need to authenticate with GitHub to download this package and the package I would like to build.
This introduces a complexity that is currently

[2020-01-23 09:06] TBBle commented on #1280
So it's not lost (I didn't link it above) the Helm v3 approach to CRDs is documented at [Custom Resource Definitions](https://helm.sh/docs/topics/chart_best_practices/custom_resource_definitions/) and https://github.com/helm/helm/issues/5871#issuecomment-522096388

There was a suggestion at https://github.com/helm/helm/pull/6243#pullrequestreview-276609696 of a plugin to experiment with CRD upgrad

[2020-01-23 15:32] aLekSer commented on #1148
I will soon recheck this if it still actual.

[2020-01-23 15:34] rorygarand commented on #679
Agreed. I admit that when we started working on this, I had only published packages to github that were intended to be private. When it came to this project, I expected that authentication would not be required because this repo is public.

Now that the package is live I'm also experiencing the same sort of issue.

@markmandel I know this was just released, and I told you npm vs github didn't matt

[2020-01-23 16:44] markmandel commented on #679
That makes a lot of sense - sounds like I should setup a [npm](https://www.npmjs.com/) account for Agones? Probably setup an Agones org, yes?

[2020-01-23 17:10] aLekSer commented on #1013
Relates to (duplicates) https://github.com/googleforgames/agones/issues/831

[2020-01-23 17:27] ilkercelikyilmaz commented on #1286
Can we close this issue ?

[2020-01-23 17:35] phumberdroz commented on #679
You would want an NPM account and I would recommend to create an Org with that account and publish packages under that org.

[2020-01-23 17:55] markmandel commented on #679
@thisisnotapril should we do an Agones org, or a GoogleforGames org?

[2020-01-23 18:03] thisisnotapril commented on #679
We have a Google org already; let's explore using that one.

[2020-01-23 18:10] markmandel commented on #679
That makes sense - likely https://www.npmjs.com/package/@google-cloud/

[2020-01-24 00:48] markmandel commented on #679
Also realised that https://github.com/googleforgames/agones/tree/master/examples/nodejs-simple is now broken, because it can't grab the package :confused:

[2020-01-24 00:49] cloudrobx commented on #1033
Yeah something like that looks pretty good.  For placement purposes is
there an easy way to pull the most (or least) full game server by player
count, other than iterating through all the game servers in the cluster?

On Wed, Jan 22, 2020 at 12:37 PM Mark Mandel <notifications@github.com>
wrote:

--

*  •  **Robert Martin*

*  •  *Chief Architect
*  •  *Google Cloud for Games

  •  cloudrob@google

[2020-01-24 00:59] markmandel commented on #1033
there an easy way to pull the most (or least) full game server by player
count, other than iterating through all the game servers in the cluster?

See: #1239 for current initial thoughts.

[2020-01-24 01:22] cloudrobx commented on #1033
For relays / high density would probably also want the ability to find the
most empty or most full server as well.  Since you're essentially adding
another layer of bin-packing.

On Thu, Jan 23, 2020 at 7:59 PM Mark Mandel <notifications@github.com>
wrote:

--

*  •  **Robert Martin*

*  •  *Chief Architect
*  •  *Google Cloud for Games

  •  cloudrob@google.com

  •  m: 470-449-2926

[2020-01-24 01:23] ShironekoBen commented on #1286
I don't believe so - as far as I'm aware the bug is still valid, it's just that the reproduction steps were slightly incorrect in that you need to update the fleet rather than just creating it. I'll try and edit the description to match.

[2020-01-24 01:24] markmandel commented on #1033
most empty or most full server as well.  Since you're essentially adding
another layer of bin-packing.

This sounds like the current "Distributed" vs "Packed" strategies we already have in place. Also probably a topic to discuss more on #1239 rather than here, since this ticket isn't covering allocation - just player count tracking.

[2020-01-24 01:42] markmandel commented on #1018
I think we can close this? We did this a while back, yes?

[2020-01-24 01:57] markmandel commented on #695
Doing another round of cleanup. I believe this issue can be closed now?

[2020-01-24 01:59] markmandel commented on #1104
I'm pretty sure this is complete, yeah? We can close it?

[2020-01-24 05:04] markmandel commented on #1217
This question has been sitting for a month, do I'm going to close it.

Please reopen of you think it's appropriate.

[2020-01-24 05:05] #1217 closed

[2020-01-24 05:08] jasoncheung53 commented on #1217
Sure, you can close it. Sorry about that,I forget to close it.

[2020-01-24 18:17] pooneh-m commented on #1018
Correct it is done.

[2020-01-24 18:17] #1018 closed

[2020-01-24 23:57] markmandel opened #1295 "Move /site to go.mod and Go 1.12/1.13"
https://github.com/googleforgames/agones/tree/master/site

We do some gopath shenanigans to create and deploy the site:
https://github.com/googleforgames/agones/blob/master/build/includes/website.mk#L50
https://github.com/googleforgames/agones/blob/master/site/cloudbuild.yaml#L42

Which we don't need to do anymore (and bit me the other day during release).

We could move this to a go.mod and also

[2020-01-24 23:59] markmandel commented on #1295
@heartrobotninja still keen on taking this on?

[2020-01-25 00:00] heartrobotninja commented on #1295
Yep! I can start on that in a little bit.

On Fri, Jan 24, 2020 at 3:59 PM Mark Mandel <notifications@github.com>
wrote:

[2020-01-25 00:01] markmandel commented on #1295
Thanks!

/assign @heartrobotninja

[2020-01-25 00:09] markmandel opened #1296 "Split agones controller into leader elected pods"
**Is your feature request related to a problem? Please describe.**
There is a single pod for the Agones controller. This is fine most of the time, as if it crashes, it will be recreated by the deployment, but it can cause issues when a node goes down, or if there is a crash for an extended period.

**Describe the solution you'd like**
Have multiple controllers, that are leader elected, ideally wit

[2020-01-27 19:40] roberthbailey commented on #976
@ntilborg - Now that @markmandel linked to an example of a simple game using open match and agones is there more you are looking for here?

[2020-01-28 13:43] aLekSer opened #1298 "GameServerSpec: Add PodTemplateSpec validation"
**Is your feature request related to a problem? Please describe.**
There were 2 validation of PodTemplateSpec added recently - for Labels and Annotations. This approach could be generalised for all fields in a PodTemplateSpec.
This could run system into a failure state without informing user that he choose wrong pod template.
For instance fleet mentioned below with resources requests.memory > limi

[2020-01-28 16:16] aLekSer commented on #1148
Tested this on the most recent Terraform EKS config with ` udp_expose             = "true"` in `examples/terraform-submodules/eks/module.tf`:
[code]
Will try to add annotations to helm.tf.

[2020-01-28 16:36] msannikov opened #1299 "Gameservers using nodejs sdk die with GOAWAY ENHANCE_YOUR_CALM too_many_pings"
**What happened**:
All my gameservers die after 30-90 minutes when I started using nodejs sdk and upgraded agones from 1.0.0 to 1.3.0:
Received a GOAWAY with error code ENHANCE_YOUR_CALM and debug data equal to "too_many_pings"

**Anything else we need to know?**:
This seems to be related to grpc/grpc-node#138. I've tried to upgrade agones's grpc to the latest v1.24.2, but that did not help.

game

[2020-01-28 16:42] markmandel commented on #1299
@KamiMay @steven-supersolid - have you seen this?

I'm also assuming you are using the most up to date nodejs client as well?

[2020-01-28 17:00] markmandel commented on #1104
Closing. Please let me know if it needs to re-opened.

[2020-01-28 17:00] #1104 closed

[2020-01-28 17:11] markmandel opened #1300 "Review Rust gRPC ecosystem for Rust SDK"
Context:
https://github.com/googleforgames/agones/pull/1202#issuecomment-572953948

The current Rust gRPC library has some issues around SSL, and the Rust ecosystem has changed a bit in the last while. We should review it, and see if it's worth switching out the underlying gRPC implementation -- without changing the Agones client SDK surface.

https://github.com/hyperium/tonic is looking like a fo

[2020-01-28 17:18] steven-supersolid commented on #1299
We're using the REST API but may be related to grpc/grpc-node#717

There is a comment to enable further debug https://github.com/grpc/grpc-node/issues/717#issuecomment-457408937

To troubleshoot @msannikov is it possible to run against Agones 1.2.0 and see if the error still occurs - this will make comparisons between versions easier?

If the latest version of grpc does not work then we may have t

[2020-01-29 00:33] TBBle opened #1301 "Multi-cluster Allocation: Does "Establish Trust" reverse the clusters?"
In this scenario, it seems "cluster A" is the Agones cluster that other systems send `GameServerAllocation`s to, and "cluster B" (34.82.195.204 in the example) is another cluster that "cluster A" is able to make multi-cluster allocation requests to.

However,

That seems backwards. The examples *appear* to be configuring cluster B (second example) to accept a client certificate from cluster A (see

[2020-01-29 00:34] markmandel commented on #1301
/assign @pooneh-m

[2020-01-29 04:13] markmandel commented on #54
Big news!!!

https://cloud.google.com/kubernetes-engine/docs/release-notes?hl=en

[2020-01-29 12:37] #976 closed

[2020-01-29 12:37] ntilborg commented on #976
Agree! This helps!

[2020-01-29 14:38] msannikov commented on #1299
I am using the latest nodejs sdk (1.3.0).

Just ran with agones 1.2.0, got the same error after 50 minutes. I've also passed GRPC_TRACE=all and GRPC_VERBOSITY=ERROR variables to gameserver container, but did not get much info:
[code]

[2020-01-29 17:46] pooneh-m commented on #1301
Thanks @TBBle for reporting the issue. I can see the confusion. The GameServerAllocationPolicy CRD in the example is defined for cluster A to forward requests to cluster B. However the TLS establishment in the example is for cluster B to send requests to cluster A. I'll fix the documentation and will add a diagram to clarify.

[2020-01-29 18:31] aLekSer commented on #1286
Yes, I have a code which performs a validation on Fleet Update, need to add some tests.

[2020-01-29 23:00] markmandel commented on #1276
[code]

Okay, at least we can see which gameserer it was, and go look up the logs

[2020-01-29 23:10] markmandel opened #1304 "sdk-server needs patch rbac on events"
**What happened**:

Keep seeing variation on this log in the agones-gameserver-sidecar

[code]

**What you expected to happen**:
To not see this log

**How to reproduce it (as minimally and precisely as possible)**:
Run a GameServer to Ready state.

**Anything else we need to know?**:
Nope.

**Environment**:
- Agones version: dev
- Kubernetes version (use `kubectl version`): 1.3.0
- Cloud provider

[2020-01-29 23:30] markmandel commented on #1276
So looking at the game server and SDK logs, everything is working as expected:

[code]
Code: https://github.com/googleforgames/agones/blob/master/examples/simple-udp/main.go#L180-L184

My theory from the above was that the Reservation timeout was too short, and within the 10 seconds, the test doesn't have enough time to see Reservation take effect.

But the weird thing is, I keep catching this err

[2020-01-30 09:10] jasoncheung53 opened #1307 "Try to setup a mulit-node cluster k8s with agones locally, but the agones-allocator and controller CrashLoopBackOff"
**What happened**:
Following the tutorial from here: https://www.tecmint.com/install-a-kubernetes-cluster-on-centos-8/.
Created a 1 master , 2 worker cluster with 3VMs thought Weavenet plugin. I have tried with some simple pods to test this setup and it working well.

Then, I try to install the agones in the master node. The installation is success but when I check the pod status, the allocator st

[2020-01-30 11:54] steven-supersolid commented on #1299
Thank you for helping to debug this. As you can reproduce would it be possible to try Agones 1.1.0 and reconfirm that 1.0.0 is still working?

Looking at past releases we did not change the node grpc npm module version, it has been 1.22.2 since Agones 1.0.0. This may indicate the change is due to an update to the grpc server version or incompatible grpc client version, however I don't believe this

[2020-01-30 13:06] aLekSer commented on #1307
Thanks, for posting a ticket.
There might be a problem with a firewall:
[code]
It could be needed to add 4443/tcp as well.

[2020-01-30 19:11] markmandel commented on #1307
I've personally no idea about how you are setting up your local Kubernetes cluster. Is this for development? Is there a reason you aren't using Minikube / Kind for local development?

But it looks like there is something blocking anything inside the cluster from connecting to the Kubernetes master, so the controller won't start up.

[2020-01-31 01:00] #1287 closed

[2020-01-31 01:02] markmandel commented on #1261
Due to #1293 all the image versions got incremented. I figured it would make sense to do this work at the same time as we re-build each of these, and make sure they all still work (pretty sure the node one is currently broken)

[2020-01-31 01:27] #1098 closed

[2020-01-31 08:36] jasoncheung53 commented on #1307
Thanks for your reply!

But adding 6443 and 443 port can't solve the problem I tried to add them in master and all the nodes. I am not sure is it the Weavenet setting problem.

I have try out Minikube with agones and its working really well on it. If I can't fix this problem ,maybe I need to try out Kind for local development.

[2020-01-31 22:07] pooneh-m opened #1309 "Running go mod tidy fails with error"
**What happened**:
[code]

[2020-02-01 19:00] markmandel commented on #1033
Made a small tweak to SDK. Renamed `GetCapacity` and `SetCapacity` to `GetPlayerCapacity` and `SetPlayerCapacity` - just to be clearer.

[2020-02-02 15:32] TBBle commented on #1280
I've just written https://github.com/helm/helm/issues/5871#issuecomment-581145634 to try and build out a generic use-case for the _crds/_ directory in Helm v3 to include the use-cases @markmandel has described above, and also make sure "don't uninstall CRDs" is a workable default when using Helm v3.

[2020-02-03 14:18] jasoncheung53 opened #1313 "gameserver sidecar "Could not listen on grpc endpoint" while initialize"
**What happened**:
I am using the minikube to test out the agones 1.3 version but when it goes to create simple udp server the server state keep stay in Scheduled and the sidecar log shows it can't listen on grpc endpoint.
`{"grpcEndpoint":"localhost:9357","message":"Could not listen on grpc endpoint","severity":"fatal","source":"main","time":"2020-02-03T13:52:40.744895148Z"}`

The minikube is ins

[2020-02-03 17:31] markmandel commented on #1313
What version of Minikube are you using?

Also, curious - why the multiple levels of virtualisation? Can't you run minikube on Windows directly?

[2020-02-03 17:42] markmandel commented on #1313
Just tested on Debian, with minikube version: v1.6.2

`minikube start --kubernetes-version v1.13.12 --vm-driver kvm2`

Worked with no issue.

[code]

[2020-02-03 21:56] markmandel commented on #1307
This seems like it's a kubeadm/whatever local tool you are using to spin up a local cluster issue.

There doesn't seem like there is anything we can do at the Agones end to open up connections to your Kubernetes master. :disappointed:

I'm going to close this question -- but it might be worth jumping on the Kubernetes slack and finding the right channel for the too. you are using and asking there.

[2020-02-03 21:56] #1307 closed

[2020-02-03 22:20] markmandel commented on #1280
@TBBle thanks for taking on the task of liaising with the Helm team on this issue!